<script type="text/javascript">



    $(".verexamen").click(function(){
        window.open('/inscripciones?action=verespuestatest&id='+$(this).attr('idti')+'&idins='+$(this).attr('idins'),"Test", 'width='+(screen.availWidth)+',height ='+(screen.availHeight)+',fullscreen=yes,menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=no');
    });





</script>
<div class="row-fluid">
<div class="span12 ">
    <table class="table table-condensed ">
        <thead>
            <tr>
                <th>Test</th>
                <th>Puntaje</th>
                <th>Observacion</th>
                <th>Ver Test</th>
            </tr>
        </thead>
    <tbody id="tbdetalleprospecto">
        {% for i in listinscriptest %}
            <tr>
                <td > {{ i.nombre_test.descripcion }} </br> {{ i.nombre_test.descripcioncorta }} </td>
                <td > {{ i.puntaje_test.puntaje}}</td>
                <td >{% if i.calculo_test == 1 %} {{ i.puntaje_test.verificar_resultado_test}} {% else %}{{ i.puntaje_test.verificar_resultado_test.0}}    A: {{ i.puntaje_test.verificar_resultado_test.1}}   B:{{ i.puntaje_test.verificar_resultado_test.2}}  {% endif %}</td>
                <td><a class="btn btn-success verexamen" idti="{{ i.id }}" idins="{{ i.inscripcion.id }}">Ver Test</a></td>
            </tr>
        {% endfor %}
        {% if not listinscriptest %}
            <tr>
                <td > NO EXISTEN REGISTROS

                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
</div>
</div>