{% extends "basebs.html" %}
{% block heading %}
    <script>
        $(function() {

        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid' style="text-align: center">
        <div class='span11'>
            <h3>{{ test.descripcion }}</h3>
            <h3>Listado de Personas</h3>
        </div>
        <div class='span1'>
            <a href="/" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
        </div>
    </div>
    <div class='row-fluid' style="margin-left: 230px;width: 850px">
        <table class="table table-condensed table-bordered smaller2 tabla" id='tblreferencia' >
               <thead>
                   <tr>
                       <th style="width:25%"><h4>Nombre</h4></th>
                       <th style="width:25%"><h4>Resultado</h4></th>
                       <th style="width:40%"><h4>Observación</h4></th>

                    </tr>

               </thead>
               <tbody>

                    {% for e in  listaresultado %}
                        <td>
                            {{ e.persona_test }}
                        </td>
                        <td>
                            {{ e.puntaje }}
                        </td>

                        <td >{% if e.calculo_test_respuesta == 1 %} {{ e.verificar_resultado_test}} {% else %}{{ e.verificar_resultado_test.0}}    A: {{ e.verificar_resultado_test.1}}   B:{{ e.verificar_resultado_test.2}}  {% endif %}</td>


                        </tr>
                    {% endfor %}

                        {% if not listaresultado %}
                            <tr>
                               <td colspan="8">
                                    NO EXISTEN PERSONAS
                               </td>
                            </tr>
                        {% endif %}

               </tbody>
            </table>

    </div>

{% endblock %}