{% extends "formbs.html" %}
{% block extraheading %}
{% endblock %}
{% block javascript %}
{#    <script src='/static/js/notificacionpanel.js' xmlns="http://www.w3.org/1999/html"></script>#}
{#    <script src='/static/js/adicionarproveedor.js'></script>#}
{##}
{#    <script>#}
{#    $(function() {#}
        $("#id_fecharecepcion").datepicker({format:"dd-mm-yyyy"}).mask("99-99-9999");
{#        $("#id_estado").addClass("input-small");#}

{#    });#}
{#    </script>#}
{% endblock %}
{% block titulo %}
{{ title }} {{ archivo }}
{% endblock %}

{% block formaction %}/archivos_generales{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
{#    <button type="{% block buttontype %}submit{% endblock %}" class="btn btn-success" id="formbutton">Guardar Inscripci&oacute;n</button>#}
    <input type='hidden' name='action' value='edit'/>
    <input type='hidden' name='id' value='{{ archivo.id }}'/>

{% endblock %}

{% block formback %}/archivos_generales{% endblock %}
{% block buttonname %}Guardar{% endblock %}