{% extends "practicasadmin/formvehic.html" %}
{% block extraheading %}

    <script type="text/javascript">
        $(function(){


{#            $("#id_motivo,#id_tipo,#id_archivo").addClass('validate[required]');#}
{#            $("#id_tipo").attr('disabled',true);#}
            $("#id_motivo").addClass('validate[required]');
            {% if error %}
               smoke.alert('{{ error }}');
            {% endif %}
            $("#formbutton").click(function(){

{#                if ($("#id_archivo").val() != '' && $("#id_motivo").val() != ''){#}
               if ($("#id_motivo").val() != ''){
                        $("#formbutton").hide();
{#                        $("#id_tipo").attr('disabled',false);#}
               }

            });

        });
    </script>
{% endblock %}
{% block javascript %}

{% endblock %}
{% block titulo %}
{{ title }}
{% endblock %}

{% block formaction %}/admin_ayudafinanciera{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addsolicitud'/>
    <input type='hidden' name='inscrip' value='{{ inscripcion.id }}' />
    {% if resolucion %}
        <input type='hidden' name='edit' value='{{ resolucion.id }}'/>
    {% endif %}
{% endblock %}

{% block formback %}#{% endblock %}
{% block buttonname %}Guardar{% endblock %}