{% extends "basebs.html" %}

{% block heading %}
    <link type='text/css' rel='stylesheet' href="/static/css/datepicker.css"/>

    <script type="text/javascript">

    $(function() {

        $("#btngenerar").click(function() {
            var fecha = $("#fecha").val();
{#            var sesion = $("#sesionsel").val();#}
            var sede = $("#sedesel").val();
            showWaiting("Generando Distributivo de Aulas segun fecha indicada","Espere unos segundos por favor...");
            $.get("/distributivo",{action:'aulas', fecha:fecha, sede:sede}, function(data) {
                $("#area").html(data);
                hideWaiting();
            }, 'html');
            $("#area").show();
        });

        $("#fecha").datepicker({format:"dd-mm-yyyy"});
    });

    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3>Distributivo de Aulas </h3>
        </div>
        <div class='span1'>
            <a href="/" class='btn'><i class="icon-arrow-left"></i> Atr&aacute;s</a>
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
            <div class="row-fluid">
                <div class='span4'>
                    <form class='well'>
                        <b>FECHA: </b>
                            <input class="input-small" type='text' id='fecha' value='{{ hoy|date:"d-m-Y" }}'/><br/>
                        <b>SEDE: </b>
                            <select class="input-large" id='sedesel'/>
                                {% for sede in sedes %}
                                    <option value='{{ sede.id }}'>{{ sede.nombre }}</option>
                                {% endfor %}
                            </select><br/>
{#                        <b>SESION: </b>#}
{#                            <select class="input-large" id='sesionsel'/>#}
{#                                {% for sesion in sesiones %}#}
{#                                    <option value='{{ sesion.id }}'>{{ sesion.nombre }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
                        <a href="#" class="btn btn-success" id="btngenerar"><i class="icon-asterisk"></i> Generar Distributivo</a>
                    </form>

                </div>
                <div class='row-fluid' id="area"></div>
            </div>
        </div>
    </div>

{% endblock %}
