{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        $(function() {
        var encuesta=0;
            $("#id_nombre").addClass("validate[required]");



        $("#modal_carrera #agregar").click(function() {

                $("#modal_carrera").modal("hide");
                 $("#carreraadd").modal("show");
            });
        $("#modal_carrera #cerrar").click(function() {
{#                var ins = $(this).attr("ins");#}
{#                $(".btn-cerrar").attr("ins",ins);#}
                $("#modal_carrera").modal("hide");
            });


        $(".selector").change(function() {

            var idselector = $(this).val();

            var idencuestaambito = $(this).attr("encuestaambitoid");

                $.post("/encuestainscripcion",{"action":"addindicadores","idselector":idselector, "idencuestaambito": idencuestaambito},function(data) {
                    if(data.result=='ok'){


                   }else{
                        alert(data.result);
                   }

                },"json");

        });
        $("#enviar").click(function() {

            var idencuestains = $(this).attr("encuestains");

                $.post("/encuestainscripcion",{"action":"finalizaencuesta","idencuestains":idencuestains},function(data) {
                    if(data.result=='ok'){
                        smoke.alert("Encuesta Finalizada");
                        $("#enviar").hide();
                        location.reload()
                   }else{

                        smoke.alert("Existen campos vacios")
                   }

                },"json");

        });




        {% if error %}
            smoke.alert('{{ error }}');

        {% endif %}
       });

</script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid' xmlns="http://www.w3.org/1999/html">
        <div class="span1"></div>
        <div class="span10"  style="text-align: center">
            <h2 style="text-align: center"> {{ encuesta.cabecera }} </h2>

            <h3 style="text-align: center"> EVALUACIÓN DE TUTOR {{ encuestainscripcion.tutor.tutor.persona.nombre_completo }}</h3>
            <h4 style="text-align: center"> Objetivos: {{ encuesta.objetivos }} </h4>

            <h4 style="text-align: center"> Recomendaciones: {{ encuesta.recomendaciones }} </h4>

            </h3></br>
        </div>
        <div class="span1">
            <a href="/" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
        </div>
        <div class="span1">

        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>

                <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align: center">Ambitos </th>
                            <th  style="text-align: center">Indicadores</th>

                        </tr>
                    </thead>
                    {% for encuestaambito in encuestaambitoindicador %}

                            <tr>
                                <td>{{ encuestaambito.ambito.pregunta }} </td>

                                <td style="text-align: center">
                                    <select style="font-size: 18px" name="valor"  {% if encuestainscripcion.finalizado %}disabled='disabled' {% endif %} id="valor" class="selector" encuestaambitoid="{{ encuestaambito.id }}"  >
                                        <option value="">------------</option>
                                        {% for i in indicador %}
                                            <option  value="{{ i.id }}"
                                                     {% if encuestaambito.indicador.id == i.id %}selected="selected"{% endif %}>{{ i.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </td>

                            </tr>

                    {% endfor %}
                    </tbody>
                </table>
                {% if not encuestainscripcion.finalizado %}
                    <a id="enviar" encuestains="{{ encuestainscripcion.id }}"  class="btn btn-success" >Finalizar Encuesta </a>
                {% endif %}

{#                    {% if profesor2 %}#}
{#                        <input type="hidden" name="p2" value="{{ profesor2.id }}">#}
{#                    {% endif %}#}


        </div>
    </div>
    <div class="row-fluid">

    </div>



    <div class="modal fade static" id="agregar_indicador">
        <div class="modal-header " style="word-wrap: break-word">
            <h4  id='paneltitle2' ></h4>
            <h5></h5>
        </div>
        <div class="modal-body" >
            <form id="formulario" style="overflow-y: auto"  class='well form-horizontal' action="/encuestaevaluacion" method="POST"  >
                <input type='hidden' name='action' value='addencuesta' />
{#                <input type='hidden' name='editar' id='editar' value="0"/>#}
                <input type='hidden' name='idindicador' id='idindicador'/>
                {% for c in form %}
                    <fieldset class="control-group nomargins">
                        <label class="control-label" for="id_{{ c.name }}">{{ c.label }}</label>
                        <div class="controls">
                            {{ c }}
                            <p class="help-text">{{ c.help_text }} </p>
                        </div>
                    </fieldset>
                {% endfor %}
                <button type="submit" class="btn btn-success" id="formbutton">Guardar</button>
                <a href="#" class="btn btn-cerrar"> Cerrar</a>
            </form>
        </div>
    </div>
    <div class="modal fade static" id="modal_carrera"   >
    <div class="row-fluid modal-header">
         <h4  id='paneltitle1'><i> </i></h4>
        <h5></h5>
    </div>
    <div class="modal-body" >
    <input type='hidden' name='idcarrera' id='idcarrera' value="{{ carrera.id }}"/>

    </div>
    <div class="modal-footer">
        <div >
            <a style="float: left" href="#" id="cerrar" class="btn btn-danger  btn-aceptar">  <i  class="icon-remove icon-white"></i> <b> SALIR</b></a>
            <a style="float: left" href="#" id="agregar" class="btn btn-success  btn-agregar">  <i  class="icon-plus icon-white"></i> <b> AGREGAR CARRERA</b></a>

        </div>
    </div>
</div>
    <div class="modal fade static" id="carreraadd"   >
    <div class="modal-header">
        <h4  id='paneltitle1'><i> </i></h4>
    </div>
    <div class="modal-body" style="text-align: left">
        <form action="" method="POST">
{#        <form id="formulario" style="overflow-y: auto"  class='well form-horizontal' action="/ambitoencuestatutor" method="POST"  >#}

        {% for field in formcarrera %}
            <fieldset class="control-group nomargins">
            <label style="text-align: left;width: 10%;font-size: 16px"  for="id_{{ field.name }}"><b>{{ field.label }}:</b></label>
                <div class="controls" >
                    {{ field }}
                    <p class="help-text">{{ field.help_text }} </p>
                </div>
            </fieldset>
        {% endfor %}
        </form>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-buscar btn-success">Guardar</a>
        <a href="#" class="btn btn-cerrar btn-warning">Salir</a>
    </div>
</div>
{% endblock %}