{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    {% if urlaccion %}
        $("#id_comprobante").addClass("validate[required]");
    {% else %}
        $("#id_comprobante").removeClass("validate[required]");
    {% endif %}
    $("#id_tipo,#id_descripcion").addClass("validate[required]");
    $($("#id_comprobante").get(0).parentNode.parentNode).hide();
    {% if not pr %}
        $("#id_tipo").change(function(){
            var idtipo = $("#id_tipo").val();
            if($("#id_tipo").val() != ""){
                if (idtipo==16){
                    $($("#id_comprobante").get(0).parentNode.parentNode).show();
                    }
                else{
                    $($("#id_comprobante").get(0).parentNode.parentNode).hide();
                    }
            }
        });
    {% else %}
        $("#id_tipo").val(16);
        $("#id_tipo").attr("disabled",true);
        $($("#id_comprobante").get(0).parentNode.parentNode).show();
    {% endif %}

{% endblock %}
{% block titulo %}{% if urlaccion %} Ingresa comprobante de Alumno: {{ inscripcion.persona.nombre_completo }} {% else %}Nueva Solicitud{% endif %}{% endblock %}
{% block formaction %}{% if urlaccion %}/{{ urlaccion }}{% else %}/alu_solicitudes{% endif %}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='solicitar'/>
    {% if pr %}
        <input type='hidden' name='pr' value='{{ pr }}' id='{{ pr }}' />
    {% endif %}
    {% if urlaccion %}
        <input type='hidden' name='idinscrip' value='{{ inscripcion.id }}' id='idinscrip' />
    {% endif %}
{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formback %}/alu_solicitudes{% endblock %}
{% block buttonname %}Enviar Solicitud
{% endblock %}