{% extends "practicasadmin/formvehic.html" %}
{% block extraheading %}
{% endblock %}
{% block javascript %}

{% endblock %}
{% block titulo %}
{{ title }}
    <br>
    <br>
 {{ perfil }}


{% endblock %}

{% block formaction %}/dobe?action=tipotest{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
{#    <button type="{% block buttontype %}submit{% endblock %}" class="btn btn-success" id="formbutton">Guardar Inscripci&oacute;n</button>#}
    <input type='hidden' name='action' value='addtipotestdobe'/>
    <input type='hidden' name='id' value='{{ perfil.id }}'/>
{% endblock %}

{% block formback %}/dobe?action=tipotest{% endblock %}
{% block buttonname %}Guardar y Salir{% endblock %}
{% block extrabuttons %}
     <button class="btn btn-info" id="formbutton"  name="continuar"> Guardar  y Continuar </button>
{% endblock %}
