{% extends "practicasadmin/formvehic.html" %}
{% block extraheading %}
{% endblock %}
{% block javascript %}

{% endblock %}
{% block titulo %}
{{ title }}
{% endblock %}

{% block formaction %}/dobe?action=tipotest{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
{#    <button type="{% block buttontype %}submit{% endblock %}" class="btn btn-success" id="formbutton">Guardar Inscripci&oacute;n</button>#}
    <input type='hidden' name='action' value='addtipotest'/>
    {%  if tipotest %}
        <input type='hidden' name='tipotest' value='{{ tipotest.id }}'/>
    {% else %}
        <input type='hidden' name='action' value='addtipotest'/>
    {% endif %}

{% endblock %}

{% block formback %}/dobe?action=tipotest{% endblock %}
{% block buttonname %}Guardar{% endblock %}