{% extends "formbs.html" %}
{% block javascript %}
    $("#id_fecha,#id_valor").attr({'style':'width:10%'});
    $("#id_fecha").datepicker({ language: 'es',autoClose: true,dateFormat:'yyyy-mm-dd'})
    $("#id_tipo,#id_valor,#id_fecha").addClass("validate[required]");
    $("#id_eje").attr({ "multiple":"multiple" });
    $("#id_eje option:first").remove()

    $("#id_eje option:first").remove()
    $("#id_perfil option:first").remove()
    $("#formbutton").click(function(){
        $("#ejeid").val($("#id_eje").val());

    });
{% endblock %}
{% block titulo %}Crear Evaluacion Docente  {% endblock %}
{% block formaction %}/evaluaciondocente{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='adddetalleevaluacion'/>

    <input type='hidden' name='acc' value='{{ acc }}'/>
    <input type='hidden' name='ejeid' id='ejeid' value=''/>

{% endblock %}
{% block formback %}/evaluaciondocente?acc={{ acc }}{% endblock %}