{% extends "basebs.html" %}
{% block heading %}
      <script>

     $(function () {


         Ver = function(id,eval,idprofe){
        location.href="/evaluacionesdocentes?action=evaluardocente&acc2=1&eval="+eval+"&id="+id+"&opver=1&idprofe="+idprofe
    }

      Verdirectivo = function(id){
        location.href="/evaluacionesdocentes?action=evaluardirectivo&eva={{ evaluaciondocente }}&acc={{ acc }}&id="+id
    }
     Verreporte = function(id){
        var acc = '{{ acc }}'
        $.post("/evaluacionesdocentes", {"action":"generarexcel",  'id':id, 'acc':acc}, function(data) {
                if (data.result=='ok'){

                    location.href=data.url;
                    swal("Notificación",'Reporte Ejecutado','success');

                }else{
                    swal("Error", data.result, "error");
                    $("#login-modal7").remove();//ocultamos el modal
                    $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
                    $('.modal-backdrop').remove();
                    location.href = '/maestria?acc={{ acc }}';
                }
            }, "json").fail(function(jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    console.log('getJSON request failed! ' + textStatus+ ' eroro jqk'+jqXHR.responseText);
                    swal("Error", "ERROR DE CONEXION", "error");
                    $("#login-modal7").remove();//ocultamos el modal
                    $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
                    $('.modal-backdrop').remove();
                    location.href = '/maestria?acc={{ acc }}';
            });
    }
    Verreportealumno = function(profe,periodo){
         var acc = '{{ acc }}'
        $.post("/evaluacionesdocentes", {"action":"generarexcelalumno", "acc":acc, 'profe':profe, 'periodo':periodo}, function(data) {
                if (data.result=='ok'){

                    location.href=data.url;
                    swal("Notificación",'Reporte Ejecutado','success');

                }else{
                    swal("Error", data.result, "error");
                    $("#login-modal7").remove();//ocultamos el modal
                    $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
                    $('.modal-backdrop').remove();
                    location.href = '/maestria?acc={{ acc }}';
                }
            }, "json").fail(function(jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    console.log('getJSON request failed! ' + textStatus+ ' eroro jqk'+jqXHR.responseText);
                    swal("Error", "ERROR DE CONEXION", "error");
                    $("#login-modal7").remove();//ocultamos el modal
                    $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
                    $('.modal-backdrop').remove();
                    location.href = '/maestria?acc={{ acc }}';
            });
    }
    reporteexcel = function(id){
         var acc = '{{ acc }}'
        $.post("/evaluacionesdocentes", {"action":"generarexceldirectivo", "acc":acc, 'id':id}, function(data) {
                if (data.result=='ok'){

                    location.href=data.url;
                    swal("Notificación",'Reporte Ejecutado','success');

                }else{
                    swal("Error", data.result, "error");
                    $("#login-modal7").remove();//ocultamos el modal
                    $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
                    $('.modal-backdrop').remove();
                    location.href = '/maestria?acc={{ acc }}';
                }
            }, "json").fail(function(jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    console.log('getJSON request failed! ' + textStatus+ ' eroro jqk'+jqXHR.responseText);
                    swal("Error", "ERROR DE CONEXION", "error");
                    $("#login-modal7").remove();//ocultamos el modal
                    $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
                    $('.modal-backdrop').remove();
                    location.href = '/maestria?acc={{ acc }}';
            });
    }
    {#$("#reporteexcel").click(function() {#}
    {##}
    {##}
    {#        var acc = '{{ acc }}'#}
    {##}
    {##}
    {#        $.post("/evaluacionesdocentes", {"action":"generarexceldirectivo", "acc":acc, 'id':{{evaluaciones.id }}}, function(data) {#}
    {#            if (data.result=='ok'){#}
    {#                $("#espera").modal("hide");#}
    {#                location.href=data.url;#}
    {#                swal("Notificación",'Reporte Ejecutado','success');#}
    {##}
    {#            }else{#}
    {#                swal("Error", data.result, "error");#}
    {#                $("#login-modal7").remove();//ocultamos el modal#}
    {#                $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll#}
    {#                $('.modal-backdrop').remove();#}
    {#                location.href = '/maestria?acc={{ acc }}';#}
    {#            }#}
    {#        }, "json").fail(function(jqXHR, textStatus, errorThrown) {#}
    {#                console.log(errorThrown);#}
    {#                console.log('getJSON request failed! ' + textStatus+ ' eroro jqk'+jqXHR.responseText);#}
    {#                swal("Error", "ERROR DE CONEXION", "error");#}
    {#                $("#login-modal7").remove();//ocultamos el modal#}
    {#                $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll#}
    {#                $('.modal-backdrop').remove();#}
    {#                location.href = '/maestria?acc={{ acc }}';#}
    {#        });#}
    {#     });#}
    EvaluarPeriodo = function(id,eva){
            id=id;

            swal({
                title: 'Esta seguro de realizar la evaluacion',
                {#text: "# Número: "+idpersonadobe,#}
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si!',
                cancelButtonText: 'No',
                confirmButtonClass: 'btn btn-success margin-5',
                cancelButtonClass: 'btn btn-danger margin-5',
                buttonsStyling: false,
                allowOutsideClick: false,
                }).then(function (isConfirm) {
                    if (isConfirm['dismiss']!='cancel' && isConfirm['dismiss']!='esc' ) {

                        location.href="/evaluacionesdocentes?action=evaluardirectivo&eva="+eva+"&acc={{ acc }}&id="+id;

                    }

                 });


            }
    });






    </script>

{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class="span11">
            <div class="title">
                <h3>Evaluaciones del Docente: {{ profesor }}</h3>
            </div>
        </div>
            <div class="span1">
                <div class="title">
                    {% if bandera %}
                    <a href="/docentestutor?acc={{ acc }}" style="float: right;color: white;background: #0b132b" class="btnk"><i class="icon-copy ion-arrow-left-a "></i> Atrás</a>
                    {% else %}
                        <a href="/evaluacionesdocentes?action=verevaluacion&id={{evaluaciondocente }}"  class="btn "><i class="icon-arrow-left "></i> Atrás</a>
                    {% endif %}
                </div>
            </div>

        </div>


    <div class='row-fluid'>

            <div class='span12'>
                 <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Evaluacion</th>
                            <th>Periodo</th>
                            <th>Estado</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                            {% for e in evaluaciones %}
                                <tr>
                                    <td> {{ e.evaluaciondocente }}</td>
                                    <td> {{ e.periodo }}</td>
                                    {% if  e.finalizado %}
                                        <td><span class="badge badge-success">Finalizado</span></td>
                                    {% else %}
                                        <td><span class="badge badge-danger">Pendiente</span></td>
                                    {% endif %}

                                        <td>
                                        <div class="btn-group">
                                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                                Acciones
                                                  <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
{#                                                {%  if not e.eva_finalizado and escoordinador %}#}
{#                                                <a class="dropdown-item " onclick="EvaluarPeriodo('{{ e.id }}','{{ evaluaciondocente }}')"><i class="dw dw-list"></i>Evaluar </a>#}
{#                                                {% endif %}#}
                                                 {%  if not  escoordinador %}
                                                <li><a class="dropdown-item" onclick="Ver('{{ e.periodo.id }}','{{ e.evaluaciondocente.id }}','{{ e.profesor.id }}')"><i class="dw dw-list"></i>Ver Evaluacion Docente</a></li>
{#                                                 <li><a class="dropdown-item" onclick="Verreporte('{{ e.id }}')"><i class="dw dw-list"></i>Reporte Autoevaluacion</a></li>#}
{#                                                <li><a class="dropdown-item" onclick="Verreportealumno('{{ e.profesor.id }}',{{ e.periodo.id }})"><i class="dw dw-list"></i>Reporte Evaluacion Alumno</a></li>#}
{#                                                {% endif %}#}
{#                                                {%  if e.eva_finalizado %}#}
{#                                                    <li><a class="dropdown-item" onclick="Verdirectivo('{{ e.id }}')"><i class="dw dw-list"></i>Ver Evaluacion Directivo</a></li>#}
{#                                                {% endif %}#}
{#                                                {%  if e.eva_finalizado  %}#}
{#                                                    <li><a class="dropdown-item"  onclick="reporteexcel('{{ e.id }}')" ><i class="dw dw-list"></i> Reporte Directivo</a></li>#}
{#                                                {% endif %}#}
{#                                                {% if e.eva_finalizado and e.evaluacion_directivo_periodo.cualitativadirectivo.finalizada %}#}
{#                                                    <li><a class="dropdown-item" href="/reportes?action=run&direct=true&n=evaluacion_docente&rt=pdf&profesor={{ profesor.id }}&periodo={{ e.periodo.id }}" target="_blank" ><i class="dw dw-print"></i>Reporte</a></li>#}
                                                {% endif %}



{#                                                    <a  class='dropdown-item hojavidareporte' profesor='{{ d.id }}' style="cursor: pointer"><i class="dw dw-book"></i> Reporte </a>#}


                                            </ul>
                                        </div>
                                    </td>
                                        </tr>
                                {% endfor %}
                                {% if not evaluaciones %}
                                        <tr>
                                            <td colspan="5"  align='center'>NO EXISTEN DATOS</td>
                                        </tr>
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}