{% extends "basebs.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function(){
          $(document).ready(function(){
              $('#tipo_acceso').modal({"backdrop":"static"})
              $('#tipo_acceso').modal('show')
          })
        })
    </script>

{% endblock %}
{% block atras %}/{% endblock %}
{% block canvas %}
    <div class="row-fluid">
        <div class="span12">
        </div>
    </div>
{% endblock %}
{% block moreblock %}
 <div  class="modal fade " id="tipo_acceso" >
        <div class="modal-header" style="text-align: center">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Tipo Ingreso</h3>

        </div>

        <div class="modal-body"  >
            <div class="row-fluid">
                <div class="span12" style="text-align: center">
                    <a href="/actividades_horaextra?noadmin" class="btn btn-large btn-info">Usuario</a>
                    <a href="/actividades_horaextra?admin" class="btn btn-large btn-danger">Admin</a>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
