{% extends "layout/modalajaxformdinamicbs.html" %}
{% load humanize %}
{% block idformulario %}{% if frmName %}{{ frmName }}{% else %}formDinamico{% endif %}{% endblock %}
{% block extraheading %}
    <style>
        .twitter-typeahead {
            width: 100%;
        }
    </style>
    <script type="text/javascript">

        $(async function(){
            $("#id_tipo", $("#modalResponsable")).change(async function(){
                const tipo = $(this).val();
                console.log("tipo: ", tipo);
                await listPersonas(tipo, {{ eMateria.id }}, 'listarPersonaInFirma');
            });
            {% if eFirmaActaCalificacion %}
                //await listPersonas({{ eFirmaActaCalificacion.tipo }}, {{ eFirmaActaCalificacion.materia_id }}, 'listarPersonaInFirma');
            {% else %}
                $("#id_tipo", $("#modalResponsable")).trigger('change');
            {% endif %}
        });

        $(document).ready(function () {


        });

    </script>
{% endblock %}
{% block formextra %}
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="idm" value="{{ eMateria.id }}">
    <input type="hidden" name="action" value="saveFirmaActaCalificacion">
{% endblock %}
{% block formsuffix %}
{% endblock %}