{% extends "formbs.html" %}
{% block extraheading %}
{% endblock %}
{% block javascript %}
    <script src='/static/js/notificacionpanel.js'></script>
    <script src="/static/js/bootstrap-tagmanager.js"></script>
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        $(function() {
            $("#id_fechadesde, #id_fechahasta").datepicker({format:"dd-mm-yyyy"});
            $("#id_horariodescrip,#id_horaentrada,#id_horasalida").addClass("validate[required]");

            $($("#id_finsemana").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-success'>Horario Fin de Semana</h4>").addClass('input-xxlarge');
            $("#id_horalunesent,#id_horalunessal,#id_horamartesent,#id_horamartessal,#id_horamiercolesent,#id_horamiercolessal,#id_horajuevesent,#id_horajuevessal,#id_horaviernesent,#id_horaviernessal,#id_horasabadoent,#id_horasabadosal,#id_horadomingoent,#id_horadomingosal").addClass("input-medium");

            $($("#id_horalunesent").get(0).parentNode.parentNode).hide();
            $($("#id_horalunessal").get(0).parentNode.parentNode).hide();
            $($("#id_horamartesent").get(0).parentNode.parentNode).hide();
            $($("#id_horamartessal").get(0).parentNode.parentNode).hide();
            $($("#id_horamiercolesent").get(0).parentNode.parentNode).hide();
            $($("#id_horamiercolessal").get(0).parentNode.parentNode).hide();
            $($("#id_horajuevesent").get(0).parentNode.parentNode).hide();
            $($("#id_horajuevessal").get(0).parentNode.parentNode).hide();
            $($("#id_horaviernesent").get(0).parentNode.parentNode).hide();
            $($("#id_horaviernessal").get(0).parentNode.parentNode).hide();
            $($("#id_horasabadoent").get(0).parentNode.parentNode).hide();
            $($("#id_horasabadosal").get(0).parentNode.parentNode).hide();
            $($("#id_horadomingoent").get(0).parentNode.parentNode).hide();
            $($("#id_horadomingosal").get(0).parentNode.parentNode).hide();
            $($("#id_sabado").get(0).parentNode.parentNode).hide();
            $($("#id_domingo").get(0).parentNode.parentNode).hide();
            $($("#id_horaentrada").get(0).parentNode.parentNode).hide();
            $($("#id_horasalida").get(0).parentNode.parentNode).hide();


            $("#id_horariodescrip").addClass("input-xlarge");
            $("#id_dia").addClass("input-medium");
            $("#id_horaentrada").addClass("input-medium");
            $("#id_horasalida").addClass("input-medium");

{#            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}

             $($("#id_horageneral").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-info'>Hora General</h4>").addClass("input-xxlarge");


{#///////////////////////////////////////////////valida formato hora//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}

            $("#id_horalunesent").blur(function(){

                    var v = $("#id_horalunesent").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horalunesent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horalunesent").focus();
                            }
                            else{
                                $($("#id_horalunesent").get(0).parentNode).find(".help-text").html("");

                            }
                        }
                        else{
                              $($("#id_horalunesent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horalunesent").focus();
                            }
                    }
                    else{
                        $($("#id_horalunesent").get(0).parentNode).find(".help-text").html("");
                    }


            });

            $("#id_horalunessal").blur(function(){

                    var v = $("#id_horalunessal").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horalunessal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horalunessal").focus();
                            }
                            else{
                                $($("#id_horalunessal").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horalunessal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horalunessal ").focus();
                            }
                    }
                    else{
                        $($("#id_horalunessal").get(0).parentNode).find(".help-text").html("");
                    }


            });

            $("#id_horamartesent").blur(function(){

                    var v = $("#id_horamartesent").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horamartesent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horamartesent").focus();
                            }
                            else{
                                $($("#id_horamartesent").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horamartesent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horamartesent ").focus();
                            }
                    }
                    else{
                        $($("#id_horamartesent").get(0).parentNode).find(".help-text").html("");
                    }
            });

            $("#id_horamartessal").blur(function(){

                    var v = $("#id_horamartessal").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horamartessal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horamartessal").focus();
                            }
                            else{
                                $($("#id_horamartessal").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horamartessal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horamartessal").focus();
                            }
                    }
                    else{
                        $($("#id_horamartessal").get(0).parentNode).find(".help-text").html("");
                    }

            });

            $("#id_horamiercolesent").blur(function(){

                    var v = $("#id_horamiercolesent").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horamiercolesent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horamiercolesent").focus();
                            }
                            else{
                                $($("#id_horamiercolesent").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horamiercolesent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horamiercolesent").focus();
                            }
                    }
                    else{
                        $($("#id_horamiercolesent").get(0).parentNode).find(".help-text").html("");
                    }

            });

            $("#id_horamiercolessal").blur(function(){

                    var v = $("#id_horamiercolessal").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horamiercolessal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horamiercolessal").focus();
                            }
                            else{
                                $($("#id_horamiercolessal").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horamiercolessal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horamiercolessal").focus();
                            }
                    }
                    else{
                        $($("#id_horamiercolessal").get(0).parentNode).find(".help-text").html("");
                    }

            });

            $("#id_horajuevesent").blur(function(){

                    var v = $("#id_horajuevesent").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horajuevesent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horajuevesent").focus();
                            }
                            else{
                                $($("#id_horajuevesent").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horajuevesent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horajuevesent").focus();
                            }
                    }
                    else{
                        $($("#id_horajuevesent").get(0).parentNode).find(".help-text").html("");
                    }

            });
            $("#id_horajuevessal").blur(function(){

                    var v = $("#id_horajuevessal").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horajuevessal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horajuevessal").focus();
                            }
                            else{
                                $($("#id_horajuevessal").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horajuevessal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horajuevessal").focus();
                            }
                    }
                    else{
                        $($("#id_horajuevessal").get(0).parentNode).find(".help-text").html("");
                    }


            });

            $("#id_horaviernesent").blur(function(){

                    var v = $("#id_horaviernesent").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horaviernesent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horaviernesent").focus();
                            }
                            else{
                                $($("#id_horaviernesent").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horaviernesent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horaviernesent").focus();
                            }
                    }
                    else{
                        $($("#id_horaviernesent").get(0).parentNode).find(".help-text").html("");
                    }


            });

            $("#id_horaviernessal").blur(function(){

                    var v = $("#id_horaviernessal").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horaviernessal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horaviernessal").focus();
                            }
                            else{
                                $($("#id_horaviernessal").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horaviernessal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horaviernessal").focus();
                            }
                    }
                    else{
                        $($("#id_horaviernessal").get(0).parentNode).find(".help-text").html("");
                    }


            });

            $("#id_horasabadoent").blur(function(){

                    var v = $("#id_horasabadoent").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horasabadoent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horasabadoent").focus();
                            }
                            else{

                                $($("#id_horaviernessal").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horasabadoent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horasabadoent").focus();
                            }
                    }
                    else{
                        $($("#id_horasabadoent").get(0).parentNode).find(".help-text").html("");
                    }


            });

            $("#id_horasabadosal").blur(function(){

                    var v = $("#id_horasabadosal").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horasabadosal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horasabadosal").focus();
                            }
                            else{
                                $($("#id_horasabadosal").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horasabadosal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horasabadosal").focus();
                            }
                    }
                    else{
                        $($("#id_horasabadosal").get(0).parentNode).find(".help-text").html("");
                    }

            });

            $("#id_horadomingoent").blur(function(){

                    var v = $("#id_horadomingoent").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horadomingoent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horadomingoent").focus();
                            }
                            else{
                                $($("#id_horadomingoent").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horadomingoent").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horadomingoent").focus();
                            }
                    }
                    else{
                        $($("#id_horadomingoent").get(0).parentNode).find(".help-text").html("");
                    }

            });

            $("#id_horadomingosal").blur(function(){

                    var v = $("#id_horadomingosal").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horadomingosal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horadomingosal").focus();
                            }
                            else{
                                $($("#id_horadomingosal").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horadomingosal").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horadomingosal").focus();
                            }
                    }
                    else{
                        $($("#id_horadomingosal").get(0).parentNode).find(".help-text").html("");
                    }

            });


            $($("#id_lunes").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-info'>Lunes</h4>").addClass("input-xlarge");
            $("#id_lunes").click(function(){
                if ($("#id_lunes").is(':checked')){
                    $("#id_lunes").attr('checked',true)
                    $("#id_horaentrada,#id_horasalida").addClass("validate[required]",false);
                    $("#id_horalunesent,#id_horalunessal").addClass("validate[required]");
                    $($("#id_horalunesent").get(0).parentNode.parentNode).show();
                    $($("#id_horalunessal").get(0).parentNode.parentNode).show();
                }
                else{
{#                    alert(85);#}
                    $($("#id_horalunesent").get(0).parentNode.parentNode).prepend("").addClass("input-xxlarge");
                    $($("#id_horalunesent").get(0).parentNode.parentNode).hide();
                    $($("#id_horalunessal").get(0).parentNode.parentNode).hide();
                    $("#id_horalunesent").val('');
                    $("#id_horalunessal").val('');
                }

            });


            $($("#id_martes").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-info'>Martes</h4>").addClass("input-xlarge");
            $("#id_martes").click(function(){
                if ($("#id_martes").is(':checked')){
                    $("#id_martes").attr('checked',true)
                    $($("#id_horamartesent").get(0).parentNode.parentNode).show();
                    $($("#id_horamartessal").get(0).parentNode.parentNode).show();
                }
                else{
{#                    alert(85);#}
                    $("#id_martes").attr('checked',false)
                    $($("#id_horamartesent").get(0).parentNode.parentNode).hide();
                    $($("#id_horamartessal").get(0).parentNode.parentNode).hide();
                    $("#id_horamartesent").val('');
                    $("#id_horamartessal").val('');
                }

            });


            $($("#id_miercoles").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-info'>Miercoles</h4>").addClass("input-xlarge");
            $("#id_miercoles").click(function(){
                if ($("#id_miercoles").is(':checked')){
                    $("#id_miercoles").attr('checked',true)
                    $($("#id_horamiercolesent").get(0).parentNode.parentNode).show();
                    $($("#id_horamiercolessal").get(0).parentNode.parentNode).show();
                }
                else{
{#                    alert(85);#}
                    $("#id_miercoles").attr('checked',false)
                    $($("#id_horamiercolesent").get(0).parentNode.parentNode).hide();
                    $($("#id_horamiercolessal").get(0).parentNode.parentNode).hide();
                    $("#id_horamiercolesent").val('');
                    $("#id_horamiercolessal").val('');
                }

            });


            $($("#id_jueves").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-info'>Jueves</h4>").addClass("input-xlarge");
            $("#id_jueves").click(function(){
                if ($("#id_jueves").is(':checked')){
                    $("#id_jueves").attr('checked',true)
                    $($("#id_horajuevesent").get(0).parentNode.parentNode).show();
                    $($("#id_horajuevessal").get(0).parentNode.parentNode).show();
                }
                else{
{#                    alert(85);#}
                    $("#id_jueves").attr('checked',false)
                    $($("#id_horajuevesent").get(0).parentNode.parentNode).hide();
                    $($("#id_horajuevessal").get(0).parentNode.parentNode).hide();
                    $("#id_horajuevesent").val('');
                    $("#id_horajuevessal").val('');
                }

            });


            $($("#id_viernes").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-info'>Viernes</h4>").addClass("input-xlarge");
            $("#id_viernes").click(function(){
                if ($("#id_viernes").is(':checked')){
                    $("#id_viernes").attr('checked',true)
                    $($("#id_horaviernesent").get(0).parentNode.parentNode).show();
                    $($("#id_horaviernessal").get(0).parentNode.parentNode).show();
                }
                else{
{#                    alert(85);#}
                    $("#id_viernes").attr('checked',false)
                    $($("#id_horaviernesent").get(0).parentNode.parentNode).hide();
                    $($("#id_horaviernessal").get(0).parentNode.parentNode).hide();
                    $("#id_horaviernesent").val('');
                    $("#id_horaviernessal").val('');
                }

            });

             $($("#id_sabado").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-info'>Sabado</h4>").addClass("input-xlarge");
            $("#id_sabado").click(function(){
                if ($("#id_sabado").is(':checked')){
                    $("#id_sabado").attr('checked',true)
                    $($("#id_horasabadoent").get(0).parentNode.parentNode).show();
                    $($("#id_horasabadosal").get(0).parentNode.parentNode).show();
                }
                else{
{#                    alert(85);#}
                    $("#id_sabado").attr('checked',false)
                    $($("#id_horasabadoent").get(0).parentNode.parentNode).hide();
                    $($("#id_horasabadosal").get(0).parentNode.parentNode).hide();
                    $("#id_horasabadoent").val('');
                    $("#id_horasabadosal").val('');
                }

            });


             $($("#id_domingo").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-info'>Domingo</h4>").addClass("input-xlarge");
            $("#id_domingo").click(function(){
                if ($("#id_domingo").is(':checked')){
                    $("#id_domingo").attr('checked',true)
                    $($("#id_horadomingoent").get(0).parentNode.parentNode).show();
                    $($("#id_horadomingosal").get(0).parentNode.parentNode).show();
                }
                else{
{#                    alert(85);#}
                    $("#id_domingo").attr('checked',false)
                    $($("#id_horadomingoent").get(0).parentNode.parentNode).hide();
                    $($("#id_horadomingosal").get(0).parentNode.parentNode).hide();
                    $("#id_horadomingoent").val('');
                    $("#id_horadomingosal").val('');
                }

            });


            $("#id_finsemana").click(function(){
                if ($("#id_finsemana").is(':checked')){
                    $("#id_finsemana").attr('checked',true)
                    $($("#id_sabado").get(0).parentNode.parentNode).show();
                    $($("#id_domingo").get(0).parentNode.parentNode).show();
                }
                else{
{#                    alert(85);#}
                    $("#id_finsemana").attr('checked',false)
                    $("#id_sabado").attr('checked',false)
                    $("#id_domingo").attr('checked',false)
                    $($("#id_sabado").get(0).parentNode.parentNode).hide();
                    $($("#id_domingo").get(0).parentNode.parentNode).hide();
                    $($("#id_horadomingoent").get(0).parentNode.parentNode).hide();
                    $($("#id_horadomingosal").get(0).parentNode.parentNode).hide();
                    $("#id_horadomingoent").val('');
                    $("#id_horadomingosal").val('');
                    $($("#id_horasabadoent").get(0).parentNode.parentNode).hide();
                    $($("#id_horasabadosal").get(0).parentNode.parentNode).hide();
                    $("#id_horasabadoent").val('');
                    $("#id_horasabadosal").val('');
                }

            });

             $("#id_horageneral").click(function(){
                if ($("#id_horageneral").is(':checked')){
                    $("#id_horageneral").attr('checked',true)
                    $($("#id_horaentrada").get(0).parentNode.parentNode).show();
                    $($("#id_horasalida").get(0).parentNode.parentNode).show();
                }
                else{
{#                    alert(85);#}
                    $("#id_horageneral").attr('checked',false)
                    $($("#id_horaentrada").get(0).parentNode.parentNode).hide();
                    $($("#id_horasalida").get(0).parentNode.parentNode).hide();
                    $("#id_horaentrada").val('');
                    $("#id_horasalida").val('');
                }

            });

{#          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}

            var numeros="0123456789:";

            function tiene_numeros(texto){
               var num = 0;
               for(i=0; i<texto.length; i++){
                  if (numeros.indexOf(texto.charAt(i),0)!=-1){
                      num = num +1;
                  }
               }
               return num;
            }
            $("#id_horaentrada").blur(function(){

                    var v = $("#id_horaentrada").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horaentrada").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horaentrada").focus();
                            }
                            else{
                                $($("#id_horaentrada").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horaentrada").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horaentrada").focus();
                            }
                    }
                    else{
                        $($("#id_horaentrada").get(0).parentNode).find(".help-text").html("");
                    }

            });

            $("#id_horasalida").blur(function(){

                    var v = $("#id_horasalida").val();
                    var p = tiene_numeros(v);
                    if(v!=''){
                        if (v.split(':').length == 3 ){
                            if (p != v.length | v.split(':')[0].length < 2 | v.split(':')[1].length < 2 | v.split(':')[2].length < 2 | v.split(':').length > 3 | parseInt(v.split(':')[1])> 59)
                            {
                              $($("#id_horasalida").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horasalida").focus();
                            }
                            else{
                                $($("#id_horasalida").get(0).parentNode).find(".help-text").html("");
                            }
                        }
                        else{
                              $($("#id_horasalida").get(0).parentNode.parentNode).find(".help-text").html("Ingresar solo  Numeros, Recuerde el formato es 00:00:00 y los minutos deben ser  menor a 60");
                              $("#id_horasalida").focus();
                            }
                    }

                    else{
                        $($("#id_horasalida").get(0).parentNode).find(".help-text").html("");
                    }



            });

            {% if horario  %}

                {% if horario.horalunesent %}
                    $("#id_lunes").attr('checked',true);
                    $($("#id_horalunesent").get(0).parentNode.parentNode).show();
                    $($("#id_horalunessal").get(0).parentNode.parentNode).show();
                {% else %}
                    $("#id_lunes").attr('checked',false);
                {% endif %}
                {% if horario.horamartesent %}
                    $("#id_martes").attr('checked',true);
                    $($("#id_horamartesent").get(0).parentNode.parentNode).show();
                    $($("#id_horamartessal").get(0).parentNode.parentNode).show();
                {% else %}
                    $("#id_martes").attr('checked',false);
                {% endif %}
                {% if horario.horamiercolesent %}
                    $("#id_miercoles").attr('checked',true);
                    $($("#id_horamiercolesent").get(0).parentNode.parentNode).show();
                    $($("#id_horamiercolessal").get(0).parentNode.parentNode).show();
                {% else %}
                    $("#id_miercoles").attr('checked',false);
                {% endif %}
                {% if horario.horajuevesent %}
                    $("#id_jueves").attr('checked',true);
                    $($("#id_horajuevesent").get(0).parentNode.parentNode).show();
                    $($("#id_horajuevessal").get(0).parentNode.parentNode).show();
                {% else %}
                    $("#id_jueves").attr('checked',false);
                {% endif %}
                {% if horario.horaviernesent %}
                    $("#id_viernes").attr('checked',true);
                    $($("#id_horaviernesent").get(0).parentNode.parentNode).show();
                    $($("#id_horaviernessal").get(0).parentNode.parentNode).show();
                {% else %}
                    $("#id_viernes").attr('checked',false);
                {% endif %}
                {% if horario.horasabadoent %}

                    $("#id_finsemana").attr('checked',true);
                    $("#id_sabado").attr('checked',true);
                    {% if not horario.horadomingoent %}
                        $("#id_domingo").attr('checked',false);
                        $($("#id_domingo").get(0).parentNode.parentNode).show();
                    {% endif %}
                    $($("#id_sabado").get(0).parentNode.parentNode).show();
                    $($("#id_horasabadoent").get(0).parentNode.parentNode).show();
                    $($("#id_horasabadosal").get(0).parentNode.parentNode).show();
                {% else %}
                    $("#id_sabado").attr('checked',false);
                {% endif %}
                {% if horario.horadomingoent %}
                    $("#id_domingo").attr('checked',true);
                    $("#id_finsemana").attr('checked',true);
                    {% if not horario.horadomingoent %}
                        $("#id_sabado").attr('checked',false);
                        $($("#id_sabado").get(0).parentNode.parentNode).show();
                    {% endif %}
                    $($("#id_domingo").get(0).parentNode.parentNode).show();
                    $($("#id_horadomingoent").get(0).parentNode.parentNode).show();
                    $($("#id_horadomingosal").get(0).parentNode.parentNode).show();
                {% else %}
                    $("#id_domingo").attr('checked',false);
                {% endif %}
                {% if horario.horaentrada %}
                    $("#id_horageneral").attr('checked',true);
                    $($("#id_horaentrada").get(0).parentNode.parentNode).show();
                    $($("#id_horasalida").get(0).parentNode.parentNode).show();
                {% else %}
                    $("#id_horageneral").attr('checked',false);
                {% endif %}
            {% endif %}
{#        });#}
{#    </script>#}
{% endblock %}

{% block titulo %}
    Edicion o Ingreso de Horario a: {{ asistente.persona }}
{% endblock %}

{% block formaction %}/horario_asistente{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addhorario'/>
    <input type='hidden' name='id' value='{{ asistente.id }}'/>
    {% if horario %}
        <input type='hidden' name='idhor' value='{{ horario.id }}'/>
    {% endif %}
{% endblock %}
{% block formback %}/horario_asistente{% endblock %}
{% block buttonname %}Guardar Cambios{% endblock %}
