{% extends "practicasadmin/formvehic.html" %}
{% block extraheading %}
{% endblock %}
{% block javascript %}
{#    <script src='/static/js/notificacionpanel.js' xmlns="http://www.w3.org/1999/html"></script>#}
{#    <script src='/static/js/adicionarproveedor.js'></script>#}
{##}
{#    <script>#}
{#    $(function() {#}

        {% if profesor %}
            $($("#id_profesor").get(0).parentNode.parentNode).hide();
        {% endif %}
        $($("#id_fecha").get(0).parentNode.parentNode).hide();
        $("#id_valor,#id_numtutoria").addClass("input-small");
        $("#id_numtutoria,#id_observacion").addClass("validate[required]");
{#            alert({{ tutor.estudiante.id }});#}
        if (parseInt({{ num }})> 1)
        {
            $($("#id_estudiante").get(0).parentNode.parentNode).hide();
            $($("#id_numtutoria").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-success'>DATOS </h4>" );
        }
        $("#id_estudiante").val('{{ tutor.estudiante }}');
        $("#id_estudiante").attr("myval",{{ tutor.estudiante.id }});
        $($("#id_profesor").get(0).parentNode.parentNode).hide();
        $($("#id_estado").get(0).parentNode.parentNode).hide();
        $($("#id_valor").get(0).parentNode.parentNode).hide();


        $("#formbutton").click(function(){
            if (parseInt({{ num }})==0)
            {
                $($("#id_numtutoria").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-success'>DATOS </h4>" );
            }
            $($("#id_estudiante").get(0).parentNode.parentNode).hide();
            $("#id_estudiante").val($("#id_estudiante").attr("myval"));
        });
        var numeros="0123456789.";

        function tiene_numeros(texto){
           var num = 0;
           for(i=0; i<texto.length; i++){
              if (numeros.indexOf(texto.charAt(i),0)!=-1){
                  num = num +1;
              }
           }
           return num;
        }

        var numeros1="0123456789";

        function solo_numeros(texto){
           var num = 0;
           for(i=0; i<texto.length; i++){
              if (numeros1.indexOf(texto.charAt(i),0)!=-1){
                  num = num +1;
              }
           }
           return num;
        }



        $("#id_numtutoria").blur(function(){
            var v = $("#id_numtutoria").val();
            var p = solo_numeros(v);
            if (p != v.length)
            {
              $($("#id_numtutoria").get(0).parentNode).find(".help-text").html("Ingresar solo Numeros");
              $("#id_numtutoria").val("");
              $("#id_numtutoria").focus();
            }
            else{

                if (parseInt({{ num }})> parseInt(v))
                {
                  $($("#id_numtutoria").get(0).parentNode).find(".help-text").html("No puede tener tutorias menores a las que ya a ingresado");
                  $("#id_numtutoria").val({{ num }});
                  $("#id_numtutoria").focus();
                }
                else{
                    $($("#id_numtutoria").get(0).parentNode).find(".help-text").html("");
                }

            }

        });

{#    });#}
{#    </script>#}
{% endblock %}
{% block titulo %}
{{ title }} <br><br>
Profesor: {{ profesor }}

{% endblock %}

{% block formaction %}/tutoria{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
{#    <button type="{% block buttontype %}submit{% endblock %}" class="btn btn-success" id="formbutton">Guardar Inscripci&oacute;n</button>#}
    <input type='hidden' name='action' value='edittuto'/>
    <input type='hidden' name='id' value='{{ profesor.id }}'/>

    {% if tutor %}
        <input type='hidden' name='tutor' value='{{ tutor.id }}'/>
    {% endif %}
{% endblock %}
{% block formsuffix %}
    <fieldset class="control-group nomargins">
        <label class="control-label" for="id_{{ field.name }}">Observación</label>
        <div class="controls">
            <textarea rows="4" cols="50" name='observacion' id='id_observacion' style="text-transform: none"></textarea>
{#            <input type='text' name='observacion' id='id_observacion'/>#}
            <p class="help-text">{{ field.help_text }} </p>
        </div>
    </fieldset>
{% endblock %}
{% block formback %}/tutoria{% endblock %}
{% block buttonname %}Guardar{% endblock %}>