**/migrations/**
!**/migrations/
!**/migrations/__init__.py
/.idea/
/.idea/**
/media/
/media/**
/venv/
/venv/**
/.vscode
/.vscode/**
/__pycache__/
/__pycache__/**
/moodle/migrations/
/sga/migrations/
/firmaec/migrations/
/documental/migrations/
