{#{% extends "basebs.html" %}#}
{#{% load sga_extras %}#}
{% block heading %}

    <link href='/static/css/font-awesome.css' rel='stylesheet'/>
    <link href="/static/css/stylesbs.css" rel='stylesheet'/>
    <link href="/static/css/datepicker.css" rel='stylesheet'/>
    <link href="/static/css/bootstrap-modal.css" rel='stylesheet'/>
    <link rel="stylesheet" href="/static/css/smoke.css" type="text/css" media="screen" />
    <script src="/static/js/smoke.min.js" type="text/javascript"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="/static/css/modern-ticker.css" rel="stylesheet"/>
    <link href="/static/css/theme.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bs/bootstrap.min.js"></script>
    <script src="/static/js/jquery.modern-ticker.min.js"></script>

    <script type="text/javascript">

        $(function() {
            var idvisitabox = 0;
            function imprimir(){
                var objeto = document.getElementById('imprimeme');
                var ventana = window.open('','_blank','width=1px,height=1px,top=5px,left=5px');
                ventana.document.write(objeto.innerHTML);
                ventana.document.close();
                ventana.print();
                ventana.close();
            }

            $(".imprime").click(function() {
                var f = new Date();
                var fecha=f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();
                var min= f.getHours()+':'+ f.getMinutes()+':'+ f.getSeconds();
                $('#fecha').val(fecha+' - '+min);
                var ced = $("#cedula").val();
                $('#ced').val(ced);

{#                var res = $(this).attr("title").slice(-2);#}
                if (ced != ''){
                    $.post("/visitabtiket", {"action":'print', "idvisita":idvisitabox,"ced":ced}, function(data) {
                       if (data.result=='ok') {
                           $("#tipoatencion_box").modal("hide");
                           $('#tiket').html(data.ABR+  data.pre   +'</br>Turno </br>'+data.tiket);
                           if (data.horacita){
                                $('#horacita').html(data.horacita);
                           }

                           imprimir();
                           s=1;
                           $("#imprimiendo_tick").modal("show");
                           cronometro = setInterval(
                           function(){
                               if(s==0)
                               {
                                  $("#imprimiendo_tick").modal("hide");
                                  clearInterval(cronometro);
                               }
                           s--;
                           },900);
                       }else
                            if (data.result=='badcita'){
                                  $("#tipoatencion_box").modal("hide");
                                smoke.alert(data.msj);
                            }
                            else{
                                 $("#tipoatencion_box").modal("hide");
                                alert('Error. Intente de nuevo');

                       }
                    }, "json");
                }else{
                    $($("#cedula").get(0).parentNode).find(".help-text").html("<span style='color: darkred'><i>Ingrese una Identificacion</i></span>"  );


                }
            });

            $("#tipoatencion_box .cancelar").click(function() {
                $("#tipoatencion_box").modal("hide");

            });

            $(".imp").click(function() {
                idvisitabox = $(this).attr('id');
                $("#cedula").val("");
                $('#descr').val($(this).attr("title"));
                $("#tipoatencion_box #paneltitle").html($(this).attr("title"));
                $("#tipoatencion_box").modal({"backdrop":"static"});
                $("#tipoatencion_box").modal("show");
                return false;
            });


            $(".ticker1").modernTicker({effect:"scroll",scrollType:"continuous",scrollStart:"inside",scrollInterval:20,transitionTime:500,autoplay:true});
        });
    </script>

    <style>
         .btn1 {
              background: #13456b;
              background-image: -webkit-linear-gradient(top, #13456b, #2e658f);
              background-image: -moz-linear-gradient(top, #13456b, #2e658f);
              background-image: -ms-linear-gradient(top, #13456b, #2e658f);
              background-image: -o-linear-gradient(top, #13456b, #2e658f);
              background-image: linear-gradient(to bottom, #13456b, #2e658f);
        }
        .btn1:hover {
              background: #004176;
              background-image: -webkit-linear-gradient(top, #004176, #004176);
              background-image: -moz-linear-gradient(top, #004176, #004176);
              background-image: -ms-linear-gradient(top, #004176, #004176);
              background-image: -o-linear-gradient(top, #004176, #004176);
              background-image: linear-gradient(to bottom, #004176, #004176);
        }
        .btn2 {
               background: #8ebc11;
              background-image: -webkit-linear-gradient(top, #8ebc11, #84ab18);
              background-image: -moz-linear-gradient(top, #8ebc11, #84ab18);
              background-image: -ms-linear-gradient(top, #8ebc11, #84ab18);
              background-image: -o-linear-gradient(top, #8ebc11, #84ab18);
              background-image: linear-gradient(to bottom, #8ebc11, #84ab18);
        }
        .btn2:hover {
             background: #6f940a;
             background-image: -webkit-linear-gradient(top, #6f940a, #72960e);
             background-image: -moz-linear-gradient(top, #6f940a, #72960e);
             background-image: -ms-linear-gradient(top, #6f940a, #72960e);
             background-image: -o-linear-gradient(top, #6f940a, #72960e);
             background-image: linear-gradient(to bottom, #6f940a, #72960e);
        }
        .btn3 {
            background: #edb809;
            background-image: -webkit-linear-gradient(top, #edb809, #cc9f0c);
            background-image: -moz-linear-gradient(top, #edb809, #cc9f0c);
            background-image: -ms-linear-gradient(top, #edb809, #cc9f0c);
            background-image: -o-linear-gradient(top, #edb809, #cc9f0c);
            background-image: linear-gradient(to bottom, #edb809, #cc9f0c);
        }
        .btn3:hover {
            background: #e3b009;
            background-image: -webkit-linear-gradient(top, #e3b009, #9e7b06);
            background-image: -moz-linear-gradient(top, #e3b009, #9e7b06);
            background-image: -ms-linear-gradient(top, #e3b009, #9e7b06);
            background-image: -o-linear-gradient(top, #e3b009, #9e7b06);
            background-image: linear-gradient(to bottom, #e3b009, #9e7b06);
        }
        .btn4 {
            background-image: -webkit-linear-gradient(top, #e86d09, #c75e08);
            background-image: -moz-linear-gradient(top, #e86d09, #c75e08);
            background-image: -ms-linear-gradient(top, #e86d09, #c75e08);
            background-image: -o-linear-gradient(top, #e86d09, #c75e08);
            background-image: linear-gradient(to bottom, #e86d09, #c75e08);
        }
        .btn4:hover {
            background: #e86d09;
            background-image: -webkit-linear-gradient(top, #e86d09, #e86d09);
            background-image: -moz-linear-gradient(top, #e86d09, #e86d09);
            background-image: -ms-linear-gradient(top, #e86d09, #e86d09);
            background-image: -o-linear-gradient(top, #e86d09, #e86d09);
            background-image: linear-gradient(to bottom, #e86d09, #e86d09);
        }
        .btn1, .btn2, .btn3, .btn4{
            float:left;
            text-decoration: none;
            cursor: pointer;
            -webkit-border-radius: 11;
            -moz-border-radius: 11;
            border-radius: 11px;
            margin:10px;
            width:40%;
            height:200px;
        }
        .btn1 > h2 > a,
        .btn2 > h2 > a,
        .btn3 > h2 > a,
        .btn4 > h2 > a
        {
            text-decoration: none;
            font-family: Arial;
            color: #ffffff;
            font-size: 42px;
        }
        .btn1 > h2,
        .btn2 > h2,
        .btn3 > h2,
        .btn4 > h2{
            padding-top:10%;
            word-wrap: break-word;
        }
        #footer {
            width: 100%;
            height: 90px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    </style>
{% endblock %}
{% block canvas %}
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <img src="static/images/bannertiket.png" style="width:100%;max-width:1200px;height:200px;"/>
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span2'>
            <div id="imprimeme" style="text-align:center; display: none;">
                <table style="font-family: monospace">
                    <thead>
                        <tr>
                            <td class="bigger" style="text-align: center" colspan="5"><img style="text-align: left;width:240px;height: 60px; " src="/static/images/Logoitbh.png"></td>
                        </tr>
                        <tr>
                            <th style="text-align: center" colspan="5"><output id="tiket" style="font-size:30px;font-weight: 700;" >0</output></th>
                        </tr>
                        <tr>
                             <th style="text-align: center" colspan="5" ><output id="descr">0</output></th>
                        </tr>
                        <tr>
                            <th style="text-align: center" colspan="5"><output id="fecha">0</output></th>
                        </tr>
                        <tr>
                            <th style="text-align: center" colspan="5"><output id="horacita"></output></th>
                        </tr>

                        <tr>
                            <th style="text-align: center" colspan="5"><output id="ced">0</output></th>
                        </tr>
                        <tr>
                            <th style="text-align: center" colspan="5"><img style="text-align: left;" src="/static/images/logoitbb.png"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="smaller" style="text-align: center" nowrap></td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td class="smaller" colspan="7"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class='span10'>
            {% for t in tipovisitabox %}
                <div class='btn{% if forloop.counter <= 4 %}{{ forloop.counter }}{% else %}1{% endif %} imp' id='{{ t.id }}' title="{{ t.alias }}" style="text-align: center">
                    <h2><a>{{ t.alias }}</a></h2>
                </div>
            {% endfor %}
        </div>
     <div class='span2'>
     </div>
    </div>

    <div class='row-fluid'>
        <div class='span1'></div>
        <div class='span10'>
            <!-- Presentcion de las noticias -->
            {% if newstiket %}
			<div class="ticker1 modern-ticker mt-round">
				<div class="mt-body">
					<div class="mt-label">
						<a><span class="icon-book" style="margin-right: 5px;"></span>NOTICIAS</a>
					</div>
					<div class="mt-news">
						<ul>
                            {% for t in newstiket %}
                                <li><a href="#" ><span>{{ t.hdnoticia }}</span> {{ t.bdynoticia }}</a></li>
                            {% endfor %}
						</ul>
					</div>
					<div class="mt-controls">
						<div class="mt-prev"><span class="icon-arrow-left"></span></div>
						<div class="mt-play"><span class="icon-play"></span></div>
						<div class="mt-next"><span class="icon-arrow-right"></span></div>
					</div>
				</div>
			</div>
            {% endif %}
			<!-- fin Tikers -->
        </div>
    </div>

    <div class="modal fade static " id="imprimiendo_tick" style="margin-left: -500" >
        <div class="row-fluid modal-header">
            <h4 ><i>Imprimiendo</i></h4>
            <h5></h5>
        </div>
        <div class="modal-body" >
            <h4><i>Tome su tiket</i></h4>
        </div>
    </div>




{#    <div class="modal fade static " id="tipoatencion_box" style="width:60%;margin-top:2%;height:550px ">#}
{#        <div class="modal-header btn-info " style="text-align: center;">#}
{#            <h2 id='paneltitle'  style="color: #ffffff"></h2>#}
{#        </div>#}
{#        <div class="modal-body" >#}
{#                {% for t in tipoatencionbox %}#}
{#                    <div class='btn{{ forloop.counter }}  imprime' id='{{ t.id }}' title="{{ t.alias }}" style="text-align: center;width:45%;height:180px;word-wrap: break-word;">#}
{#                        <h2 class="" style="text-align: center;margin-top:45px;height: 100px" id='{{ t.id }}' title="{{ t.alias }}"><a>{{ t.descripcion }}</a></h2>#}
{#                    </div>#}
{#                {% endfor %}#}
{#                <div style="margin-top: 50px;text-align: center">#}
{#                        <a style="cursor: pointer" id="cancelar" class="btn btn-warning cancelar"><h5>CANCELAR</h5></a>#}
{#                </div>#}
{#        </div>#}
{#    </div>#}
    <div class="modal fade static " id="tipoatencion_box" style="width:30%;margin-top:10%;height:340px ">
        <div class="modal-header btn-info " style="text-align: center;">
            <h2 id='paneltitle'  style="color: #ffffff"></h2>
        </div>

        <div class="modal-body" >
{#            <label style="color: red;font-weight: bold">Ingrese Identificaci&oacute;n</label>#}
               <input type="text" id='cedula' style="width:100%;height:100px;font-size: 50px;font-weight: bold;text-align: center  " placeholder="N° Identificaci&oacute;n"  >
               <p class="help-text"></p>
{#            <div style="margin-top: 50px;text-align: center">#}
                <a style="cursor: pointer;;margin-left: 140px"  class="btn btn-success imprime"><h5>GENERAR</h5></a>
                <a style="cursor: pointer;margin-left: 10px"  class="btn btn-warning cancelar"><h5>CANCELAR</h5></a>
{#            </div>#}
        </div>
    </div>


    <div id="footer" style="text-align: center;position:inherit;">
      </br>
      <p><a href="#" >Instituto Superior Tecnol&oacute;gico Bolivariano de Tecnolog&iacute;a (ITB) </a></p>
      <p>All rights reserved &copy; .Design by: <a href="#">ITB - TIC's.</a></p>
   </div>

{% endblock %}