{% extends "formbs.html" %}
{% block javascript %}
    $("#id_observaciones").addClass("validate[required]");
{% endblock %}
{% block titulo %}Abrir Materia: <h4>{{ materia }}</h4><h5>Docente: {{ materia.profesores }}</h5>{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='abrirmateria'/>
    <input type='hidden' name='id' value='{{ materia.id }}'/>
{% endblock %}
{% block formback %}/niveles?action=materias&id={{ materia.nivel.id }}{% endblock %}
{% block buttonname %}Abrir Materia{% endblock %}