{% extends "formbs.html" %}
{% block javascript %}
    $("#id_fecha").datepicker({format:"dd-mm-yyyy"});
    $("#id_tipo,#id_valor,#id_fecha").addClass("validate[required]");
{% endblock %}
{% block titulo %}Adicionar Cronograma de Pagos al Nivel {{ nivel.nivelmalla }} - {{ nivel.paralelo }} - {{ nivel.sesion }}, {{ nivel.carrera }}{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addpagos'/>
    <input type='hidden' name='id' value='{{ nivel.id }}'/>
{% endblock %}
{% block formback %}/niveles?action=pagos&id={{ nivel.id }}{% endblock %}