{% extends "formbs.html" %}
{% block javascript %}
    $("#id_fecha").datepicker({format:"dd-mm-yyyy"});
    $("#id_fecha, #id_valor, #id_descripcion, #id_tipo").addClass("validate[required]");

    $("#eliminarrubro").click(function(){
        $("#action").val("delrubro");
        $("#formulario").get(0).submit();
    });

    $("#recargarrubro").click(function(){
        $("#action").val("recargarrubro");
        $("#formulario").get(0).submit();
    });

{% endblock %}
{% block titulo %}Adicionar Otros Rubros a Estudiantes {{ tiene_permisos }}<br/>Nivel: {{ nivel }}{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addrubro' id="action"/>
    <input type='hidden' name='nivel' value='{{ nivel.id }}'/>
{% endblock %}
{% block formback %}/niveles?action=materias&id={{ nivel.id }}{% endblock %}
{% block buttonname %}
    <i class="icon-asterisk"></i> Adicionar Rubro
{% endblock %}


{% block extrabuttons %}
    {% if tiene_permisos %}
        <a href="#" id="eliminarrubro" class="btn btn-danger"><i class="icon-remove"></i> Eliminar Rubros</a>
        <a href="#" id="recargarrubro" class="btn btn-warning"><i class="icon-money"></i> Recargar por atraso </a>
    {% endif %}
{% endblock %}




