{% extends "formbs.html" %}
{% block javascript %}
    $("#id_inicio, #id_fin").datepicker({format:"dd-mm-yyyy"});
    $("#id_asignatura, #id_inicio, #id_fin, #id_horas, #id_creditos").addClass("validate[required]");
    {% if materialibre %}
        $($("#id_rectora").get(0).parentNode.parentNode).find("label").html("Materia General");
    {% endif %}
    {% if error %}
        smoke.alert('{{ error }}');
    {% endif %}
    {% if materia.cerrado %}
        $("#id_inicio,#id_fin").attr("disabled",true);
    {% endif %}
    {% if DEFAULT_PASSWORD == 'itb' %}
         {% if materia.cierre_materia %}
            {{ materia.inicio|date:'d-m-Y' }}
            $("#id_inicio").attr("disabled",true);
        {% else %}
            $("#id_inicio").attr("disabled",false);
        {% endif %}
    {% else %}
       {{ materia.inicio|date:'d-m-Y' }}
    {% endif %}

    {% if DEFAULT_PASSWORD == 'itb' %}
        {% if materia.cierre_materia %}
            {{ materia.fin|date:'d-m-Y' }}
            $("#id_fin").attr("disabled",true);
        {% else %}
            $("#id_fin").attr("disabled",false);
        {% endif %}
    {% else %}
       {{ materia.fin|date:'d-m-Y' }}
    {% endif %}

{% endblock %}
{% block titulo %}Editar Materia de Nivel Acad&eacute;mico{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editmateria'/>
    <input type='hidden' name='id' value='{{ materia.id }}'/>
{% endblock %}
{% block formback %}/niveles?action=materias&id={{ materia.nivel.id }}{% endblock %}
{% block buttonname %}Guardar Materia{% endblock %}