{% extends "layout/formbs.html" %}
{% block form_more_javascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_descripcion").addClass("validate[required]").css({'text-transform': 'none'});
        });
    </script>
{% endblock %}
{% block frm_title %}{{ title }}{% endblock %}
{% block frm_subtitle %}{{ plananalitico.asignaturamalla.asignatura.nombre }}{% endblock %}
{% block form_destination %}/mallas?action=bibliografiaapa&id={{ plananalitico.id }}{% endblock %}
{% block form_action_cancel %}/mallas?action=bibliografiaapa&id={{ plananalitico.id }}{% endblock %}
{% block atras %}/mallas?action=bibliografiaapa&id={{ plananalitico.id }}{% endblock %}
{% block form_extra %}
    <input type='hidden' name='action' value='addbibliografiaapa'/>
    <input type='hidden' name='id' value='{{ plananalitico.id }}'/>
{% endblock %}