{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
{#    $("#id_nacimiento, #id_fecha").datepicker({format:"dd-mm-yyyy"}).mask("99-99-9999");#}
    $("#id_cedula").mask("9999999999");
    $("#id_nombres,#id_apellido1,#id_sexo,#id_telefono,#id_carrera,#id_email,#id_modalidad").addClass("validate[required]");
    $("#id_email").css({'text-transform': 'lowercase'});

    var ban=0;
    var bancondu=0;

    $("#id_nombres, #id_apellido1, #id_apellido2").addClass("input-block-level");
    $("#id_cedula, #id_pasaporte").addClass("input-large");
    $("#id_email, #id_telefono,#id_telefono_conv").addClass("input-xxlarge");
    $("#id_sexo").addClass("input-medium");
    $($("#id_carreraonline").get(0).parentNode.parentNode).hide();
    $($("#id_tipolicencia").get(0).parentNode.parentNode).hide();
    $($("#id_modalidad").get(0).parentNode.parentNode).show();

    $("#id_itb").click(function(){
        if ($("#id_itb").is(':checked')){
            $("#id_online").attr('checked',false);
            $('#id_conduccion').prop('checked', false);

            $("#id_carrera").addClass("validate[required]");
            $("#id_carreraonline").removeClass("validate[required]");
            $($("#id_carreraonline").get(0).parentNode.parentNode).hide();
            $($("#id_carrera").get(0).parentNode.parentNode).show();
            $("#id_carreraonline").val(0);
            $("#id_modalidad").addClass("validate[required]");
            $($("#id_modalidad").get(0).parentNode.parentNode).show();
            $("#id_modalidad").val(0);
            $($("#id_tipolicencia").get(0).parentNode.parentNode).hide();
            $("#id_tipolicencia").val(0);
        }
    });

    $("#id_online").click(function() {
        $('#id_conduccion').prop('checked', false);
        $('#id_itb').prop('checked', false);
        bancondu=1;
        if ($("#id_online").is(':checked')) {
              $("#id_carrera").removeClass("validate[required]");
              $("#id_carreraonline").addClass("validate[required]");
              $($("#id_carreraonline").get(0).parentNode.parentNode).show();
             $($("#id_tipolicencia").get(0).parentNode.parentNode).hide();
              $("#id_tipolicencia").val(0);
              var lista= $("#id_carreraonline").html();
              if (ban==0){
                  lista="<option value='' selected='selected' selected>---------</option>"+lista;
                  $("#id_carreraonline").html(lista);
              }

              ban=1;

              $($("#id_carrera").get(0).parentNode.parentNode).hide();
              $("#id_carrera").val(0);
              $("#id_modalidad").removeClass("validate[required]");
              $($("#id_modalidad").get(0).parentNode.parentNode).hide();
              $("#id_modalidad").val(0);
            }else{
              $('#id_itb').prop('checked', true);
              $("#id_carrera").addClass("validate[required]");
              $("#id_carreraonline").removeClass("validate[required]");
              $($("#id_carreraonline").get(0).parentNode.parentNode).hide();
              $($("#id_carrera").get(0).parentNode.parentNode).show();
              $("#id_carreraonline").val(0);
              $("#id_modalidad").addClass("validate[required]");
              $($("#id_modalidad").get(0).parentNode.parentNode).show();
              $("#id_modalidad").val(0);
              $($("#id_tipolicencia").get(0).parentNode.parentNode).hide();
              $("#id_tipolicencia").val(0);


            }
        });

      $("#id_conduccion").click(function() {
           $('#id_online').prop('checked', false);
           $('#id_itb').prop('checked', false);
           bancondu=1;
           if ($("#id_conduccion").is(':checked')) {


                 $("#id_carrera").removeClass("validate[required]");
                 $($("#id_carrera").get(0).parentNode.parentNode).hide();
                 $("#id_carreraonline").removeClass("validate[required]");
                 $($("#id_carreraonline").get(0).parentNode.parentNode).hide();
                 $($("#id_tipolicencia").get(0).parentNode.parentNode).show();
                  var listaconduc= $("#id_tipolicencia").html();
                  listaconduc="<option value='' selected='selected' selected>---------</option>"+listaconduc;
                  $("#id_conduccion").html(listaconduc);
                  $("#id_modalidad").removeClass("validate[required]");
                  $($("#id_modalidad").get(0).parentNode.parentNode).hide();
                  $("#id_modalidad").val(0);
                  $("#id_carrera").val(0);
                  $("#id_carreraonline").val(0);

            }else{

                $($("#id_tipolicencia").get(0).parentNode.parentNode).hide();
                $("#id_carrera").addClass("validate[required]");
                $("#id_carreraonline").removeClass("validate[required]");
                $($("#id_carreraonline").get(0).parentNode.parentNode).hide();
                $($("#id_carrera").get(0).parentNode.parentNode).show();
                $("#id_carreraonline").val(0);
                $("#id_modalidad").removeClass("validate[required]");
                $($("#id_modalidad").get(0).parentNode.parentNode).show();
                $("#id_modalidad").val(0);

            }
      });
    ajustaFormulario = function () {
        if ($("#id_extranjero").is(':checked')) {
            $("#id_cedula").removeClass("validate[required]");
            $("#id_cedula").val("");
            $("#id_cedula").attr("disabled", true);
            $("#id_pasaporte").attr("disabled", false);
            $("#id_pasaporte").addClass("validate[required]");
            $($("#id_extranjero").get(0).parentNode).find(".help-text").html("<span style='color: red'><i> Si la persona extranjera no tiene c&eacute;dula de identidad, NO es obligatorio escribirla. Ingresar n&uacute;mero de Pasaporte.</i></span>");
        }else{
            $("#id_cedula").addClass("validate[required]");
            $("#id_cedula").attr("disabled", false);
            $("#id_pasaporte").attr("disabled", true);
            $("#id_pasaporte").removeClass("validate[required]");
            $($("#id_extranjero").get(0).parentNode).find(".help-text").html("");
        }

        {% if nuevo %}
            $("#id_online").prop('checked', false);
            $("#id_conduccion").prop('checked', false);
        {% else %}
             $("#id_online").prop("disabled", true);
             $("#id_conduccion").prop('disabled', true);
             {% if ref.online %}
                 $("#id_carreraonline").addClass("validate[required]");
                 $($("#id_carreraonline").get(0).parentNode.parentNode).show();
                 $("#id_carrera").removeClass("validate[required]");
                 $($("#id_carrera").get(0).parentNode.parentNode).hide()
                 $("#id_carrera").val(0);
                 $("#id_modalidad").removeClass("validate[required]");
                 $($("#id_modalidad").get(0).parentNode.parentNode).hide();
                 $("#id_modalidad").val(0);
             {% else %}

                 {% if ref.conduccion %}
                      $("#id_carrera").removeClass("validate[required]");
                      $($("#id_carrera").get(0).parentNode.parentNode).hide()
                      $("#id_carrera").val(0);
                      $("#id_carreraonline").removeClass("validate[required]");
                      $($("#id_carreraonline").get(0).parentNode.parentNode).hide()
                      $("#id_carreraonline").val(0);
                       $("#id_tipolicencia").addClass("validate[required]");
                      $($("#id_tipolicencia").get(0).parentNode.parentNode).show();
                      $("#id_modalidad").removeClass("validate[required]");
                      $($("#id_modalidad").get(0).parentNode.parentNode).hide();
                      $("#id_modalidad").val(0);

                 {% else %}
                     $("#id_carrera").addClass("validate[required]");
                      $($("#id_carrera").get(0).parentNode.parentNode).show();
                      $("#id_modalidad").addClass("validate[required]");
                      $($("#id_modalidad").get(0).parentNode.parentNode).show();

                 {% endif %}

             {% endif %}

        {% endif %}

{#         if ($("#id_online").is(':checked')) {#}
{#             $('#id_conduccion').prop('checked', false);#}
{#              $("#id_carrera").removeClass("validate[required]");#}
{#              $("#id_carreraonline").addClass("validate[required]");#}
{#              $($("#id_carreraonline").get(0).parentNode.parentNode).show();#}
{#              var lista= $("#id_carreraonline").html();#}
{#              lista="<option value='' selected='selected' selected>---------</option>"+lista;#}
{#              $("#id_carreraonline").html(lista);#}
{#              $($("#id_carrera").get(0).parentNode.parentNode).hide();#}
{#              $("#id_carrera").val(0);#}
{#              $("#id_modalidad").removeClass("validate[required]");#}
{#              $($("#id_modalidad").get(0).parentNode.parentNode).hide();#}
{#              $("#id_modalidad").val(0);#}
{#              $($("#id_tipolicencia").get(0).parentNode.parentNode).hide();#}
{#              $("#id_tipolicencia").val(0);#}
{#            }else{#}
{#              $("#id_carrera").addClass("validate[required]");#}
{#              $("#id_carreraonline").removeClass("validate[required]");#}
{#              $($("#id_carreraonline").get(0).parentNode.parentNode).hide();#}
{#              $($("#id_carrera").get(0).parentNode.parentNode).show();#}
{#              $("#id_carreraonline").val(0);#}
{#              $("#id_modalidad").addClass("validate[required]");#}
{#              $($("#id_modalidad").get(0).parentNode.parentNode).show();#}
{#              $("#id_modalidad").val(0);#}
{#              $($("#id_tipolicencia").get(0).parentNode.parentNode).hide();#}
{#              $("#id_tipolicencia").val(0);#}
{#         }#}
{##}
{##}
{#            if ($("#id_conduccion").is(':checked')) {#}
{#             $('#id_online').prop('checked', false);#}
{#                 $("#id_carrera").removeClass("validate[required]");#}
{#                 $($("#id_carrera").get(0).parentNode.parentNode).hide();#}
{#                 $("#id_carreraonline").removeClass("validate[required]");#}
{#                 $($("#id_carreraonline").get(0).parentNode.parentNode).hide();#}
{#                 $($("#id_tipolicencia").get(0).parentNode.parentNode).show();#}
{#                  var listaconduc= $("#id_tipolicencia").html();#}
{#                  listaconduc="<option value='' selected='selected' selected>---------</option>"+listaconduc;#}
{#                  $("#id_conduccion").html(listaconduc);#}
{#                  $("#id_modalidad").removeClass("validate[required]");#}
{#                  $($("#id_modalidad").get(0).parentNode.parentNode).hide();#}
{#                  $("#id_modalidad").val(0);#}
{##}
{#            }else{#}
{#              $($("#id_tipolicencia").get(0).parentNode.parentNode).hide();#}
{#                $("#id_carrera").addClass("validate[required]");#}
{#                $("#id_carreraonline").removeClass("validate[required]");#}
{#                $($("#id_carreraonline").get(0).parentNode.parentNode).hide();#}
{#                $($("#id_carrera").get(0).parentNode.parentNode).show();#}
{#                $("#id_carreraonline").val(0);#}
{#               if(bancondu==0){#}
{#                $("#id_modalidad").addClass("validate[required]");#}
{#                $($("#id_modalidad").get(0).parentNode.parentNode).show();#}
{#                $("#id_modalidad").val(0);#}
{#               }else{#}
{#                 $("#id_modalidad").removeClass("validate[required]");#}
{#                 $($("#id_modalidad").get(0).parentNode.parentNode).hide();#}
{#                 $("#id_modalidad").val(0);#}
{#               }#}
{##}
{#            }#}




    }

    $("#id_extranjero").change(ajustaFormulario);
    ajustaFormulario();

    chequeaCedula = function(){
        numero = $("#id_cedula").val();
        var suma = 0;
        var residuo = 0;
        var pri = false;
        var pub = false;
        var nat = false;
        var numeroProvincias = 24;
        var modulo = 11;

        prov = numero.substr(0,2);
        if (parseInt(prov)>numeroProvincias || parseInt(prov)<=0){
            alert('El código de la provincia (dos primeros dígitos) es inválido');
            $("#id_cedula").val("");
        }

        /* Aqui almacenamos los digitos de la cedula en variables. */
        d1 = numero.substr(0,1);
        d2 = numero.substr(1,1);
        d3 = numero.substr(2,1);
        d4 = numero.substr(3,1);
        d5 = numero.substr(4,1);
        d6 = numero.substr(5,1);
        d7 = numero.substr(6,1);
        d8 = numero.substr(7,1);
        d9 = numero.substr(8,1);
        d10 = numero.substr(9,1);

        /* El tercer digito es: */
        /* 9 para sociedades privadas y extranjeros */
        /* 6 para sociedades publicas */
        /* menor que 6 (0,1,2,3,4,5) para personas naturales */

        if (d3==7 || d3==8){
            alert('El tercer dígito ingresado es inválido');
            $("#id_cedula").val("");
        }

        /* Solo para personas naturales (modulo 10) */
        if (d3 <= 6){
            nat = true;
            p1 = d1 * 2; if (p1 >= 10) p1 -= 9;
            p2 = d2 * 1; if (p2 >= 10) p2 -= 9;
            p3 = d3 * 2; if (p3 >= 10) p3 -= 9;
            p4 = d4 * 1; if (p4 >= 10) p4 -= 9;
            p5 = d5 * 2; if (p5 >= 10) p5 -= 9;
            p6 = d6 * 1; if (p6 >= 10) p6 -= 9;
            p7 = d7 * 2; if (p7 >= 10) p7 -= 9;
            p8 = d8 * 1; if (p8 >= 10) p8 -= 9;
            p9 = d9 * 2; if (p9 >= 10) p9 -= 9;
            modulo = 10;
        }

        /* Solo para sociedades publicas (modulo 11) */
        /* Aqui el digito verficador esta en la posicion 9, en las otras 2 en la pos. 10 */
        else if(d3 == 6){
            pub = true;
            p1 = d1 * 3;
            p2 = d2 * 2;
            p3 = d3 * 7;
            p4 = d4 * 6;
            p5 = d5 * 5;
            p6 = d6 * 4;
            p7 = d7 * 3;
            p8 = d8 * 2;
            p9 = 0;
        }

        /* Solo para entidades privadas (modulo 11) */
        else if(d3 == 9) {
            pri = true;
            p1 = d1 * 4;
            p2 = d2 * 3;
            p3 = d3 * 2;
            p4 = d4 * 7;
            p5 = d5 * 6;
            p6 = d6 * 5;
            p7 = d7 * 4;
            p8 = d8 * 3;
            p9 = d9 * 2;
        }

        suma = p1 + p2 + p3 + p4 + p5 + p6 + p7 + p8 + p9;
        residuo = suma % modulo;

        /* Si residuo=0, dig.ver.=0, caso contrario 10 - residuo*/
        digitoVerificador = residuo==0 ? 0: modulo - residuo;

        /* ahora comparamos el elemento de la posicion 10 con el dig. ver.*/
        if (pub==true){
            if (digitoVerificador != d9){
                alert('El ruc de la empresa del sector público es incorrecto.');
                $("#id_cedula").val("");
            }
            /* El ruc de las empresas del sector publico terminan con 0001*/
            if ( numero.substr(9,4) != '0001' ){
                alert('El ruc de la empresa del sector público debe terminar con 0001');
                $("#id_cedula").val("");
            }
        }

        else if(pri == true){
            if (digitoVerificador != d10){
                alert('El ruc de la empresa del sector privado es incorrecto.');
                $("#id_cedula").val("");
            }
            if ( numero.substr(10,3) != '001' ){
                alert('El ruc de la empresa del sector privado debe terminar con 001');
                $("#id_cedula").val("");
            }
        }

        else if(nat == true){
            if (digitoVerificador != d10){
                alert('El número de cédula de la persona natural es incorrecto.');
                $("#id_cedula").val("");
            }
            if (numero.length >10 && numero.substr(10,3) != '001' ){
                alert('El ruc de la persona natural debe terminar con 001');
                $("#id_cedula").val("");
            }
        }
        return true;
    };

    validarCedula=function (numerocedula) {

            var cad = numerocedula;
            var total = 0;
            var longitud = cad.length;
            var longcheck = longitud - 1;

            if (cad !== "" && longitud === 10){
              for(i = 0; i < longcheck; i++){
                if (i%2 === 0) {
                  var aux = cad.charAt(i) * 2;
                  if (aux > 9) aux -= 9;
                  total += aux;
                } else {
                  total += parseInt(cad.charAt(i)); // parseInt o concatenará en lugar de sumar
                }
              }

              total = total % 10 ? 10 - total % 10 : 0;
              if (cad.charAt(longitud-1) == total) {
                return 0;
              }else{
                return 1;
              }
            }


    }

    $("#id_cedula").blur(function(){
        if ($(this).val() != ''){
{#            chequeaCedula();#}
             if(validarCedula($("#id_cedula").val())!=0) {
                  alert('Número de Cédula Incorrecta');
                  $("#id_cedula").val("");
                  $("#id_cedula").focus();
             }


        }
        $.post("/alu_referidos", {action: 'buscar', cedula: $("#id_cedula").val()}, function(data) {
                    if (data.result=='bad') {
    {#                   $($("#id_cedula").get(0).parentNode).find(".help-text").html("<span style='color: green'><i>Estudiante ya existe en el SGA en la carrera " +  data.estudiante + " Será derivado a Orientación Vocacional" + "</i></span>" );#}
                       $($("#id_cedula").get(0).parentNode).find(".help-text").html("<span style='color: red'><i>" +data.mensaje + "</i>" );
                        $("#id_cedula").val("");
                        $("#id_cedula").focus();
                    }else{
                    $($("#id_cedula").get(0).parentNode).find(".help-text").html("" );
                    }

        }, "json");
        $("#formbutton").click(function(){

            if ($("#id_pasaporte").is(':checked')) {
                $("#id_pasaporte").attr("disabled", false);
            }else{
               $("#id_cedula").attr("disabled", false);
            }
            if (($("#id_itb").prop('checked')==false)&&($("#id_online").prop('checked')==false)&&($("#id_conduccion").prop('checked')==false)) {
                smoke.alert('Seleccione a que modalidad va su referido');
            }
        });
    });



{% endblock %}
{% block titulo %}
    {% if info %}
        <span class="label label-important bigger">{{ info }}</span><h3>Ingrese Nuevamente los Datos</h3>{% endif %}
    {% if not error %}Adicionar Nuevo Referido {% else %}<span class="label label-important bigger">ERROR: LA INSCRIPCION YA EXISTE EN EL SISTEMA</span><h3>Ingrese Nuevamente los Datos</h3>{% endif %}
{% endblock %}
{% block formaction %}/alu_referidos{% endblock %}
{% block formextra %}
{#    <button type="{% block buttontype %}submit{% endblock %}" class="btn btn-success" id="formbutton">Guardar Inscripci&oacute;n</button>#}
    <input type='hidden' name='action' value='add'/>

    {% if ref %}
        <input type='hidden' name='ref' value='{{ ref.id }}'/>
    {% endif %}
    {% if inscripcion %}
        <input type='hidden' name='id' value='{{ inscripcion.id }}'/>
    {% else %}
        <input type='hidden' name='id' value='{{ administrativo.id }}'/>
        <input type='hidden' name='administrativo' value='1'/>
    {% endif %}
 <div class="row-fluid">
    <div style="color: red; font-size: 12px; font-weight: bolder"> Los campos con * son OBLIGATORIOS</div>
</div>
{% endblock %}
{% block formback %}/alu_referidos{% endblock %}
{% block buttonname %}Guardar Inscripci&oacute;n{% endblock %}
{% block extrabuttons %}
{% endblock %}