<div class="row-fluid">
<div class="span12">
    <table class="table table-condensed table-stripped">
        <p> {{ especie.rubro.inscripcion.persona.nombre_completo }}</p>
        <thead>

        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Observaci&oacute;n</th>
            <th>Usuario</th>
            <th>Departameto</th>
        </tr>
        </thead>
    <tbody>
        {% for s in seguimiento %}
            <tr>
                <td> {{ s.fecha|date:'Y-m-d' }}</td>
                <td> {{ s.hora }}</td>
                <td> {{ s.observacion }}</td>
                <td> {{ s.usuario }}</td>
                <td> {{ s.departamento }}</td>

            </tr>
        {% endfor %}
        {% for s in segprofe %}
            <tr>
                <td> {{ s.fecharespuesta|date:'Y-m-d' }}</td>
                <td> {{s.fecharespuesta|time }}</td>
                <td> {{ s.respuesta }}</td>
                <td> {{ s.profesor.usuario }}</td>
                <td> DOCENTE </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>


