{% extends "basebs.html" %}
{% block heading %}

    <script>
    $("#materia").addClass("input-xxlarge");
    $(function() {
        $("#cambioregistro").click(function() {
            var id_materia = $("#materia").val();
            var id_especie = {{ especie.id }};

            if (id_materia != ''){
                $.post("/controlespecies", {"action":'modificarregistro', "id_materia":id_materia, "especie":id_especie}, function(data) {
                    if (data.result=='ok') {
                        alert("Se realizo el cambio correctamente ");
                          location.href = '/controlespecies';
                        }
                    else{
                        smoke.alert('Error al realizar el cambio');
                        }
                }, "json");}
        });

        $("#salircambioregistro").click(function() {
            $("#materia").val();
            location.href = '/controlespecies';
            return false;
        });

    });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            {% if error %} {{ error }} {% endif %}
            <h3>Cambio de Registro de Materia: {{ inscripcion }} </h3>
            <h3>Materia Registrada: {{ especie.materia.materia.asignatura.nombre }} </h3>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='row-fluid'>
            <div class='span5'>
                <div id="panelmaterias" >
                    <form id="formulario" class='well form-horizontal' action="" method="POST">
                        <div class="modal-body panelbody">
                                <fieldset class="control-group nomargins">
                                    <label class="control-label" for="id_{{ field.name }}">Materia</label>
                                    <div class="controls">
                                        <select  id='materia'  name='materia'>
                                            <option value=''>-----</option>
                                            {% for m in materias %}
                                                <option value="{{ m.id }}" >{{ m.materia.asignatura }} - {{ m.matricula.nivel.nivelmalla }} - {{ m.materia.profesores }}  </option>
                                            {% endfor %}
                                        </select></br>
                                        <p class="help-text">{{ field.help_text }} </p>
                                    </div>
                                </fieldset>
                        </div>
                            <a href="#" id="cambioregistro" class="btn btn-success"><i class=""></i> Guardar</a>
                            <a href="#" id="salircambioregistro" class="btn btn-info "><i class=""></i>Salir</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block moreblock %}

    <div class="modal fade static" id="modificaespecie_panel"   >
        <div class="modal-header">
            <h4  id='paneltitle1'><i> Modifica Registro Especie</i></h4>
        </div>
        <div class="modal-body" style="text-align: left">
            <form id="formulario6"  action="" method="POST">
               {% for field in formodificareg %}
                   <fieldset class="control-group nomargins">
                        <label class="control-label" for="id_{{ field.name }}">Materia</label>
                        <div class="controls">
                            <select  id='materia'  name='materia' class=" input-large bigger" {% if  not especie.tipo_atrasado  %} disabled {% endif %} >
                                <option value=''>-----</option>
                                {% for m in materias %}
                                    <option value="{{ m.id }}" >{{ m.materia.asignatura }} - {{ m.matricula.nivel.grupo }} - {{ m.matricula.nivel.nivelmalla }} - {{ m.materia.profesores }}  </option>
                                {% endfor %}
                            </select></br>
                            <p class="help-text">{{ field.help_text }} </p>
                        </div>
                   </fieldset>
               {% endfor %}
            </form>

        </div>
    </div>

{% endblock %}