{% extends "basebs.html" %}
{% block heading %}
    <link type="text/css" rel="stylesheet" href="/static/css/jquery.flexbox.css"/>
    <script type='text/javascript' src='/static/js/jquery.flexbox.js'></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var elements_docentes = [];
            var elements_estudiantes = [];
            elements_docentes.push(['Docente', 'Prestamo']);
            elements_estudiantes.push(['Alumno', 'Prestamo']);
            {% for l in lista_docente %}
                elements_docentes.push(['{{ l.1 }}',{{ l.0 }}]);
            {% endfor %}
            {% for la in lista_alumno %}
                elements_estudiantes.push(['{{ la.1 }}',{{ la.0 }}]);
            {% endfor %}

            var datadocentes = google.visualization.arrayToDataTable(elements_docentes);
            var dataestudiantes = google.visualization.arrayToDataTable(elements_estudiantes);


            var optionsdocentes = {
                title: ' MEJORES DOCENTES INVESTIGADORES',
                'is3D':true,
                'legend': {position: 'bottom', textStyle: {color: '#002a80', fontSize: 10}},
                'width':450,
                'height':350

            };
            var optionsestudiantes = {
                title: ' MEJORES ALUMNOS INVESTIGADORES',
                'is3D':true,
                'legend': {position: 'bottom', textStyle: {color: '#002a80', fontSize: 10}},
                'width':450,
                'height':350
            };

            var chartdocentes = new google.visualization.PieChart(document.getElementById('piechart_docentes'));
            var chartestudiantes = new google.visualization.PieChart(document.getElementById('piechart_estudiantes'));
            chartdocentes.draw(datadocentes, optionsdocentes);
            chartestudiantes.draw(dataestudiantes, optionsestudiantes);

        }


    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3 style="text-align: center;">Estad&iacute;stica de Prestamos en Biblioteca {{ fecha|date:'d-m-Y' }}</h3>
        </div>
        <div class='atright'>
            <a href="/prestamos" class='btn'><i class="icon-arrow-left"></i> Atr&aacute;s</a>
        </div>
    </div>
    <br/>

    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                <thead>
                <tr></tr>
                </thead>
                <tbody>
                    <div class="span6" id="piechart_docentes"></div>
                    <div class="span6" id="piechart_estudiantes"></div>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
