<table width='100%'>
    {% for fecha in fechas %}
    <tr>
        <td>
            {% if fecha.1 %}
                <a href="/pro_clases?action=view&id={{ fecha.2 }}&ret=/cons_horarios">{{ fecha.0|date:'d F Y' }}</a>
            {% else %}
                {{ fecha.0|date:'d F Y' }}
            {% endif %}

        </td>
        <td>
            {% if fecha.1 %}
                <img src='/static/images/16/true.png'>
            {% else %}
                <img src='/static/images/16/false.png'>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2">
            <b>{{ real }}/{{ plan }} ({{ pct|floatformat:1 }}%)
            {{ horas }} Horas</b>
        </td>
    </tr>
</table>