
<div class="row-fluid">
<div class="span12 ">
    <table class="table table-condensed ">
        <thead>

        </thead>
    <tbody>
        {% for c in clasificaciones %}
            <tr>
                <td > {{ c.clasificacion }}</td>
{#                {% if p.panel.puede_eliminarse %}#}
                    <td></td>
{#                {% endif %}#}
                <td>
                    <div class="btn-group">
                        <a  class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                            Acciones
                        </a>
                        <ul class="dropdown-menu pull-right">
                             {% if perms.sga.change_convenio  %}
                                <li><a   href="/convenios?action=eliminaclasificacionconvenio&id={{ c.id}}" > <i class='icon-edit'></i> Eliminar </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        {% if not clasificaciones %}
            <tr>
                <td > NO EXISTE CLASIFICACION

                </td>
            </tr>
        {% endif %}

    </tbody>
</table>
</div>
</div>
{##}
