{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span10'>
            <h3>Detalle de Aprobaci&oacute;n Vinculaci&oacute;n </h3>
            <br>
             <h4>Actividad:{{ vinculacion.nombre }}</h4>
             <h4>Participantes Actividad: {{ cantidad_estud }}</h4>
             <h4>Estudiantes Aprobados: {{ cantidad_aprobados }}</h4>
             <h4>Estudiantes No Aprobados: {{ cantnoaprobados }}</h4>
             <br>
             <br>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' style="width:50%">
                <thead>
                <tr>
                    <th>Revision Estudiante</th>
                    <th>Revision Proyecto</th>
                    <th>Revision Docente</th>
                </tr>
                </thead>
                <tbody>

{#                        {% for a in aprobacion %}#}
                            <tr>
                                <td>
                                        <img src='/static/images/16/true.png' width="14px" alt='' border="0"/>

                                </td>
                                <td>
                                        <img src='/static/images/16/true.png' width="14px" alt='' border="0"/>

                                </td>
                                <td>
                                        <img src='/static/images/16/true.png' width="14px" alt='' border="0"/>

                                </td>
                            </tr>



                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div class='span6'>
                <table class='table table-bordered table-striped'>
                    <caption><h4 style="background-color: lightblue;text-align: center">Estudiantes Aprobados</h4></caption>
                    <thead>
                        <tr>
                            <th style="background-color: #49afcd;text-align: center"><h3>Estudiantes</h3></th>
                            <th style="background-color: #49afcd;text-align: center"><h3>Carrera</h3></th>
                            <th style="background-color: #49afcd;text-align: center"><h3>Grupo</h3></th>
                            <th style="background-color: #49afcd;text-align: center"><h3>Fecha</h3></th>
                            <th style="background-color: #49afcd;text-align: center"><h3>Usuario</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in aprobados %}
                                <tr>
                                    <td style="background-color: #c1eee1;text-align: center">{{ p.inscripcion.persona.nombre_completo_inverso }} </td>
                                    <td style="background-color: #c1eee1;text-align: center">{{ p.inscripcion.carrera.nombre }} </td>
                                    <td style="background-color: #c1eee1;text-align: center">{{ p.inscripcion.grupo.nombre }} </td>
                                    <td style="background-color: #c1eee1;text-align: center">{{ p.fecha }}</td>
                                    <td style="background-color: #c1eee1;text-align: center"> {{ p.usuario.username }} </td >
                                </tr >
                        {% endfor %}
                        {% if not participantes %}
                            <tr>
                                <td colspan="4">
                                    NO HAY APROBADOS
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        <div class='span6'>
            <table class='table table-bordered table-striped'>
                <caption><h4 style="background-color: lightblue;text-align: center">Estudiantes No Finalizada Vinculaci&oacute;n</h4></caption>
                <thead>
                    <tr>
                        <th style="background-color: #49afcd;text-align: center"><h3>Estudiantes</h3></th>
                        <th style="background-color: #49afcd;text-align: center"><h3>Carrera</h3></th>
                        <th style="background-color: #49afcd;text-align: center"><h3>Grupo</h3></th>
                        <th style="background-color: #49afcd;text-align: center"><h3>Horas</h3></th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in noaprobados %}
                        <tr>
                            <td style="background-color: #c1eee1;text-align: center">{{ n.inscripcion.persona.nombre_completo_inverso }} </td>
                            <td style="background-color: #c1eee1;text-align: center">{{ n.inscripcion.carrera.nombre }} </td>
                            <td style="background-color: #c1eee1;text-align: center">{{ n.inscripcion.grupo.nombre }} </td>
                            <td style="background-color: #c1eee1;text-align: center"> {{ n.horas }} </td >
                        </tr >
                    {% endfor %}
                    {% if not noaprobados %}
                        <tr>
                            <td colspan="4">
                                NO HAY SIN APROBACION
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
