<td>
    {% if asignadomateria.porciento_asistencia < 60 %} <span style="color: #dc143c;"><b>{{ asignadomateria.porciento_asistencia }}%</b></span>{% endif %}
    {% if asignadomateria.porciento_asistencia >= 60 and asignadomateria.porciento_asistencia < 69 %} <span style="color: #daa520;"><b>{{ asignadomateria.porciento_asistencia }}%</b></span>{% endif %}
    {% if  asignadomateria.porciento_asistencia >= 70 %} <span style="color:#006400;"><b>{{ asignadomateria.porciento_asistencia }}%</b></span>{% endif %}
</td>
<td>{{ asignadomateria.promedio_evaluacion_clase }} ({{ asignadomateria.cantidad_evaluaciones_clase }})</td>

<td>
    {% if asignadomateria.evaluacion.estado_id == 1 %}<span style="color: #006400;"><b>{{ asignadomateria.evaluacion.estado }}</b></span>{% endif %}
    {% if asignadomateria.evaluacion.estado_id == 2 %}
        <span style="color: #dc143c;"><b>{{ asignadomateria.evaluacion.estado }} </b></span>
        {% if asignadomateria.evaluacion.su > 0 or asignadomateria.notafinal < 5.5 %}<span style="color: #dc143c;"><b> (NF)</b></span>{% endif %}
        {% if asignadomateria.porciento_asistencia < 60 %}<span style="color: #dc143c;"><b> (AS)</b></span>{% endif %}
    {% endif %}
    {% if asignadomateria.evaluacion.estado_id == 3 %}
        <span>{{ asignadomateria.evaluacion.estado }}</span>
    {% endif %}
    {% if asignadomateria.evaluacion.estado_id == 4 %}
        <span style="color: #daa520;"><b>{{ asignadomateria.evaluacion.estado }} </b></span>
        {% if asignadomateria.notafinal >= 5.5 and asignadomateria.notafinal < 7 %}<span style="color: #dc143c;"><b> (NF)</b></span>{% endif %}
        {% if asignadomateria.porciento_asistencia >= 60 and asignadomateria.porciento_asistencia < 69%}<span style="color: #dc143c;"><b> (AS)</b></span>{% endif %}
        {% if asignadomateria.materia.rectora %}
            {% if asignadomateria.evaluacion.pi < 7 %}<span style="color: #dc143c;"><b> (PI)</b></span>{% endif %}
        {% endif %}
    {% endif %}

</td>