<!-- N1 -->
<td>
    {% if not asignadomateria.cerrado %}
        <a href="/adm_docentes?action=editnota&id={{ asignadomateria.id }}&n=1&p={{ profesor.id }}" title='P1-({{ asignadomateria.evaluacion.n1.p1|floatformat:"2" }}) P2-({{ asignadomateria.evaluacion.n1.p2|floatformat:"2" }}) P3-({{ asignadomateria.evaluacion.n1.p3|floatformat:"2" }}) P4-({{ asignadomateria.evaluacion.n1.p4|floatformat:"2" }}) P5-({{ asignadomateria.evaluacion.n1.p5|floatformat:"2" }})'>
            <span>{{ asignadomateria.evaluacion.n1.nota|floatformat:"2" }} </span></a>
    {% else %}
        {{ asignadomateria.evaluacion.n1.nota|floatformat:"2" }}
    {% endif %}
</td>

<!-- N2 -->
<td>
    {% if not asignadomateria.cerrado %}
        <a href="/adm_docentes?action=editnota&id={{ asignadomateria.id }}&n=2&p={{ profesor.id }}" title='P1-({{ asignadomateria.evaluacion.n2.p1|floatformat:"2" }}) P2-({{ asignadomateria.evaluacion.n2.p2|floatformat:"2" }}) P3-({{ asignadomateria.evaluacion.n2.p3|floatformat:"2" }}) P4-({{ asignadomateria.evaluacion.n2.p4|floatformat:"2" }}) P5-({{ asignadomateria.evaluacion.n2.p5|floatformat:"2" }})'>
            <span>{{ asignadomateria.evaluacion.n2.nota|floatformat:"2" }} </span></a>
    {% else %}
        {{ asignadomateria.evaluacion.n2.nota|floatformat:"2" }}
    {% endif %}
</td>
<!-- PI -->
{% if asignadomateria.materia.rectora %}
        <td>
            {% if not asignadomateria.cerrado %}
                <a href="/adm_docentes?action=otrasnotas&id={{ asignadomateria.id }}&n=3&p={{ profesor.id }}" title='Proyecto Integrador'>
                <span>{{ asignadomateria.evaluacion.pi|floatformat:"2" }} </span></a>
            {% else %}
                {{ asignadomateria.evaluacion.pi|floatformat:"2" }}
            {% endif %}
        </td>
{% else %}
    <td><span>{{ asignadomateria.evaluacion.pi|floatformat:"2" }} </span></td>
{% endif %}

<!-- N3 -->
<td> {{ asignadomateria.evaluacion.calcula_n3|floatformat:"2" }} </td>

<!-- SU -->
<td>
    {% if not asignadomateria.cerrado %}
        <a href="/adm_docentes?action=otrasnotas&id={{ asignadomateria.id }}&n=4&p={{ profesor.id }}" title='Supletorio'>
            <span>{{ asignadomateria.evaluacion.su|floatformat:"2" }} </span></a>
    {% else %}
        {{ asignadomateria.evaluacion.su|floatformat:"2" }}
    {% endif %}
</td>

<td>{{ asignadomateria.evaluacion.suma_n|floatformat:"2" }}</td>

<td>
    {% if asignadomateria.evaluacion.margen_aprobado > 0 %}+{% endif %}
    {{ asignadomateria.evaluacion.margen_aprobado|floatformat:"2" }}
</td>

<td>{{ asignadomateria.evaluacion.nota_final|floatformat }}</td>