{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">
        $(function() {
             $(".agregar").click(function() {
                var pro = $(this).attr("pro");
{#                $(".btn-resetear").attr("pro",pro);#}
                $("#agregarpago").modal("show");
            });

             $(".btn-no").click(function() {
                $("#agregarpago").modal("hide");
{#                location.href = '/docentes?action=resetear&id='+pro;#}
            });

             $(".btn-si").click(function() {
                var p = $(this).attr("p");
                $("#agregarpago").modal("hide");
                location.href = '/inscripcioncurso?action=agregarpago&id='+p+'&i='+{{ inscripcion }};
            });

        });
    </script>
{% endblock %}
{% block canvas %}

    <div class='row-fluid'>
        <div class='span10'>
            <h3> CRONOGRAMA DE PAGOS </h3>
            <h4>{{ inscripcion }}</h4>
{#            <h4>{{ grupocurso }} - # PAGOS : {{ grupocurso.numeropagos }}</h4>#}

            <br>
        </div>
        <div class='span2'>
                <a href="/inscripcionescurso" class='btn'><i class="icon-arrow-left"></i> Inscritos en Curso  </a>
        </div>
        </div>
    <div class='row-fluid'>
        <div class='span12'>

            <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th>Rubro</th>
                    <th>Valor</th>


                </tr>
                </thead>
                <tbody>
                {% for pago in detallepago %}
                    <tr>
                        <td>{{ pago.grupocurso.nombre}} - {{ pago.pagocurso.nombre}}</td>
                        <td>{{ pago.pagocurso.valor}}</td>
                    </tr>
                {% endfor %}
                {% if not detallepago %}
                    <tr>
                        <td colspan="4">
                            NO EXISTEN REGISTROS
                        </td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
        </div>
    </div>
    <div class="modal fade static" id="agregarpago" style="display: none;">
        <div class="modal-header">
            <h3 id="paneltitle1"> Alerta</h3>
        </div>
        <div class="modal-body">
            <p> ¿Desea Agregar el Rubro y la Materia?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-small btn-danger btn-si"> Si</a>
            <a href="#" class="btn btn-small btn-success  btn-no">No</a>
        </div>
    </div>
{% endblock %}

