{% extends "deletebs.html" %}
{% block titulo %}Borrar Observaci&oacute;n del PreInscrito: {{ observacion.preinscripcion }}{% endblock %}
{% block formback %}/seguimiento?action=inscritos&addseguimiento&id={{ observacion.preinscripcion.id }}{% endblock %}
{% block formaction %}/seguimiento{% endblock %}
{% block formactionvalue %}delseguimientopreins{% endblock %}
{% block formobjectid %}{{ observacion.id }}{% endblock %}
{% block formobjectname %}la Observaci&oacute;n de {% endblock %}
{% block formobjectrepr %}{{ observacion.preinscripcion }}
{% endblock %}

