{% extends "formbs.html" %}
{% block javascript %}
    $("#id_inicio, #id_fin, #id_fechatopematricula").datepicker({format:"dd-mm-yyyy"});
    $("#id_sede,#id_sesion,#id_inicio,#id_fin,#id_fechatopematricula").addClass("validate[required]");
{% endblock %}
{% block titulo %}
    Adicionar Nivel Acad&eacute;mico<br/>
    {{ coordinacion }}
{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addlibre'/>
    <input type="hidden" name="coordinacion" value="{{ coordinacion.id }}"/>
    <input type="hidden" name="periodo" value="{{ periodo.id }}"/>
{% endblock %}
{% block formback %}/niveles{% endblock %}