{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>

            <h3>Notas del Alumno: {{ solicitudest.inscripcion.persona }}</h3>
            <h5>Coordinador: {{ solicitudest.coordinador}}<br/>
            Carrera: {{ solicitudest.asignatura.malla.carrera }}<br/>
            Materia: {{ solicitudest.asignatura.asignatura.nombre }}
            </h5>
        </div>
        <div class='span1'>
            <a href="#" class='btn linkback'><i class="icon-arrow-left"></i> Atras</a>
        </div>
    </div>
    <br>
    <div class='row-fluid'>
        <div class='span5'>
        <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Nota 4</th>
                <th>Examen</th>
                <th>Nota Final</th>

            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ solicitudest.nota1|floatformat:0 }}</td>
                    <td>{{ solicitudest.nota2|floatformat:0 }}</td>
                    <td>{{ solicitudest.nota3|floatformat:0 }}</td>
                    <td>{{ solicitudest.nota4|floatformat:0 }}</td>
                    <td>{{ solicitudest.examen|floatformat:0 }}</td>
                    <td>{{ solicitudest.notafinal|floatformat:0 }}</td>
                </tr>

            </tbody>
        </table>
        </div>
    </div>
{% endblock %}