{% extends "formbs.html" %}
{% block javascript %}
    //$("#id_inicio").date_input();
    $("#id_dia, #id_vehiculo, #id_profesor, #id_practica, #id_turnopractica").addClass("validate[required]");
    $(" #id_vehiculo").addClass("input-large");

    $("#id_asignatura").change(function() {
        $.get("/asignaturas", {'action': 'info', 'aid': $(this).val()}, function(data) {
            if (data.result=='ok') {
                $("#id_identificacion").val(data.codigo);
                $("#id_creditos").val(data.creditos);
                $("#id_horas").val(data.horas);
            }
        }, "json");
    });

{% endblock %}
{% block titulo %}Adicionar Practica {% endblock %}
{% block formaction %}/practicasconduc{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addclase'/>
    <input type='hidden' name='nivel' value='{{ nivel.id}}'/>
    <input type='hidden' name='dia' value='{{ dia }}'/>
    <input type='hidden' name='practica' value='{{ practica.id }}'/>
    <input type='hidden' name='turnopractica' value='{{ turnopractica.id }}'/>
{% endblock %}
{% block formback %}/practicasconduc?action=horario&id={{ nivel.id }}{% endblock %}
{% block buttonname %}Adicionar Clase{% endblock %}
