{% extends "formbs.html" %}
{% block javascript %}
    $("#id_dia, #id_vehiculo, #id_profesor, #id_practica, #id_turnopractica").addClass("validate[required]");
{#    $("#id_vehiculo").attr("style", "visibility: hidden");#}
    $($("#id_vehiculo").get(0).parentNode.parentNode).hide();

   
{% endblock %}
{% block titulo %}Editar Practica en el Horario del Grupo: {{ nivel.sesionpractica.nombre }}{% endblock %}
{% block formaction %}/practicasconduc{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editclase'/>
    <input type='hidden' name='edit' value='prof'/>
    <input type='hidden' name='id' value='{{ clase.id }}'/>

{% endblock %}
{#{% block heading %}#}
{#   <label class="control-label" for="id_profesor" style="visibility: hidden;">Profesor</label>#}
{#{% endblock %}#}
{% block formback %}
    /practicasconduc?action=horario&id={{ clase.materia.nivel.id }}{% endblock %}
{% block buttonname %}Guardar Clase{% endblock %}