{% extends "formbs.html" %}
{% block javascript %}
    $("#id_fechavence").datepicker({format:"dd-mm-yyyy"});
    $("#id_fechavence").addClass("validate[required]");
{% endblock %}
{% block titulo %}
     Editar Cheque Protestado de {{ inscripcion.persona}}<br/>
    {{ rubro.nombre }}
{% endblock %}
{% block formaction %}/finanzas{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='chequepro'/>
    <input type='hidden' name='id' value='{{ inscripcion.id }}'/>

{% endblock %}
{% block formback %}/finanzas{% endblock %}
{% block buttonname %}Editar{% endblock %}