{% extends "formbs.html" %}
{% block javascript %}
    $("#id_fechavence").datepicker({format:"dd-mm-yyyy"});
    $("#id_fechavence, #id_motivo,#id_autoriza").addClass("validate[required]");
{% endblock %}
{% block titulo %}
     Eliminar de Rubro del Estudiante: {{ rubro.inscripcion }}<br/>
    {{ rubro.nombre }}
{% endblock %}
{% block formaction %}/finanzas{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='delrubro'/>
    <input type='hidden' name='id' value='{{ rubro.id }}'/>
{% endblock %}
{% block formback %}/finanzas?action=rubros&id={{ rubro.inscripcion.id }}{% endblock %}
{% block buttonname %}Guardar Cambios{% endblock %}