<thead>
<tr>
    <th>Concepto</th>
    <th>Valor</th>
    <th>Fecha</th>
    <th> </th>
</tr>
</thead>
<tbody>
{% for tipootro in tiposotros %}
    <tr>
        <td>
            {{ tipootro.nombre }}<br/>
            <textarea rows="1" style="width: 90%; text-transform: uppercase;" id='ta{{ tipootro.id }}' rubid='{{ tipootro.id }}' class="otror"></textarea>
            <div id="alerta" style="color: red">

            </div>
        </td>
        <td nowrap="true">$<input type='text' id='vr{{ tipootro.id }}' class="span1" value='{{ tipootro.precio_sugerido  }}' {% if not tipootro.preciolibre %}disabled="disabled" {% endif %}/></td>
        <td><input class="fechainput input-small" id='fe{{ tipootro.id }}' type="text" value='{{ hoy|date:'d-m-Y' }}'/></td>
        <td><a href='#' class="btn btn-info btn-cobrar" tid='{{ tipootro.id }}'>Cobrar</a></td>
    </tr>
{% endfor %}
</tbody>