{% extends "basebs.html" %}
{% block heading %}

<script src="/static/js/notificacionpanel.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/datepicker.css"/>
<script type='text/javascript' src='/static/js/bootstrap-datepicker.js'></script>

<script type="text/javascript">



    $(function() {

    });   {# Fin de Function#}

</script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class="span3"></di>
        </div>
        <div class='span6'>
            <h2 style="text-align: center">Incidencia Estudiantil</h2>
            <hr/>
        </div>
        <div class='span1'>
            <a href="/" class='btn'><i class="icon-arrow-left"></i> Atr&aacute;s</a>
        </div>
    </div>

    <br/>
    <div class="row-fluid">
        <div class="span3"></di>
        </div>
        <div class="span6">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr class="alert alert-info">
                        <th colspan="3" style="text-align: center; font-size: 17px;"><b>Men&uacute;</b></th>
                    </tr>
                    <tr class="alert alert-info">
                        <th style="font-size: 16px;text-align: center">Acci&oacute;n</th>
                        <th style="font-size: 16px;">Concepto</th>
                        <th style="font-size: 16px;">Descripci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not persona.pertenece_soporte %}
                        <tr style="height: 50px;">
                            <td style="text-align: center; vertical-align: middle;">
                                <a class="btn btn-info" href="/incidenciaadministrativa?action=add"><i class="icon-edit icon-white"></i></a>
                            </td>
                            <td class="bigger" style="vertical-align: middle;">
                                <b> NUEVA INCIDENCIA </b>
                            </td>
                            <td style="vertical-align: middle;">
                                <i>Ingresar nueva incidencia de alumnos </i>
                            </td>
                        </tr>
                    {% endif %}
                    {% if not perms.sga.change_asistencialeccion %}
                        <tr style="height: 50px;">
                            <td style="text-align: center; vertical-align: middle;">
                                <a class="btn btn-info " href="/incidenciaadministrativa?action=correos"><i class="icon-circle-arrow-right icon-white"></i></a>
                            </td>
                            <td class="bigger" style="vertical-align: middle;" id='conceptomoddesmarcarconciliacion'>
                                <b>CORREOS INFO </b>
                            </td>
                            <td style="vertical-align: middle;">
                               {% if asistente %} <i>Asignaci&oacute;n y Seguimiento Correos</i>   {% else %}<i>Responder Correos</i>{% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr style="height: 50px;">
                        <td style="text-align: center; vertical-align: middle;">
                            <a class="btn btn-info " href='/incidenciaadministrativa?action=incidenciaadminis'><i class="icon-circle-arrow-right icon-white"></i></a>
                        </td>
                        <td class="bigger" style="vertical-align: middle;" >
                            <b>INCIDENCIAS ADMINISTRATIVA </b>
                        </td>
                        <td style="vertical-align: middle;">
                           {% if asistente %}  <i>Asignaci&oacute;n y Seguimiento de Incidencia Administrativas</i>
                               {% else %}<i>Responder Incidencia Administrativas</i>  {% endif %}
                        </td>
                    </tr>
{#                    <tr style="height: 50px;">#}
{#                        <td style="text-align: center; vertical-align: middle;">#}
{#                            <a class="btn btn-info " href='/incidenciaadministrativa?action=solicitudes'><i class="icon-circle-arrow-right icon-white"></i></a>#}
{#                        </td>#}
{#                        <td class="bigger" style="vertical-align: middle;" >#}
{#                            <b>SOLICITUDES DE ALUMNOS </b>#}
{#                        </td>#}
{#                        <td class="bigger" style="vertical-align: middle;" >#}
{#                           {% if asistente %}  <i>Asignaci&oacute;n y Seguimiento de Solicitud de Alumnos</i>#}
{#                               {% else %}<i>Responder Solicitud de Alumnos</i>  {% endif %}#}
{##}
{#                        </td>#}
{#                    </tr>#}

                    {# Modificacion 4 - CAMBIO DE CENTROS DE COSTOS EN TRANSACCIONES #}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}