{% extends "formbs.html" %}
{% block heading %}
    <script>
    $(function() {

        indice = 0;
        $("#id_desde, #id_hasta").datepicker({format:"dd-mm-yyyy"});
        $('#id_nivelmalla').addClass('input-medium');

        datosOK=false;

        $("#generar_valores").modal({width: '800px', backdrop: 'static'});
        $("#generar_valores").modal("show");

        $("#generar_valores .btn-adicionar").click(function() {
            $("#generar_valores").modal("hide");
            $("#espera").modal({ backdrop: 'static'});
            $("#espera").modal("show");

            var nivelmalla = $("#id_nivelmalla").val();
            var desde = $("#id_desde").val();
            var hasta = $("#id_hasta").val();

            $.post("/inscritos_general", {"action":"generarexcel","desde":desde,"hasta":hasta,"nivelmalla":nivelmalla}, function(data) {
                if (data.result=='ok'){
                    $("#espera").modal("hide");
                    setInterval(function(){
                            location.href = '/reporteexcel';
                    }, 2500);
                    location.href=data.url;
                }else{
                    smoke.alert("Error:" + data.result);
                }
            }, "json");
        });

        $("#generar_valores .btn-adicionarpdf").click(function() {
            $("#generar_valores").modal("hide");
            $("#espera").modal({ backdrop: 'static'});
            $("#espera").modal("show");

            var nivelmalla = $("#id_nivelmalla").val();
            var desde = $("#id_desde").val();
            var hasta = $("#id_hasta").val();

            $.post("/inscritos_general", {"action":"generarpdf","desde":desde,"hasta":hasta,"nivelmalla":nivelmalla}, function(data) {
                if (data.result=='ok'){
                    $("#espera").modal("hide");
                    setInterval(function(){
                            location.href = '/reporteexcel';
                    }, 2500);
                      window.open(data.reportfile);
                }else{
                    smoke.alert("Error:" + data.result);
                }
            }, "json");
        });

        $("#generar_valores .btn-cerrar").click(function() {
            $("#generar_valores").modal("hide");
            location.href='/reporteexcel';
            return false;
        });
    });

    </script>
{% endblock %}

{% block canvas %}
{% endblock %}

{% block moreblock %}
    <div class="modal fade static" id="generar_valores" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Inscritos General por Rango de Fechas</h3>
        </div>
        <div class="modal-body panelbody">
            <form id="formulario" class='form-horizontal' action="" method="POST" style="text-align:  left;">
                {% for field in generarform %}
                    <fieldset class="control-group nomargins">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            <p class="help-text">{{ field.help_text }} </p>
                        </div>
                    </fieldset>
                {% endfor %}
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-adicionar btn-success">Generar</a>
{#            <a href="#" class="btn btn-adicionarpdf btn-success">Generar PDF</a>#}
            <a href="#" class="btn btn-cerrar">Salir</a>
        </div>
    </div>
    <div class="modal fade static" id="espera" style="display: none;"  >
    <div class="modal-header" style="background-color: red">
            <h3 class="paneltitle" style="text-align: center">ESPERE UN MOMENTO</h3>
        </div>
    </div>
{% endblock %}
