{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}

{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span2'></div>
        <div class='span7'>
            <h3> Listado de Archivos por Carrera </h3>
        </div>
        <div class="span1" style="text-align: right">
            <a href="/" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
        </div>
    </div><br>
     <div class='row-fluid'>
        <div class='span2'></div>
        <div class='span8' style="text-align: right">
            {% if reporte %}
                <h4><a href="https://sga.itb.edu.ec/{{ reporte }}" class="btn btn-primary"><i class='icon-download-alt icon-white'></i> Descargar Resumen</a> </h4>
            {% endif %}
        </div>
    </div><br>




    <div class='row-fluid'>
        <div class='span2'></div>
        <div class='span8'>
        <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>Carrera</th>
                <th style="text-align: center">Fecha Actualizaci&oacute;n</th>
                <th style="text-align: center">Por Pagar</th>
            </tr>
            </thead>
            <tbody>
            {% for r in reportecarrera %}
                    <tr>
                        <td>{{ r.carrera.nombre }} </td >
                        <td style="text-align: center">{{ r.fechaactualiza|date:'d-m-Y' }} </td >
                        <td style="text-align: center"><a href="{{ r.archivo_pendientes }}" target="_blank"><i class="icon-arrow-down"></i> Descargar</a></td >
                    </tr>
            {% endfor %}
            {% if not reportecarrera %}
                <tr>
                    <td colspan="10">
                        NO HAY ARCHIVOS GENERADOS
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        </div>
    </div>

{% endblock %}
