{% extends "formbs.html" %}
{% block heading %}
    <script>
    $(function() {

        indice = 0;
        $("#id_desde, #id_hasta").datepicker({format:"dd-mm-yyyy"});
        $('#id_usuario').addClass('input-xxlarge');
        $('#id_nivelmalla').addClass('input-medium');
        $($("#id_usuario_id").get(0).parentNode.parentNode).hide();
        $("#id_usuario").attr({"autocomplete":"off"});
        datosOK=false;

        buscar_persona = function(query, process) {
            $.get("/reportes", {'action':'data', 'model': 'Persona',
                'p': 1, 'q': query, 's': 10}, function(data) {
                if (data.results) {
                    $("#id_usuario").get(0).results = data.results;
                    listing = [];
                    for (var i in data.results) {
                        var dato = data.results[i];
                        listing.push(dato.name);
                    }
                    process(listing);
                }
            }, 'json');
         };
         $('#id_usuario').typeahead({source: buscar_persona, updater: function(item) {
            var results = $("#id_usuario").get(0).results;
                $($("#id_usuario").get(0).parentNode).find(".help-text").html("");
                for (var i in results) {
                    var datos = results[i];
                    if (item==datos.name) {
                        $("#id_usuario").attr("myval",datos.id);
                        d=datos.id;
                        $("#id_usuario_id").val(d);
                    }
                }
                return item;
         }});

        $("#generar").modal({width: '800px', backdrop: 'static'});
        $("#generar").modal("show");

        $("#generar .btn-adicionar").click(function() {
            $("#generar").modal("hide");
            $("#espera").modal({ backdrop: 'static'});
            $("#espera").modal("show");

            var persona = $("#id_usuario_id").val();
            var nivelmalla = $("#id_nivelmalla").val();
            var desde = $("#id_desde").val();
            var hasta = $("#id_hasta").val();

            $.post("/valores_inscritos_por_usuario", {"action":"generarexcel","persona":persona,"desde":desde,"hasta":hasta,"nivelmalla":nivelmalla}, function(data) {
                if (data.result=='ok'){
                    $("#espera").modal("hide");
                    setInterval(function(){
                            location.href = '/reporteexcel';
                    }, 2500);
                    location.href=data.url;
                }else{
                    smoke.alert("Error:" + data.result);
                }
            }, "json");
        });

        $("#generar .btn-cerrar").click(function() {
            $("#generar").modal("hide");
            location.href='/reporteexcel';
            return false;
        });
    });

    </script>
{% endblock %}

{% block canvas %}
{% endblock %}

{% block moreblock %}
    <div class="modal fade static" id="generar" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Valores Inscritos por Usuario</h3>
        </div>
        <div class="modal-body panelbody">
            <form id="formulario" class='form-horizontal' action="" method="POST" style="text-align:  left;">
                {% for field in generarform %}
                    <fieldset class="control-group nomargins">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            <p class="help-text">{{ field.help_text }} </p>
                        </div>
                    </fieldset>
                {% endfor %}
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-adicionar btn-success">Generar</a>
            <a href="#" class="btn btn-cerrar">Salir</a>
        </div>
    </div>
    <div class="modal fade static" id="espera" style="display: none;"  >
    <div class="modal-header" style="background-color: red">
            <h3 class="paneltitle" style="text-align: center">ESPERE UN MOMENTO</h3>
        </div>
    </div>
{% endblock %}

