{% extends "formbs.html" %}
{% block heading %}
    <script>
    $(function() {

        indice = 0;
        datosOK=false;
        $("#id_sede").attr({"autocomplete":"off"});
        $("#id_carrera").attr({"autocomplete":"off"});
        $("#id_desde, #id_hasta").datepicker({format:"dd-mm-yyyy"}).mask("99-99-9999");
        $("#id_sede").addClass("input-medium");
        $("#id_sede").addClass("input-large");

        buscar_sede = function(query, process) {
            $.get("/reportes", {'action':'data', 'model': 'Sede',
                'p': 1, 'q': query, 's': 10}, function(data) {
                if (data.results) {
                    $("#id_sede").get(0).results = data.results;
                    listing = [];
                    for (var i in data.results) {
                        var dato = data.results[i];
                        listing.push(dato.name);
                    }
                    process(listing);
                }
            }, 'json');
        };
        $('#id_sede').typeahead({source: buscar_sede, updater: function(item) {
                var results = $("#id_sede").get(0).results;
                for (var i in results) {
                    var datos = results[i];
                    if (item==datos.name) {
                        $("#id_sede").attr("myval",datos.id);
                    }
                }
                return item;
        }});

        buscar_carrera = function(query, process) {
            $.get("/reportes", {'action':'data', 'model': 'Carrera',
                'p': 1, 'q': query, 's': 10}, function(data) {
                if (data.results) {
                    $("#id_carrera").get(0).results = data.results;
                    listing = [];
                    for (var i in data.results) {
                        var dato = data.results[i];
                        listing.push(dato.name);
                    }
                    process(listing);
                }
            }, 'json');
        };
        $('#id_carrera').typeahead({source: buscar_carrera, updater: function(item) {
                var results = $("#id_carrera").get(0).results;
                for (var i in results) {
                    var datos = results[i];
                    if (item==datos.name) {
                        $("#id_carrera").attr("myval",datos.id);
                    }
                }
                return item;
        }});


        $("#generar").modal({width: '600px', backdrop: 'static'});
         $("#generar #id_desde").val("");
         $("#generar #id_hasta").val("");

         $("#generar #id_sede").val("");
         $("#generar #id_carrera").val("");
         $("#id_carrera").val("");
         $("#generar").modal("show");

        $("#generar .btn-adicionar").click(function() {
            $("#generar").modal("hide");
            $("#espera").modal({ backdrop: 'static'});
            $("#espera").modal("show");

            var sede = $("#id_sede").attr("myval");
            var carrera = $("#id_carrera").attr("myval");
            var inicio = $("#id_desde").val();
            var fin = $("#id_hasta").val();

            $.post("/visitasbiblioteca", {"action":"generarexcel","sede":sede,"carrera":carrera,"desde":inicio,"hasta":fin}, function(data) {
                if (data.result=='ok'){
                    $("#espera").modal("hide");
                    setInterval(function(){
                            location.href = '/reporteexcel';
                    }, 250);
                    location.href=data.url;
                }else{
                    $("#espera").modal("hide");
                    smoke.alert("Error:" + data.result);
                }
            }, "json").fail(function() {
        	    $("#espera").modal("hide");
                smoke.alert('Error de conexi&oacute;n');
                location.reload();
            });

        });

        $("#generar .btn-cerrar").click(function() {
            $("#generar").modal("hide");
            location.href='/reporteexcel';
            return false;
        });
    });

    </script>
{% endblock %}

{% block canvas %}
{% endblock %}

{% block moreblock %}
    <div class="modal fade static" id="generar" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Visitas a Biblioteca por Carrera</h3>
        </div>
        <div class="modal-body panelbody">
            <form id="form" class='form-horizontal' action="" method="POST">

                {% for field in formbiblio %}
                    <fieldset class="control-group nomargins">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            <p class="help-text">{{ field.help_text }} </p>
                        </div>
                    </fieldset>
                {% endfor %}
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-adicionar btn-success">Generar</a>
            <a href="#" class="btn btn-cerrar">Salir</a>
        </div>
    </div>
    <div class="modal fade static" id="espera" style="display: none;"  >
        <div class="modal-header" style="background-color: red">
            <h3 class="paneltitle" style="text-align: center">ESPERE UN MOMENTO</h3>
        </div>
    </div>
{% endblock %}

