{% extends "practicasadmin/formvehic.html" %}
{% block extraheading %}
    <style>
        #id_observacion  { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
{#    <script type="text/javascript">#}


                $("#id_descripcion,#id_minutofin,#id_observacion").addClass("validate[required]");
                $($("#id_descripcion").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-success'>DATOS </h4>" );

                $($("#id_estado").get(0).parentNode.parentNode).hide();
                $("#id_minutofin").addClass("input-mini");


{#    </script>#}
{% endblock %}
{% block titulo %}
    {% if not error %}{{ titulo }} {% else %}<span class="label label-important bigger">ERROR: LA INSCRIPCION YA EXISTE EN EL SISTEMA</span><h3>Ingrese Nuevamente los Datos</h3>{% endif %}
{% endblock %}
{% block formaction %}/test_propedeutico{% endblock %}
{% block formextra %}
{#    <button type="{% block buttontype %}submit{% endblock %}" class="btn btn-success" id="formbutton">Guardar Inscripci&oacute;n</button>#}
    <input type='hidden' name='action' value='edit'/>
    <input type='hidden' name='test' value='{{ test.id }}'/>
{% endblock %}
{% block formback %}/test_propedeutico{% endblock %}
{% block buttonname %}Guardar{% endblock %}