{% extends "basebs.html" %}
{% block heading %}
    <script>
        $(function() {
           //$("#desde, #hasta").datepicker({format:"dd-mm-yyyy"});




           $("#rangoactivacion").click(function() {
                if ($(this).is(":checked")) {
                    $("#diasactivacion").removeAttr("disabled");
                } else {
                    $("#diasactivacion").attr("disabled","disabled");
                }
           });
        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid' style="text-align: center">
        <div class='span11'>
            <h3>{{ test.descripcion }}</h3>
            <h3>Instrucciones</h3>
        </div>
        <div class='span1'>
            <a href="/test_propedeutico" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
        </div>
    </div>
    <div class='row-fluid' style="margin-left: 350px;width: 1000px">
        {% if vocac == 0 %}
            <div class='span6' style="width: 750px">
            <div class='well'>
{#                <a href='/test_propedeutico?action=addinstruccion&test={{ test.id }}' class='btn btn-success'><i class="icon-plus icon-white"></i> Nuevo Ejemplo</a>#}
                <table class="table table-bordered table-striped" style="margin-right: 360px">
                    <thead >
                        {% for ins in instruciones %}
                            <tr>
                                <td>{{ ins.ejemplo }}</td>
                                {% if ver == '0' %}
                                    <td>
                                        <div class="btn-group">
                                            <a  class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                                Acciones
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a  href='/test_propedeutico?action=editinstruccion&instruc={{ ins.id }}&edi=1'> <i class='icon-edit'></i> Editar Ejemplo </a></li>
                                            </ul>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>

                                <td style="text-align: center"><img src='media/{{ ins.imagen }}' alt='Si' border='0'/> </td>
                                {% if ver == '0' %}
                                    <td>
                                        <div class="btn-group">
                                        <a  class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                            Acciones
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a  href='/test_propedeutico?action=editinstruccion&instruc={{ ins.id }}&edi=2'> <i class='icon-edit'></i> Editar Imagen </a></li>
                                        </ul>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>{{ ins.explicacion }}</td>
                                {% if ver == '0' %}
                                    <td>
                                        <div class="btn-group">
                                        <a  class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                            Acciones
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a  href='/test_propedeutico?action=editinstruccion&instruc={{ ins.id }}&edi=3'> <i class='icon-edit'></i> Editar Explicacion </a></li>
                                        </ul>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                    </thead>


                </table>
                {% if ver == '0' %}
                    <a href='/test_propedeutico?action=addinstruccion&test={{ test.id }}' class='btn btn-success'><i class="icon-plus icon-white"></i> Nueva Instruccion</a>
                {% else %}
                    <a href='/test_propedeutico?action=ejercicio&test={{ test.id }}&ver=1' class='btn btn-success'><i class="icon-plus icon-white"></i> Ver Ejercicios</a>
                {% endif %}
            </div>
        </div>
        {% else %}
             <div class='span8' style="margin-left:-50px;width: 800px">
            <div class='well'>
{#                <a href='/test_propedeutico?action=addinstruccion&test={{ test.id }}' class='btn btn-success'><i class="icon-plus icon-white"></i> Nuevo Ejemplo</a>#}
                <table class="table table-bordered table-striped" style="margin-right: 360px">
                    <thead >
                                <th></th>
                                <th>Descripcion</th>
                                <th>Tipo</th>
                                <th>Area</th>
                                <th></th>
                    </thead>
                    <tbody>
                        {% for ins in instruciones %}
                            <tr>
                                <td>{{ ins.orden }}.-</td>
                                <td>{{ ins.pregunta }}</td>
                                <td>{{ ins.tipo }}</td>
                                <td>{{ ins.areatest }}</td>
                                {% if ver == '0' %}
                                    <td>
                                        <div class="btn-group">
                                            <a  class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                                Acciones
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a  href='/test_propedeutico?action=editpregunta&id={{ ins.id }}&edi=1'> <i class='icon-edit'></i> Editar </a></li>
                                                <li><a  href='/test_propedeutico?action=elimipregunta&id={{ ins.id }}&edi=1'> <i class='icon-edit'></i> Eliminar </a></li>
                                            </ul>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                    </tbody>


                </table>
                {% if ver == '0' %}
                    <a href='/test_propedeutico?action=addvocacional&test={{ test.id }}' class='btn btn-success'><i class="icon-plus icon-white"></i> Nuevo</a>

                {% endif %}
            </div>
        </div>
        {% endif %}

    </div>

{% endblock %}