{% extends "practicasadmin/formvehic.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_motivo").addClass("validate[required]");
{% endblock %}
{% block titulo %} Ingresar Observacion {% endblock %}
{% block formaction %}/test_propedeutico{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='observacion'/>
    <input type='hidden' name='id' value="{{ inscripciontest.id }}"/>
{% endblock %}
{% block formback %}/test_propedeutico{% endblock %}
{% block buttonname %}Guardar{% endblock %}