{% extends "basebs.html" %}
{% block heading %}
    <script>
        $(function() {
           //$("#desde, #hasta").datepicker({format:"dd-mm-yyyy"});
            var idtest=0;
           $("#guardar_fecha").click(function() {
               showWaiting("Guardando configuraci&oacute;n", "espere unos minutos por favor...");
               var activado = $("#activado").is(":checked");
               var rangoactivacion = $("#rangoactivacion").is(":checked");
               var diasactivacion = $("#diasactivacion").val();

               $.get("/test_propedeutico", {action: 'setup', 'activado': ((activado)?"1":"0"), 'rangoactivacion': ((rangoactivacion)?"1":"0"), 'diasactivacion': diasactivacion }, function(data) {
                   hideWaiting();
                   location.href='/test_propedeutico';
               }, "json");

           });

           $("#activado").click(function() {
                var a = $(this).is(":checked");
                if (a) {
                    $("#rangoactivacion").removeAttr("disabled");
                    if ($("#rangoactivacion").is(":checked")) {
                        $("#diasactivacion").removeAttr("disabled");
                    } else {
                        $("#diasactivacion").attr("disabled","disabled");
                    }

                } else {
                    $("#rangoactivacion").attr("disabled","disabled");
                    $("#diasactivacion").attr("disabled","disabled");
                }
           });
           $("#rangoactivacion").click(function() {
                if ($(this).is(":checked")) {
                    $("#diasactivacion").removeAttr("disabled");
                } else {
                    $("#diasactivacion").attr("disabled","disabled");
                }
           });
            $("#cerrar").click(function() {
{#                $("#test").modal({backdrop: 'static', keyboard: 'false', width: "617px", maxHeight: ($(window).height()*3)/4 });#}
                $("#test").modal("hide");
           });
           $(".activares").click(function() {
                var id = $(this).attr("ins")
{#               alert(1);#}
{#               alert({{ test.ejercicio_test }});#}
{#               alert({{ test.pregunta_test }});#}
{#                if ({{ test.instrucion_test }} and {{ test.ejercicio_test }} or {{ test.pregunta_test  }}){#}
                $.post("/test_propedeutico",{"action": "activacion", "id": id },function(data) {
                        if(data.result=='ok'){
                        location.reload();}
                        else{
                            $("#test").modal({backdrop: 'static', keyboard: 'false', width: "617px", maxHeight: ($(window).height()*3)/4 });
                            $("#test").modal("show");
                        }
                },"json");
            });
            $(".estadistica").click(function(){
                idtest = $(this).attr("idtes");
                window.open("/test_propedeutico?action=estadistica&idtes="+idtest);
{#                $("#dato").val('');#}
{#                $($("#dato").get(0).parentNode).find(".help-text").html("");#}
{#                $("#pregunta").modal({backdrop: 'static', keyboard: false, width: "20%", height: "20%"});#}
{#                $("#pregunta").modal("show");#}
            });
        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3>Proceso para evaluacion de TEST </h3>
            <h5>Per&iacute;odo: <b>{{ periodo.nombre }}</b>, Desde: <b>{{ periodo.inicio }}</b> Hasta: <b>{{ periodo.fin }}</b></h5>
        </div>
        <div class='span1'>
            <a href="/" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
        </div>
    </div>
    <div class='row-fluid' >
        <div class='span8'>
            <div class='well'>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Instrumentos de Evaluaci&oacute;n</th>
                            <th style="text-align: center;width: 5%;">Estado</th>
                            <th style="text-align: center;width: 5%;">Personalidad</th>
{#                            <th>Indicadores</th>#}
                            <th style="text-align: center;width: 25%;"> </th>
{#                            <th style="text-align: center;width: 7%;"> </th>#}
                        </tr>
                    </thead>
                    <tbody>

                        {% for test in test %}
                            <tr>
                                <td><a href='/test_propedeutico?action=edit&id={{ test.id }}'>{{ test.descripcion }}</a></td>
                                <td style="text-align: center">
                                    <a href="#" ins='{{ test.id }}' class="activares">
                                    {% if test.estado %}
                                        <img src='/static/images/16/true.png' alt='Si' border='0'/>
                                    {% else %}
                                        <img src='/static/images/16/false.png' alt='No' border='0'/>
                                    {% endif %}
                                    </a>
                                </td>
                                <td>
                                    {% if test.personalidad %}
                                        <img src='/static/images/16/true.png' alt='Si' border='0'/>
                                    {% else %}
                                        <img src='/static/images/16/false.png' alt='No' border='0'/>
                                    {% endif %}
                                </td>
    {#                                <td>{{ proceso.instrumento_alumno.cantidad_indicadores }}</td>#}
                                <td style="text-align: center">
                                    {% if test.estado %}
                                        <a href="/test_propedeutico?action=editar&test={{ test.id }}&ver=1" class="btn btn-mini btn-info"><i class="icon-edit icon-white"></i> Ver Instrumento</a>
                                    {% else %}
                                        <a href="/test_propedeutico?action=editar&test={{ test.id }}&ver=0" class="btn btn-mini btn-primary"><i class="icon-edit icon-white"></i>Instrucciones</a>
                                        {% if test.id != vocacional %}
                                            <a href="/test_propedeutico?action=ejercicio&test={{ test.id }}&ver=0" class="btn btn-mini btn-success"><i class="icon-edit icon-white"></i>Ejercicio</a>
                                        {% endif %}
                                        {% if not test.instrucion_test and not test.ejercicio_test and not test.pregunta_test %}
                                            <a href="/test_propedeutico?action=eliminartest&test={{ test.id }}" class="btn btn-mini btn-danger"><i class="icon-remove icon-white"></i>Eliminar</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
{#                                <td style="text-align: center;width: 7%;">#}
{#                                    <a title="Click Para Ver" href='#' class="estadistica" idtes="{{ test.id }}" > &nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>#}
{#                                </td>#}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
{#                <div class='span2'>#}
                    {% if persona.usuario.is_superuser %}
                        <a href="/test_propedeutico?action=add" class='btn btn-success'><i class="icon-plus icon-white"></i> Ingreso Nuevo Test</a>
                    {% endif %}
                    <a href="/test_propedeutico?action=parametro" class='btn btn-success'><i class=""></i> Parametros de Evaluacion</a>
                    <a href="/test_propedeutico?action=area" class='btn btn-success'><i class=""></i> Areas Profesionales</a>
                    {% if existe == 1 %}
                        <a href="/test_propedeutico?action=alumnostest" class='btn btn-success'><i class=""></i> Lista de Alumnos</a>
                    {% endif %}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span4'>
            <div >
                <h3>Porcientos de cumplimientos en el Proceso de Realizacion de Test a los Alumnos</h3>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Cumplimiento de Evaluaci&oacute;n por Alumnos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ alumnosevaluados }} de aprox. {{ totalalumnos }} evaluaciones</td>
                    </tr>

                    </tbody>

                </table>
                <!-- <a href="/adm_evaluaciondocentes?action=resumen" class="btn btn-success">Resumen de Evaluaciones de Docentes</a> -->
            </div>
        </div>
    </div>

    <div class="modal fade static" id="test" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Informacion</h3>
        </div>
        <div class="modal-body">
            <p class="test"> No puede activar este Test ya que no contiene toda la informacion para realizar la activacion </b>
            </p>
        </div>
        <div class="modal-footer">
{#            <a href="/test_dobe?action=evaluartest&tes={{ test.id }}" class="btn btn-info"><i class=""></i> Realizar test</a>#}
            <a href="#" id='cerrar' class="btn btn-success"><i class=""></i> Cerrar</a>
        </div>
    </div>


    <div class="modal fade static" id="pregunta" style="display: none; width: 25%">
        <div class="modal-header">
            <h3 id="paneltitle1" style="text-align: center"> Ingrese el A&ntilde;o a Consultar</h3>
        </div>
        <div class="modal-body " style="text-align: center">
            <input id='dato' style="width: 40%;border-bottom: 3px;border-radius: 4px;text-align: center"> </input>
            <p class="help-text"> </p>
        </div>
        <div class="modal-footer" style="text-align: center">
            <a href="#" class="btn btn-danger btn-cerrar ">Cerrar</a>
            <a href="#" class="btn btn-primary btn-consultar"> Consultar</a>
        </div>
    </div>
{% endblock %}