{% extends "basebs.html" %}
{% block heading %}

{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3>Compañeros de Clase del Alumno: {{ matricula.inscripcion }}</h3>
            <h4>Materia: {{ materia }}</h4>
            <br>
        </div>
        <div class='span1'>
            <a href="/alu_materias" class='btn'><i class="icon-arrow-left"></i> Atras</a>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th>Compa&ntilde;eros de Clase</th>
{#                    <th>Email</th>#}
                    <th>Email Inst.</th>
{#                    <th>Tel&eacute;fono 1</th>#}
{#                    <th>Tel&eacute;fono 2</th>#}

                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if materiasasignadas %}
                    {% for materiaasignada in materiasasignadas %}
                        <tr>
                            <td>{{ materiaasignada.matricula.inscripcion.persona.nombre_completo }}</td>
{#                            <td>#}
{#                                {% if materiaasignada.matricula.inscripcion.persona.email %}#}
{#                                    <a href="mailto:{{ materiaasignada.matricula.inscripcion.persona.email }}">{{ materiaasignada.matricula.inscripcion.persona.email }}</a>#}
{#                                {% endif %}#}
{#                            </td>#}
                            <td>
                                {% if materiaasignada.matricula.inscripcion.persona.emailinst %}
                                    <a href="mailto:{{ materiaasignada.matricula.inscripcion.persona.emailinst }}">{{ materiaasignada.matricula.inscripcion.persona.emailinst }}</a>
                                {% endif %}
                            </td>
{#                            <td>#}
{#                                {% if materiaasignada.matricula.inscripcion.persona.telefono %}#}
{#                                    {{ materiaasignada.matricula.inscripcion.persona.telefono }}#}
{#                                {% endif %}#}
{#                            </td>#}
{#                            <td>#}
{#                                {% if materiaasignada.matricula.inscripcion.persona.telefono_conv %}#}
{#                                {{ materiaasignada.matricula.inscripcion.persona.telefono_conv }}#}
{#                                {% endif %}#}
{#                            </td>#}
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" align='center'>NO HAY COMPA&Ntilde;EROS DE CLASE</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}