{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_tipo,#id_descripcion").addClass("validate[required]");
{% endblock %}
{% block titulo %}Comentar la Solicitud a Secretar&iacute;a Docente{% endblock %}
{% block formaction %}/solicitudes{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='comentar'/>
    <input type="hidden" name="id" value='{{ solicitud.id }}'/>
{% endblock %}
{% block formback %}/solicitudes{% endblock %}
{% block buttonname %}Responder Solicitud{% endblock %}
{% block form-type %}{% endblock %}