{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">

        $(function() {

        });

    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3>Listado de Rubros del Alumno: {{ inscripcion }}</h3>
            <h4>{{ matricula.nivel.periodo }}</h4>
            <h5>{{ matricula.nivel }}</h5>
            {% if des %}
                <h5 style="color: red">USTED TIENE UN DESCUENTO DE {{ des.descuento.descuento }}% EN SUS CUOTAS </h5>
            {% endif %}
        </div>
        <div class='atright'>
            <a href="/" class='btn'><i class="icon-arrow-left"></i> Atr&aacute;s</a>
        </div>
    </div>
    <div class="row-fluid"><br></div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th>Rubro</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                    <th>Pagado</th>
                    <th>Por Pagar</th>
                    <th>Cancelado</th>
{#                    <th>Pagos</th>#}
                </tr>
                </thead>
                <tbody>
                {% for rubro in rubros %}
                    <tr>
                        <td>{{ rubro.nombre }}
                            {% if rubro.tienesolicitud %}<span class="label label-success tl" title="Tiene Solicitud">TS</span>{% endif %}
                        </td>
                        <td>
                            {{ rubro.fechavence|date:"d-m-Y"  }}
                            {% if rubro.vencido %}
                            <span class="label label-important">VENCIDA</span>
                            {% endif %}

                        </td>
                        <td><span class="bigger"> ${{ rubro.valor|floatformat:2 }} </span></td>
                        <td><span class="bigger">${{ rubro.verifica_total_pagado|floatformat:2 }}</span></td>
                        <td>
                                {% if rubro.vencido %}
                                    <span class='label label-important bigger'>${{ rubro.verifica_adeudado|floatformat:2 }}</span>
                                {% else %}
                                    <span class='label label-success bigger'>${{ rubro.verifica_adeudado|floatformat:2 }}</span>
                                {% endif %}

                        </td>

                        <td>
                            {% if rubro.cancelado %}
                                <span class="label label-success">Si</span>
                            {% else %}
                                <span class='label label-important'>No</span>
                            {% endif %}
                        </td>
{#                        <td>#}
{#                            <a href="/alu_finanzas?action=pagos&id={{ rubro.id }}" class="btn btn-mini btn-info">{{ rubro.pago_set.all.count }} Pagos</a>#}
{#                        </td>#}
                    </tr>
                {% endfor %}

                {% if not rubros %}
                    <tr>
                        <td colspan="8">NO EXISTEN RUBROS</td>
                    </tr>
                {% endif %}
                </tbody>
                {% if rubros %}
                <tfoot>
                    <tr>
                        <td><b>Totales</b></td>
                        <td> </td>
                        <td><span class="bigger"><b>${{ total_rubros|floatformat:2 }}</b></span></td>
                        <td><span class="bigger"><b>${{ total_pagado|floatformat:2 }}</b></span></td>
                        <td>
                            <span class="bigger"><b>${{ total_adeudado|floatformat:2 }}</b></span>
                        </td>
                        <td> </td>
{#                        <td> </td>#}

                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
      {% if  otrosrubros %}
    <div class="row-fluid">
        <div class="span8">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="6">RUBROS DE INGLES</th>
                    </tr>
                    <tr>
                        <th>Rubro</th>
                        <th>Fecha Vence</th>
                        <th>Saldo</th>
                    </tr>
                </thead>

                <tbody>
                    {% for otr in otrosrubros %}
                        <tr>
                        <td>{{ otr.0 }}</td>
                        <td>{{ otr.1 }}</td>
                        <td>{{ otr.2 }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
             <br/>
        </div>
    </div>
    {% endif %}
    <div class='row-fluid'>
        <div class="span12">
            <div class='pagination'>
                <ul>
                    {% for pagenumber in paging.page_range %}
                        <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/alu_finanzas?page={{ pagenumber }}">{{ pagenumber }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
