{% extends "formbs.html" %}
{% block javascript %}
    $("#id_vivienda,#id_educacion, #id_salud, #id_alimentacion, #id_vestimenta").addClass("validate[required]")
    $("#id_vivienda,#id_educacion, #id_salud, #id_alimentacion, #id_vestimenta, #id_total").addClass("input-medium");
    $("#id_total").attr("disabled", true);

    actualizaTotal = function(){
        var total = parseFloat($("#id_vivienda").val()) + parseFloat($("#id_educacion").val()) + parseFloat($("#id_salud").val()) + parseFloat($("#id_alimentacion").val()) + parseFloat($("#id_vestimenta").val());
        $("#id_total").val(Math.round(total*100)/100);
    };

    $("#id_vivienda").blur(actualizaTotal);
    $("#id_educacion").blur(actualizaTotal);
    $("#id_salud").blur(actualizaTotal);
    $("#id_alimentacion").blur(actualizaTotal);
    $("#id_vestimenta").blur(actualizaTotal);


{% endblock %}
{% block titulo %}
    Proyecci&oacute;n de Gastos Personales - Impuesto a la Renta (TABLA MENSUALIZADA)
    <h4>Docente: {{ profesor.persona }}</h4>
{% endblock %}
{% block formaction %}/docentes{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='gastospersonales'/>
    <input type="hidden" name='id' value='{{ profesorgpsri.id }}'/>
    <input type="hidden" name='rol' value='{{ rol }}'/>
{% endblock %}
{% block formback %}/docentes{% endblock %}
{% block buttonname %}Guardar Cambios{% endblock %}