{% load humanize %}
<div class="row-fluid">
    <div class='span11'>
        <h4>FORMAS DE PAGO Y VALORES DEL DIA POR CAJAS</h4>
        {% if sesiones %}<a href='/estadisticas?action=colchartsesion'><img src='/static/images/16/chart_bar.png'/> Gr&aacute;fica</a>{% endif %}
        <table class='table table-striped table-bordered'>
            <tr class="success">
                <td style='text-align: center; vertical-align: middle;' rowspan='2'><b>CAJAS</b></td>
                <td colspan='2' style='text-align: center;'><b>EFECTIVO</b></td>
                <td colspan='2' style='text-align: center;'><b>CHEQUE</b></td>
                <td colspan='2' style='text-align: center;'><b>TARJETA</b></td>
                <td colspan='2' style='text-align: center;'><b>DEPOSITO</b></td>
                <td colspan='2' style='text-align: center;'><b>TRANSFERENCIA</b></td>
                <td colspan='2' style='text-align: center;'><b>RECIBO CAJA</b></td>
                <td colspan='2' style='text-align: center;'><b>RETENCION</b></td>
                <td colspan='2' style='text-align: center;'><b>FACTURAS</b></td>
                <td colspan='2' style='text-align: center;'><b>TOTAL</b></td>
            </tr>
            <tr class="success">
                <td colspan='2' style='text-align: center;'><b>VALOR</b></td>
                <td style='text-align: center;'><b>CANT.</b></td>
                <td style='text-align: center;'><b>VALOR</b></td>
                <td style='text-align: center;'><b>CANT.</b></td>
                <td style='text-align: center;'><b>VALOR</b></td>
                <td style='text-align: center;'><b>CANT.</b></td>
                <td style='text-align: center;'><b>VALOR</b></td>
                <td style='text-align: center;'><b>CANT.</b></td>
                <td style='text-align: center;'><b>VALOR</b></td>
                <td style='text-align: center;'><b>CANT.</b></td>
                <td style='text-align: center;'><b>VALOR</b></td>
                <td style='text-align: center;'><b>CANT.</b></td>
                <td style='text-align: center;'><b>VALOR</b></td>
                <td style='text-align: center;' colspan='2'><b>CANTIDAD</b></td>
                <td style='text-align: center;' colspan='2'><b>VALOR</b></td>
            </tr>
            {% for sesion in sesiones %}
                <tr style='text-align: center; font-size: 12px;' >
                    <td style='text-align: center;'>{{ sesion.caja }}<br/><span class='smaller'>({{ sesion.hora }} - {% if sesion.hora_cierre %} {{ sesion.hora_cierre }}){% else %}ABIERTA){% endif %}</span></td>
                    <td colspan='2' style='text-align: center;'>$ {{ sesion.total_efectivo_sesion|floatformat:2|intcomma }}</td>
                    <td style='text-align: center;'>{{ sesion.cantidad_cheques_sesion }}</td>
                    <td style='text-align: center;'>$ {{ sesion.total_cheque_sesion|floatformat:2|intcomma }}</td>
                    <td style='text-align: center;'>{{ sesion.cantidad_tarjetas_sesion }}</td>
                    <td style='text-align: center;'>$ {{ sesion.total_tarjeta_sesion|floatformat:2|intcomma }}</td>
                    <td style='text-align: center;'>{{ sesion.cantidad_depositos_sesion }}</td>
                    <td style='text-align: center;'>$ {{ sesion.total_deposito_sesion|floatformat:2|intcomma }}</td>
                    <td style='text-align: center;'>{{ sesion.cantidad_transferencias_sesion }}</td>
                    <td style='text-align: center;'>$ {{ sesion.total_transferencia_sesion|floatformat:2|intcomma }}</td>
                    <td style='text-align: center;'>{{ sesion.cantidad_recibocaja_sesion }}</td>
                    <td style='text-align: center;'>$ {{ sesion.total_recibocaja_sesion|floatformat:2|intcomma }}</td>
                    <td style='text-align: center;'>{{ sesion.cantidad_retencion_sesion }}</td>
                    <td style='text-align: center;'>$ {{ sesion.total_retencion_sesion|floatformat:2|intcomma }}</td>
                    <td style='text-align: center; color: blue;' colspan='2'><b>{{ sesion.cantidad_facturas_sesion }}</b></td>
                    <td style='text-align: center; color: green;' colspan='2'><b>$ {{ sesion.total_sesion|floatformat:2|intcomma }}</b></td>
                </tr>
            {% endfor %}
            <tr class="success">
                <td style='text-align: center;'><b>TOTALES</b></td>
                <td colspan='2' style='text-align: center;'><b>$ {{ total_efectivo_dia|floatformat:2|intcomma }}</b></td>
                <td style='text-align: center;'><b>{{ cantidad_cheques_dia }}</b></td>
                <td style='text-align: center;'><b>$ {{ total_cheque_dia|floatformat:2|intcomma }}</b></td>
                <td style='text-align: center;'><b>{{ cantidad_tarjetas_dia }}</b></td>
                <td style='text-align: center;'><b>$ {{ total_tarjeta_dia|floatformat:2|intcomma }}</b></td>
                <td style='text-align: center;'><b>{{ cantidad_depositos_dia }}</b></td>
                <td style='text-align: center;'><b>$ {{ total_deposito_dia|floatformat:2|intcomma }}</b></td>
                <td style='text-align: center;'><b>{{ cantidad_transferencias_dia }}</b></td>
                <td style='text-align: center;'><b>$ {{ total_transferencia_dia|floatformat:2|intcomma }}</b></td>
                <td style='text-align: center;'><b>{{ cantidad_recibocaja_dia }}</b></td>
                <td style='text-align: center;'><b>$ {{ total_recibocaja_dia|floatformat:2|intcomma }}</b></td>
                <td style='text-align: center;'><b>{{ cantidad_retencion_dia }}</b></td>
                <td style='text-align: center;'><b>$ {{ total_retencion_dia|floatformat:2|intcomma }}</b></td>
                <td style='text-align: center; color: blue;' colspan='2'><b>{{ cantidad_facturas_dia }}</b></td>
                <td style='text-align: center; color: green;' colspan='2'><b>$ {{ total_dia|floatformat:2|intcomma }}</b></td>
            </tr>
        </table>
        <br/>
    </div>
</div>
{% if utiliza_coordinaciones %}
<div class="row-fluid">
    <div class='span8'>
        <h4>RESUMEN DEL DIA POR COORDINACIONES</h4>
        {% if sesiones %}<a href='/estadisticas?action=piechartcoordinacion'><img src='/static/images/16/pie_chart.png'/> Gr&aacute;ficas</a> {% endif %}
        <table class='table table-striped table-bordered'>
            <tr class="success">
                <td style='padding-left: 20px;'><b>COORDINACIONES</b></td>
                <td style='text-align: center;'><b>FACTURAS</b></td>
                <td style='text-align: center;'><b>VALORES</b></td>
                <td style='text-align: center;'><b>MATRICULAS</b></td>
            </tr>
            {% for coordinacion in coordinaciones %}
                <tr>
                    <td style='padding-left: 20px;'>{{ coordinacion.nombre }} </td>
                    <td style='text-align: center;'>{{ coordinacion.cantidad_facturas_dia }} </td>
                    <td style='text-align: center;'>${{ coordinacion.total_pagos_dia|floatformat:2|intcomma }} </td>
                    <td style='text-align: center;'>{{ coordinacion.cantidad_matriculados }} </td>
                </tr>
            {% endfor %}
            <tr class="success">
                <td style='padding-left: 20px;'><b>TOTALES</b></td>
                <td style='text-align: center; color:blue;'><b>{{ cantidad_facturas_dia }}</b></td>
                <td style='text-align: center; color:green;'><b>$ {{ total_dia|floatformat:2|intcomma }}</b></td>
                <td style='text-align: center;'><b>{{ total_matriculados }}</b></td>
            </tr>
        </table>
        <br/>
    </div>
</div>
{% endif %}
<div class="row-fluid">
    <div class='span8'>
        <h4>RESUMEN DEL DIA POR CARRERAS</h4>
        {% if sesiones %}<a href='/estadisticas?action=piechartcarrera'><img src='/static/images/16/pie_chart.png'/> Gr&aacute;ficas</a> {% endif %}
        <table class='table table-striped table-bordered'>
            <tr class="success">
                <td style='padding-left: 20px;'><b>CARRERAS</b></td>
                <td style='text-align: center;'><b>FACTURAS</b></td>
                <td style='text-align: center;'><b>VALORES</b></td>
                <td style='text-align: center;'><b>MATRICULAS</b></td>
            </tr>
            {% for carrera in carreras %}
                <tr>
                    <td style='padding-left: 20px;'>{{ carrera.nombre }} </td>
                    <td style='text-align: center;'>{{ carrera.cantidad_facturas }} </td>
                    <td style='text-align: center;'>$ {{ carrera.total_pagos|floatformat:2|intcomma }} </td>
                    <td style='text-align: center;'>{{ carrera.mat_carrera2 }} </td>
                </tr>
            {% endfor %}
            <tr class="success">
                <td style='padding-left: 20px;'><b>TOTALES</b></td>
                <td style='text-align: center; color:blue;'><b>{{ cantidad_facturas_dia }}</b></td>
                <td style='text-align: center; color:green;'><b>$ {{ total_dia|floatformat:2|intcomma }}</b></td>
                <td style='text-align: center;'><b>{{ total_matriculados }}</b></td>
            </tr>
        </table>
    </div>
</div>