{% load humanize %}
<script type="text/javascript">
    $(function() {
        $(".tl").tooltip({placement:"right"});
    });
</script>
<br/>
<div class="row-fluid">
    <div class="span12">
        <h4>TABLA DE VALORES CANCELADOS POR TIPOS DE RUBROS, SEGUN FECHAS - COORDINACIONES </h4>
        <table class='table table-striped table-bordered'>
            <thead>
                <tr>
                    <th></th>
                    <th colspan="6" style="text-align: center;"> RUBROS COMUNES </th>
                    <th colspan="5" style="text-align: center;"> RUBROS TIPO OTRO </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class='success'>
                    <td style='text-align: center; vertical-align: middle'>
                        <b>Coordinacion</b>
                    </td>
                    {# RUBROS COMUNES  #}
                    <td style='text-align: center;' title="INSCRIPCIONES"><b>INSC</b></td>
                    <td style='text-align: center;' title="MATRICULAS"><b>MATR</b></td>
                    <td style='text-align: center;' title="ESPECIES VALORADAS"><b>ESPE</b></td>
                    <td style='text-align: center;' title="CUOTAS - MENSUALIDADES"><b>CUOT</b></td>
                    <td style='text-align: center;' title="NOTAS DEBITO"><b>NDBT</b></td>
                    <td style='text-align: center;' title="MATERIAS"><b>MATE</b></td>
                    {# RUBROS TIPO OTRO  #}
                    <td style='text-align: center;' title="MORAS Y RECARGOS"><b>MORA</b></td>
                    <td style='text-align: center;' title="CONGRESOS"><b>CONG</b></td>
                    <td style='text-align: center;' title="ARRASTRES"><b>ARRA</b></td>
                    <td style='text-align: center;' title="CURSOS"><b>CURS</b></td>
                    <td style='text-align: center;' title="OTROS"><b>OTRO</b></td>
                    {# TOTAL #}
                    <td style='text-align: center;'><b>TOTALES</b></td>
                </tr>
                {% for total in totales %}
                    <tr style='text-align: center;'>
                        <td><b>{{ total.0 }}</b></td>
                        <td style='text-align: right;'>${{ total.1|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;'>${{ total.2|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;'>${{ total.3|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;'>${{ total.4|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;'>${{ total.5|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;'>${{ total.6|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;'>${{ total.7|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;'>${{ total.8|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;'>${{ total.9|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;'>${{ total.10|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;'>${{ total.11|floatformat:2|intcomma }}</td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.12|floatformat:2|intcomma }}</b></td>
                    </tr>
                {% endfor %}
                {% for total in totales_columnas %}
                    <tr style='text-align: center;' class="alert alert-info">
                        <td><b>{{ total.0 }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.1|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.2|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.3|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.4|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.5|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.6|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.7|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.8|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.9|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.10|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.11|floatformat:2|intcomma }}</b></td>
                        <td style='text-align: right;' class="bigger"><b>${{ total.12|floatformat:2|intcomma }}</b></td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <br/>
</div>


