
    <td>
        <b class='bigger'>{{ materiaasignada.evaluacion.n1 }}</b>
        {% if materiaasignada.evaluacion.n1 and materiaasignada.evaluacion.cod1 %}
            - <span class="tips" title="{{ materiaasignada.evaluacion.cod1.nombre }}">[{{ materiaasignada.evaluacion.cod1.id }}]</span>
        {% endif %}
    </td>
    <td>
        <b class='bigger'>{{ materiaasignada.evaluacion.n2 }}</b>
        {% if materiaasignada.evaluacion.n2 and materiaasignada.evaluacion.cod2 %}
            - <span class="tips" title="{{ materiaasignada.evaluacion.cod2.nombre }}">[{{ materiaasignada.evaluacion.cod2.id }}]</span>
        {% endif %}
    </td>
    <td>
        <b class='bigger'>{{ materiaasignada.evaluacion.n3 }}</b>
        {% if materiaasignada.evaluacion.n3 and materiaasignada.evaluacion.cod3 %}
            - <span class="tips" title="{{ materiaasignada.evaluacion.cod3.nombre }}">[{{ materiaasignada.evaluacion.cod3.id }}]</span>
        {% endif %}
    </td>
    <td>
        <b class='bigger'>{{ materiaasignada.evaluacion.n4 }}</b>
        {% if materiaasignada.evaluacion.n4 and materiaasignada.evaluacion.cod4 %}
            - <span class="tips" title="{{ materiaasignada.evaluacion.cod4.nombre }}">[{{ materiaasignada.evaluacion.cod4.id }}]</span>
        {% endif %}
    </td>
    <td><b class='bigger'>{{ materiaasignada.evaluacion.examen }}</b></td>
    <td><b class='bigger'>{{ materiaasignada.evaluacion.recuperacion }}</b></td>
    <td style="text-align: center">
        {% if materiaasignada.evaluacion.nota_final < nota_para_aprobar or materiaasignada.porciento_asistencia < asistencia_para_aprobar %}
            <span class='badge badge-error bigger'>{{ materiaasignada.evaluacion.nota_final|floatformat}}</span>
        {% else %}
            <span class='badge badge-success bigger'>{{ materiaasignada.evaluacion.nota_final|floatformat}}</span>
        {% endif %}
    </td>
    <td style="text-align: center">
        {% if materiaasignada.porciento_asistencia < asistencia_para_seguir %} <span style="color: #dc143c;"><b>{{ materiaasignada.porciento_asistencia }}%</b></span>{% endif %}
        {% if materiaasignada.porciento_asistencia >= asistencia_para_seguir and materiaasignada.porciento_asistencia < asistencia_para_aprobar %} <span style="color: #daa520;"><b>{{ materiaasignada.porciento_asistencia }}%</b></span>{% endif %}
        {% if  materiaasignada.porciento_asistencia >= asistencia_para_aprobar %} <span style="color:#006400;"><b>{{ materiaasignada.porciento_asistencia }}%</b></span>{% endif %}
    </td>
    <td>
        {% if materiaasignada.evaluacion.estado_id == 1 %}<span class='label'>{{ materiaasignada.evaluacion.estado }}</span>{% endif %}
        {% if materiaasignada.evaluacion.estado_id == 2 %}
            <span style="color: #dc143c;"><b>{{ materiaasignada.evaluacion.estado }} </b></span>
            {% if materiaasignada.notafinal < nota_para_aprobar %}<span style="color: #dc143c;"><b> (NF)</b></span>{% endif %}
            {% if materiaasignada.porciento_asistencia < asistencia_para_aprobar %}<span style="color: #dc143c;"><b> (AS)</b></span>{% endif %}
        {% endif %}
        {% if materiaasignada.evaluacion.estado_id == 3 %}<span class='label'>{{ materiaasignada.evaluacion.estado }}</span>{% endif %}
    </td>
    <td><a href="/alu_materias?action=friends&id={{ matricula.id }}&m={{ materiaasignada.materia.id }}" title='Companneros de Clases'><img src="/static/images/16/friends.png"/></a></td>
