body { font-family: Helvetica,Geneva,Arial,sans-serif; font-size: 14px; margin:0; background: #333;  }

a { text-decoration: none; color: #007dff; }
a:hover { text-decoration: underline; }

.wide { width: 100%; float: left; }
.section { width: 90%; margin: 0 auto; }
.padded { padding: 10px; font-size: smaller;}
#heading { height: 90px; background: #ccc; }
#maincontent { background-color: white; height: 768px; }
#maincontent.bg1 { background: url(/static/images/web-cine.jpg) center no-repeat; }
#maincontent.bg2 { background: url(/static/images/web-dg.jpg) center no-repeat; }
#maincontent.bg3 { background: url(/static/images/web-di.jpg) center no-repeat; }
#maincontent.bg4 { background: url(/static/images/web-pm.jpg) center no-repeat; }
#maincontent.bg5 { background: url(/static/images/web-sl.jpg) center no-repeat; }
#maincontent.bg6 { background: url(/static/images/web-sonido.jpg) center no-repeat; }
#footer { font-size: 11px; text-align: center; color: #999; background: #333; }
#logo { float: left; }
#loginform { float: right; width: 300px; background: #f8f8f8; opacity: 0.85; margin: 0 auto; margin-top: 10px; margin-right: 5px}
#loginform h2 { text-align: center; margin: 10px 0; font-weight: bold }
.row { float: left; width: 100%; font-size: 16px; }
.label { float: left; width: 100px; margin-top: 8px; font-weight: bold }
.control { float: left; width: 250px; }
.control input { width: 100%; font-size: 16px; padding: 4px;
    border-top: solid 1px #ccc; border-left: solid 1px #ccc;
    border-right: solid 1px gray; border-bottom: solid 1px gray; font-weight: bold
}
input[type=submit] { padding: 3px; font-size: 16px; border: solid 1px gray; width: 100%;
    background: #ccc; opacity: 1; font-weight: bold }
input[type=submit].hovered { background: #333; color: white; }
.error { color: red; }
#logoarea { width: 270px; height: 80px; background: url(/static/images/aok/logo.png) no-repeat bottom; }