body { font-family: Helvetica,Geneva,Arial,sans-serif; font-size: 14px; margin:0; background: #fff;  }

a { text-decoration: none; color: #007dff; }
a:hover { text-decoration: underline; }

.wide { width: 100%; float: left; }
.section { width: 90%; margin: 0 auto; }
.padded { padding: 10px; }
.padded2 { padding: 5px; }
.padded3 { padding: 10px; float: left;}
#heading { height: 90px; background: #ccc; }
#maincontent { background-color: white; min-height: 600px; padding-bottom: 60px; }
#footer { font-size: 11px; text-align: center; color: #999; background: #333; }
#logo { float: left; }
#loginform { float: left; width: 400px; background: #f8f8f8; margin: 0 auto; margin-top: 20px;}
#loginform h2 { text-align: center; margin: 10px 0; }
.row { float: left; width: 100%; font-size: 16px; }
.label { float: left; width: 100px; margin-top: 8px; }
.control { float: left; width: 250px; }
.control input { width: 100%; font-size: 16px; padding: 4px;
    border-top: solid 1px #ccc; border-left: solid 1px #ccc;
    border-right: solid 1px gray; border-bottom: solid 1px gray; }
input[type=submit] { padding: 3px 50px; font-size: 16px; border: solid 1px gray; /* width: 100%;*/
    background: #007dff; color: white; }
input[type=submit].hovered { background: #333; color: white; }
.error { color: red; }
a.bt { background: transparent url(/static/images/bt_a.png) no-repeat scroll top right;
    color: black; display: block; float: left; font-size: 15px; height: 30px; margin-right: 6px; padding-right: 10px;
    text-decoration: none; }
a.bt.sel { background: #01968C; color: white; }
a.bt.sel span { background: #01968C; }
a.bt span {  background: transparent url(/static/images/bt_span.png) no-repeat top left;
    display: block; height: 15px; padding: 10px 0 5px 10px; text-transform: uppercase; }
a.bt span img { /* margin-right: 6px; */ margin-top: -2px; float: left; }
a.bt span.texted img {  margin-right: 6px;  }
a.bt:active, a.bt:hover { color: white; background-position: bottom right; outline: none; }
a.bt:active span, a.bt:hover span { background-position: bottom left; }
.atright { float: right; }
.atleft { float: left; }

.username { color: black; float: left; margin-right: 7px; margin-top: 7px; font-size: 17px; font-weight: bold;}
#menu { float: left; width: 100%; }
#title { float: left; width: 100%; text-transform: uppercase; font-size: 18px; margin: 10px 0;
    font-weight: bold; }
.subtitle { font-size: 16px; margin: 0; font-weight: normal; text-transform: none; }
#formulary { float: left; width: 80%; }
#formulary table { width: 100%; font-size: 16px; background: #f0f0f0; }
#formulary table th { text-align: right; padding: 4px; }
#formulary table th label { font-weight: normal; }
#formulary table td { padding: 4px; text-align: left; }
#formulary table td input, #formulary table td select, #formulary table td textarea
{ font-size: 16px; padding: 4px; width: 90%;
    /* border: solid 1px #f8f8f8; */ background: #f8f8f8;
    border-top: solid 1px #ccc; border-left: solid 1px #ccc;
    border-right: solid 1px #eee; border-bottom: solid 1px #eee;
    text-transform: uppercase;
}
#formulary table td input[type=checkbox] { width: auto; }
#formulary table td input.hovered, #formulary table td select.hovered,
#formulary table td textarea.hovered {
    border-top: solid 1px #eee; border-left: solid 1px #eee;
    border-right: solid 1px #ccc; border-bottom: solid 1px #ccc;
}
#formulary table td input.focused, #formulary table td select.focused,
#formulary table td textarea.focused {
    background: white;
    border-top: solid 1px #eee; border-left: solid 1px #eee;
    border-right: solid 1px #ccc; border-bottom: solid 1px #ccc;
}

.pd { padding: 5px; }
.icon { width: 130px; float: left; height: 160px; background: #f0f0f0; margin-right: 10px; margin-bottom: 10px; position: relative;
border-radius: 10px; }
.icon.hovered { background: #666; color: white; cursor: pointer; }
.icon .iconname { width: 100%; position: absolute; bottom: 0; text-align: center; font-size: 14px; }
.icon .icondesc { font-size: 10px; }
.icon .iconimage { width: 100%; text-align: center; }
.icon .iconimage img { height: 80px; }
#title.p80 { width: 80%; }
.p100 { width: 100%; }
.underlined { border-bottom: solid 1px #ccc; }
span.currentpage { padding-top: 10px; padding-bottom: 5px; font-weight: bold; padding-left: 10px; padding-right: 6px; margin-right: 6px; float: left; }
.tablesubtitle { font-size: 12px; }

ul { margin: 0; padding: 0;    }
ul li { margin: 10px; }
h3 { margin-top: 4px; margin-bottom: 4px; }
h3.topspaced { margin-top: 54px; }
.ajaxed { background: yellow; }

#clock { float: right; margin-top: 25px;}
.green { color: green; }

.searchinput { float: left; padding: 0 4px; background: #f0f0f0; margin-right: 6px; text-transform: uppercase; font-size: 16px; border: none; height: 30px; }
.autoscroll { overflow: auto; }

.freeselect {
    font-size: 16px; padding: 4px; width: 90%;
    /* border: solid 1px #f8f8f8; */ background: #f8f8f8;
    border-top: solid 1px #ccc; border-left: solid 1px #ccc;
    border-right: solid 1px #eee; border-bottom: solid 1px #eee;
    text-transform: uppercase;
}

.freeselect2 {
    font-size: 15px; padding: 3px; width: 75%;
    background: #f8f8f8;
    border-top: solid 1px #ccc; border-left: solid 1px #ccc;
    border-right: solid 1px #eee; border-bottom: solid 1px #eee;
    text-transform: uppercase;
}


.footertable { background: #ccc; color: black; }
.headerinput {background: none repeat scroll 0 0 #F0F0F0;
    border: medium none;
    font-size: 18px;
    font-weight: bold;
    width: 150px; }
#logoarea { width: 270px; height: 80px; background: url(/static/images/sudame/logo.png) no-repeat bottom; }

.blockMsg { font-size: 20px; font-weight: bold; text-transform: uppercase; }