body { background: #333; }
#content { padding-top: 60px; background: #fff; padding-bottom: 20px; min-height: 600px;  }
.pd { padding: 5px; }

.icon { width: 130px; float: left; height: 160px; background: #f0f0f0; margin-right: 10px; margin-bottom: 10px; position: relative;
    border-radius: 10px; }
.icon.hovered { background: #999; color: white; cursor: pointer; }
.icon .iconname { font-weight: bold; width: 100%; position: absolute; bottom: 0; text-align: center; font-size: 14px; line-height: 10px; }
.icon .icondesc { font-weight: normal; font-size: 10px; line-height: 10px; }
.icon .iconimage { width: 100%; text-align: center; }
.icon .iconimage img { height: 80px; }
#title.p80 { width: 80%; }

.wide { float: left; width: 100%; }
#footer { position: relative; margin-top: 20px; font-size: 8px; background: #333; color: #ccc;}


form input, form select, form textarea { color: black; width: 100%; font-size: 16px; padding: 2px 4px; height: inherit; text-transform: uppercase; }
.form-horizontal .control-group {
    margin-bottom: 6px;
}

table { background: white; }
table thead tr th { background: #f0f0f0; }
.pagination { margin: 0; float: right; }


#content.bg1 { background: url(/static/images/itb/pod.png) center no-repeat; }
#content.bg2 { background: url(/static/images/itb/img2.jpg) center no-repeat; }
#content.bg3 { background: url(/static/images/itb/img3.jpg) center no-repeat; }
#content.bg4 { background: url(/static/images/itb/reh.png) center no-repeat; }
#content.bg5 { background: url(/static/images/itb/img6.jpg) center no-repeat; }
#content.bg6 { background: url(/static/images/itb/fondo_sga_itb.jpg) center no-repeat; }
#content.bg2 { background: url(/static/images/itb/ate.png) center no-repeat; }
#content.bg3 { background: url(/static/images/itb/img5.jpg) center no-repeat; }






#largelogo { position: absolute; top: -110px; right: 20px; opacity: 0.7; }

.bigger { font-size: 16px; }
.larger { font-size: 14px; }
.smaller { font-size: 10px; }
.input-mini { width: 41px; }
.marcado { background: yellow; font-weight: bold; }
.table-condensed { margin-bottom: 0; }
a:hover { text-decoration: none; }
.margeninferior { margin-bottom: 10px; }
h4 { font-size: 16px; margin: 0; }
h5 { margin: 0;}
h3 { font-size: 20px; line-height: 20px; }
#footer { font-size: 12px;}

.bookrepr { width: 370px; float: left; height: 120px; }
.bookrepr img { float: left; margin-right: 7px; }
.booksection { float: left; }

div.progress { height: 12px; margin-bottom: 0; }
#encuestapanel form { margin: 0; }


.tabla thead tr th{
    background: rgba(55, 168, 192, 0.93);
    cursor: pointer;
}
.tabla thead tr th a{
    color:white;
    font-size: 14px;
    font: Arial;
    font-weight: normal;
}
.tabla thead tr th:hover{
    background: rgba(45, 139, 163, 0.92);
}
