@charset "utf-8";
@import url(fuentes.css);
.modern-ticker{color:#505050;background-color: #f0f0f0;}
.mt-label{background-color: #227dbc;width: 95px;}
.mt-label a {font-family:"Bitstream Vera Sans Mono";font-size: 15; font-weight: 600; color: #fdfdfe;}
.mt-news{background-color:#f0f0f0;}
.mt-news a{color:#505050;background-color:#f0f0f0;}
.mt-news a:hover span{color: #227dbc;font-weight:bold;}
.mt-news a:active{background-color: #227dbc; color:#fdfdfd;}
.mt-next,.mt-prev{background-color:#227dbc;}
.mt-news > ul > li{
    line-height: inherit;
}
.mt-play{background-color:#227dbc;}
.mt-next:hover,.mt-play:hover,.mt-prev:hover{background-color: #1b90aa;}
.mt-next:active,.mt-play:active,.mt-prev:active{background-color: #1b8fa9;}
.mt-next span,.mt-play span,.mt-prev span{margin-top:10px; color: #ffffff; }