{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}

    $("#id_observaciones").addClass("validate[required]");
{% endblock %}
{% block titulo %}Adicionar Observaci&oacute;n al estudiante: {{ mat.matricula.inscripcion }} <br>  <h3>Materia: {{ mat.materia.asignatura }}</h3>{% endblock %}
{% block formaction %}/alcance_nivelcerrado{% endblock %}
{% block formextra %}
    {% if evaluacion.observaciones %} <b> OBSERVACIONES REALIZADAS: </b><br/><p> {% autoescape off %}{{ evaluacion.observaciones }} {% endautoescape %}</p>{% endif %}
    <br/><br/>
    <input type='hidden' name='action' value='observaciones'/>
    <input type='hidden' name='id' value="{{ mat.id }}"/>
{% endblock %}
{% block formback %}/alcance_nivelcerrado{% endblock %}
{% block buttonname %}Guardar Observaci&oacute;n{% endblock %}
