{% extends "deletebs.html" %}
{% block titulo %}Borrar Leccion del: {{ lecciongrupo.profesor  }}{% endblock %}
{% block formback %}/adm_docentes?action=clases&id={{ lecciongrupo.profesor.id }}{% endblock %}
{% block formaction %}/adm_docentes{% endblock %}
{% block formactionvalue %}deleteclase{% endblock %}
{% block formobjectid %}{{ lecciongrupo.id }}{% endblock %}
{% block formobjectname %}la Leccion del Docente{% endblock %}
{% block formobjectrepr %}{{ lecciongrupo.materia.asignatura }} del: {{ lecciongrupo.materia.nivel }} {% endblock %}