{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script src="/static/js/jquery.date_input.js" type='text/javascript'></script>
    <script src="/static/js/jquery.timeentry.js" type='text/javascript'></script>

    <link type='text/css' rel='stylesheet' href="/static/css/date_input.css"/>
    <link type='text/css' rel='stylesheet' href="/static/css/jquery.timeentry.css"/>
    <script type="text/javascript">
        $(function() {
            $(".verabs").click(function(){
               var obs =   $(this).attr("idabs");
                smoke.alert(obs);
            });
            $("#syllabus").click(function(){
                    $("#syllabus_panel").modal({backdrop: 'static', keyboard: 'false', width: "50%",maxHeight: ($(window).height()*3)/4  });
                    $("#syllabus_panel").modal("show");
                });
            $("#cerrar_panel").click(function(){
                 $("#syllabus_panel").modal("hide");
            });

             $(".dstema").click(function(){
                 var op = $(this).attr("op");
                 var id = $(this).attr("iddst");
                 $.post("/adm_docentes", {action: 'detsubtema', 'id':id , 'op':op,'lec':{{ lecciongrupo.id }}}, function(data) {
                        if (data.result=='ok') {
                            location.reload() ;
                            $("#syllabus_panel").modal("show");
                        }
                        else{
                           smoke.alert('Error vuelva a intentarlo');
                        }

                   }, "json");
             });

            $(".stema").click(function(){
                 var op = $(this).attr("op");
                 var id = $(this).attr("idst");
                 $.post("/adm_docentes", {action: 'subtema', 'id':id , 'op':op,'lec':{{ lecciongrupo.id }}}, function(data) {
                        if (data.result=='ok') {
                            location.reload() ;
                            $("#syllabus_panel").modal("show");
                        }
                        else{
                           smoke.alert('Error vuelva a intentarlo');
                        }

                   }, "json");
             });



            var idmateriaasignada = 0;
            var idasisten = 0;
            var valcheck = false;
            $("#id_fechae").datepicker({format:"dd-mm-yyyy"});
            $("#id_numeroe, #id_codigoe, #id_fechae, #id_observaciones, #id_profesor").addClass("validate[required]");
            $("#id_numeroe, #id_codigoe, #id_fechae").addClass('input-small');
            $("#id_codigoe").mask('******');


            $("#fechaclase").val( '{{ lecciongrupo.fecha|date:"d-m-Y" }}')
            $("#fechaclase").datepicker({format:"dd-mm-yyyy"});
{#            $("#fechaclase").date_input();#}

            $("#justificarpanel .btn-cerrar").click(function(){
                $("#justificarpanel").modal("hide");
                return false;
            });

            $(".justificar").click(function(){
                $("#alertas").hide();
                $("#id_numeroe").val("");
                $("#id_codigoe").val("");
                $("#id_observaciones").val("");
                var asistid = $(this).attr('leccid');
                var asignado = $(this).attr('asig');
                var fecha = $(this).attr('fecha');
                var profesor = "{{ profesor.persona }}";
                $("#justificarpanel #profesor").val('{{ profesor.id }}');
                $("#justificarpanel #asist").val(asistid);
                $("#justificarpanel #profesortitle").html(profesor);
                $("#justificarpanel #inscripciontitle").html(asignado);
                $("#justificarpanel #fechatitle").html(fecha);
                $("#justificarpanel").modal({'backdrop': 'static', 'width': '750px', maxHeight: ($(window).height()*3)/6});
                $("#justificarpanel").modal("show");
                return false;
            });

            $("#justificarpanel .btn-adicionar").click(function(){
                var profid = $("#justificarpanel #profesor").val();
                var asistid = $("#justificarpanel #asist").val();
                var numeroe = $("#id_numeroe").val();
                var codigoe = $("#id_codigoe").val();
                var fechae = $("#id_fechae").val();
                var observaciones = $("#id_observaciones").val();
                if (numeroe && codigoe && fechae && observaciones){
                    $.post("/adm_docentes", {'action': 'justificar', 'profid': profid, 'asistid': asistid,
                                            'numeroe': numeroe, 'codigoe': codigoe, 'fechae': fechae,
                                        'observaciones': observaciones}, function(data){
                    if (data.result=='ok'){
                        $("#justificarpanel").modal("hide");
                        location.reload();
                    }
                    if (data.result=='badfechas'){
                        $("#alertas").show();
                        $("#alertas").html(" ALERTA: Se ha vencido el tiempo para justificacion (" + data.dias + " dias)");
                    }
                    if (data.result=='badespecie'){
                        $("#alertas").show();
                        $("#alertas").html(" ALERTA: Estudiante no ha adquirido especie con esos datos");
                    }
                    if (data.result=='badfechanegativa'){
                        $("#alertas").show();
                        $("#alertas").html(" ALERTA: La fecha de la especie es menor que la fecha de la Leccion a justificar");
                    }
                    if (data.result=='badfechae'){
                        $("#alertas").show();
                        $("#alertas").html(" ALERTA: Existe una especie con ese codigo y numero en la base, <b>con otra Fecha</b>");
                    }
                    if (data.result=='badprof'){
                        $("#alertas").show();
                        $("#alertas").html("ALERTA: Existe una especie con ese codigo y numero en la base, <b>con otro Profesor</b>");
                    }
                    if (data.result=='badins'){
                        $("#alertas").show();
                        $("#alertas").html("ALERTA: Existe una especie con ese codigo y numero en la base, <b>con otro Estudiante</b>");
                    }


                    }, "json");
                }else{
                    $("#alertas").show();
                    $("#alertas").html("POR FAVOR, LLENE TODOS LOS CAMPOS");
                }


                return false;
            });


            $("#cerrarclase").click(function() {

                var contenido = $("#contenido").val();
                if (contenido) {
                    var entrada = $("#horaentrada").timeEntry('getTime');
                    var salida = $("#horasalida").timeEntry('getTime');
                    var he = entrada.getHours()+":"+entrada.getMinutes();
                    var hs = '';
                    if (salida!=null) {
                        hs = salida.getHours()+":"+salida.getMinutes();
                    }
                    location.href = "/adm_docentes?action=cerrarclase&id={{ lecciongrupo.id }}&fecha="+$("#fechaclase").val()+"&horaentrada="+he+"&horasalida="+hs;
                } else {
                    smoke.alert("Antes de Cerrar la Leccion introduzca el contenido de la misma.");
                }
            });


            $("#motivocierre").click(function() {
                $("#motivocierre_panel").modal({backdrop: 'static', keyboard: false, width: "617px", maxHeight: ($(window).height()*3)/4 });
                $("#motivocierre_panel").modal("show");
            });

            $("#motivocierre_panel .btn-cerrar").click(function() {
                $("#motivocierre_panel #id_motivo").val('');
                $("#motivocierre_panel").modal('hide');
            });


            $("#motivocierre_panel .btn-actualizar").click(function() {
                var motid = $("#motivocierre_panel #id_motivo").val();
                var contenido = $("#contenido").val();
                if (contenido) {
                    var entrada = $("#horaentrada").timeEntry('getTime');
                    var salida = $("#horasalida").timeEntry('getTime');
                    var he = entrada.getHours()+":"+entrada.getMinutes();
                    var hs = '';
                    if (salida!=null) {
                        hs = salida.getHours()+":"+salida.getMinutes();
                    }
                    location.href = "/adm_docentes?action=cerrarclase&id={{ lecciongrupo.id }}&fecha="+$("#fechaclase").val()+"&horaentrada="+he+"&horasalida="+hs +"&motivo="+motid;

                } else {
                    smoke.alert("Antes de Cerrar la Leccion introduzca el contenido de la misma.");
                }
            });


             $("#fechaclase").blur(function(){
                {% if not modulo_casade  %}
                    {% if perms.sga.add_leccion  %}

                    {% else %}
                        fechac = $("#fechaclase").val().split("-")
                        fechaclase = new Date(fechac[2], fechac[1] - 1, fechac[0]);
                        fechamax = new Date({{ inicio.year }},{{ inicio.month }} - 1, {{ inicio.day}});
                        fechamin = new Date({{ fin.year }},{{ fin.month }} - 1, {{ fin.day}});

                        if ( '1'  == {{ b }} ) {
                            $("#fechaclase").datepicker('setValue', fechamax)
                        }else{
                            if (fechaclase <= fechamin ){

                                $("#fechaclase").val( '{{ lecciongrupo.fecha|date:"d-m-Y" }}')
                                smoke.alert('No puede cambiar la fecha');
                            }
                        }
                    {% endif %}
                 {% endif %}
             });
{#            $("#fechaclase").on('changeDate', function(){#}
{#                fechac = $("#fechaclase").val().split("-")#}
{#                fechaclase = new Date(fechac[2], fechac[1] - 1, fechac[0]);#}
{#                fecha = new Date({{ inicio.year }},{{ inicio.month }} - 1, {{ inicio.day}});#}
{##}
{#                if ( '1'  == {{ b }} ) {#}
{#                    $("#fechaclase").datepicker('setValue', fecha)#}
{#                }else{#}
{#                    if (fechaclase < fecha  ){#}
{##}
{#                        #}
{#                        $("#fechaclase").val( '{{ lecciongrupo.fecha|date:"d-m-Y" }}')#}
{#                        var f = ( $("#fechaclase").val());#}
{#                        $("#fechaclase").datepicker('setValue', f)#}
{##}
{##}
{#                    }else{#}
{#                        alert(56);}#}
{#                        $("#fechaclase").val({{ hoy }})#}
{##}
{#                }#}
{##}
{#                });#}

            $("#horaentrada").timeEntry();
            $("#horaentrada").timeEntry('setTime', new Date(0,0,0,{{ lecciongrupo.horaentrada.hour }},{{ lecciongrupo.horaentrada.minute }},0));
            $("#horasalida").timeEntry();
            {% if lecciongrupo.horasalida %}
                $("#horasalida").timeEntry('setTime', new Date(0,0,0,{{ lecciongrupo.horasalida.hour }},{{ lecciongrupo.horasalida.minute }},0));
            {% endif %}

            {% if lecciongrupo.abierta %}
                $("#observaciones").blur(function() {
                    var id = $(this).attr("idleccion");
                    var val = this.value;
                    var parent = $(this);
                    parent.addClass("ajaxed");
                    $.post("/pro_clases",{id: id, action: 'observaciones', val: val}, function() {
                        parent.removeClass("ajaxed");
                    }, "json");
                });
                $("#contenido").blur(function() {
                    var id = $(this).attr("idleccion");
                    var val = this.value;
                    var parent = $(this);
                    parent.addClass("ajaxed");
                    $.post("/pro_clases",{id: id, action: 'contenido', val: val}, function() {
                        parent.removeClass("ajaxed");
                    }, "json");
                });

                $(".asist").click(function() {
                    var id = $(this).attr("idasis");
                    var val = $(this).is(":checked");
                    var parent = $(this.parentNode);
                    parent.addClass("ajaxed");
                    $.post("/pro_clases",{id: id, action: 'asistencia', val: ((val)?"y":"n")}, function(data) {
                        parent.removeClass("ajaxed");
                        {% if MODELO_EVALUATIVO.0 == MODELO_EVALUATIVO.1 %}
                            $("#porcientoasist"+id).html(data.porcientoasist+"h");
                            if (data.porcientoasist < 16){
                                $("#porcientoasist"+id).removeClass("badge-success");
                                $("#porcientoasist"+id).addClass("badge-important");
                            }else{
                                $("#porcientoasist"+id).removeClass("badge-important");
                                $("#porcientoasist"+id).addClass("badge-success");
                            }
                        {% else %}
                            $("#porcientoasist"+id).html(data.porcientoasist+"%");
                            if (data.porcientoasist < {{ ASISTENCIA_APROBAR }}){
                                $("#porcientoasist"+id).removeClass("badge-success");
                                $("#porcientoasist"+id).addClass("badge-important");
                            }else{
                                $("#porcientoasist"+id).removeClass("badge-important");
                                $("#porcientoasist"+id).addClass("badge-success");
                            }
                       {% endif %}

                    }, "json");
                });
                $(".evalbutton").click(function() {
                    var id = $(this).attr("idasis");
                    var parent = $(this.parentNode);
                    smoke.prompt("Digite Evaluacion", function(v) {
                        if (v) {
                            parent.addClass("ajaxed");
                            $.post("/pro_clases",{action:'evaluar', id: id, val: v}, function(data) {
                                if ($("span#eval"+id).html().trim()!='') {
                                    $("span#eval"+id).append(" | ");
                                }
                                $("span#eval"+id).append(v);
                                $("span#prom"+id).html(data.promedio);
                                parent.removeClass("ajaxed");

                            }, "json");
                        } else {

                        }
                    });
                });

            {% endif %}
            $(".cell").each(function(cell) {
                $this = $(this);
                var dia = $this.attr('dia');
                var turno = $this.attr('turno');
                var clase = findClases(dia, turno);
                for (i in clase) {
                    var c = clase[i];
                    $(this).html("<div class='row smaller' style='text-align: center;'><div class='pd'><b>"+c.asignatura+"</b><br/>"+
                            c.profesor+"<br/>Aula: "+c.aula+"<br/>"+
                            " <a href='/horarios?action=editclase&id="+c.id+"'><img src='/static/images/16/edit2.png' alt='' border=''/></a>" +
                            " <a href='/horarios?action=delclase&id="+c.id+"'><img src='/static/images/16/delete2.png' alt='' border=''/></a>" +
                            "</div></div>");
                }

            });

            $(".absentismo").click(function()
                {
                   $('#observacion').val("");
                   $("#mensaj").html("").removeClass('alert alert-danger');
                   $("#addpanel").modal({"backdrop":"static"});
                   $('#addpanel').show();
                   $("#addpanel .ingresar").show();
                   idmateriaasignada = $(this).attr("idmateriasig");
                   idasisten = $(this).attr('idasisten');
                   if ($("#checke"+idmateriaasignada).is(":checked")) {
                       $("#addpanel #tit").html('Utilizar cuando se detecte reiterada ausencia de los estudiantes a su materia..');
                       $("#check"+idasisten).attr('disabled',true);
                       valcheck = $("#check"+idasisten).is(':checked');
                       $("#check"+idasisten).attr('checked',false);
                       var val = $("#check"+idasisten).is(":checked");
                       var parent = $($("#check"+idasisten).parentNode);
                       parent.addClass("ajaxed");
                       if(valcheck){
                           $.post("/pro_clases",{id: idasisten, action: 'asistencia', val: ((val)?"y":"n")}, function(data) {
                                parent.removeClass("ajaxed");

                                {% if MODELO_EVALUATIVO.0 == MODELO_EVALUATIVO.1 %}
                                    $("#porcientoasist"+idasisten).html(data.porcientoasist+"h");
                                    if (data.porcientoasist < 16){
                                        $("#porcientoasist"+idasisten).removeClass("badge-success");
                                        $("#porcientoasist"+idasisten).addClass("badge-important");
                                    }else{
                                        $("#porcientoasist"+idasisten).removeClass("badge-important");
                                        $("#porcientoasist"+idasisten).addClass("badge-success");
                                    }
                                {% else %}
                                    $("#porcientoasist"+idasisten).html(data.porcientoasist+"%");
                                    if (data.porcientoasist < {{ ASISTENCIA_APROBAR }}){
                                        $("#porcientoasist"+idasisten).removeClass("badge-success");
                                        $("#porcientoasist"+idasisten).addClass("badge-important");
                                    }else{
                                        $("#porcientoasist"+idasisten).removeClass("badge-important");
                                        $("#porcientoasist"+idasisten).addClass("badge-success");
                                    }
                               {% endif %}

                           }, "json");
                       }

                   }
                   else {
                       $("#addpanel #tit").html('Desactivar cuando el estudiante asista a su materia..');
                       $("#check"+idasisten).attr('disabled',false);
                   }
                }
            );

            $("#addpanel .btn-cerrar").click(function(){
               $("#addpanel").modal("hide");
               if ($("#checke"+idmateriaasignada).is(":checked")) {
                   $("#checke"+idmateriaasignada).attr('checked',false);
                   $("#check"+idasisten).attr('disabled',false);
                   if (valcheck)
                   {
                       $("#check"+idasisten).attr('checked',true);
                       var val = $("#check"+idasisten).is(":checked");
                       var parent = $($("#check"+idasisten).parentNode);
                       parent.addClass("ajaxed");
                       $.post("/pro_clases",{id: idasisten, action: 'asistencia', val: ((val)?"y":"n")}, function(data) {
                            parent.removeClass("ajaxed");

                            {% if MODELO_EVALUATIVO.0 == MODELO_EVALUATIVO.1 %}
                                $("#porcientoasist"+idasisten).html(data.porcientoasist+"h");
                                if (data.porcientoasist < 16){
                                    $("#porcientoasist"+idasisten).removeClass("badge-success");
                                    $("#porcientoasist"+idasisten).addClass("badge-important");
                                }else{
                                    $("#porcientoasist"+idasisten).removeClass("badge-important");
                                    $("#porcientoasist"+idasisten).addClass("badge-success");
                                }
                            {% else %}
                                $("#porcientoasist"+idasisten).html(data.porcientoasist+"%");
                                if (data.porcientoasist < {{ ASISTENCIA_APROBAR }}){
                                    $("#porcientoasist"+idasisten).removeClass("badge-success");
                                    $("#porcientoasist"+idasisten).addClass("badge-important");
                                }else{
                                    $("#porcientoasist"+idasisten).removeClass("badge-important");
                                    $("#porcientoasist"+idasisten).addClass("badge-success");
                                }
                           {% endif %}

                       }, "json");
                   }
               } else {
                   $("#checke"+idmateriaasignada).attr('checked',true);
                   $("#check"+idasisten).attr('disabled',true);
               }
                return false;
            });

            $("#addpanel .ingresar").click(function(){
{#                alert($('#observacion').val());#}
                $("#addpanel .ingresar").hide();
                if($('#observacion').val() != '')
                {
                    $("#mensaj").html("").removeClass('alert alert-danger');
                    $.post("/adm_docentes", {action: 'addabsen', 'observacion': $('#observacion').val(), 'absencheck':$("#checke"+idmateriaasignada).is(":checked"), 'idmateriasig':idmateriaasignada}, function(data) {
                        if (data.result=='ok') {
                           $("#addpanel").modal("hide");
                            smoke.alert("INGRESO REALIZADO CON EXITO");
{#                            setInterval(function(){#}
{#                                $.unblockUI();#}
{#                                location.reload();#}
{#                            }, 2000);#}
                            return false;

                        }
                        else
                        {
                            $("#addpanel").modal("hide");
                            smoke.alert("ERROR EN EL INGRESO");
                            return false;
                        }
                    }, "json");

                }
                else
                {
                   $("#mensaj").html("Ingrese observacion").addClass('alert alert-danger');
                   $("#addpanel .ingresar").show();
                }

            });

            {% if  perms.sga.delete_asistencialeccion %}
                $("#fechaclase").attr('disabled',false);
                $("#horaentrada").attr('disabled',false);
                $("#horasalida").attr('disabled',false);
                $("#contenido").attr('disabled',false);
                $("#observaciones").attr('disabled',false);
{#                document.getElementsByClassName('timeEntry_control')[0].style.display = 'block';#}
{#                document.getElementsByClassName('timeEntry_control')[1].style.display = 'block';#}
            {% else %}
                $("#fechaclase").attr('disabled',true);
                $("#horaentrada").attr('disabled',true);
                $("#horasalida").attr('disabled',true);
                $("#contenido").attr('disabled',true);
                $("#observaciones").attr('disabled',true);
                document.getElementsByClassName('timeEntry_control')[0].style.display = 'none';
                document.getElementsByClassName('timeEntry_control')[1].style.display = 'none';
{#                $(".timeEntry_control").addClass({'display':'none'});#}

            {% endif %}
        });

    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3>Lecci&oacute;n: {{ lecciongrupo.materia.nombre_completo }}</h3>
            <h5>Aula: {{ lecciongrupo.aula }}</h5>

            Fecha: <input type='text' class='headerinput' id='fechaclase' />
            <div >Hora Inicio: <input type='text' class='headerinput' id='horaentrada'/> Hora Final: <input type='text' class='headerinput' id='horasalida'/></div>

        </div>
        <div class='span1'>
            <a href="/adm_docentes?action=clases&id={{ profesor.id }}" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span8'>
            {% for leccion in lecciones %}
                <h3 {% if not forloop.first %}class='topspaced'{% endif %}>Listado de Alumnos: {{ leccion.clase.materia.nivel.carrera }} - {{ leccion.clase.materia.nivel.paralelo }}</h3>
                <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Alumno</th>
                        <th>Asistencia</th>
                        <th style="text-align: center;"> Asist.</th>

                        {% if justifica %}
                            <th>Justificar</th>
                        {% endif %}
                        <th colspan="2">Evaluaciones</th>
                      {% if DEFAULT_PASSWORD == 'itb' or DEFAULT_PASSWORD == 'itf' or DEFAULT_PASSWORD == 'conduccion' %}
                            <th>Absentismo</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for asistencia in leccion.asistencia_de_leccion %}
                        {% if not asistencia.matricula.esta_retirado %}
                            <tr>
                                <td>

                                    <span {% if not asistencia.matricula.pago or not incluyepago %}class='error'{% endif %}>
                                        {{ asistencia.matricula.inscripcion.persona }}
                                    </span>
                                    {% if asistencia.matricula.inscripcion.persona.datos_incompletos and incluyedatos %}
                                        <br/><span class='label label-info'>DATOS INCOMPLETOS</span>
                                    {% endif %}
                                                                        {% if modulofinanzas %}
                                        {% if asistencia.matricula.inscripcion.tiene_deuda %}
                                            <br/><span class='label label-important'>ADEUDA A LA FECHA ${{ asistencia.matricula.inscripcion.adeuda_a_la_fecha|floatformat:2 }}</span>
                                        {% endif %}
                                    {% endif %}
                                    {% if asistencia.matricula.inscripcion.suspension %}
                                        <br/><span class='label label-important tl'>SUSPENDIDO</span>
                                    {% endif %}
                                    {% if asistencia.matricula|args:lecciongrupo|call:'numero_matricula'  %}
                                        <br/><span class='label label-important tl'>Matricula No {{ asistencia.matricula|args:lecciongrupo|call:'numero_matricula' }} </span>
                                    {% endif %}
                                </td>
                             <td>
                                    {% if not asistencia.matricula.inscripcion.suspension %}
                                        {% if not usa_modulo_justificacion_ausencias or    perms.sga.change_ausenciajustificada  %}
                                            <input
                                                    type='checkbox' idasis='{{ asistencia.id }}' class="asist" id='check{{ asistencia.id }}'
                                                    {% if asistencia.asistio %}checked="true"{% endif %}

                                                    {% if DEFAULT_PASSWORD == 'itb'  or DEFAULT_PASSWORD == 'itf' or DEFAULT_PASSWORD == 'conduccion'  %}
                                                        {% if not asistencia.matricula.inscripcion.suspension %}
                                                            {% with materiaasignada=asistencia.matricula|args:lecciongrupo.materia|call:'materiaasignada_existe' %}
                                                                {% if materiaasignada.absentismo %} disabled="True" {% endif %}
                                                            {% endwith %}
                                                        {% endif %}
                                                    {% endif %}
                                            />
                                        {% else %}
                                            {% if asistencia.asistio %}
                                                <img src='/static/images/16/true.png' width='14px' alt='' border="0"/>
                                            {% else %}
                                                <img src='/static/images/16/false.png' width="14px" alt='' border="0"/></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                </td>
                                {#ESTA PARTE ES SOLO PARA JUSTIFICAR #}
                                {% if justifica %}
                                    <td>

                                        {% if asistencia.asistio %}
                                            <img src='/static/images/16/true.png' width='14px' alt='' border="0"/>
                                            {% else %}
                                            {% if usa_modulo_justificacion_ausencias and perms.sga.change_asistencialeccion %}
                                                <a href="#" class='justificar' leccid='{{ asistencia.id }}' asig='{{ asistencia.matricula.inscripcion }}' fecha='{{ asistencia.leccion.fecha|date:'d-m-Y' }}'><img src='/static/images/16/false.png' width="14px" alt='' border="0"/></a>
                                            {% else %}
                                                <img src='/static/images/16/false.png' width="14px" alt='' border="0"/></a>
                                            {% endif %}
                                        {% endif %}

                                    </td>
                                {% endif %}

                                <td style="text-align: center;">
                                    {% if MODELO_EVALUATIVO.0 == MODELO_EVALUATIVO.1 %}
                                        <span id='porcientoasist{{ asistencia.id }}' class="badge {% if asistencia.horas_asistencia_actual < 16 %}badge-important{% else %}badge-success{% endif %}">{{ asistencia.horas_asistencia_actual|floatformat:0 }}h</span>
                                    {% else %}
                                        <span id='porcientoasist{{ asistencia.id }}' class="badge {% if asistencia.porciento_asistencia_actual < ASISTENCIA_APROBAR %}badge-important{% else %}badge-success{% endif %}">{{ asistencia.porciento_asistencia_actual }}%</span>
                                   {% endif %}

                                </td>

                                <td>
                                    {% if not modulofinanzas %}
                                        {% if not asistencia.matricula.pago and incluyepago %}
                                            <span class='label label-important'>MATRICULA NO PAGADA</span>
                                        {% endif %}
                                    {% endif %}

                                    {% if asistencia.matricula.pago and not asistencia.matricula.inscripcion.persona.datos_incompletos or not incluyedatos or not incluyepago%}
                                        {% if leccion.abierta %}
                                            {% if  perms.sga.delete_asistencialeccion  %}
                                                <a href="#" idasis='{{ asistencia.id }}' class='evalbutton btn btn-mini'><i class="icon-plus-sign"></i></a>
                                            {% endif %}
                                        {% endif %}
                                        <span id='eval{{ asistencia.id }}'>{% for evaluacion in asistencia.evaluaciones %} <span class='badge {{ evaluacion.clase_nota }}' evalid="{{ evaluacion.id }}">{{ evaluacion.evaluacion|floatformat }}</span>{% endfor %}</span>
                                        {% if leccion.abierta %}
                                            <a href="#" idasis='{{ asistencia.id }}' class='removeevalbutton removeevalbutton{{ asistencia.id }} btn btn-mini' {% if not asistencia.evaluaciones  %}style='display: none'{% endif %}><i class="icon-caret-left"></i></a>
                                        {% endif %}
                                    {% endif %}

                                </td>
                                <td>
                                    {% if asistencia.matricula.pago and not asistencia.matricula.inscripcion.persona.datos_incompletos or not incluyepago or not incluyedatos%}
                                        <span id='prom{{ asistencia.id }}'><span class='badge {{ asistencia.promedio_evaluacion_clase_nota }}'>{{ asistencia.promedio_evaluacion|floatformat }}</span></span>
                                    {% endif %}
                                </td>
                            {% if DEFAULT_PASSWORD == 'itb' or DEFAULT_PASSWORD == 'itf' or DEFAULT_PASSWORD == 'conduccion' %}
                                    <td>
                                        {% if not asistencia.matricula.inscripcion.suspension %}
                                            {% with materiaasignada=asistencia.matricula|args:lecciongrupo.materia|call:'materiaasignada_existe' %}
{#                                                AQUI HAY Q CAMBIAR EL PERMISO#}
                                                {%   if perms.sga.delete_asistencialeccion  %}

                                                    <input type='checkbox' idasisten='{{ asistencia.id }}' {% if not materiaasignada.absentismo %} title="Utilizar cuando se detecte reiterada ausencia de los estudiantes a su materia." {% else  %}title="Desactivar cuando el estudiante asista a su materia." {% endif %}  class='absentismo' id='checke{{ materiaasignada.id }}' idmateriasig='{{ materiaasignada.id }}' {% if materiaasignada.absentismo %}checked{% endif %}{% if not perms.sga.change_asistencialeccion %} disabled="True" {% endif %}/>
                                                    {% if materiaasignada.absentismo %}<a href="#" class="verabs" idabs="{{  materiaasignada.existe_absentismo.observacion }}"> Ver</a>{% endif %}
                                                {% else %}
                                                    {% if materiaasignada.absentismo  %}
                                                        <img src='/static/images/16/true.png' width='14px' alt='' border="0"/>
                                                    {% else %}
                                                        <img src='/static/images/16/false.png' width="14px" alt='' border="0"/></a>
                                                    {% endif %}

                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>

                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

            {% endfor %}
        </div>
        <div class='span4'>
            <form class='well'>
                {% if SEGUIMIENTO_SYLLABUS %}
                {% if seguimiento %}
                <table class="table table-striped">
                    <tbody >
                        <tr>
                            <td>
                               <a id='syllabus' href="#">Ver Syllabus</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            {% endif %}
                <h3>Contenido</h3>

                    <textarea idleccion='{{ lecciongrupo.id }}' id='contenido' rows="10" style="width: 100%;"  >{{ lecciongrupo.contenido }}</textarea>
                    <h3>Observaciones</h3>
                    <textarea idleccion='{{ lecciongrupo.id }}' id='observaciones' rows="10" style="width: 100%;"  >{{ lecciongrupo.observaciones }}</textarea>


            </form>
        </div>
    </div>
    {% if lecciongrupo.abierta %}
    <div class='row-fluid'>
        <div class='span12'>
            {% if perms.sga.delete_asistencialeccion  %}
{#                <a id="cerrarclase" href="#" class='btn btn-success'><i class="icon-time icon-white"></i> Cerrar Clase</a>#}
                <a id="motivocierre" href="#" class='btn btn-success'><i class="icon-time icon-white"></i> Cerrar Clase</a>
            {% else %}
                {#  OCastillo 05-10-2023 para los asistentes    #}
                <a id="motivocierre" href="#" class='btn btn-success'><i class="icon-time icon-white"></i> Cerrar Clase</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

  <div class="modal fade static" id="justificarpanel" style="display: none;">
    <div class="row-fluid">
        <div class="span8">
            <div class="modal-header">
                <h4 class="paneltitle">JUSTIFICACION DE AUSENCIAS</h4>
                <h5>Profesor: </h5> <span id="profesortitle"></span>
                <h5>Estudiante: </h5> <span id="inscripciontitle"></span>
                <h5>Fecha Lecci&oacute;n: </h5> <span id='fechatitle'></span>
            </div>
        </div>
        <div class="span4">
            <img src="/static/images/iconos/justificar.png"/>
        </div>

    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id='alertas' class="alert alert-danger" style="display: none;"></div>
        </div>
    </div>

    <div class="modal-body panelbody">
        <input type="hidden" id='profesor' value=""/>
        <input type="hidden" id='asist' value=""/>
        <form id="formulario" class='well form-horizontal' method="POST">
            {% for field in form %}
                <fieldset class="control-group nomargins">
                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <p class="help-text">{{ field.help_text }} </p>
                    </div>
                </fieldset>
            {% endfor %}
        </form>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span8">
                <span class="label label-info"><i> ALERTA: Esta Acci&oacute;n ser&aacute; registrada en la base, como control interno de la Entidad</i></span>
            </div>
            <div class="span4">
                <a href="#" class="btn btn-cerrar">Cerrar</a>
                <a href="#" class="btn btn-adicionar btn-success">Justificar</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade static" id="addpanel" style="display: none;">
    <div class="modal-header alert-info" style="text-align: center">
        <h3 id="paneltitle" >Ingrese Observacion</h3>
    </div>
    <div class="modal-body panelbody">
        <div id="tit" class="alert-danger" style="padding-left: 13%"> Utilizar cuando se detecte reiterada ausencia de los estudiantes a su materia..</div><br/>
        <h4>
            <div style="width:100%;padding-left: 13%">Observaci&oacute;n: <textarea type='text' id='observacion' style="width:60%;text-transform: uppercase" rows="4" cols="50" > </textarea></div>
        </h4>
        <div style="padding-left: 13%"> <p id='mensaj' ></p></div>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-ejecutar btn-info ingresar"> Ingresar</a>
        <a href="#" class="btn btn-cerrar"> Cerrar</a>
    </div>
</div>
<div class="modal fade static" id="syllabus_panel" style="display: none;">
        <div class="modal-body panelbody">
            <div  style="overflow-y:auto;">
                <table class='table table-bordered table-striped'>
                    <thead>
                        <tr>
                            <th colspan="6" style="text-align: center">Syllabus</th>
                            <th  style="text-align: center">Avanzar</th>
                            <th  style="text-align: center">Finalizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if seguimiento.capitulo.temas %}
                            {% for t in seguimiento.capitulo.temas %}
                                <tr>
                                <td colspan="8">
                                    <div style="text-align: justify;padding-left: 15px"><b>{{ t.numero }}. {{ t.nombre }}1 </b> </div>
                                    {% if t.contenido %}
                                        <div style="text-align: justify;padding-left: 39px">{{ t.contenido }} 2</div>
                                    {% endif %}
                                    {% if t.detalltema %}
                                        {% for dt in t.detalltema %}
                                            <div style="text-align: justify;padding-left: 35px">{{ dt.descripcion }}3 </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% if t.subtema %}
                                        {% for st in t.subtema %}
                                            <tr>
                                                <td colspan="8" style="text-align: justify;padding-left: 33px">
                                                {% if st.detalle %}
                                                    <b>{{ st.numero }}. {{ st.contenido }} 4</b>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6" style="text-align: justify;padding-left: 33px">
                                                             {{ st.numero }}. {{ st.contenido }} 5  </td>
                                                        <td style="text-align: center"><input class='stema' idst="{{ subtema.id }}" op="0" type="checkbox"
                                                            {% for segsubtema in seguimientosubtema %}
                                                                {% if not lecciongrupo.abierta %}
                                                                     disabled
                                                                 {% else %}
                                                                    {% if segsubtema.subtema.id == st.id and not segsubtema.subtema.id == subtema.subtema.id  %} disabled {% endif %}
                                                                {% endif %}
                                                                {% if segsubtema.subtema.id == st.id and lecciongrupo == subtema.leccion and not  segsubtema.finalizado and  segsubtema.leccion  %} checked {% endif %}
                                                            {% endfor %}
                                                        ></td>
                                                        <td style="text-align: center"><input class='stema' idst="{{ subtema.id }}"  op="1" type="checkbox"
                                                            {% for segsubtema in seguimientosubtema %}
                                                                 {% if not lecciongrupo.abierta %}
                                                                     disabled
                                                                 {% else %}
                                                                    {% if segsubtema.subtema.id == st.id and not segsubtema.subtema.id == subtema.subtema.id  %} disabled {% endif %}
                                                                 {% endif %}
                                                                {% if segsubtema.subtema.id == st.id and   segsubtema.finalizado  and  segsubtema.leccion %} checked {% endif %}
                                                            {% endfor %}
                                                        ></td>
                                                    </tr>
                                                {% endif %}
                                            {% if st.detalle %}
                                                {% for dst in st.detalle %}
                                                    <tr>
                                                       <td colspan="6">
                                                           <div style="text-align: justify;padding-left: 43px">

                                                            {{ dst.numero }}. {{ dst.contenido }} </div>
                                                       </td>
                                                       <td style="text-align: center"><input class='dstema' iddst="{{ detsubtema.id }}" op="0" type="checkbox"
                                                           {% for segdetsubtema in seguimientodetsubtema %}
                                                                {% if not lecciongrupo.abierta %}
                                                                    disabled
                                                                {% else %}
                                                                    {% if segdetsubtema.detsubtema.id == dst.id   and  not detsubtema.detsubtema.id == dst.id  %}disabled {% endif %}
                                                                {% endif %}
                                                               {% if segdetsubtema.detsubtema.id == dst.id  and lecciongrupo == detsubtema.leccion   and not  segdetsubtema.finalizado and segdetsubtema.leccion  %}checked {% endif %}
                                                           {% endfor %}/>
                                                       </td>
                                                       <td style="text-align: center">
                                                            <input id='hk' class='dstema'  iddst="{{ detsubtema.id }}" op="1"  type="checkbox"
                                                           {% for segdetsubtema in seguimientodetsubtema %}
                                                               {% if not lecciongrupo.abierta %}
                                                                    disabled
                                                               {% else %}
                                                                    {% if segdetsubtema.detsubtema.id == dst.id  and  not detsubtema.detsubtema.id == dst.id   %} disabled {% endif %}
                                                               {% endif %}
                                                               {% if segdetsubtema.detsubtema.id == dst.id and  segdetsubtema.finalizado and  segdetsubtema.leccion %} checked{% endif %}
                                                            {% endfor %}/>
                                                       </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </td></tr>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
     <div class="modal-footer" id="cerrar_panel" style="text-align: center">

        <a href="#" class="btn btn-success"> Salir</a>
    </div>
    </div>


<div class="modal fade static" id="motivocierre_panel" style="display: none;">
    <div class="modal-header alert-info" style="text-align: center">
        <h3 id="paneltitle1"> Seleccionar Motivo  </h3>
    </div>
    <div class="modal-body" style="margin: 20px">
        <form id="formulario5" class='form-horizontal' action="" method="POST">
            {% for field in motivoccform %}
                <fieldset class="control-group nomargins">
                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <p class="help-text">{{ field.help_text }} </p>
                    </div>
                </fieldset>
            {% endfor %}
            <p id=mensaje style="color: red;font-size: 14px"></p>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-cerrar">Cerrar</a>
        <a href="#" class="btn btn-actualizar btn-warning">Aceptar</a>
    </div>
</div>

{% endblock %}