{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_fecha").datepicker({format:"dd-mm-yyyy"});
    $("#id_motivo, #id_fecha, #id_especie").addClass("validate[required]");
    $("#id_especie").addClass("input-medium");
    $("#id_motivo").focus();
{% endblock %}
{% block titulo %}
    Ingrese el Motivo de Apertura de Clase
{% endblock %}
{% block formaction %}/adm_docentes{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addclase'/>
    <input type='hidden' name='turno' value="{{ turno2 }}"/>
    <input type='hidden' name='clase' value="{{ clase2 }}"/>
    <input type='hidden' name='dia' value="{{ dia2 }}"/>
    <input type='hidden' name='profesor' value="{{ profesor2 }}"/>
    <input type='hidden' name='prof' value="{{ prof }}"/>
    <input type='hidden' name='aula' value="{{ aula2 }}"/>
    <input type='hidden' name='sede' value="{{ sede2 }}"/>
{% endblock %}
{#{% block formback %}/matriculas?action=matricula&id={{ matricula.nivel.id }}{% endblock %}#}
{% block formback %}/adm_docentes{% endblock %}
{% block buttonname %}Abrir Clase{% endblock %}