 <div>
     <strong>Fecha</strong> : {{ datosresposabale.fecha }} <br>
    <strong>Identificación </strong>: {{ datosresposabale.fecha }} <br>
    <strong>Nombres </strong>: {{ datosresposabale.nombres }} <br>
    <strong>Apellidos </strong>: {{ datosresposabale.apellidos }} <br>
    <strong>Teléfono </strong>: {{ datosresposabale.telefono }} <br>
    <strong>Celular </strong>: {{ datosresposabale.celular }} <br>
    <strong>Email </strong>: {{ datosresposabale.email }} <br>
    <strong>Referencia </strong>: {{ datosresposabale.referencia }} <br>
    <strong>Calle Principal </strong>: {{ datosresposabale.calleprincipal }} <br>
    <strong>Calle Secundaria </strong>: {{ datosresposabale.callesecundaria }} <br>
    <strong>Provincia </strong>: {{ datosresposabale.provincia.nombre }} <br>
    <strong>Ciudad </strong>: {{ datosresposabale.ciudad.nombre }} <br>
    <strong>Parroquia </strong>: {{ datosresposabale.parroquia.nombre }} <br>
    <strong>Estado Civil </strong>: {{ datosresposabale.estadocivil.nombre }} <br>
    
</div> 
  
         
   
