<script type="text/javascript">
    $('.responder').click(function(e) {
        var iddeta = $(this).attr("iddeta");
        $("#responpanel #action").val("responder");
        $("#responpanel #consulta").val($(this).attr("consult"));
        $("#responpanel #responder").val("");
        $("#responpanel #idetall").val(iddeta);
        $("#responpanel").modal({width: '40%', backdrop: 'static'});
        $("#responpanel").modal("show");
        $("#detallereque").modal("hide");
    });
</script>
<div class='row-fluid'>
    <div class='span12'>
        <table class='table table-striped table-bordered' cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th style="text-align: center">Consulta</th>
                <th style="text-align: center">Respuesta</th>
                {% if not consultamod %}
                    <th ></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for dreq in detallerequerimiento %}
                <tr>
                    <td>{{ dreq.preguntadepart }}</td>
                    <td >{%  if dreq.respuestarequer %}{{ dreq.respuestarequer }}{% endif %}</td>
                    {% if not consultamod %}
                        <td style="text-align: center"  >
                            {% if not dreq.respuestarequer and not dreq.requerimiento.finalizado %}
                                <a class="btn btn-info responder" consult="{{ dreq.preguntadepart }}" iddeta="{{ dreq.id }}">Responder</a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% if not detallerequerimiento %}
                <tr>
                    <td colspan="{% if not consultamod %}3{% else %}2{% endif %}">
                        NO HAY CONSULTAS EN EL REQUERIMIENTO
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
