{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    $(function() {
        cambiar_monto = function(){
            $("#cambiar_monto #paneltitle1").html('Cambiar Monto de Aportación');
            $("#cambiar_monto").modal({width: '300px', backdrop: 'static'});
            $("#cambiar_monto").modal("show");
            $("#valor_monto").val('{{ persona_cab.monto }}')
        }

        $(".btn_cerrar").click(function(){
            $("#cambiar_monto").modal("hide");
        })
    });
</script>

{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
{#        <div class="span1"></div>#}
        <div class="span thumbnail" style="max-resolution: 50px; box-shadow: 5px 5px 15px;">
            <img src='/static/images/img/cab6.jpg' border='0'/>
        </div>
    </div>

    {% if persona_cab %}
        <div class="row-fluid" style="margin-top: 20px">
            <div class="span thumbnail" style="max-resolution: 50px; box-shadow: 5px 5px 15px;">
                <div class="row-fluid" style="text-align: right; margin-top: 20px; margin-bottom: 20px">
                    <div class="span1"></div>
                    <div class="span10">
                        <a href="#" onclick="cambiar_monto()"  class='btn btn-primary'><i class="icon-money"></i> Editar Aportación</a>
                        <a href="/alumnos_cab?action=ver_form&personaid={{ persona_cab.persona.id }}" class='btn btn-primary'><i class="icon-eye-open"></i> Ver Formulario</a>
                        {% if not solicitud_desafiliacion %}
                            <a href="/alumnos_cab?action=desafiliarse&id={{ persona_cab.id }}" class='btn btn-danger'><i class="icon-remove"></i> Desafiliarse</a>
                        {% endif %}
                        <a href="/mantenimiento" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
                    </div>
                </div>
                <div class='row-fluid'>
                    <div class="span">
                            <div class='row-fluid'>
                                <div class="span1"></div>
                                <div class='span10' style="text-align: left;">
                                        <h3>
                                            <a href="#" onclick="cambiar_monto()" title="Cambiar monto de aportación"><i class="icon-edit"></i> </a>
                                            <b> Monto de afiliaci&oacute;n:</b>
                                            ${{ persona_cab.monto }}
                                        </h3>
                                </div>
                            </div>
                            {% if solicitud_desafiliacion %}
                                <div class='row-fluid'>
                                    <div class="span1"></div>
                                    <div class='span10'>
                                        <h3 class="display-4" style="text-align: left">Solicitud Desafiliacion</h3>
                                        <table class="table table-condensed table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Motivo</th>
                                                    <th style="text-align: center">Fecha</th>
                                                    <th style="text-align: center">Respuesta</th>
                                                    <th style="text-align: center">Fecha Respuesta</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for s in solicitud_desafiliacion %}
                                                    <tr>
                                                        <td>{{ s.motivo }}</td>
                                                        <td>{{ s.fecha|date:'d-m-Y' }}</td>
                                                        <td style="text-align: center">
                                                            {% if not s.solicitud_aceptada and not s.solicitud_rechazada %}
                                                                <span class="label label-warning">EN ESPERA</span>
                                                            {% else %}
                                                                {% if s.solicitud_aceptada %}
                                                                    <span class="label label-success">APROBADO</span>
                                                                {% else %}
                                                                    <span class="label label-danger">RECHAZADO</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td style="text-align: center">{% if s.fecha_aceptacionrechazo %}{{ s.fecha_aceptacionrechazo|date:'d-m-Y' }}{% endif %}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                            <hr>
                            <div class='row-fluid'>
                                <div class="span1"></div>
                                <div class='span10'>
                                    <p class="lead" style="text-align: justify">
                                        La caja de ahorro promueve el desarrollo profesional y personal, por ello como entidad financiera nos encontramos comprometidos con la
                                        profesionalización de la comunidad Bolivariana, brindadores asistencia financiera para que puedan cumplir sus metas.
                                    </p>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span10">
                                    <h3 style="text-align: left">Financiamiento</h3>
                                    <ul style="text-align: justify">
                                          <li><p>De acuerdo a la capacidad de pago, máximo 50% del salario neto destinado para el pago de cuotas.</p></li>
                                          <li><p>Monto Mínimo. $100</p></li>
                                          <li><p>Monto máximo: $20.000</p></li>
                                          <li><p>Plazo Máximo 36 meses.</p></li>
                                          <li><p>Tasa Preferencial del 12% anual.</p></li>
                                          <li><p>Aporte al fondo de fortalecimiento patrimonial del 2% del monto aprobado.</p></li>
                                          <li><p>Garantía 3 a 1 con base al monto ahorrado.</p></li>
                                    </ul>
                                </div>
                            </div>
            </div>
        </div><br>
    {% else %}
        <div class="row-fluid" style="margin-top: 20px">
            <div class="span thumbnail" style="box-shadow: 5px 5px 15px; padding: 50px">
                    <div class="row-fluid" style="text-align: right; margin-bottom: 20px">
                        <div class="span1"></div>
                        <div class="span10" style="text-align: right;">
                            <a href="/alumnos_cab?action=form" class='btn btn-primary'><i class="icon-user"></i> Ser Socio</a>
                            <a href="/mantenimiento" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
                        </div>
                    </div>
                    <div class='row-fluid'>
                        <div class="span1"></div>
                        <div class='span10'>
                            <p class="lead" style="text-align: justify">
                                La caja de ahorro promueve el desarrollo profesional y personal, por ello como entidad financiera nos encontramos comprometidos con la
                                profesionalización de la comunidad Bolivariana, brindadores asistencia financiera para que puedan cumplir sus metas.
                            </p>
                        </div>
                    </div>
                    <hr style="margin-top: 20px; margin-bottom: 20px">
                    <div class='row-fluid' style="display: flex; align-items: center;">
                        <div class="span1"></div>
                        <div class='span5' style="vertical-align: middle">
                            <h3 class="display-4" style="text-align: left">¿Qui&eacute;nes somos?</h3>
                            <p style="text-align: justify">
                                La CAB, es una entidad formada por personas naturales cuyo vinculo común es pertenecer a la comunidad Educativa Bolivariana,
                                conformada por estudiantes y colaboradores del Instituto Superior Universitario de Tecnología y la Universidad Bolivariana del Ecuador,
                                unidas voluntariamente que se forma con aportes económicos de sus socios, en calidad de ahorros, sin que pueda captar fondos de terceros,
                                para el otorgamiento de créditos a sus miembros de  conformidad con la Ley Orgánica de Economía Popular y Solidaria,
                                el Reglamento a la Ley Orgánica de Economía Popular y Solidaria, el Código Orgánico Monetario y Financiero, el Estatuto Social de la caja de ahorro,
                                las regulaciones y resoluciones emitidas por la Junta de Política y Regulación Monetaria y Financiera y la Superintendencia de Economía Popular y Solidaria.
                            </p>
                        </div>
                        <div class="span5">
                            <img src="/static/images/img/cab1.jpg" alt=""/>
                        </div>
                    </div>
                    <hr style="margin-top: 20px; margin-bottom: 20px">
                    <div class='row-fluid' style="display: flex; align-items: center;">
                        <div class="span1"></div>
                        <div class="span5">
                            <img src="/static/images/img/cab3.jpg" alt=""/>
                        </div>
                        <div class='span5'>
                            <h3 style="text-align: left">¿C&oacute;mo ser socio?</h3>
                            <ul style="text-align: justify">
                                <li><p>Mantener una relación de dependencia en ITB-U y llenar <a href="/alumnos_cab?action=form">solicitud</a> donde debe completar datos personales, por medio del módulo CAB en el SGA.</p></li>
                                <li>
                                    <p>Monto de aportación mensual, para mantener la calidad de socio:</p>
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Rango de Salario</th>
                                            <th>Monto de Aportaci&oacute;n</th>
                                        </tr>
                                        <tr>
                                            <td>Hata $450.00</td>
                                            <td>$10.00</td>
                                        </tr>
                                        <tr>
                                            <td>Desde $450.00 hasta $800.00</td>
                                            <td>$15.00</td>
                                        </tr>
                                        <tr>
                                            <td>M&aacute;s de $800.00</td>
                                            <td>$20.00</td>
                                        </tr>
                                    </table>
                                </li>
                                <li>
                                    <p style="text-align: justify">
                                        Los aportes mensuales le pertenecen a cada uno de los socios y se cargarán al certificado de aportación individual y tiene la posibilidad de retirarlos cada 2 años hasta el 50%, siempre que no tenga obligaciones pendientes, cada socio puede decidir ahorrar más del monto fijado en su cartola de ahorro y es de libre disponibilidad. El monto del ahorro en certificados de aportación, permitirá acceder a mayor financiamiento en créditos.
                                    </p>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <hr style="margin-top: 20px; margin-bottom: 20px">
                    <div class='row-fluid' style="display: flex; align-items: center;">
                        <div class="span1"></div>
                        <div class='span5' style="vertical-align: middle">
                            <h3 style="text-align: left">Financiamiento</h3>
                            <ul style="text-align: justify">
                                  <li><p>De acuerdo a la capacidad de pago, máximo 50% del salario neto destinado para el pago de cuotas.</p></li>
                                  <li><p>Monto Mínimo. $100</p></li>
                                  <li><p>Monto máximo: $20.000</p></li>
                                  <li><p>Plazo Máximo 36 meses.</p></li>
                                  <li><p>Tasa Preferencial del 12% anual.</p></li>
                                  <li><p>Aporte al fondo de fortalecimiento patrimonial del 2% del monto aprobado.</p></li>
                                  <li><p>Garantía 3 a 1 con base al monto ahorrado.</p></li>
                            </ul>
                            <br>
                            <h3 style="text-align: left">Requisitos</h3>
                            <ul style="text-align: justify">
                                  <li><p>Ser socio de la caja de ahorro.</p></li>
                                  <li><p>Llenar formulario de solicitud de crédito.</p></li>
                                  <li><p>Planilla de servicios básicos actualizada (luz, agua o teléfono).</p></li>
                            </ul>
                        </div>
                        <div class="span5">
                            <img src="/static/images/img/cab2.jpg" alt=""/>
                        </div>
                    </div>
                    <hr style="margin-top: 20px; margin-bottom: 20px">
                    <div class='row-fluid' xmlns="http://www.w3.org/1999/html" >
                        <div class="span1"></div>
                        <div class="span5">
                            <h3 style="text-align: left">Misi&oacute;n</h3>
                            <p style="text-align: justify">
                                Captar ahorros de los socios, quienes cumplan con el vínculo común, para atenderlos con servicios financieros integrales con beneficios en costo, fortaleciendo así sus competencias financieras.
                            </p>
                        </div>
                        <div class="span5">
                            <h3 style="text-align: left">Visi&oacute;n</h3>
                            <p style="text-align: justify">
                                Ser un referente de apoyo e innovación financiera para la comunidad Bolivariana; y mediante la aplicación de buenas prácticas de gobierno, convertirnos en una Cooperativa de Ahorro y Crédito abierta.
                            </p>
                        </div>
                    </div>
{#                </div>#}
            </div>
        </div>
    {% endif %}

    <div class="modal fade static" id="cambiar_monto">
        <div class="modal-header">
            <h4 id='paneltitle1'></h4>
        </div>
        <form action="/alumnos_cab" method="post">
            <div class="modal-body panelbody">
                <input type="number" id="valor_monto" style="width: 50%" name="monto" min="15" />
                <input type="hidden" value="change_monto" name="action" />
                <input type="hidden" value="{{ persona_cab.id }}" name="id" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Enviar</button>
{#                <button class="btn btn_cerrar btn-danger">Cerrar</button>#}
            </div>
        </form>
    </div>

{% endblock %}
