{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    $(function() {

    });
</script>

{% endblock %}
{% block canvas %}
    <div class='row-fluid' xmlns="http://www.w3.org/1999/html">
        <div class="span1"></div>
        <div class="span9">
            <h2>Datos de Garante
            <h5 style="color:dimgrey">Informaci&oacute;n requerida en caso de solicitar cr&eacute;dito en la Caja de Ahorro Bolivariana (CAB)</h5></h2>
        </div>
        <div class="span1" style="text-align: right">
            <a href="/alumnos_cab" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
        </div>
    </div>
    <br>

    <div class='row-fluid' xmlns="http://www.w3.org/1999/html">
        <div class="span1"></div>
        <div class="span10">
{#            ----------------------------------------------------------------------DATOS PERSONALES---------------------------------------------------------------#}
            <h4 class='alert alert-info'>DATOS PERSONALES</h4>
            <table class="table table-condensed" style="width: 100%">
                <tr>
                    <th>Apellidos</th>
                    <th>Nombre</th>
                    <th>Tipo de Identificaci&oacute;n</th>
                    <th>Numero de Identificaci&oacute;n</th>
                    <th>Nacionalidad</th>
                </tr>
                <tr>
                    <td><input type="text" value="{{ garante.apellidos }}" disabled/></td>
                    <td><input type="text" value="{{ garante.nombre }}" disabled/></td>
                    <td><input type="text" value="{{ garante.tipo_identificacion }}" disabled/></td>
                    <td><input type="text" value="{{ garante.num_identificacion }}" disabled/></td>
                    <td><input type="text" value="{{ garante.pais.nombre }}" disabled/></td>
                </tr>

                <tr>
                    <th colspan="1">Ciudad de Nacimiento</th>
                    <th colspan="1">Fecha de Nacimiento</th>
                    <th colspan="1">Estado Civil</th>
                    <th colspan="4"># Cargas Familiares</th>
                </tr>
                <tr>
                    <td><input type="text" value="{{ garante.canton.nombre }}" disabled/></td>
                    <td><input type="text" value="{{ garante.fecha_nacimiento|date:'d-m-Y' }}" disabled/></td>
                    <td><input type="text" value="{{ garante.estado_civil }}" disabled/></td>
                    <td><input type="text" value="{{ garante.num_cargasfam }}" disabled/></td>
                </tr>
            </table>
            <br>
{#            -----------------------------------------------------------------DIRECCIÓN DOMICILIARIA DEL SOCIO/CLIENTE---------------------------------------------------------------#}
            <h4 class='alert alert-info'>DIRECCIÓN DOMICILIARIA DEL SOCIO/CLIENTE</h4>
            <table class="table table-condensed" style="width: 100%">
                <tr>
                    <th colspan="1">Pais de Residencia</th>
                    <th colspan="1">Provincia</th>
                    <th colspan="1">Canton</th>
                    <th colspan="1">Parroquia</th>
                    <th colspan="1">Correo Electr&oacute;nico</th>
                </tr>
                <tr>
                    <td><input type="text" value="{{ garante.pais_resid.nombre }}" disabled/></td>
                    <td><input type="text" value="{{ garante.provincia_resid.nombre }}" disabled/></td>
                    <td><input type="text" value="{{ garante.canton_resid.nombre }}" disabled/></td>
                    <td><input type="text" value="{{ garante.parroquia_resid.nombre }}" disabled/></td>
                    <td><input type="text" value="{{ garante.email }}" disabled/></td>
                </tr>
                <tr>
                    <th colspan="2">Direccion de Domicilio</th>
                    <th colspan="1">Telefono Domicilio</th>
                    <th colspan="2">Telefono Celular</th>
                </tr>
                <tr>
                    <td colspan="2"><input type="text" style="width: 92%" value="{{ garante.domicilio }}" disabled/></td>
                    <td colspan="1"><input type="text" value="{{ garante.convencional }}" disabled/>
                    <td colspan="2"><input type="text" value="{{ garante.celular }}" disabled/>
                </tr>
            </table>
            <br>
{#            ----------------------------------------------------------------------ACTIVIDAD ECONOMICA--------------------------------------------------------------#}
            <h4 class='alert alert-info'>ACTIVIDAD ECON&Oacute;MICA</h4>
            <table class="table table-condensed" style="width: 100%">
                <tr>
                    <th colspan="1">Tipo</th>
                    <th colspan="1">Nombre de la Empresa</th>
                    <th colspan="1">Actividad Económica de la Empresa</th>
                </tr>
                <tr>
                    <td><input type="text" value="{{ garante.actecon_tipo }}" disabled/>
                    <td><input type="text" value="{{ garante.actecon_empresa }}" disabled/>
                    <td><input type="text" value="{{ garante.actecon_empresaactividad }}" disabled/>
                </tr>
                <tr>
                    <th colspan="1">Dirección  del Trabajo</th>
                    <th colspan="1">Teléfono del Trabajo</th>
                    <th colspan="1">Ud. ha ocupado en el último año un cargo de elección popular o de responsabilidad politica y social?</th>
                </tr>
                <tr>
                    <td><input type="text" value="{{ garante.actecon_direccion }}" disabled/>
                    <td><input type="text" value="{{ garante.actecon_telefono }}" disabled/>
                    <td><input type="text" value="{% if garante.actecon_cargopolitico %}SI{% else %}NO{% endif %}" disabled/>
                </tr>
            </table>
            <br>
{#            ----------------------------------------------------------------------INFORMACIÓN ECONÓMICA---------------------------------------------------------------#}
            <h4 class='alert alert-success'>INFORMACIÓN ECONÓMICA</h4>
            <div class="row-fluid">
                <div class="span5">
                    <table class="table table-condensed" style="width: 80%" id="tbl_ingresos">
                        <thead>
                            <tr>
                                <th>Ingresos</th>
                                <th style="text-align: center">Valor</th>
                            </tr>
                        </thead>
                        {% with prueba=garante|args:'ingresos'|call:"informacion_economica" %}
                        <tbody>
                            {% for i in prueba.0 %}
                                <tr>
                                    <td>{{ i.descripcion }}</td>
                                    <td style="text-align: right">${{ i.valor }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th style="text-align: right">${{ prueba.1 }}</th>
                            </tr>
                        </tfoot>
                        {% endwith %}
                    </table><br>
                    <table class="table table-condensed" style="width: 80%" id="">
                        <thead>
                            <tr>
                                <th>Gastos</th>
                                <th style="text-align: center">Valor</th>
                            </tr>
                        </thead>
                        {% with prueba=garante|args:'gastos'|call:"informacion_economica" %}
                        <tbody>
                            {% for i in prueba.0 %}
                                <tr>
                                    <td>{{ i.descripcion }}</td>
                                    <td style="text-align: right">${{ i.valor }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th style="text-align: right">${{ prueba.1 }}</th>
                            </tr>
                        </tfoot>
                        {% endwith %}
                    </table>
                </div>
                <div class="span5">
                    <table class="table table-condensed" style="width: 80%" id="tbl_ingresos">
                        <thead>
                            <tr>
                                <th>Activos</th>
                                <th style="text-align: center">Valor</th>
                            </tr>
                        </thead>
                        {% with prueba=garante|args:'activos'|call:"informacion_economica" %}
                        <tbody>
                            {% for i in prueba.0 %}
                                <tr>
                                    <td>{{ i.descripcion }}</td>
                                    <td style="text-align: right">${{ i.valor }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th style="text-align: right">${{ prueba.1 }}</th>
                            </tr>
                        </tfoot>
                        {% endwith %}
                    </table><br>
                    <table class="table table-condensed" style="width: 80%" id="">
                        <thead>
                            <tr>
                                <th>Pasivos</th>
                                <th style="text-align: center">Valor</th>
                            </tr>
                        </thead>
                        {% with prueba=garante|args:'pasivos'|call:"informacion_economica" %}
                        <tbody>
                            {% for i in prueba.0 %}
                                <tr>
                                    <td>{{ i.descripcion }}</td>
                                    <td style="text-align: right">${{ i.valor }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th style="text-align: right">${{ prueba.1 }}</th>
                            </tr>
                        </tfoot>
                        {% endwith %}
                    </table>
                </div>
                <div class="span2">
                    <table class="table table-condensed" style="width: 40%" id="tbl_ingresos">
                        <thead>
                            <tr>
                                <th style="text-align: center">Disponible</th>
                                <th style="text-align: center">Patrimonio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: right">${{ garante.disponible }}</td>
                                <td style="text-align: right">${{ garante.patrimonio }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>


{% endblock %}