{% extends "basebs.html" %}
{% block heading %}

<script src="/static/js/notificacionpanel.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/datepicker.css"/>
<script type='text/javascript' src='/static/js/bootstrap-datepicker.js'></script>

<script type="text/javascript">



    $(function() {

    });   {# Fin de Function#}

</script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class="span3"></div>
        <div class='span6'>
            <h2 style="text-align: center">Listado de Tr&aacute;mites </h2>
            <hr/>
        </div>
        {% if perms.sga.change_SolicitudEstudiante  %}
        <div class='span1'>
            <a href="/solicitudonline?tipos" class='btn btn-success'><i class="icon-arrow-right"></i> Tipos </a>
        </div>
        {% endif %}
        <div class='span1'>
            <a href="/" class='btn'><i class="icon-arrow-left"></i> Atr&aacute;s</a>
        </div>
    </div>

    <br/>
    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr class="alert alert-info">
                        <th colspan="3" style="text-align: center; font-size: 17px;"><b>Tipos de Solicitudes</b></th>
                    </tr>
                    <tr class="alert alert-info">
                        <th></th>
                        <th style="font-size: 16px;text-align: center">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in solicitudes %}
                        {% if  s.libre  or   persona.usuario.is_superuser or  perms.sga.change_solicitudestudiante  %}
                            <tr style="height: 50px;">
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href='/solicitudonline?tiposol={{ s.id }}' ><img src="/static/images/circle_arrow1.png" class="modimage"/></a>&nbsp;&nbsp;
                                </td>
                                 <td class="bigger" style="vertical-align: middle;"><b> {{ s.nombre }} </b></td>

                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}


