<div class="row-fluid">
<div class="span12 ">
    <table class="table table-condensed ">
        <thead>

        </thead>
    <tbody>
        {% for t in tipos %}
            <tr>
                <td > {{ t.tipo }}</td>
                {% if t.puede_eliminarse %}
                    <td><a  style="float: right" href="/solicitudonline?action=borrartipo&id={{ t.id}}" id="cerrar" class="btn-small  btn-aceptar">  <i  class="icon-remove icon-white"></i>Eliminar</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if not tipos %}
            <tr>
                <td > NO EXISTEN REGISTROS DE PANELES

                </td>
            </tr>
        {% endif %}

    </tbody>
</table>
</div>
</div>

