<div class="card shadow-sm card-body m-0 p-3 h-100 border-start border-info">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h5 class="card-title fs-3 fw-semibold">Taller</h5>
        </div>
        <div>
            {% if not silabo.materia.cerrado %}
                <a class='btn btn-sm btn-light-primary lock_screen' href="{{ request.path }}?action=addTareaVirtual&id={{ semana.id }}&tp=2" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar"><i class="ti ti-plus"></i></a>
                {#            <a class="btn btn-sm btn-info" href="javascript:void(0)"><i class="ti ti-info-circle"></i></a>#}
            {% endif %}
        </div>
    </div>

    {% for tarea_semanal in semana.mis_taller_semana %}
        {% if tarea_semanal %}
            <div class="text-center rounded-4 border p-2 d-block mb-1">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center text-truncate fs-1">
                        <i style="color: {{ tarea_semanal.estado.colorestado }}" class="fa fa-circle fs-3" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ tarea_semanal.estado.nombre }}"></i>
                        <b class="ms-2"> {{ tarea_semanal.detallemodelo.nombre }} - {{ tarea_semanal.nombre }}</b>
                    </div>
                    <div>
                        <div class="dropdown dropstart">
                            <a href="javascript:void(0);"
                               class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               data-bs-toggle="dropdown" data-offset="-140"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0)" onclick="viewDetalleRecurso('viewDetalleTarea', {{ semana.id }}, {{ tarea_semanal.id }})"><span class="ti ti-eye me-2"></span> Ver</a>

                                {% if not silabo.materia.cerrado %}
                                    <a class='dropdown-item lock_screen' href="{{ request.path }}?action=editTareaVirtual&ids={{ semana.id }}&&id={{ tarea_semanal.id }}"><i class="ti ti-edit me-2"></i> Editar</a>
                                    {% if tarea_semanal.estado_id == 1 or tarea_semanal.estado_id == 3 %}
                                        <a class="dropdown-item action_delete" data-id="{{ tarea_semanal.id }}" data-action="delTareaVirtual" data-name="{{ tarea_semanal.nombre }}" href="javascript:void(0);"><i class="ti ti-trash me-2"></i> Eliminar</a>
                                    {% endif %}
                                    {% if silabo.materia.id_moodle_course %}
                                        {% if tarea_semanal.estado_id == 1 or tarea_semanal.estado_id == 2 %}
                                            <a class="dropdown-item action_migrate" data-id="{{ tarea_semanal.id }}" data-action="migrar_tarea_moodle" data-name="{{ tarea_semanal.nombre }}" href="javascript:void(0);"><i class="ti ti-refresh me-2"></i> Sincronizar EVA</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% empty %}
        <!--<p class="text-warning fs-2">Usted tiene planificado un foro para esta semana</p>-->
    {% endfor %}

</div>




