{% load sga_extras %}
<link type='text/css' rel='stylesheet' href="/static/sganuevo/malla/css/programaAnalitico.css?v={{ version }}">
<div class="card border-1 shadow-none">
    <div class="card-header" style="background-color: aliceblue;">
        <div class="d-flex justify-content-start align-items-center">
            <input type="hidden" name="numsemana" value="{{ numsemana }}">
            <h6 class="card-title fs-4 fw-semibold m-0">
                Semana {{ semana.numsemana }} {% if semana.examen %}<span class="badge bg-info">(Examen)</span>{% endif %}
                <span class="text-muted fs-3 ms-2">({{ semana.fechainiciosemana|date:"Y-m-d" }} - {{ semana.fechafinsemana|date:"Y-m-d" }})</span>

            </h6>
        </div>
    </div>
    <div class="card-body">
        <div class="text-left">
            <div class="tree " style="padding: 0px; border-left-color: #1C3247;border-radius: 0.25rem">
                <div class="sco" style="margin-left: 11px;margin-top:9px">
                    {% for unidad in semana.mis_unidades %}
                        <b class="unidad">UNIDAD {{ unidad.2 }}: {{ unidad.1 }}</b>
                        {% with temas=semana|args:unidad.0|call:"mis_temas_planificados" %}
                            {% for tema in temas %}
                                <ul class="tema">
                                    <li class="content-tema">
                                        <span style="border: none; padding: 3px 1px"><b>TEMA {{ tema.orden }}: </b>{{ tema.plananaliticotema.descripcion  }}</span>
                                        {% with subtemas=semana|args:tema.plananaliticotema_id|call:"mis_subtemas_planificados" %}
                                            {% for subtema in subtemas %}
                                                <ul class="subtema">
                                                    <li class="content-subtema">
                                                        <i><b>SubTEMA {{ subtema.orden }}</b>: {{ subtema.plananaliticosubtema.descripcion }}</i>
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        {% endwith %}
                                    </li>
                                </ul>
                            {% endfor %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {# RECURSOS #}
        <div class="card border-1 shadow-none">
            <div class="card-header bg-body-secondary">
                <h6 class="card-title fs-4 fw-semibold m-0">
                    <i class="ti ti-book me-2"></i> Recursos
                </h6>
            </div>
            <div class="card-body">
                <div class="row">
                    {# PRESENTACIÓN #}
                    <div class="col-12 col-md-6 col-lg-6 mb-3">
                        {% include 'pro_aulavirtual/recurso_presentacion.html' %}
                    </div>
                    {# COMPENDIO #}
                    <div class="col-12 col-md-6 col-lg-6 mb-3">
                        {% include 'pro_aulavirtual/recurso_compendio.html' %}
                    </div>
                    {# VIDEO MAGISTRAL #}
                    <div class="col-12 col-md-6 col-lg-6">
                        {% include 'pro_aulavirtual/recurso_videomagistral.html' %}
                    </div>
                    {# GUIA DEL ESTUDIANTE #}
                    <div class="col-12 col-md-6 col-lg-6">
                        {% include 'pro_aulavirtual/recurso_guiaestudio.html' %}
                    </div>
                    {# MATERIAL COMPLEMENTARIO #}
                    {#                            <div class="col-lg-12">#}
                    {#                                {% include 'pro_aulavirtual/recurso_complementario.html' %}#}
                    {#                            </div>#}
                </div>
            </div>
        </div>
        {# APRENDIZAJE CONTACTO CON EL DOCENTE (ACD) #}
        <div class="card border-1 shadow-none">
            <div class="card-header bg-body-secondary">
                <h6 class="card-title fs-4 fw-semibold m-0">
                    <i class="ti ti-school me-2"></i> Aprendizaje Contacto con el Docente (ACD)
                </h6>
            </div>
            <div class="card-body m-0 p-3">
                {% include 'pro_aulavirtual/actividad_test.html' with semana=semana %}
            </div>
        </div>
        {# APRENDIZAJE AUTONOMO (AA) #}
        <div class="card border-1 shadow-none">
            <div class="card-header bg-body-secondary">
                <h6 class="card-title fs-4 fw-semibold m-0">
                    <i class="ti ti-school me-2"></i> Aprendizaje Autónomo (AA)
                </h6>
            </div>
            <div class="card-body m-0 p-3">
                {# MATERIAL COMPLEMENTARIO #}
                {% include 'pro_aulavirtual/aprendizajeautonomo.html' %}
            </div>
        </div>
    </div>
</div>