<h5 class="fw-semibold fs-3"><i class="ti ti-file-description text-primary me-2"></i> Presentación</h5>
{% if not semana.tiene_diapositiva %}
    {% if not silabo.materia.cerrado %}
        <a href="{{ request.path }}?action=addDiapositivaVirtual&id={{ semana.id }}">
            <div class="ms-2 card border shadow-none card-hover">
                <div class="card-body d-flex flex-column justify-content-center text-center">
                    <i class="ti ti-file-plus display-6 text-secondary" aria-hidden="true"></i>
                </div>
            </div>
        </a>
    {% endif %}
{% else  %}
    {% with mi_presentacion=semana.mi_presentacion %}
        {% if mi_presentacion %}
            <ul class="list-group m-0 p-0 ms-2">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center text-truncate fs-1">
                        <i style="color: {{ mi_presentacion.estado.colorestado }}" class="fa fa-circle fs-3" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ mi_presentacion.estado.nombre }}"></i>
                        <b class="ms-2">{{ mi_presentacion.nombre }}</b>
                    </div>
                    <div>
                        <div class="dropdown dropstart">
                            <a href="javascript:void(0);"
                               class="btn-icon btn btn-ghost btn-sm rounded-circle"
                               data-bs-toggle="dropdown" data-offset="-140"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu">
                                {% if mi_presentacion.archivodiapositiva %}
                                    <a class="dropdown-item" href='{{ mi_presentacion.archivodiapositiva.url }}' target="_blank"><span class="ti ti-download me-2"></span> Archivo</a>
                                {% endif %}
                                <a class="dropdown-item" href="javascript:void(0)" onclick="viewDetalleRecurso('viewDetallePresentacion', {{ semana.id }}, {{ mi_presentacion.id }})"><span class="ti ti-eye me-2"></span> Ver</a>
                                {% if not silabo.materia.cerrado %}
                                    <a class='dropdown-item lock_screen' href="{{ request.path }}?action=editDiapositivaVirtual&ids={{ semana.id }}&id={{ mi_presentacion.id }}"><i class="ti ti-edit me-2"></i> Editar</a>
                                    {% if mi_presentacion.estado_id == 1 or mi_presentacion.estado_id == 3 %}
                                        <a class="dropdown-item action_delete" data-id="{{ mi_presentacion.id }}" data-action="delDiapositivaVirtual" data-name="{{ mi_presentacion.nombre }}" href="javascript:void(0);"><i class="ti ti-trash me-2"></i> Eliminar</a>
                                    {% endif %}
                                    {% if silabo.materia.id_moodle_course %}
                                        {% if mi_presentacion.estado_id == 1 or mi_presentacion.estado_id == 2 %}
                                            <a class="dropdown-item action_migrate" data-id="{{ mi_presentacion.id }}" data-action="migrar_presentacion_moodle" data-name="{{ mi_presentacion.nombre }}" href="javascript:void(0);"><i class="ti ti-refresh me-2"></i> Sincronizar EVA</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        {% else %}
            <div class="ms-2 card border shadow-none">
                <div class="card-body d-flex flex-column justify-content-center text-center">
                    <i class="ti ti-file-x display-6 text-primary"></i> <span class="fw-semibold">Sin Presentación</span>
                </div>
            </div>
        {% endif %}
    {% endwith %}

{% endif %}
