{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_inscripcion").addClass("validate[required]");

    $($("#id_padre").get(0).parentNode.parentNode).prepend("<h3>DATOS DEL PADRE</h3><br/>");
    $($("#id_madre").get(0).parentNode.parentNode).prepend("<h3>DATOS DE LA MADRE</h3><br/>");
    $($("#id_conyuge").get(0).parentNode.parentNode).prepend("<h3>DATOS DEL CONYUGE</h3><br/>");

    chequeaDiscapacidad = function() {
    if (!$("#id_tienediscapacidad").is(':checked')) {
    $("#id_tipodiscapacidad").attr("disabled", true);
    $("#id_tipodiscapacidad").val("");
    $("#id_porcientodiscapacidad").attr("disabled", true);
    $("#id_porcientodiscapacidad").val("");
    $("#id_carnetdiscapacidad").attr("disabled", true);
    $("#id_carnetdiscapacidad").val("");
    } else {
    $("#id_tipodiscapacidad").attr("disabled", false);
    $("#id_porcientodiscapacidad").attr("disabled", false);
    $("#id_carnetdiscapacidad").attr("disabled", false);
    }
    }
     var numeros="0123456789";

        function solo_numeros(texto){
           var num = 0;
           for(i=0; i<texto.length; i++){
              if (numeros.indexOf(texto.charAt(i),0)!=-1){
                  num = num +1;
              }
           }
           return num;
        }

        $("#id_edadpadre").blur(function(){
            var v = $("#id_edadpadre").val();
            var p = solo_numeros(v);
            if (p != v.length)
            {
{#              $("#dato").html("Ingresar solo Numeros");#}
              $($("#id_edadpadre").get(0).parentNode).find(".help-text").html("<h6 style='color:red' >Ingrese Solo Numeros</h6>");
              $("#id_edadpadre").val("");
              $("#id_edadpadre").focus();
            }
            else{
                $($("#id_edadpadre").get(0).parentNode).find(".help-text").html("");
            }
        });

        $("#id_edadmadre").blur(function(){
            var v = $("#id_edadmadre").val();
            var p = solo_numeros(v);
            if (p != v.length)
            {
{#              $("#dato").html("Ingresar solo Numeros");#}
              $($("#id_edadmadre").get(0).parentNode).find(".help-text").html("<h6 style='color:red' >Ingrese Solo Numeros</h6>");
              $("#id_edadmadre").val("");
              $("#id_edadmadre").focus();
            }
            else{
                $($("#id_edadmadre").get(0).parentNode).find(".help-text").html("");
            }
        });
        $("#id_edadconyuge").blur(function(){
            var v = $("#id_edadconyuge").val();
            var p = solo_numeros(v);
            if (p != v.length)
            {
{#              $("#dato").html("Ingresar solo Numeros");#}
              $($("#id_edadconyuge").get(0).parentNode).find(".help-text").html("<h6 style='color:red' >Ingrese Solo Numeros</h6>");
              $("#id_edadconyuge").val("");
              $("#id_edadconyuge").focus();
            }
            else{
                $($("#id_edadconyuge").get(0).parentNode).find(".help-text").html("");
            }
        });


    $("#id_tienediscapacidad").click(chequeaDiscapacidad);
    chequeaDiscapacidad();

{% endblock %}
{% block titulo %}Datos Familiares del Estudiante: {{ inscripcion }}{% endblock %}
{% block formaction %}/alu_medical{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='familia'/>
    <input type='hidden' name='id' value="{{ inscripcion.id }}"/>
{% endblock %}
{% block formback %}/alu_medical{% endblock %}
{% block buttonname %}Guardar Datos{% endblock %}