{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}

    chequeaFormulario = function() {
    if (!$("#id_vacunas").is(':checked')) {
        $("#id_nombrevacunas").attr("disabled", true);
        $("#id_nombrevacunas").val("");
    } else {
        $("#id_nombrevacunas").attr("disabled", false);
    }

    if (!$("#id_enfermedades").is(':checked')) {
        $("#id_nombreenfermedades").attr("disabled", true);
        $("#id_nombreenfermedades").val("");
    } else {
        $("#id_nombreenfermedades").attr("disabled", false);
    }

    if (!$("#id_alergiamedicina").is(':checked')) {
    $("#id_nombremedicinas").attr("disabled", true);
    $("#id_nombremedicinas").val("");
    } else {
    $("#id_nombremedicinas").attr("disabled", false);
    }

    if (!$("#id_alergiaalimento").is(':checked')) {
        $("#id_nombrealimentos").attr("disabled", true);
        $("#id_nombrealimentos").val("");
    } else {
        $("#id_nombrealimentos").attr("disabled", false);
    }

    if (!$("#id_cirugias").is(':checked')) {
        $("#id_nombrecirugia").attr("disabled", true);
        $("#id_fechacirugia").attr("disabled", true);
        $("#id_nombrecirugia").val("");
        $("#id_fechacirugia").val("");
    } else {
        $("#id_nombrecirugia").attr("disabled", false);
        $("#id_fechacirugia").attr("disabled", false);
    }

    if (!$("#id_aparato").is(':checked')) {
        $("#id_tipoaparato").attr("disabled", true);
        $("#id_tipoaparato").val("");
    } else {
        $("#id_tipoaparato").attr("disabled", false);
    }

    }

    $("#id_vacunas").click(chequeaFormulario);
    $("#id_enfermedades").click(chequeaFormulario);
    $("#id_alergiamedicina").click(chequeaFormulario);
    $("#id_alergiaalimento").click(chequeaFormulario);
    $("#id_cirugias").click(chequeaFormulario);
    $("#id_aparato").click(chequeaFormulario);

    chequeaFormulario();

    $("#id_fechacirugia").datepicker({format:"dd-mm-yyyy"});

{% endblock %}
{% block titulo %}Antecedentes Patol&oacute;gicos del Estudiante: {{ inscripcion }}{% endblock %}
{% block formaction %}/alu_medical{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='patologicop'/>
    <input type='hidden' name='id' value="{{ inscripcion.id }}"/>
{% endblock %}
{% block formback %}/alu_medical{% endblock %}
{% block buttonname %}Guardar Datos{% endblock %}