{% extends "deletebs.html" %}
{% block atras %}/adm_calendario{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formback %}/adm_calendario{% endblock %}
{% block formaction %}/adm_calendario{% endblock %}
{% block formactionvalue %}del{% endblock %}
{% block formobjectid %}{{ actividad.id }}{% endblock %}
{% block formobjectname %}la Actividad: <span style="font-weight: bold;">{{ actividad.nombre}}</span><br>
      {% if aula %}<span style="font-weight: bold;">La actividad tiene  {{ aula }} auditorios registrados     </span> {% endif %}
{% endblock %}
