
<div class="row-fluid">
<div class="span12 ">
    <table class="table table-condensed ">
        <thead>
            <tr>
                <th>Exam&eacute;n</th>
                <th>Observaci&oacute;n</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Acci&oacute;n</th>
            </tr>
        </thead>
    <tbody>
        {% for i in detallevalida %}
            <tr>
                <td > {{ i.personaexamenext.examenexterno.titulo }}
                </td>
                <td > {{ i.observacion }}</td>
                <td > {{ i.usuario }}</td>
                <td > {{ i.fecha|date:'d-m-Y' }}</td>
                <td>
                    {% if i.activo %}
                         <img src='/static/images/16/true.png' alt='' border="0"/>
                    {% else %}
                        <img src='/static/images/16/false.png' alt='' border="0"/>
                    {% endif %}
                </td>


            </tr>
        {% endfor %}
        {% if not detallevalida %}
            <tr>
                <td > NO EXISTEN REGISTROS

                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
</div>
</div>