<div class="row my-3 px-3">
    <div class="col-lg-12">
        <nav>
            {% if paging.num_pages > 5 %}
                <ul class="pagination justify-content-center m-0">
                    {% if paging.first_page %}
                        <li class="page-item me-1">
                            <a class="page-link rounded lock_screen" href="?page=1{{ url_vars }}">1</a>
                        </li>
                        <li class="page-item me-1">
                            <a href="?page={{ paging.ellipsis_left }}{{ url_vars }}"
                               class="active page-link rounded lock_screen">...</a></li>
                    {% endif %}
                    {% for pagenumber in paging.pages %}
                        <li {% if pagenumber == page.number %}class='active page-item me-1'
                            {% else %}class='page-item me-1'{% endif %}>
                            <a href="?page={{ pagenumber }}{{ url_vars }}"
                               class="page-link rounded lock_screen">{{ pagenumber }}</a>
                        </li>
                    {% endfor %}
                    {% if paging.last_page %}
                        <li class="page-item me-1">
                            <a href="?page={{ paging.ellipsis_right }}{{ url_vars }}"
                               class="active page-link rounded lock_screen">...</a></li>
                        <li class="page-item me-1">
                            <a href="?page={{ paging.num_pages }}{{ url_vars }}"
                               class="page-link rounded lock_screen">{{ paging.num_pages }}</a>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <ul class="pagination justify-content-center m-0">
                    {% for pagenumber in paging.page_range %}
                        <li {% if pagenumber == page.number %}class='active page-item me-1'
                            {% else %}class="page-item me-1"{% endif %}>
                            <a class="page-link rounded lock_screen"
                               href="?page={{ pagenumber }}{{ url_vars }}">{{ pagenumber }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </nav>
    </div>
</div>
<style>
    .page-item.active .page-link {
        background-color: #2a3547;
        border-color: #2a3547;
        font-weight: bold;
    }

</style>