{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_nacimiento").datepicker({format:"dd-mm-yyyy"});
    $("#id_nombres,#id_apellido1,#id_apellido2,#id_sexo,#id_extranjero,#id_cedula,#id_pasaporte,#id_provincia,#id_canton,\
       #id_parroquia,#id_nacimiento,#id_nacionalidad,#id_sexo,#id_madre,#id_padre,#id_direccion,#id_num_direccion,#id_direccion2,\
       #id_sector, #id_ciudad, #id_telefono, #id_telefono_conv, #id_email, #id_emailinst, #id_sangre").attr("disabled", "disabled");

    $("#formbutton").html("<i class='icon-arrow-left'></i> Regresar").removeClass().addClass('btn btn-primary');

{% endblock %}
{% block titulo %}
    Datos de Contacto del Graduado: {{ inscripcion }}
{% endblock %}
{% block formaction %}/graduados{% endblock %}
{% block formextra %}
    <input type="hidden" name="action" value="datos">
    <input type="hidden" name="id" value="{{ graduado.id }}">
{% endblock %}
