{% extends "deletebs.html" %}
{% block titulo %}Borrar Observaci&oacute;n del Graduado: {{ observacion.graduado.inscripcion }}{% endblock %}
{% block formback %}/graduados?action=observaciones&id={{ observacion.graduado.id }}{% endblock %}
{% block formaction %}/graduados{% endblock %}
{% block formactionvalue %}delobservacion{% endblock %}
{% block formobjectid %}{{ observacion.id }}{% endblock %}
{% block formobjectname %}la Observaci&oacute;n del Alumno {% endblock %}
{% block formobjectrepr %}{{ observacion.graduado.inscripcion }}
{% endblock %}

