{% extends "deletebs.html" %}
{% block titulo %}Borrar Seguimiento laboral del Graduado: {{ seguimiento.graduado.inscripcion }}{% endblock %}
{% block formback %}/graduados?action=seguimiento&id={{ seguimiento.graduado.id }}{% endblock %}
{% block formaction %}/graduados{% endblock %}
{% block formactionvalue %}delseguimiento{% endblock %}
{% block formobjectid %}{{ seguimiento.id }}{% endblock %}
{% block formobjectname %}el Seguimiento laboral del Alumno {% endblock %}
{% block formobjectrepr %}{{ seguimiento.graduado.inscripcion }}
{% endblock %}

