{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function() {

            $("#resumenpanel .btn-aceptar").click(function(){
                $("#resumenpanel").modal("hide");
                return false;
            });
            var accion =''

            $(".anno").click(function() {
                accion = $(this).attr("ac");
                $("#pregunta #dato").val('');
                $($("#pregunta #dato").get(0).parentNode).find(".help-text").html("");
                $("#pregunta").modal({backdrop: 'static', keyboard: false, width: "20%", height: "20%"});
                $("#pregunta").modal("show");

            });

            $(".btn-cerrar").click(function() {
                $("#pregunta").modal('hide');
            });

            $("#pregunta .btn-consultar").click(function() {
                var dato = $("#pregunta #dato").val();
                if (dato){
                    $("#pregunta").modal("hide");
                    window.open('/cons_socioecon?action='+accion+'&anno='+dato);
                }
            });

            $(".anio_edad").click(function() {
                accion = $(this).attr("ac");
                $("#anioedadpanel #anio").val("");
                $("#anioedadpanel #edad").val("");
                $($("#anioedadpanel #anio").get(0).parentNode).find(".help-text").html("");
                $($("#anioedadpanel #edad").get(0).parentNode).find(".help-text").html("");
                $("#anioedadpanel").modal({backdrop: 'static', keyboard: false, width: "20%", height: "20%"});
                $("#anioedadpanel").modal("show");
            });

            $("#anioedadpanel .btn-cerrar").click(function() {
                $("#anioedadpanel #anio").val("");
                $("#anioedadpanel #edad").val("");
                $("#anioedadpanel").modal('hide');
            });

            $("#anioedadpanel .btn-consultar").click(function() {
                var anio = $("#anio").val();
                var edad = $("#edad").val();
                if (anio){
                    $("#anioedadpanel").modal("hide");
                    window.open('/cons_socioecon?action='+accion+'&anno='+anio+'&edad='+edad);
                }
            });

        var numeros1="0123456789";

        function solo_numeros(texto){
           var num = 0;
           for(i=0; i<texto.length; i++){
              if (numeros1.indexOf(texto.charAt(i),0)!=-1){
                  num = num +1;
              }
           }
           return num;
        }

        $("#pregunta #dato").blur(function(){
            var v = $("#pregunta #dato").val();
            var p = solo_numeros(v);
            if (v.length == 4){


                if (p != v.length)
                {
    {#              $("#dato").html("Ingresar solo Numeros");#}
                  $($("#pregunta #dato").get(0).parentNode).find(".help-text").html("<h6 style='color:red' >Ingrese Solo Numeros</h6>");
                  $("#pregunta #dato").val("");
                  $("#pregunta #dato").focus();
                }
                else{
                    $($("#pregunta #dato").get(0).parentNode).find(".help-text").html("");
                }
            }else{
                $($("#pregunta #dato").get(0).parentNode).find(".help-text").html("<h6 style='color:red' >Ingrese 4 Digitos</h6>");
                  $("#pregunta #dato").val("");
                  $("#pregunta#dato").focus();
            }
        });

        $("#anioedadpanel #anio").blur(function(){
            var v = $("#anioedadpanel #anio").val();
            var p = solo_numeros(v);
            if (v.length == 4){
                if (p != v.length)
                {
                  $($("#anioedadpanel #anio").get(0).parentNode).find(".help-text2").html("<h6 style='color:red' >Ingrese Solo Numeros</h6>");
                  $("#anioedadpanel #anio").val("");
                  $("#anioedadpanel #anio").focus();
                }
                else{
                    $($("#anioedadpanel #anio").get(0).parentNode).find(".help-text2").html("");
                }
            }else{
                $($("#anioedadpanel #anio").get(0).parentNode).find(".help-text2").html("<h6 style='color:red' >Ingrese 4 Digitos</h6>");
                  $("#anioedadpanel #anio").val("");
                  $("#anioedadpanel #anio").focus();
            }
        });

        $("#anioedadpanel #edad").blur(function(){
            var v = $("#anioedadpanel #edad").val();
            var p = solo_numeros(v);

            if($("#anioedadpanel #edad").val() != ""){
                if (p != v.length){
                      $($("#anioedadpanel  #edad").get(0).parentNode).find(".help-text3").html("<h6 style='color:darkred' ><i> Ingrese solo numeros</i></h6>");
                      $("#anioedadpanel  #edad").val("");
                      $("#anioedadpanel #edad").focus();
                }
                else{
                    if (v.length != 2 ){
                        $($("#anioedadpanel  #edad").get(0).parentNode).find(".help-text3").html("<h6 style='color:darkblue' ><i> Digite 2 digitos</i></h6>");
                        $("#anioedadpanel  #edad").val('');
                        $("#anioedadpanel  #edad").focus();
                    }
                    else{
                        $($("#anioedadpanel  #edad").get(0).parentNode).find(".help-text3").html("");
                    }
                }
            }
            else{
                 $($("#anioedadpanel  #edad").get(0).parentNode).find(".help-text3").html("<h6 style='color:darkred' ><i> Campo es obligatorio</i></h6>");
            }
        });

            $("#resumenpanel .btn-ficha").click(function(){
                var alumnoid = $("#alumnossel").val();
                if (alumnoid){
                    $("#resumenpanel").modal("hide");
                    window.open('/cons_socioecon?action=verficha&id=' + alumnoid);
                    return false;
                }

                $("#resumenpanel").modal("hide");
                return false;

            });

            actualizaAlumnos = function(id) {
                if (id) {
                    showWaiting("Buscando Datos del Alumno","Espere unos segundos por favor...");
                    $.get("/cons_socioecon",{action:'segmento', 'id': id}, function(data) {
                        $("#segmento").html(data);
                        $("#resumenpanel").modal({backdrop: 'static', keyboard: false, width: "917px", height: "417px"});
                        $("#resumenpanel").modal("show");
                        hideWaiting();
                    }, 'html');
                    return false;
                }
            };

            $("#alumnossel").change(function() {
                var id = $(this).val();
                actualizaAlumnos(id);
                return false;
            });

            $("#search").click(function() {
                var term = $("#searchfield").val().toUpperCase();
                $("#segmento").html('');
                $.get("/cons_socioecon", {action: 'search', term: term}, function(data) {
                    $("#selector").html(data);
                    $("#alumnossel").change(function() {
                        var id = $(this).val();
                        actualizaAlumnos(id);
                    });
                    actualizaAlumnos($("#alumnossel").val());
                }, 'html');
                return false;
            });

            $('#searchfield').keypress(function(e) {
                if(e.which == 13) {
                    $("#search").trigger("click");
                    return false;
                }
            });

        });
    </script>
{% endblock %}

{% block canvas %}
<div class="row-fluid">
    <div class="span11">
        <h3> ESTRATIFICACI&Oacute;N DEL NIVEL SOCIOECON&Oacute;MICO  </h3>
        <h4> Consultas, Estad&iacute;sticas y Gr&aacute;ficos </h4>
    </div>
    <div class='span1'>
        <a href="/" class='btn'><i class="icon-arrow-left"></i> Atr&aacute;s</a>
    </div>
</div>
<br/>

<div class='row-fluid'>
    <div class='span5'>
        <form class="form-search well">
            <h4 >Consulta de Estudiante - Nivel Socioecon&oacute;mico</h4><br/>
            <input class='input-xlarge search-query' type='text' id='searchfield' value='{{ search }}'/>
            <a href="#" id='search' class='btn btn-success'><i class="icon-search icon-white"></i> Buscar</a><br/><br/>
            <span id='selector'> </span>
        </form>
    </div>

    <!-- SEGMENTO DE ENUNCIADOS DE GRAFICOS GENERALES O ESPECIFICOS NIVEL SOCIOECONOMICO -->
    <div class='span7'>
        <table class='table table-bordered table-condensed'>
            <thead>
                <tr><th colspan="4" style="text-align: center">TABLAS Y GR&Aacute;FICOS <br/> Estratificaci&oacute;n Socioecon&oacute;mica</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td nowrap>Niveles Socioecon&oacute;micos por Carreras</td>
                    <td><i>Cantidad de Estudiantes seg&uacute;n nivel socioecon&oacute;mico por carreras</i></td>
                    <td >
                        <a  title="Click Para Ver" class="anno" ac='tbl_gpo_carrera'> <img src="/static/images/16/table.png"/> <img src="/static/images/16/chart_bar.png"/> Ver</a>

{#                        <a href="/cons_socioecon?action=tbl_gpo_carrera" target="_blank" class="resetearusuario"> <img src="/static/images/16/table.png"/> <img src="/static/images/16/chart_bar.png"/> Ver</a>#}
                    </td>
                    <td>
                        <a  title="Click Para Ver" href="/cons_socioecon?action=tbl_gpo_carrera"  target="_blank">General</a>

                    </td>
                </tr>
                <tr>
                    <td nowrap>Niveles Socioecon&oacute;micos por Coordinaciones</td>
                    <td><i>Cantidad de Estudiantes seg&uacute;n nivel socioecon&oacute;mico por coordinaciones</i></td>
                    <td colspan="2" style="text-align: center">
                        <a  style="text-align: center" title="Click Para Ver" class="anno" ac="tbl_gpo_coordinacion" target="_blank"> <img src="/static/images/16/table.png"/> <img src="/static/images/16/chart_bar.png"/> Ver</a>
                    </td>
                </tr>
                <tr>
                    <td nowrap>Tipo de Hogar del estudiante</td>
                    <td><i>Gr&aacute;ficos del Tipo de Hogar (Totales, por Carrera, por Coordinaci&oacute;n)</i></td>
                    <td colspan="2">
                        <a title="Click Para Ver" class="anno" ac="graph_tipohogar" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/chart_bar.png"/> Ver</a>
                    </td>
                </tr>
                <tr>
                    <td nowrap>Nivel Escolar del Jefe de Hogar</td>
                    <td><i>Gr&aacute;ficos Nivel Escolar de Jefes de Hogar (Totales, por Carrera, por Coordinaci&oacute;n)</i></td>
                    <td colspan="2">
                        <a title="Click Para Ver" class="anno" ac="graph_nivelescolar_jefehogar" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/chart_bar.png"/> Ver</a>
                    </td>
                </tr>
                <tr>
                    <td nowrap>Dependencia Econ&oacute;mica por Carreras </td>
                    <td><i>Gr&aacute;ficos de dependencia econ&oacute;mica (por Carrera)</i></td>
                    <td colspan="2">
                        <a title="Click Para Ver" class="anno" ac="graph_dependencia_carrera" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>
                <tr>
                    <td nowrap>Dependencia Econ&oacute;mica por Coordinaciones </td>
                    <td><i>Gr&aacute;ficos de dependencia econ&oacute;mica(por Coordinaci&oacute;n)</i></td>
                    <td colspan="2">
                        <a title="Click Para Ver" class="anno" ac="graph_dependencia_coordinacion" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>
                <tr>
                    <td nowrap>Estudiantes Cabezas de Familia por Carreras </td>
                    <td><i>Gr&aacute;ficos estudiantes que son cabeza de familia (por Carrera)</i></td>
                    <td colspan="2">
                        <a title="Click Para Ver" class="anno" ac="graph_cabezaf_carrera" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>

                <tr>
                    <td nowrap>Estudiantes Cabezas de Familia por Carreras por Sexo </td>
                    <td><i>Gr&aacute;ficos estudiantes que son cabeza de familia (por Carrera y por Sexo)</i></td>
                    <td colspan="2">
                        <a  title="Click Para Ver" class="anno" ac="graph_cabezaf_carrera_sexo" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>
                <tr>
                    <td nowrap>Estudiantes Cabezas de Familia por Coordinaciones </td>
                    <td><i>Gr&aacute;ficos estudiantes que son cabeza de familia (por Coordinaci&oacute;n)</i></td>
                    <td nowrap>
                        <a title="Click Para Ver" class="anno" ac="graph_cabezaf_coordinacion" > &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>
                <tr>
                    <td nowrap>Estudiantes Becados Cabezas de Familia por Carreras </td>
                    <td><i>Gr&aacute;ficos estudiantes becados que son cabeza de familia (por Carrera)</i></td>
                    <td colspan="2">
                        <a title="Click Para Ver" class="anno" ac="graph_cabezaf_beca_carrera" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>
                <tr>
                    <td nowrap>Estudiantes Madres Solteras por Carreras </td>
                    <td><i>Gr&aacute;ficos estudiantes de madres solteras (por Carrera)</i></td>
                    <td colspan="2">
                        <a title="Click Para Ver" class="anno" ac="graph_madre_soltera" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>
                <tr>
                    <td nowrap>Estudiantes Becadas Madres Solteras por Carreras </td>
                    <td><i>Gr&aacute;ficos estudiantes becadas madres solteras (por Carrera)</i></td>
                    <td colspan="2">
                        <a title="Click Para Ver" class="anno" ac="graph_beca_madre_soltera" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>
                {# solicitud de Bienestar 31-01-2019 #}
                <tr>
                    <td nowrap>Estudiantes con m&aacute;s de cinco miembros por Carreras</td>
                    <td><i>Cantidad de Estudiantes con n&uacute;mero mayor miembros y tipos de Hogares por carreras</i></td>
                    <td colspan="2">
                        <a title="Click Para Ver" class="anno" ac="tbl_mayornumero_integrantes_carrera" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>

                <tr>
                    <td nowrap>Estudiantes Casados y Mujeres menores a edad ingresada</td>
                    <td><i>Cantidad de Estudiantes y Mujeres menores a edad ingresada</i></td>
                    <td nowrap>
                        <a title="Click Para Ver" class="anio_edad" ac="tbl_casadosmenoreigual25_carrera" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>

                <tr>
                    <td nowrap>Estudiantes Participantes de Congreso</td>
                    <td><i>Cantidad de Estudiantes que Participaron en Congreso</i></td>
                    <td nowrap>
                        <a title="Click Para Ver" class="anno" ac="tbl_estudiantes_congreso" target="_blank"> &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>
                <tr>
                    <td nowrap>Gráficos de Estudiantes</td>
                    <td><i>Gráficos de Estudiantes Clasificados por Género,Tercera Edad,Menores de Edad y con Discapacidad </i></td>
                    <td nowrap>
                        <a  title="Click Para Ver" class="anno" ac='tbl_estudiante_clasificacion'> <img src="/static/images/16/pie_chart.png"/> Ver</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block moreblock %}
    <div class="modal fade static" id="resumenpanel" style="display: none;">
{#        <div class="modal-header">#}
{#            <h3 id="paneltitle1"> </h3>#}
{#            <h4 id="estudiante"></h4>#}
{#        </div>#}
        <div class="modal-body">
            <!-- SEGMENTO DE CONSULTA DE ALUMNOS y RESUMEN NIVEL SOCIOECONOMICO -->
            <div class='row-fluid'>
                <div id="segmento">
                    {% autoescape off %}
                        {{ listadoprecargado }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-aceptar"><i class="icon-remove"></i> Cerrar</a>
            <a href="#" class="btn btn-primary btn-ficha"><i class="icon-external-link"></i> Ir a la Ficha</a>
        </div>
    </div>

    <div class="modal fade static" id="pregunta" style="display: none; width: 25%">
        <div class="modal-header">
            <h3 id="paneltitle1" style="text-align: center"> Ingrese el A&ntilde;o a Consultar</h3>
        </div>
        <div class="modal-body " style="text-align: center">
            <input id='dato' style="width: 40%;border-bottom: 3px;border-radius: 4px;text-align: center"> </input>
            <p class="help-text"> </p>
        </div>
        <div class="modal-footer" style="text-align: center">
            <a href="#" class="btn btn-danger btn-cerrar ">Cerrar</a>
            <a href="#" class="btn btn-primary btn-consultar"> Consultar</a>
        </div>
    </div>

    <div class="modal fade static" id="anioedadpanel" style="display: none; width: 25%">
        <div class="modal-header">
            <h3 id="paneltitle1" style="text-align: center"> Ingrese el A&ntilde;o y Edad a Consultar</h3>
        </div>
        <div class="modal-body " style="text-align: center">
            A&ntilde;o: <input id='anio' style="width: 40%;border-bottom: 3px;border-radius: 4px;text-align: center"/>
            <p class="help-text2"> </p>
            Edad:       <input id='edad' style="width: 40%;border-bottom: 3px;border-radius: 4px;text-align: center"/>
            <p class="help-text3"> </p>
        </div>
        <div class="modal-footer" style="text-align: center">
            <a href="#" class="btn btn-danger btn-cerrar ">Cerrar</a>
            <a href="#" class="btn btn-primary btn-consultar"> Consultar</a>
        </div>
    </div>

{% endblock %}