{% extends "basebs.html" %}
{% load sga_extras %}

{% block heading %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart1);
        google.setOnLoadCallback(drawChart2);
        google.setOnLoadCallback(drawChart3);
        google.setOnLoadCallback(drawChart4);

{#     Grafico estadistico de estudiantes dividido entre hombre y mujeres #}
        function drawChart1() {

            gruposMH = [{% for listHM in listadoHM %}

                      {"nombre":"{{ listHM.0 }}","cantidad":{{ listHM.1}}}{% if not forloop.last %},{% endif %}
                     {% endfor %}
             ];

            var elements = [];
            elements.push(['Gráfico', 'Total de Estudiantes']);
            for (var i in gruposMH){
                var grupo = gruposMH[i];
                elements.push([grupo.nombre,grupo.cantidad]);
            }
            var data = google.visualization.arrayToDataTable(elements);

            var options = {
              title: 'Gráfico - Total de Estudiantes',
              'align': 'top',
               is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('pieEstudiante'));
            chart.draw(data, options);
        }
{#     Grafico estadistico de estudiantes con discapacidad dividido entre hombre y mujeres #}
    function drawChart2() {

            gruposDiscMH = [{% for listDiscapHMT in listaDiscapHMT %}

                      {"nombre":"{{ listDiscapHMT.0 }}","cantidad":{{ listDiscapHMT.1 }}}{% if not forloop.last %},{% endif %}
                     {% endfor %}
             ];

            var elementsDiscap = [];
            elementsDiscap.push(['Gráfico', 'Total de Estudiantes con Discapacidad']);
            for (var i in gruposDiscMH){
                var grupoDisc = gruposDiscMH[i];
                elementsDiscap.push([grupoDisc.nombre,grupoDisc.cantidad]);
            }
            var dataDiscap = google.visualization.arrayToDataTable(elementsDiscap);

            var optionsDsicap = {
              title: 'Gráfico - Total de Estudiantes con Discapacidad',
              'align': 'top',
              is3D: true
            };

            var chart1 = new google.visualization.PieChart(document.getElementById('pie_Discap'));
            chart1.draw(dataDiscap, optionsDsicap);
        }

    {#     Grafico estadistico de estudiantes con tercera edad dividido entre hombre y mujeres #}
    function drawChart3() {

            gruposTerceraMH = [{% for listTeceraHMT in listaTeceraHMT %}

                      {"nombre":"{{ listTeceraHMT.0 }}","cantidad":{{ listTeceraHMT.1 }}}{% if not forloop.last %},{% endif %}
                     {% endfor %}
             ];

            var elementsTercera = [];
            elementsTercera.push(['Gráfico', 'Total de Estudiantes de Tercera Edad']);
            for (var i in gruposTerceraMH){
                var grupoTercera = gruposTerceraMH[i];
                elementsTercera.push([grupoTercera.nombre,grupoTercera.cantidad]);
            }
            var dataTercera = google.visualization.arrayToDataTable(elementsTercera);

            var optionsTercera = {
              title: 'Gráfico - Total de Estudiantes de Tercera Edad',
              'align': 'top',
              is3D: true
            };

            var chart2 = new google.visualization.PieChart(document.getElementById('pie_tercera'));
            chart2.draw(dataTercera, optionsTercera);
        }

        {#     Grafico Estudiantes Menores de Edad #}
        function drawChart4() {

            gruposMenoresEdad = [{% for listaMenoresEdad in listaMenoresEdad %}

                      {"nombre":"{{ listaMenoresEdad.0 }}","cantidad":{{ listaMenoresEdad.1 }}}{% if not forloop.last %},{% endif %}
                     {% endfor %}
             ];

            var elementsMenores = [];
            elementsMenores.push(['Gráfico', 'Total de Estudiantes Menores de Edad']);
            for (var i in gruposMenoresEdad){
                var grupoMenores = gruposMenoresEdad[i];
                elementsMenores.push([grupoMenores.nombre,grupoMenores.cantidad]);
            }
            var dataMenores = google.visualization.arrayToDataTable(elementsMenores);

            var optionsMenores = {
              title: 'Gráfico - Total de Estudiantes Menores de Edad',
              'align': 'top',
              is3D: true
            };

            var chartmenores = new google.visualization.PieChart(document.getElementById('pie_menores'));
            chartmenores.draw(dataMenores, optionsMenores);
        }


    </script>
{% endblock %}

{% block canvas %}
<div class="row-fluid">
    <div class="span11">
        <h3> Gráficos de Estudiantes - A&Ntilde;O {{ periodo }}</h3>
    </div>
    <div class='span1'>
        <a href="/cons_socioecon" class='btn'><i class="icon-arrow-left"></i> Atr&aacute;s</a>
    </div>
</div>
<br/>

<div class='row-fluid'>
    <div class="span6">
        <div id="pieEstudiante" style="height: 417px;"></div>
    </div>

    <div class="span6">
        <div id="pie_Discap" style="height: 417px;"></div>
    </div>

</div>


<div class='row'>
    <div class="span6">
        <div id="pie_tercera" style="height: 417px;"></div>
    </div>
    <div class="span6">
        <div id="pie_menores" style="height: 417px;"></div>
    </div>
</div>


{% endblock %}