{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script src='/static/js/notificacionpanel.js'></script>
    <script src="/static/js/jquery.date_input.js" type='text/javascript'></script>
    <script src="/static/js/jquery.timeentry.js" type='text/javascript'></script>

    <link type='text/css' rel='stylesheet' href="/static/css/date_input.css"/>
    <link type='text/css' rel='stylesheet' href="/static/css/jquery.timeentry.css"/>
    <script type="text/javascript">

        $(function() {


        });


    </script>
{% endblock %}
{% block canvas %}

  <div class='row-fluid'>
        <div class='span11'>
          {% if materias %}
            <h3>{% if nivel.cerrado %}<span class='label label-important'>CERRADO {{ nivel.fechacierre|date:"d-m-Y" }} </span>{% endif %} {% if nivel.nivelmalla %}{{ nivel.nivelmalla }} - {% endif %}{{ nivel.paralelo }} - {{ nivel.sesion }}, {% if nivel.carrera %}{{ nivel.carrera }}{% else %}{{ nivel.coordinacion }}{% endif %}[{{ nivel.inicio|date:"d-m-Y" }} - {{ nivel.fin|date:"d-m-Y" }}]</h3>
            <h4>Per&iacute;odo: {{ periodo }}</h4><br/>
{#            {% if not centroexterno %}#}
{#                <h4>Fecha Tope de  Matricula Ordinaria:  hasta {{ nivel.fechatopematricula|date:"d-m-Y" }} {% if nivel.matricula_cerrada %}<span class="label label-important"> CERRADA</span>{% endif %}</h4>#}
{#                {% if not materialibre %}#}
{#                    <h4>{% if nivel.fechatopematriculaex %} Fecha Tope Matricula Extraordinaria: hasta {{ nivel.fechatopematriculaex|date:"d-m-Y" }} {% if not nivel.matriculaextraordinaria_abierta %} <span class="label label-important"> CERRADA</span>{% endif %}{% endif %} </h4>#}
{#                    <h4>Capacidad del nivel para Matriculas: <span class="badge badge-info"> {{ nivel.capacidadmatricula }}</span> (Matriculados: {{ nivel.mat_nivel }}) {% if nivel.mat_nivel >= nivel.capacidadmatricula %}<span class="label label-important"> SE HA COMPLETADO LA CAPACIDAD TOTAL DE MATRICULADOS DEL NIVEL</span>{% endif %}</h4>#}
{#                {% endif %}#}
{#            {% endif %}#}
            <br/><br/>
          {% endif %}
        </div>
        <div class='span1'>
            <a href="/admin_grupo_municipio" class='btn'><i class="icon-arrow-left"></i> Atr&aacute;s</a>
        </div>
        <br/>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
        <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>Asignatura</th>
                <th>Promedio Asistencia</th>
                <th>Cantidad de estudiantes sin Asistencia</th>
                <th>Estudiantes Reprobados por Asistencia</th>
                <th>Estudiantes Reprobados por Aprovechamiento</th>
{#                <th>Promedio General</th>#}
            </tr>
            </thead>
            <tbody>
            {% for materia in materias %}
                <tr>
                    <td>
                       {% if materia.identificacion %}{{ materia.identificacion }}{% else %}###{% endif %}-{{ materia.asignatura }} - {{ materia.id }} <br/>
                       <table class="table table-bordered table-condensed">
                         <span class="badge btn-success" > Docentes</span>
                        {% if materia.profesormateria_set.count %}
                            {% for profesormateria in materia.profesores_materia %}
                                <tr>
                                    <td>
                                        {{ profesormateria.profesor.persona.nombre_completo }}
                                    </td>
                                </tr>
                            {% endfor %}

                        {% endif %}
                        </table>
                    </td>
                    <td>{{ materia.porciento_asistencia_materia }}</td>
                    <td>{% if materia.sin_asistencia_materia %} {{ materia.sin_asistencia_materia }} {% else %} 0 {% endif %}</td>
                    <td>{% if materia.porciento_asistencia_materia_reprobados %} {{ materia.porciento_asistencia_materia_reprobados }} {% else %} 0 {% endif %}</td>
                    <td>{{ materia.reprobados_aprovechamiento }}</td>
{#                    <td>{{ materia.promedio_por_materia }}</td>#}




                </tr>
            {% endfor %}
            {% if not materias %}
                <tr>
                    <td colspan="5">
                        NO HAY REGISTRO
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        </div>
    </div>






{% endblock %}