{% extends "formbs.html" %}
{% block javascript %}

    $("#id_materia").attr('disabled',true);
    $("#id_turno").attr('disabled',true);
    $("#id_dia").attr('disabled',true);
    $("#id_virtual").attr('disabled',true);
    $("#id_profesormateria").attr('disabled',true);

{% endblock %}
{% block titulo %}Editar Aula en el Horario del Grupo: {{ nivel.grupo.nombre }}{% endblock %}
{% block formaction %}/horarios{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editaula'/>
    <input type='hidden' name='id' value='{{ clase.id }}'/>
{% endblock %}
{% block formback %}/horarios?action=horario&id={{ clase.materia.nivel.id }}{% endblock %}
{% block buttonname %}Cambiar Aula{% endblock %}