{% extends "layout/modalajaxformdinamicbs.html" %}
{% load humanize %}
{% block idformulario %}{% if frmName %}{{ frmName }}{% else %}formDinamico{% endif %}{% endblock %}
{% block extraheading %}
    {% if canViewVisor %}
        <style>
            .texto_alerta {
                color: #FC7E00;
                margin-bottom: -9px;
            }

            .caja-fixed {
                position: sticky;
                top: 0;
                z-index: 1;
            }
        </style>
    {% endif %}

    <script type="text/javascript">


    </script>
{% endblock %}
{% block formextra %}
    <input autocomplete="False" type="hidden" name="id" value="{{ id }}">
    <input autocomplete="False" type="hidden" name="action" value="{{ action }}">
    {% if canViewVisor %}
        <input autocomplete="False" type="hidden" name="archivo" value="{{ archivo_url }}">
        <input autocomplete="False" type='hidden' name='coordenadas' value=''/>
    {% endif %}
{% endblock %}
{% block formsuffix %}
    {% if canViewVisor %}
        <div class="row justify-content-end">
            <div class="texto_alerta col-12 lh-15 my-1" role="alert">
                <i class="fa fa-bookmark pe-1"></i> <b>Recuerda: </b> Puedes <b>firmar más de una vez</b>,
                <b>deslizar / mover</b> la estampa y <b>doble clic para quitarla</b>.
            </div>
            <div class="col-sm-4 col-12">
                <select id="current_page" class="form-select text-center">
                    <option value="">

                    </option>
                </select>
            </div>
            <div class="col-sm-8 col-12 mx-0 pr-0 text-end">
                <div class="input-group justify-content-end">
                    <button type="button"
                            class="btn btn-primary me-2" id="bntPegarFirma">
                        <i class="fa fa-tag"></i> Estampar firma
                    </button>
                    <a href="{{ archivo_url }}" class="btn btn-info" target="_blank"><i class="fa fa-print"></i> Ver
                        certificado</a>
                </div>
            </div>

            <div class="col-12 mx-0 text-end v-align-middle">
                <p id="firmasInfo">
                </p>
            </div>
            <div class="col-lg-12">
                <div class="card" id="cajaRender">
                    <div class="card-body">
                        <div class="row mb-1">
                            <div class="col text-center">
                                <div id="fileContainer" class="w-80">
                                    <div id="fileViewer" class="w-80">
                                        <canvas id="fileRendered"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <a href="javascript:void(0)" class="texto_alerta"><b>Nota:</b> Para
                proteger a nuestros usuarios le recordamos que ninguna firma usada en nuestras
                palataformas quedará guardada.</a>
        </div>
    </div>
{% endblock %}
{% block extrajavascript %}
    {% if canViewVisor %}
        <script src="/static/firmaec/pdf.js?v={{ version }}"></script>
        <script src="/static/firmaec/pdf.worker.js?v={{ version }}"></script>
        <script src="/static/firmaec/konva.min.js?v={{ version }}"></script>
        {% include 'firma_ec/script.html' %}
    {% endif %}
{% endblock %}