{% extends "formbs.html" %}
{% block extraheading %}
{% endblock %}

{% block javascript %}
{% endblock %}


{% block titulo %}Adicionar Docente para la Materia {% endblock %}
{% block formaction %}/prueba_profesormateria{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='add'/>
    <input type='hidden' name='idasignatura' value='{{ asignatura.id }}'/>
{% endblock %}
{% block formback %}/prueba_profesormateria?action=add&id={{ asignatura.id }}{% endblock %}
{% block buttonname %}Guardar Docente{% endblock %}
