<script type="text/javascript">
    $(function() {
    });
</script>
<div class='row-fluid' >
    <table class="table table-bordered">
        <tr>
            <td colspan="2">
                <strong>ASIGNATURA:</strong><br>
                {{ silabo.materia.asignatura }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>CARRERA:</strong><br>
                {{ silabo.materia.nivel.carrera }}
            </td>
            <td >
                <strong>PARALELO:</strong><br>
                {{ silabo.materia.nivel.paralelo }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>PPROFESOR:</strong><br>
                {{ silabo.materia.profesor_principal }}
            </td>
            <td>
                <strong>NIVEL:</strong><br>
                {{ silabo.materia.nivel.nivelmalla }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>CREACIÓN:</strong> {{ silabo.fecha_creacion|date:"Y-m-d h:i:s" }}
            </td>
            <td>
                {% with get_estado=silabo.get_estado %}
                    <span class="badge bg-{{ get_estado.bg }}">{{ get_estado.estado }}</span>
                {% endwith %}
            </td>
        </tr>
    </table>
    <br/>
    <table class="table table-bordered">
        <tr>
            <td style="width: 250px">
                <select class="select2-selection form-control selector" id="selectestado">
                    <option value="">Selecione el estado</option>
                    {% for estado in estados %}
                        <option value="{{ estado.0 }}">{{ estado.1 }}</option>
                    {% endfor %}
                </select>
            </td>
            <td >
                <textarea class="form-control" rows="1" id="observacion"></textarea>
            </td>
        </tr>
    </table>
    <div style="overflow-y: auto; max-height: 350px">
        <table class="table table-bordered">
            <thead>
            <th style="width: 80px">USUARIO</th>
            <th style="width: 100px">FECHA</th>
            <th style="width: 250px">OBSERVACIÓN</th>
            <th style="width: 60px; text-align: center">ESTADO</th>
            </thead>
            <tbody>
            {% for historial in historialprobacionSilabo %}
                <tr>
                    <td style="text-align: justify">{{ historial.persona }}</td>
                    <td style="text-align: justify;">{{ historial.fecha|date:"Y-m-d" }}</td>
                    <td style="text-align: justify;">{{ historial.observacion }}</td>
                    <td style="text-align: center;">
                        {% with get_estado=historial.get_estado %}
                            <span class="badge bg-{{ get_estado.bg }}">{{ get_estado.estado }}</span>
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
