{% extends "formbs.html" %}
{% block javascript %}
    $($("#id_colegio").get(0).parentNode.parentNode).prepend("<h3>ESTUDIOS</h3>");
    $($("#id_razon").get(0).parentNode.parentNode).prepend("<h3>TRABAJO</h3>");

    var numerosdec="0123456789";

    function solo_numerosdec(texto){
       var num = 0;
       for(i=0; i<texto.length; i++){
        if (numerosdec.indexOf(texto.charAt(i),0)!=-1){
              num = num +1;
        }
       }
       return num;
    }

    $("#id_anoestudio").blur(function(){
        var num = $(this).val();
        if (solo_numerosdec(num) != num.length){
            $($(this).get(0).parentNode).find(".help-text").html("<h6 style='color:red' >Ingrese Solo Numeros</h6>");
            $(this).val("");
            $(this).focus();
        }
        else{
            $($(val).get(0).parentNode).find(".help-text").html("");
        }
    });


{% endblock %}
{% block titulo %}Estudios y Trabajos del Alumno : {{ inscripcion }}{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='actividades'/>
    <input type="hidden" name='inscripcion' value='{{ inscripcion.id }}'/>
{% endblock %}
{% block formback %}/inscripciones{% endblock %}
{% block buttonname %}Guardar Datos{% endblock %}