{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_n1,#id_n2,#id_n3,#id_n4,#id_n5,#id_cod1,#id_cod2,#id_cod3,#id_cod4,#id_estado").addClass("validate[required]");

    calcula = function() {
        if (isNaN($("#id_n1").val())) $("#id_n1").val(0);
        if (isNaN($("#id_n2").val())) $("#id_n2").val(0);
        if (isNaN($("#id_n3").val())) $("#id_n3").val(0);
        if (isNaN($("#id_n4").val())) $("#id_n4").val(0);
        if (isNaN($("#id_n5").val())) $("#id_n5").val(0);
        if (isNaN($("#id_recup").val())) $("#id_recup").val(0);

        var n1 = parseFloat($("#id_n1").val());
        var n2 = parseFloat($("#id_n2").val());
        var n3 = parseFloat($("#id_n3").val());
        var n4 = parseFloat($("#id_n4").val());
        var n5 = parseFloat($("#id_n5").val());
        var recup = parseFloat($("#id_recup").val());
        var total = n1+n2+n3+n4+n5;
        $("#id_total").val(total);
        $("#id_notafinal").val(total);
        if (isNaN(recup)){
            $("#id_notafinal").val(total);
        }else{
            $("#id_notafinal").val(Math.round((total+recup)/2.0));
        }
    }

    $("#id_n1").change(calcula);
    $("#id_n2").change(calcula);
    $("#id_n3").change(calcula);
    $("#id_n4").change(calcula);
    $("#id_n5").change(calcula);
    $("#id_recup").change(calcula);

{% endblock %}
{% block titulo %}Adicionar Hist&oacute;rico de Notas del Estudiante: {{ historico.inscripcion }} <h4>Asignatura: {{ historico.asignatura }}</h4>{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addhistoriconotas'/>
    <input type='hidden' name='id' value="{{ historico.id }}"/>

{% endblock %}
{% block formback %}/inscripciones?action=historico&id={{ historico.id }}{% endblock %}
{% block buttonname %}Guardar Cambios{% endblock %}