{% extends "formbs.html" %}
{% block javascript %}
    $("#id_tipo,#id_archivo").addClass("validate[required]");
    {% if documento %}
        $("#id_tipo").attr("disabled",true);
    {% endif %}
{% endblock %}
{% block titulo %}Adicionar Documento{% endblock %}

{% block formaction %}{% if puedesubir %}/documentos_alu{% else %}/inscripciones {% endif %}{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    {% if not  documento %}
        <input type='hidden' name='action' value='adddocumento'/>
        <input type="hidden" name='inscripcion' value='{{ inscripcion.id }}'/>
    {% else %}
        <input type='hidden' name='action' value='cambiar'/>
        <input type="hidden" name='documento' value='{{ documento.id }}'/>
    {% endif %}
{% endblock %}
{% block formback %}/inscripciones?action=documentos&id={{ inscripcion.id }}{% endblock %}
{% block buttonname %}Guardar Documento{% endblock %}