{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_fechaperiodo").datepicker({format:"dd-mm-yyyy"});
    $("#id_inscripcion,#id_fechaperiodo,#id_nivel").addClass("validate[required]");
{% endblock %}
{% block titulo %}Adicionar Historia de Nivel de Alumno{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addhistorianivel'/>
    <input type='hidden' name='id' value='{{ inscripcion.id }}'/>
{% endblock %}
{% block formback %}/inscripciones?action=historianivel&id={{ inscripcion.id }}{% endblock %}
{% block buttonname %}Guardar Historia{% endblock %}