{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
     $($("#id_materia").get(0).parentNode.parentNode).hide();
    $($("#id_materia").get(0).parentNode.parentNode).hide();
    $($("#id_asignatura").get(0).parentNode.parentNode).hide();
    $($("#id_profesor").get(0).parentNode.parentNode).hide();
    $("#id_tipoe,#id_descripcion").addClass("validate[required]");
    $($("#id_comprobante").get(0).parentNode.parentNode).hide();
    $("#id_tipoe").attr("disabled",true);
    $($("#id_comprobante").get(0).parentNode.parentNode).show();

{% endblock %}
{% block titulo %}{% if urlaccion %} Ingresa comprobante de Alumno: {{ inscripcion.persona.nombre_completo }} {% else %}Nueva Solicitud{% endif %}
    {% if error %}
    <br>    Todos los campos son obligatorios
    {% endif %}{% endblock %}


{% block formaction %}{% if urlaccion %}/{{ urlaccion }}{% else %}/inscripciones{% endif %}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addtramite'/>
    {% if pr %}
        <input type='hidden' name='pr' value='{{ pr }}' id='{{ pr }}' />
    {% endif %}
    {% if urlaccion %}
        <input type='hidden' name='idinscrip' value='{{ inscripcion.id }}' id='idinscrip' />
    {% endif %}
{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formback %}/inscripciones?s={{ inscripcion.persona.cedula }}{% endblock %}
{% block buttonname %}Enviar Solicitud
{% endblock %}