{% extends "deletebs.html" %}
{% block titulo %}Borrar Registro Acad&eacute;mico de Alumno{% endblock %}
{% block formback %}/inscripciones?action=record&id={{ record.inscripcion.id }}{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formactionvalue %}delrecord{% endblock %}
{% block formobjectid %}{{ record.id }}{% endblock %}
{% block formobjectname %}el Registro de la materia: {{ record.asignatura.nombre}} del Alumno {% endblock %}
{% block formobjectrepr %}{{ record.inscripcion }}
{% endblock %}

