{% extends "formbs.html" %}
{% block javascript %}
    //$().addClass("validate[required]");
{% endblock %}
{% block titulo %}Cargar Foto <h3>{{ inscripcion.persona }}</h3>{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='cargarfoto'/>
    <input type='hidden' name='id' value='{{ inscripcion.id }}'/>
{% endblock %}
{% block formback %}/inscripciones{% endblock %}
{% block buttonname %}Cargar Foto{% endblock %}