{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
        $("#id_nota_ant, #id_nota_act, #id_anno").addClass("input-small");
        $("#id_centro, #id_carrera, #id_asignatura, #id_observaciones").addClass("input-block-level");
        {% if not perms.sga.change_recordacademico %}
            $("#id_centro").attr("disabled", true);
            $("#id_asignatura").attr("disabled", true);
            $("#id_anno").attr("disabled", true);
            $("#id_nota_ant").attr("disabled", true);
            $("#id_nota_act").attr("disabled", true);
            $("#id_observaciones").attr("disabled", true);
            $("#formbutton").remove();

        {% endif %}

        $("#id_inscripcion").addClass("validate[required]");

{% endblock %}
{% block titulo %}Adicionar Convalidacion al alumno: {{ convalidacion.record.inscripcion }} <br>  <h3>Asignatura: {{ convalidacion.record.asignatura }}</h3>{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='convalidar'/>
    <input type='hidden' name='id' value="{{ convalidacion.id }}"/>
{% endblock %}
{% block formback %}/inscripciones?action=record&id={{ convalidacion.record.id }}{% endblock %}
{% block buttonname %}Guardar Convalidacion{% endblock %}
