<script type="text/javascript">
    $('.quitar').click(function(){
        $("#id_motivosuspension").css("width", '90%');
        $("#suspension #id_observacion").css("width", '90%');
        $('#fecha').html("");
        $("#detalle_suspension").modal("hide");
        $("#suspension #id_observacion").attr("readonly",false);
        $("#id_fechasus").attr("disabled",false);
        $("#id_motivosuspension").attr("disabled",false);
        $("#suspension #id_observacion").val("");
        $("#suspension .paneltitle").html("Ingrese Observación");
        $("#id_tiposuspension").val($(this).attr('tipsusp'));
        $("#id_motivosuspension").val('');
        $($("#id_tiposuspension").get(0).parentNode.parentNode).hide();
        $("#suspension .btn-quitar").show();
        $("#suspension .btn-adicionar").hide();
        $("#suspension .btn-editar").hide();
        $("#suspension").modal({backdrop: 'static' , width:'35%'});
        $("#suspension").modal("show");
        $('#idsuspens').val($(this).attr('idsusp'));
        return false;
    });
    $('.ver').click(function(){
        $("#id_motivosuspension").css("width", '90%');
        $("#suspension #id_observacion").css("width", '90%');
        $("#detalle_suspension").modal("hide");
        $("#suspension #id_observacion").attr("readonly",true);
        $("#id_fechasus").attr("disabled",true);
        $("#suspension #id_observacion").val($(this).attr('obs'));
        $("#suspension .paneltitle").html("Eliminación de Suspensión");
        $($("#id_tiposuspension").get(0).parentNode.parentNode).hide();
        $("#id_motivosuspension").attr("disabled",true);
{#        alert($(this).attr('motsusp'));#}
        $("#id_motivosuspension").val($(this).attr('motsusp'));
        $("#suspension .btn-quitar").hide();
        $("#suspension .btn-adicionar").hide();
        $("#suspension .btn-editar").hide();
        $("#suspension").modal({backdrop: 'static',width:'35%'});
        $("#suspension").modal("show");
        $('#idsuspens').val($(this).attr('idsusp'));
        $("#id_fechasus").val($(this).attr('fecha'));
{#        $('#fecha').html("Fecha de Eliminación&nbsp;&nbsp;&nbsp; <input type='text' style='font-size:16px;color: black' value=' "+$(this).attr('fecha')+" ' disabled/> ");#}
        return false;
    });

    $('.editar').click(function(){
        $("#id_motivosuspension").css("width", '90%');
        $("#suspension #id_observacion").css("width", '90%');
        $("#detalle_suspension").modal("hide");
        $('#fecha').html("");
        $("#id_tiposuspension").addClass("input-xlarge");
        $($("#id_tiposuspension").get(0).parentNode.parentNode).show();
        $("#id_observacion").attr("readonly",true);
        $("#id_tiposuspension").attr("disabled",true);
        $("#id_fechasus").attr("disabled",true);
        $("#id_motivosuspension").attr("disabled",true);
        $("#id_tiposuspension").val($(this).attr('tipsusp'));
        $("#id_fechasus").val($(this).attr('fecha'));
        $("#id_motivosuspension").val($(this).attr('motsusp'));
        $("#suspension .paneltitle").html("Suspensión");
        $("#suspension #id_observacion").val($(this).attr('obs'));
        $("#suspension .btn-quitar").hide();
        $("#suspension .btn-adicionar").hide();
        $("#suspension .btn-editar").show();
        $("#suspension").modal({backdrop: 'static' , width:'35%'});
        $("#suspension").modal("show");
        inscsusp = $(this).attr('idsusp');
        $('#idsuspens').val($(this).attr('idsusp'));
        return false;
    });
</script>
<div class="row-fluid">
<div class="span12">
    <table class="table table-condensed table-stripped">
        <thead>
        <tr>
            <th style="text-align: center;width:15% ">Tipo Suspension</th>
            <th style="text-align: center;width:50%">Observacion</th>
            <th style="text-align: center;width:15%">Fecha</th>
            <th style="text-align: center;width:5%"></th>
            <th style="text-align: center;width:15%"></th>

        </tr>
        </thead>
    <tbody>
        {% for s in suspension %}
            <tr>
                <td style="text-align: center"> {{ s.tiposuspension }}</td>
                <td style="text-align: center"> {{ s.observacion }}</td>
                <td  style="text-align: center"> {{ s.fecha|date:'d-m-Y' }}</td>
                <td  style="text-align: center">
                    {% if not s.eliminasuspenexis %}
                        <a href="#" tipsusp='{{ s.tiposuspension.id }}' obs='{{ s.observacion }}' idsusp = '{{ s.id }}' motsusp = '{{ s.motivosuspension.id }}' fecha='{{ s.fecha|date:'d-m-Y' }}' class="btn btn-warning  btn-aceptar editar">Ver</a>
                    {% endif %}
                </td>
                <td  style="text-align: center">
                    {% if not s.eliminasuspenexis %}
                        <a href="#" idsusp = '{{ s.id }}' class="btn btn-eliminar btn-danger quitar">Quitar Suspensi&oacute;n</a>
                    {% else %}
                        <a href="#" idsusp = '{{ s.id }}' obs='{{ s.eliminasuspenexis.observacion }}' motsusp = '{{ s.eliminasuspenexis.motivosuspension.id }}' fecha='{{ s.eliminasuspenexis.fecha|date:'d-m-Y' }}' class="btn btn-elimnar btn-danger ver">Ver Eliminacion</a>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
