{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_inscripcion").addClass("validate[required]");
{% endblock %}
{% block titulo %}Editar Actividad Laboral del Alumno: {{ inscripcion }}{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='edittrabajo'/>
    <input type='hidden' name='id' value="{{ trabajo.id }}"/>
{% endblock %}
{% block formback %}/inscripciones?action=trabajo&id={{ trabajo.id }}{% endblock %}
{% block buttonname %}Guardar Cambios{% endblock %}