{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_inscripcion").addClass("validate[required]");
{% endblock %}
{% block titulo %}Editar Estudios Realizados por el Alumno: {{ inscripcion }}{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editestudio'/>
    <input type='hidden' name='id' value="{{ estudio.id }}"/>
{% endblock %}
{% block formback %}/inscripciones?action=estudio&id={{ estudio.id }}{% endblock %}
{% block buttonname %}Guardar Cambios{% endblock %}