{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_observaciones, #id_tipo").addClass("validate[required]");
    $($("#id_activa").get(0).parentNode.parentNode).show();
{% endblock %}
{% block titulo %}Editar Observacion del Estudiante: {{ observacion.inscripcion }}{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editobservacion'/>
    <input type='hidden' name='id' value="{{ observacion.id }}"/>
{% endblock %}
{% block formback %}/inscripciones?action=observaciones&id={{ observacion.inscripcion.id }}{% endblock %}
{% block buttonname %}Guardar Cambios{% endblock %}