{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_fecha").datepicker({format:"dd-mm-yyyy"});
{% endblock %}
{% block titulo %}Editar una Beca SENESCYT del estudiante: {{ inscripcion }}{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editbecasenescyt'/>
    <input type='hidden' name='id' value="{{ isenescyt.id }}"/>
{% endblock %}
{% block formback %}/inscripciones?s={{ inscripcion.persona.cedula }}{% endblock %}
{% block buttonname %}Guardar Cambios{% endblock %}