{% extends "formbs.html" %}
{% block javascript %}
    $("#id_fechaegreso").datepicker({format:"dd-mm-yyyy"});
    $("#id_inscripcion,#id_fechaegreso").addClass("validate[required]");
{% endblock %}
{% block titulo %}Egresar al Estudiante : {{ inscripcion }}{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='egresar'/>
    <input type="hidden" name='id' value='{{ inscripcion.id }}'/>
{% endblock %}
{% block formback %}/inscripciones{% endblock %}
{% block buttonname %}Egresar Alumno{% endblock %}