{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_fecha").datepicker({format:"dd-mm-yyyy"});
    $("#id_inscripcion,#id_fecha,#id_nombre,#id_email").addClass("validate[required]");

    $("#id_cedula").mask("9999999999");
    $("#id_fecha").mask("99-99-9999");
{% endblock %}
{% block titulo %}Ingrese datos para Generar Clave a los Padres de: {{ inscripcion }}{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='generarclave'/>
    <input type='hidden' name='id' value='{{ inscripcion.id }}'/>
{% endblock %}
{% block formback %}/inscripciones{% endblock %}
{% block buttonname %}Generar{% endblock %}