{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class="span12">
            <div class='span10'>
                <h3>Actividad Laboral del Alumno: {{ inscripcion.persona }}</h3>
                <h5>Carrera: {{ inscripcion.carrera }}</h5>
                <br>
            </div>
            <div class='span2'>
                <a href="/inscripciones?s={% if inscripcion.persona.cedula %}{{ inscripcion.persona.cedula }}{% else %}{{ inscripcion.persona.pasaporte }}{% endif %}" class='btn'><i class="icon-pencil"></i> Inscripci&oacute;n</a>
                <a href="/inscripciones?action=estudio&id={{ inscripcion.id }}" class='btn'><i class="icon-book"></i> Estudio</a>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <!-- <th>[x]</th> -->
                    <th>Razon Social</th>
                    <th>Cargo</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for trabajo in trabajos %}
                    <tr>
                        <td>{{ trabajo.razon }}</td>
                        <td>{{ trabajo.cargo }}</td>
                        <td>{{ trabajo.direccion }}</td>
                        <td>{{ trabajo.telefono }}</td>
                        <td>{{ trabajo.email }}</td>
                        <td>
                            {% if perms.sga.change_inscripcion %}
                                <a href='/inscripciones?action=edittrabajo&id={{ trabajo.id }}' class="btn btn-info btn-mini"><i class="icon-edit icon-white"></i>Editar</a>
                                <a href='/inscripciones?action=deltrabajo&id={{ trabajo.id }}' class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i>Borrar</a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
                {% if not trabajos %}
                    <tr>
                        <td colspan="6">
                            NO HAY ACTIVIDAD LABORAL DEL ALUMNO
                        </td>
                    </tr>
                {% endif %}
                </tbody>

            </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            {% if perms.sga.change_inscripcion %}
                <a href="/inscripciones?action=addtrabajo&id={{ inscripcion.id }}" class='btn btn-success'><i class="icon-plus icon-white"></i> Adicionar Actividad Laboral</a>
            {% endif %}
        </div>
    </div>
{% endblock %}