{% extends "formbs.html" %}
{% block javascript %}
    $("#id_materia").addClass("validate[required]");
    $("#id_nota").attr("disabled", "disabled");

    calcula = function() {
    var p1 = parseFloat($("#id_p1").val()) * {{ porciento_p1 }};
    var p2 = parseFloat($("#id_p2").val()) * {{ porciento_p2 }};
    var p3 = parseFloat($("#id_p3").val()) * {{ porciento_p3 }};
    var p4 = parseFloat($("#id_p4").val()) * {{ porciento_p4 }};
    var p5 = parseFloat($("#id_p5").val()) * {{ porciento_p5 }};
    $("#id_nota").val(p1+p2+p3+p4+p5);
    }

    $("#id_p1").change(calcula);
    $("#id_p2").change(calcula);
    $("#id_p3").change(calcula);
    $("#id_p4").change(calcula);
    $("#id_p5").change(calcula);

{% endblock %}
{% block titulo %} Evaluaci&oacute;n del Alumno: {{ materiaasignada.matricula.inscripcion }}{% endblock %}
{% block subtitulo %}{{ profesor}}<br/>
    Carrera: {{ materiaasignada.materia.nivel.carrera }} - {{ materiaasignada.materia.nivel.nivelmalla }}<br/>
    Materia: {{ materiaasignada.materia.nombre_completo }}<br/>
    Evaluaci&oacute;n: N{{ tipo }}
{% endblock %}
{% block formaction %}/cons_alumnos{% endblock %}
{% block form-type %}{% endblock %}
{% block formextra %}

    <input type='hidden' name='action' value='editnota'/>
    <input type='hidden' name='id' value='{{ materiaasignada.id }}'/>
    <input type='hidden' name='nota' value='{{ notaiavq.id }}'/>
    <input type='hidden' name='tipo' value='{{ tipo }}'/>
{% endblock %}
{% block formback %}/cons_alumnos{% endblock %}
{% block buttonname %}Guardar Nota{% endblock %}