{% extends "formbs.html" %}
{% block javascript %}
    var eval = document.getElementById("eval");
    eval.focus();

{% endblock %}
{% block titulo %} Evaluacion del Alumno: {{ materiaasignada.matricula.inscripcion }}{% endblock %}
{% block subtitulo %}{{ profesor}}<br/>
    Carrera: {{ materiaasignada.materia.nivel.carrera }} - {{ materiaasignada.materia.nivel.nivelmalla }}<br/>
    Materia: {{ materiaasignada.materia.nombre_completo }}<br/>
    Tipo de Nota: {{ tipo }}
{% endblock %}
{% block formaction %}/cons_alumnos{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='otrasnotas'/>
    <input type='hidden' name='id' value='{{ materiaasignada.id }}'/>
    <input type='hidden' name='tipo_num' value='{{ tipo_num }}'/>
    <input type='hidden' name='matricula' value='{{ matricula }}'/>
    <div class="larger2">Evaluaci&oacute;n: <input type='text' id ='eval' name='valor' value='{{ valor }}'/></div>
{% endblock %}
{% block formback %}/cons_alumnos{% endblock %}
{% block buttonname %}Guardar Nota{% endblock %}
