{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
{#<script>#}
{#    $(function() {#}

    $("#id_estadocivil").addClass("validate[required]");
    $("#id_estadocivil").addClass("input-large");
    $($("#id_hijos").get(0).parentNode).find(".help-text").html("Ingrese solo Numeros.");
    $("#id_hijos").addClass("input-large");
    chequeaLicencia = function() {
    if (!$("#id_tienelicencia").is(':checked')) {
    $("#id_tipolicencia").attr("disabled", true);
    $("#id_tipolicencia").addClass("input-large");
    $("#id_tipolicencia").val("");
    } else {
    $("#id_tipolicencia").attr("disabled", false);
    $("#id_tipolicencia").addClass("input-large");
    $("#id_tipolicencia").addClass("validate[required]");
    }
    }

    $("#id_tienelicencia").click(chequeaLicencia);
    chequeaLicencia();

    $("#id_hijos").blur(function(){
            var v = $("#id_hijos").val();
            var p = solo_numeros(v);
            if (p !=0)
            {
              $($("#id_hijos").get(0).parentNode).find(".help-text").html("Ingresar solo Numeros");

              $("#id_hijos").val("");
              $("#id_hijos").focus();
            }
            else{
                $($("#id_hijos").get(0).parentNode).find(".help-text").html("");
            }

        });

    var letras="abcdefghyjklmnñopqrstuvwxyz";

    function tiene_letras(texto){
{#            texto = texto.toLowerCase();#}
            for(i=0; i<texto.length; i++){
              if (letras.indexOf(texto.charAt(i),0)!=-1){
                 return 1;
              }
            }
            return 0;
    }

    var letras_mayusculas="ABCDEFGHYJKLMNÑOPQRSTUVWXYZ";

        function tiene_mayusculas(texto){
           for(i=0; i<texto.length; i++){
              if (letras_mayusculas.indexOf(texto.charAt(i),0)!=-1){
                 return 1;
              }
           }
           return 0;
        }

    var caracteres_especiales="\,+-*/{}$%&[]><()=?¿:;_";

        function tiene_caracteres(texto){
           for(i=0; i<texto.length; i++){
              if (caracteres_especiales.indexOf(texto.charAt(i),0)!=-1){
                 return 1;
              }
           }
           return 0;
        }
        function solo_numeros(clave){
           var seguridad = 0;
           if (clave.length!=0){

                if (tiene_caracteres(clave)){
                     seguridad = 1;
                }
                if (tiene_mayusculas(clave)){
                     seguridad = 1;
                }
                if ( tiene_letras(clave)){
                    seguridad = 1;
                }

           }
           return seguridad
        }

{% endblock %}
{% block titulo %}Mas Datos Personales del Estudiante: {{ pex.personafichamedica.personaextension.persona }}{% endblock %}
{% block formaction %}/box_medical{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='datosextension'/>
    <input type='hidden' name='id' value="{{ pex.id }}"/>
    <input type="hidden" name="ins" value="{{ inscripcion.id }}"/>
    <div class="row-fluid">
        <div style="color: red; font-size: 12px; font-weight: bolder"> Los campos con * son OBLIGATORIOS</div>
    </div>
{% endblock %}
{% block formback %}/box_medical{% endblock %}
{% block buttonname %}Guardar Datos{% endblock %}