{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}

    $("#id_horassueno").addClass("validate[required]");
    $("#id_horassueno").addClass("input-large");
    $($("#id_horassueno").get(0).parentNode).find(".help-text").html("Ingrese solo Numeros.");
    $("#id_numerocigarros").addClass("input-large");
    $($("#id_numerocigarros").get(0).parentNode).find(".help-text").html("Ingrese solo Numeros.");
    $("#id_copasalcohol").addClass("input-large");
    $($("#id_copasalcohol").get(0).parentNode).find(".help-text").html("Ingrese solo Numeros.");
    $("#id_calidadsuenno").addClass("input-large");
    chequeaFormulario = function() {
    if (!$("#id_cigarro").is(':checked')) {
    $("#id_numerocigarros").attr("disabled", true);
    $("#id_numerocigarros").val("");
    } else {
    $("#id_numerocigarros").attr("disabled", false);
    $("#id_numerocigarros").addClass("validate[required]");
    }

    if (!$("#id_tomaalcohol").is(':checked')) {
    $("#id_tipoalcohol").attr("disabled", true);
    $("#id_copasalcohol").attr("disabled", true);
    $("#id_tipoalcohol").val("");
    $("#id_copasalcohol").val("");
    } else {
    $("#id_tipoalcohol").attr("disabled", false);
    $("#id_copasalcohol").attr("disabled", false);
    $("#id_tipoalcohol").addClass("validate[required]");
    $("#id_copasalcohol").addClass("validate[required]");
    }

    if (!$("#id_tomaantidepresivos").is(':checked')) {
    $("#id_antidepresivos").attr("disabled", true);
    $("#id_antidepresivos").val("");
    } else {
    $("#id_antidepresivos").attr("disabled", false);
    $("#id_antidepresivos").addClass("validate[required]");
    }

    if (!$("#id_tomaotros").is(':checked')) {
    $("#id_otros").attr("disabled", true);
    $("#id_otros").val("");
    } else {
    $("#id_otros").attr("disabled", false);
    $("#id_otros").addClass("validate[required]");
    }

    }

    $("#id_cigarro").click(chequeaFormulario);
    $("#id_tomaalcohol").click(chequeaFormulario);
    $("#id_tomaantidepresivos").click(chequeaFormulario);
    $("#id_tomaotros").click(chequeaFormulario);

    chequeaFormulario();

    $("#id_numerocigarros").blur(function(){
            var v = $("#id_numerocigarros").val();
            var p = solo_numeros(v);
            if (p !=0)
            {
              $($("#id_numerocigarros").get(0).parentNode).find(".help-text").html("Ingresar solo Numeros");
              $("#id_numerocigarros").val("");
              $("#id_numerocigarros").focus();
            }
            else{
                $($("#id_numerocigarros").get(0).parentNode).find(".help-text").html("");
            }

        });

    $("#id_copasalcohol").blur(function(){
            var v = $("#id_copasalcohol").val();
            var p = solo_numeros(v);
            if (p !=0)
            {
              $($("#id_copasalcohol").get(0).parentNode).find(".help-text").html("Ingresar solo Numeros");
              $("#id_copasalcohol").val("");
              $("#id_copasalcohol").focus();
            }
            else{
                $($("#id_copasalcohol").get(0).parentNode).find(".help-text").html("");
            }

        });

    $("#id_horassueno").blur(function(){
            var v = $("#id_horassueno").val();
            var p = solo_numeros(v);
            if (p !=0)
            {
              $($("#id_horassueno").get(0).parentNode).find(".help-text").html("Ingresar solo Numeros");
              $("#id_horassueno").val("");
              $("#id_horassueno").focus();
            }
            else{
                $($("#id_horassueno").get(0).parentNode).find(".help-text").html("");
            }

        });

    var letras="abcdefghyjklmnñopqrstuvwxyz";

    function tiene_letras(texto){
{#            texto = texto.toLowerCase();#}
            for(i=0; i<texto.length; i++){
              if (letras.indexOf(texto.charAt(i),0)!=-1){
                 return 1;
              }
            }
            return 0;
    }

    var letras_mayusculas="ABCDEFGHYJKLMNÑOPQRSTUVWXYZ";

        function tiene_mayusculas(texto){
           for(i=0; i<texto.length; i++){
              if (letras_mayusculas.indexOf(texto.charAt(i),0)!=-1){
                 return 1;
              }
           }
           return 0;
        }

    var caracteres_especiales="\,+-*/{}$%&[]><()=?¿:;_";

        function tiene_caracteres(texto){
           for(i=0; i<texto.length; i++){
              if (caracteres_especiales.indexOf(texto.charAt(i),0)!=-1){
                 return 1;
              }
           }
           return 0;
        }
        function solo_numeros(clave){
           var seguridad = 0;
           if (clave.length!=0){

                if (tiene_caracteres(clave)){
                     seguridad = 1;
                }
                if (tiene_mayusculas(clave)){
                     seguridad = 1;
                }
                if ( tiene_letras(clave)){
                    seguridad = 1;
                }

           }
           return seguridad
        }


{% endblock %}
{% block titulo %}H&aacute;bitos del Estudiante: {{ inscripcion }}{% endblock %}
{% block formaction %}/box_medical{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='habitos'/>
    <input type='hidden' name='id' value="{{ pex.id }}"/>
    <input type="hidden" name="ins" value="{{ inscripcion.id }}"/>
    <div class="row-fluid">
        <div style="color: red; font-size: 12px; font-weight: bolder"> Los campos con * son OBLIGATORIOS</div>
    </div>
{% endblock %}
{% block formback %}/box_medical{% endblock %}
{% block buttonname %}Guardar Datos{% endblock %}