<div class="row-fluid">
<div class="span12">
    <table class="table table-condensed table-stripped">
    <tbody>
            <tr>
                <td style="font-weight: bold">Nombre: </td>
                <td>{{ actividad.nombre }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Periodo: </td>
                <td>{{ actividad.periodo.nombre }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Responsable: </td>
                <td>{{ actividad.responsable.nombre_completo }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Tipo: </td>
                <td>{{ actividad.tipo }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Departamento: </td>
                <td>{{ actividad.departamento }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Desde: </td>
                <td>{{ actividad.inicio|date:'d-m-Y' }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Hora Inicio: </td>
                <td>{{ actividad.horainicio }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Fin: </td>
                <td>{{ actividad.fin|date:'d-m-Y' }}</td>
            </tr><tr>
                <td style="font-weight: bold">Hora Fin: </td>
                <td>{{ actividad.horafin }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Archivo: </td>
                <td>{% if actividad.archivo %}<a href="media/{{ actividad.archivo }}">Descargar </a>{% else %}No hay archivo{% endif %}</td>
            </tr>
    </tbody>
</table>
</div>
</div>
