{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_inicio, #id_fin").datepicker({format:"dd-mm-yyyy"});
    $("#id_precioinscripcion, #id_preciomatricula, #id_precioperiodo, #id_cuotas").addClass("validate[required]");

{% endblock %}
{% block titulo %}Precios de Rubros del Grupo: {{ grupo.nombre }}<br><h4>{{ grupo.carrera }}-{{ grupo.modalidad }}-{{ grupo.sesion }}</h4>{% endblock %}
{% block formaction %}/adm_grupos{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='precios'/>
    <input type='hidden' name='id' value="{{ grupo.id }}"/>
{% endblock %}
{% block formback %}/adm_grupos{% endblock %}
{% block buttonname %}Guardar Cambios{% endblock %}