{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_fuente, #id_destino").addClass("validate[required]");
{% endblock %}
{% block titulo %}Unir Grupos{% endblock %}
{% block formaction %}/adm_grupos{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='merge'/>
{% endblock %}
{% block formback %}/adm_grupos{% endblock %}
{% block buttonname %}Unir Grupos{% endblock %}