{#{% extends "deletebs.html" %}#}
{% extends "formbs.html" %}
{% block titulo %}Seguimiento al Alumno
<br/>{{ r.inscripcion }} {{ r.nivel.nivelmalla }}- {{ r.nivel.paralelo }} - {{ r.nivel.carrera }}<br/><br/>
{% endblock %}
{% block formback %}/retirados?action=seguimiento&id={{ r.id }}{% endblock %}
{% block formaction %}/retirados{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='seguimiento'/>
    <input type='hidden' name='id' value="{{ r.id }}"/>
{% endblock %}
{#{% block formactionvalue %}delmatricula{% endblock %}#}
{% block formobjectid %}{{ r.id }}{% endblock %}
{% block formobjectname %}la Matricula del Alumno{% endblock %}
{% block formobjectrepr %}
{% block javascript %}
    $("#id_fecha").datepicker({format:"dd-mm-yyyy"});
    $("#id_seguimiento, #id_fecha").addClass("validate[required]");
    $("#id_seguimiento").focus();
{% endblock %}



{% endblock %}

