{% load humanize %}{
    "id": "{{ id }}",
    "documento": "FACTURA {{ dato.numero }}",
    "size": [612,396],
    "margins": [28,28,538,151],
    "impresion": [
        [22,53,"{{ dato.cliente.nombre }}"],
        [396,53,"{{ dato.fecha|date:'d-m-Y' }}"],
        [22,77,"{{ dato.cliente.direccion }}"],
        [396,77,"{{ dato.cliente.ruc }}"],
        [22,102,"{{ dato.cliente.telefono }}"],
        [14,141,"{{ dato.estudiante_print }}"],
        {% for pago in dato.pagos.all %}
            [14,{% cycle 155, 169, 183, 197, 211, 225, 239, 253, 267, 281, 295 %},"{{ pago.rubro.tipo }} - {{ pago.rubro.nombre }}"],
            [439,{% cycle 155, 169, 183, 197, 211, 225, 239, 253, 267, 281, 295 %},"{{ pago.valor|floatformat:2 }}"],
        {% endfor %}
        [14,297,"{{ dato.enletras }}"],
        [28,337,"{{ dato.total|floatformat:2 }}"],
        [439,337,"{{ dato.total|floatformat:2 }}"],
        [170,28,"{{ dato.numero }}"],

    ]
}