{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_titulo,#id_institucion,#id_nivel,#id_fecha, #id_subarea, #id_tiponivel, #id_pais").addClass("validate[required]");
    $("#id_fecha").datepicker({format:"dd-mm-yyyy"});

    $("#id_area").attr("disabled", true);

    obtenerAreaConocimiento = function(){
        var subarea = $("#id_subarea").val();
        $.post("/administrativos", {"action": "areaconocimiento", "subarea": subarea}, function(data){
            $("#id_area").val(data.areaconocimiento);
        },"json");
    };

    $("#id_subarea").change(obtenerAreaConocimiento);
    $("#id_subarea option").get(0).remove();
    obtenerAreaConocimiento();

{% endblock %}
{% block titulo %}Editar Titulacion del Administrativo{% endblock %}
{% block formaction %}/administrativos{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='edittitulacion'/>
    <input type='hidden' name='id' value="{{ titulacion.id }}"/>
{% endblock %}
{% block formback %}/administrativos?action=titulacion&id={{ administrativo.id }}{% endblock %}
{% block buttonname %}Guardar T&iacute;tulo{% endblock %}