<td class="align-middle text-center fs-2">
	{% if not eMateriaAsignada.tiene_porciento_requerido %}
		<span style="color: #ff0000;"><b>{{ eMateriaAsignada.asistenciafinal|floatformat:0 }}%</b></span>
	{% else %}
		<span style="color:#006400;"><b>{{ eMateriaAsignada.asistenciafinal|floatformat:0 }}%</b></span>
	{% endif %}
</td>

<td class="align-middle text-center fs-2">
	{% if eMateriaAsignada.estado_id == NOTA_ESTADO_APROBADO %}
		<span id='ma_estado_{{ eMateriaAsignada.id }}' style="color: #006400;"><b>{{ eMateriaAsignada.estado|lower|capfirst }}</b></span>
	{% elif eMateriaAsignada.estado_id == NOTA_ESTADO_REPROBADO %}
		<span id='ma_estado_{{ eMateriaAsignada.id }}' style="color: #dc143c;"><b>{{ eMateriaAsignada.estado|lower|capfirst }} </b></span>
	{% elif eMateriaAsignada.estado_id == NOTA_ESTADO_SUPLETORIO %}
		<span id='ma_estado_{{ eMateriaAsignada.id }}' style="color: #daa520;"><b>{{ eMateriaAsignada.estado|lower|capfirst }} </b></span>
	{% elif eMateriaAsignada.estado_id == NOTA_ESTADO_EN_CURSO %}
		<span id='ma_estado_{{ eMateriaAsignada.id }}' style="color: #5D87FF;"><b>{{ eMateriaAsignada.estado|lower|capfirst }}</b></span>
	{% else %}
		<span id='ma_estado_{{ eMateriaAsignada.id }}' style="color: #5D87FF;"><b>{{ eMateriaAsignada.estado|lower|capfirst }}</b></span>
	{% endif %}
</td>
{% if not eMateria.cerrado %}
	<td class="align-middle text-center fs-2">
		{% if DEBUG %}
			<a href="javascript:;" data-idma="{{ eMateriaAsignada.id }}"
			   class="actionChangeEstado btn btn-sm {% if eMateriaAsignada.cerrado %}btn-danger{% else %}btn-warning{% endif %}">
				{% if eMateriaAsignada.cerrado %}Abrir{% else %}Cerrar{% endif %}
			</a>
		{% else %}
			{% if MODULO_FINANZAS_ACTIVO and VALIDA_DEUDA_EVALUACIONES and eMateriaAsignada.matricula.inscripcion.tiene_deuda or  eMateriaAsignada.matricula.inscripcion.suspension %}
			{% else %}
				<a href="javascript:;" data-idma="{{ eMateriaAsignada.id }}"
				   class="actionChangeEstado btn btn-sm {% if eMateriaAsignada.cerrado %}btn-danger{% else %}btn-warning{% endif %}">
					{% if eMateriaAsignada.cerrado %}Abrir{% else %}Cerrar{% endif %}
				</a>
			{% endif %}
		{% endif %}
	</td>
{% endif %}
