{% extends "formbs.html" %}
{% block javascript %}
    $("#id_tipo").addClass("validate[required]");
{% endblock %}
{% block titulo %}Reenviar incidencia a otro grupo : {{ inscripcion }}{% endblock %}
{% block formaction %}/incidencias{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='reenviar'/>
    <input type="hidden" name='id' value='{{ incidencia.id }}'/>
{% endblock %}
{% block formback %}/incidencias{% endblock %}
{% block buttonname %}Reenviar{% endblock %}