{% extends "formbs.html" %}
{% block heading %}
    <script src='/static/js/notificacionpanel.js'></script>
    <script>

        $(function() {
        $("#id_archivo").css({'text-transform': 'lowercase'});
            $("#id_fechaentrega").datepicker({format:"dd-mm-yyyy"});
            $("#id_puntaje").css({'width':'5%'});
            var numeros1="0123456789.";

            function solo_numeros(texto){
               var num = 0;
               for(i=0; i<texto.length; i++){
                  if (numeros1.indexOf(texto.charAt(i),0)!=-1){
                      num = num +1;
                  }
               }
               return num;
            }

            $("#id_puntaje").blur(function(){
                var v = $("#id_puntaje").val();
                var p = solo_numeros(v);
                if (p != v.length)
                {
                  $($("#id_puntaje").get(0).parentNode).find(".help-text").html("Ingresar solo Numeros");
                  $("#id_puntaje").val("");
                  $("#id_puntaje").focus();
                }
                else{

                    $($("#id_puntaje").get(0).parentNode).find(".help-text").html("");
                }

            });
        });
    </script>
{% endblock %}
{% block titulo %}Adicionar Documento{% endblock %}
{% block formaction %}/pro_documentos{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='adddeberes'/>
    <input type='hidden' name='materia' value='{{ materia.id }}'/>
    <input type="hidden" name='leccion' value='{{ leccion.id }}'/>
{% endblock %}
{% block formback %}/pro_documentos{% endblock %}
{% block buttonname %}Guardar Documento{% endblock %}