{% extends "deletebs.html" %}
{% block titulo %}Borrar Materia de Asignaci&oacute;n{% endblock %}
{% block formback %}/matriculas?action=materias&id={{ materiaasignada.matricula.id }}{% endblock %}
{% block formaction %}/matriculas{% endblock %}
{% block formactionvalue %}delmateria{% endblock %}
{% block formobjectid %}{{ materiaasignada.id }}{% endblock %}
{% block formobjectname %}la Materia Asignada: <b>{{ materiaasignada.materia.asignatura}}</b> del <b>{{ materiaasignada.materia.nivel.nivelmalla }}</b>
    de la Carrera <b>{{ materiaasignada.materia.nivel.carrera }}</b> del Alumno <b>{{ materiaasignada.matricula.inscripcion }}</b>{% endblock %}
{% block formobjectrepr %}{{ record.inscripcion }}
{% endblock %}
