{% extends "deletebs.html" %}
{% block titulo %}Borrar Observaci&oacute;n de Matr&iacutecula del Estudiante: {{ observacion.matricula }}{% endblock %}
{% block formback %}/matriculas{% endblock %}
{% block formaction %}/matriculas{% endblock %}
{% block formactionvalue %}delobs_absento{% endblock %}
{% block formobjectid %}{{ observacion.id }}{% endblock %}
{% block formobjectname %}la Observaci&oacute;n del Alumno {% endblock %}
{% block formobjectrepr %}{{ observacion.matricula }}
{% endblock %}

