<tr>
    <td>
        <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
            <thead>
            <th>Alumnos</th>
            {% for leccion in materia.lecciones %}
                <th class='columnaleccion' idleccion='{{ leccion.id }}'>
                    <a href="/pro_clases?action=view&id={{ leccion.id }}" title="{{ leccion.fecha|date:"d-m-Y" }}, {{ leccion.horaentrada }}">
                        {% if materia.lecciones.count > 18 %}
                            {{ forloop.counter }}
                        {% else %}

                            {% if materia.lecciones.count > 12 %}
                                {{ leccion.fecha|date:"d" }}<br/>
                                {{ leccion.fecha|date:"m" }}<br/>
                                {{ leccion.fecha|date:"Y" }}
                            {% else %}
                                {{ leccion.fecha|date:"d-m-Y" }}
                            {% endif %}

                        {% endif %}
                    </a>
                </th>
            {% endfor %}
            <th>%</th>
            </thead>
            <tbody>
            {% for asignadomateria in materia.asignados_a_esta_materia %}
                <tr>
                    <td>{{ asignadomateria.matricula.inscripcion }}</td>
                    {% for leccionAsistencia in asignadomateria.asistencias %}
                        <td>
                            {% if leccionAsistencia.asistio %}<img src='/static/images/16/true.png' width='14px' alt='' border="0"/>{% else %}<img src='/static/images/16/false.png' width="14px" alt='' border="0"/>{% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        {% if asignadomateria.porciento_asistencia < 60 %} <span style="color: #dc143c;"><b>{{ asignadomateria.porciento_asistencia }}%</b></span>{% endif %}
                        {% if asignadomateria.porciento_asistencia >= 60 and asignadomateria.porciento_asistencia < 69 %} <span style="color: #daa520;"><b>{{ asignadomateria.porciento_asistencia }}%</b></span>{% endif %}
                        {% if  asignadomateria.porciento_asistencia >= 70 %} <span style="color:#006400;"><b>{{ asignadomateria.porciento_asistencia }}%</b></span>{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>