{% extends "formbs.html" %}
{% block javascript %}
    $("#id_tipo,#id_archivo, #id_nombre").addClass("validate[required]");
{% endblock %}
{% block titulo %}
    Adicionar Documento
    <h4>Profesor: {{ profesor.persona }}</h4>
{% endblock %}
{% block formaction %}/docentes{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='adddocumento'/>
    <input type="hidden" name='id' value='{{ profesor.id }}'/>
{% endblock %}
{% block formback %}/docentes{% endblock %}
{% block buttonname %}Guardar Documento{% endblock %}