{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">

        $(function() {

        });

    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
           {% if conduccion == 'SI' %}
               {% if profesor.persona.fotoprof %}
                    <h3>Foto Profesional del Docente</h3>
                    <h4>{{ profesor.persona }}</h4>
               {% endif %}
           {% else %}
               {% if profesor.persona.foto %}
                    <h3>Foto Docente</h3>
                    <h4>{{ profesor.persona }}</h4>
               {% endif %}
           {% endif %}
        </div>
        <br>
        <div class='atright'>
            <a href="/docentes" class='btn'><i class="icon-arrow-left"></i> Atras</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            {% if conduccion == 'SI' %}
                {% if profesor.persona.fotoprof %}
                    <img src="{{ profesor.persona.fotoprof.fotoprof.url }}" alt="">
                {% endif %}
            {% else %}
                {% if profesor.persona.foto %}
                    <img src="{{ profesor.persona.foto.foto.url }}" alt="">
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
