{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - CLASE ABIERTA A DESTIEMPO </h3>
{% endblock %}
{% block contenido %}
    <p> SE HA APERTURADO LA CLASE: {{ lg }} </p> <br/>
    <b>Nivel:</b> {{ lg.materia.nivel }} <br/><br/>
    <b>Comienza:</b> {{ lg.turno.comienza }} <br/><br/>
    <b>Sede:</b> {{ lg.aula.sede }} <br/><br/>
    <b>Motivo:</b> {{ motivo }} <br/><br/>

    <b>Fecha:</b>  {{ fecha|date:'d-m-Y H:i:s' }} <br/><br/>
    <b>Ip de Maquina:</b> {{ client_address }} <br/><br/>
    <b>Usuario:</b> {{ usuario }} <br/><br/>






{% endblock %}