{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - DOCENTE NO PUEDE ABRIR LA CLASE</h3>
{% endblock %}
{% block contenido %}
  {% if op == '1' %}
    <p> EL DOCENTE {{ d }} NO PUEDE APERTURAR CLASES DEBIDO A QUE TIENE MATERIAS PENDIENTES DE CERRAR. </p> <br/>

    {{ clase }}  <br/><br/>

    <b>Fecha:</b> {{ fecha }} <br/><br/>
  {% endif %}

  {% if op == '2' %}
    <p> EL DOCENTE {{ d }} NO PUEDE APERTURAR CLASES DEBIDO A QUE TIENE MATERIA(S) CERRADA(S) PENDIENTE(S) A ENTREGAR ACTA(S) DE NOTA(S) . </p> <br/>
    {{ clase }}  <br/><br/>
    <b>Fecha:</b> {{ fecha }} <br/><br/>

     <b>Las materias son: </b><br/>

     <table class='table table-bordered table-striped'>
            <thead >
                <tr>
                    <th style="background-color: #49afcd;text-align: center;width: 30%"><h3>Asignatura</h3></th>
                    <th style="background-color: #49afcd;text-align: center;width: 10%"><h3>Nivel</h3></th>
                    <th style="background-color: #49afcd;text-align: center;width: 10%"><h3>Paralelo</h3></th>
                    <th style="background-color: #49afcd;text-align: center;width: 10%"><h3>Fecha Cierre</h3></th>
                </tr>
            </thead>
            <tbody>
                {% for mat in materias %}
                    <tr>
                        <td style="background-color: #c1eee1;text-align: center;width: 40%">
                            {{mat.0 }}
                        </td>
                        <td style="background-color: #c1eee1;text-align: center;width: 20%">
                            {{mat.1 }}
                        </td>
                        <td style="background-color: #c1eee1;text-align: center;width: 20%">
                            {{mat.2 }}
                        </td>
                        <td style="background-color: #c1eee1;text-align: center;width: 10%">
                            {{ mat.3|date:'d-m-Y' }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
  {% endif %}
{% endblock %}