{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
    <b>Estudiante: </b> {{ cab.inscripcion }}<br/>
    <b>Fecha: </b> {{ cab.fecha|date:'d-m-Y' }}<br/>
    <b>Motivo: </b> {{ cab.motivo }}<br/>
    <b>Proposito: </b> {{ cab.proposito }} <br/>
    <b>Origen: </b> {{ cab.origen }} <br/>
    <b>Monto de Aportacion: </b> {{ cab.monto }} <br/>
    <b>Usuario: </b> {{ usuario }} <br/><br>

    {% if cab.cuotas %}
        <b>Cuotas: </b><br>
        <table class='table table-bordered' cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th> Descripcion</th>
                    <th style="text-align: center"> Vencimiento</th>
                    <th style="text-align: center"> Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for c in cab.cuotas %}
                    <tr>
                        <td>{{ c.descripcion }}</td>
                        <td style="text-align: center">{{ c.fechavence|date:'d-m-Y' }}</td>
                        <td style="text-align: right">${{ c.valor }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
