{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACIÓN - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
       <strong>Inscripci&oacute;n:</strong>&nbsp;{{ d.rubro.inscripcion }} <br/><br/>
       <strong>Rubros Eliminados:</strong>&nbsp;{{ rubros }}  <br/><br/>
       <strong>Observacion:</strong>&nbsp;{{ d.observaciones }}  <br/><br/>
       <strong>Fecha:</strong>&nbsp;{{ fecha }}  <br/><br/>

       <strong>Usuario que realizó el cambio: </strong> {{ user }}
{% endblock %}