{% extends "emails/emailbase.html" %}

{% block titulo %}
{% endblock %}
{% block contenido %}

     <p>Estimado Docente:<b> {{ o.inscripcion.persona.nombre_completo }}</b></p>
     <p>Nos complace comunicarle que la informaci&oacute;n enviada por UD. ha sido verificada y est&aacute; inscrito en el <b>4To Congreso Internacional de Ciencias Pedag&oacute;gicas </b> de forma gratuita.</p>
     <p>El estar inscrito le permite asistir a las Conferencias Magistrales y a un Simposio. <br><br>
     ¡Bienvenido al Congreso!</p>
    <p>Atentamente. <br>
    Comit&eacute; Organizador <br>
    4to Congreso Internacional de Ciencias Pedag&oacute;gicas:</p>
    <h6>Nota: Si desea presentar Ponencias y asistir al curso pre congreso &eacute;stos tienen un costo adicional.</h6>

{% endblock %}
