{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}

    <b>Motivo :</b> {{ resolucion.motivo.descripcion }} <br> <br>
    <b>Estudiante :</b> {{ resolucion.inscripcion.persona.nombre_completo }} <br> <br>
    <b>Carrera-Nivel :</b>  {{ resolucion.nivel.carrera}} - {{ resolucion.nivel.nivelmalla}} <br> <br>
    <b>Asunto :</b> {{ resolucion.asunto }} <br> <br>
    <b>Resumen :</b> {{ resolucion.resumen }} <br> <br>
    <b>Fecha de Resoluci&oacute;n :</b> {{ resolucion.fecharesolucion|date:'d-m-Y' }} <br> <br>
    <b>Usuario :</b> {{ resolucion.user }} <br> <br>



    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>

{% endblock %}