{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}

    <b>Nivel:</b> &nbsp;&nbsp;{{ materiaasignada.materia.nivel }}<br/><br/>
    <b>Profesor:</b> &nbsp;&nbsp;{{ profesor.profesor }} <br/><br/>
    <b>Segmento:</b> &nbsp;&nbsp;{{ profesor.segmento }}<br/><br/>
    <b>Asignatura:</b> &nbsp;&nbsp;{{ materiaasignada.materia.asignatura }} <br/><br/>
    <b>Nota:</b> &nbsp;&nbsp;{{ materiaasignada.notafinal }} <br/><br/>
    <b>Asistencia:</b> &nbsp;&nbsp;{{ materiaasignada.asistenciafinal }}


    {% if reprobado %}
        <br/><br/> <b>Estado:</b>&nbsp;&nbsp; {{ reprobado }}.
        {% if observacion %}
            <br/><br/> <b>Observaci&oacute;n</b>&nbsp;&nbsp; {{ observacion }}<br/><br/>
        {% endif %}
    {% else %}
        <br/><br/> <b>Estado:</b>&nbsp;&nbsp; APROBADO<br/><br/>
    {% endif %}


{#    Sede: &nbsp;&nbsp;{{ materia.nivel.sede }} <br/><br/>#}


    <b>Fecha:</b> {{ fecha }} <br/><br/>

{% endblock %}