{% extends "emails/emailbase.html" %}

{% block titulo %}
    <b>{{ contenido }}</b>
{% endblock %}
{% block contenido %}
    <b>Informaci&oacute;n:</b><br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Alumno:</b> {{ estudiante }}<br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Asignatura:</b> {{ asignatura }}<br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Grupo:</b> {{ grupo }}<br/><br/>
    {% if observacion %}   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Observacion:</b> {{ observacion }}<br/><br/>{% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Nota:</b> {{ nota }} PUNTOS<br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Fecha:</b> {{ fecha|date:'d-m-Y' }}
{% endblock %}