{% extends "emails/emailbase.html" %}
{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
    <b>Estimado Docente: </b>{{ docente }}<br/>
    <b>El cambio en las notas del estudiante: </b> {{ estudiante }}<br/>
    <b>Materia: </b>{{ materia }}<br/>
    <b>NO HA SIDO ACEPTADO</b><br/>
    <b>Motivo: </b>{{ obs }}<br/>
    <b>Realizado por: {{ personarespon }}</b> <br/>
    <b>Fecha: </b> {{ fecha|date:'d-m-Y' }} <br/><br/>

    <h4>Por favor no responder al remitente.</h4>
{% endblock %}