{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}

    <b>Profesor:</b> &nbsp;&nbsp;{{ profesor.profesor }} <br/><br/>
    <h3>LA FECHA DE EXAMEN RECUPERACION ES: {{ fecha_recuperacion|date:'d-m-Y'}}</h3>
    <h3>FECHA LIMITE INGRESO NOTAS DE ALCANCE ES: {{ materia.fechaalcance|date:'d-m-Y'}}</h3>
    <b>Asignatura:</b> &nbsp;&nbsp;{{ materia.asignatura }} <br/><br/>
    <b>Nivel:</b> &nbsp;&nbsp;{{ materia.nivel }}<br/><br/>
    <b>Inicio:</b> &nbsp;&nbsp;{{ materia.inicio|date:'d-m-Y'}}   -   <b>Fin:</b> &nbsp;&nbsp;{{ materia.fin|date:'d-m-Y' }}<br/><br/>
    <b>Segmento:</b> &nbsp;&nbsp;{{ profesor.segmento }}

{#    {% if materia.observaciones %}#}
{#         <br/><br/><b>Observacion:</b> &nbsp;&nbsp;{{ materia.observaciones }}#}
{#    {% endif %}#}

    <br/><br/><p> <b>TOTAL GENERAL DE ALUMNOS :</b>&nbsp;&nbsp; {{ totalalumnos }}.</p>
    <p> <b>TOTAL ALUMNOS CON ABSENTISMO:</b>&nbsp;&nbsp; {{ totalalumnoabs }}.</p>
{#    <p> <b>TOTAL ALUMNOS SIN ABSENTISMO:</b>&nbsp;&nbsp; {{ totalalumnosinabs }}.</p>#}
    <p> <b>TOTAL ALUMNOS EN CURSO:</b>&nbsp;&nbsp; {{ totencurso }}.</p>
    <p> <b>TOTAL ALUMNOS APTOS PARA EXAMEN:</b>&nbsp;&nbsp; {{ totalexamen }}.</p>
    <p> <b>TOTAL ALUMNOS REPROBADOS:</b>&nbsp;&nbsp; {{ totalreprobado }}.</p>
    <p> <b>TOTAL ALUMNOS:</b>&nbsp;&nbsp; {{ totestudiantes }}.</p>
{#    <p> <b>RESUMEN DE ALUMNOS SIN ABSENTISMO:</b></p>#}
    <p> <b>RESUMEN DE LA MATERIA:</b></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TOTAL DE ALUMNOS APROBADOS:</b>&nbsp;&nbsp; {{ totalaprobado }}, el &nbsp;&nbsp; {{ promedioaprobado }}% de alumnos aprobaron esta asignatura. </p>

        {% if totalreprobado %}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TOTAL GENERAL DE ALUMNOS REPROBADOS:</b>&nbsp;&nbsp; {{ totalreprobado }}, el &nbsp;&nbsp; {{ promedioreprobado }}% de alumnos reprobaron esta asignatura. </p>
        {% endif %}
{#         <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>RESUMEN DE ALUMNOS REPROBADOS:</b></p>#}
{#        {% if resumreprobados %}#}
{#            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ALUMNOS REPROBADOS:</b>&nbsp;&nbsp;{{ resumreprobados }}#}
{#        {% endif %}#}
        {% if totalexamen %}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TOTAL ALUMNOS APTOS A EXAMEN:</b>&nbsp;&nbsp;{{ totalexamen }}, el &nbsp;&nbsp; {{ promedioexamen }}% de alumnos aptos a dar examen de esta asignatura. </p>
        {% endif %}
        {% if totrecuperacion %}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TOTAL ALUMNOS EN RECUPERACION:</b>&nbsp;&nbsp;{{ totrecuperacion }}, el &nbsp;&nbsp; {{ promediorecuperacion }}% de alumnos en recuperacion de esta asignatura. </p>
        {% endif %}


{#         {% if resumreprobadonota %}#}
{#            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ALUMNOS REPROBADOS POR NOTAS:</b>&nbsp;&nbsp;{{ resumreprobadonota }}#}
{#         {% endif %}#}
{#         {% if resumreprobadonota %}#}
{#            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>REPROBADOS POR ASISTENCIA:</b>&nbsp;&nbsp;{{ resumreprobadoasist }}#}
{#         {% endif %}#}


    <br/><p><b>TOTAL ALUMNOS BECADOS:</b> {{ totalbecados }}</p><br/><br/>

{#    Sede: &nbsp;&nbsp;{{ materia.nivel.sede }} <br/><br/>#}


    <b>Fecha:</b> {{ fecha }} <br/><br/>

{% endblock %}