{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>Tramites Pendientes para Cerrar el Nivel<br/></h3>

{% endblock %}
{% block contenido %}
   {{ contenido }} <br/>

    <p>A continuaci&oacute;n se presenta la lista de estudiantes con tr&aacute;mites pendientes</p>
    {% if listado %}
        <table>
            <tr>
                <th>Estudiante</th>
                <th>Materia</th>
                <th>Especie</th>
            </tr>
            {% for estudiante in listado %}
            <tr>
                <td>{{ estudiante.0 }}</td>
                <td>{{ estudiante.1 }}</td>
                <td>{{ estudiante.2 }}</td>
            </tr>
            {% endfor %}
        </table>

    {% endif %}

    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>
    <h4>Por favor no responder al remitente.</h4>
    <p>Por favor, atienda estos trámites a la mayor brevedad posible.</p>
{% endblock %}