{% extends "emails/emailbase.html" %}
{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
    <b>La solicitud de:</b>{{ self.persona.nombre_completo }}<br/>
    <b>Grupo:</b>{{ self.persona.inscripcion.grupo.nombre }}<br/>
    <b>Tipo:</b>{{ self.tipo.nombre }}<br/>
    <b>Descripcion:</b><br/>
        {{ self.descripcion }}
    <br/>
    <b>Observacion:</b><br/>
        {{ self.observacion }}
    <br/>
    <b>La solicitud de estudiante ahora se encuentra en su departamento</b><br/>
    <b>Atte. {{ personarespon }}</b> <br/>
    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/>

    <h4>Por favor no responder al remitente.</h4>
{% endblock %}