{% extends "emails/emailbase.html" %}
{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
    <b>Estimado Aspirante: </b>{{ estudiante }}<br/>
    <b>De la carrera: </b>{{ carrera }}<br/>

    {% if estado == '0' %}
        <b>Su entrevista ha sido revisada </b><br/><br/>
        <b>UD. NO HA SIDO ACEPTADO</b><br/>
    {% endif %}
    {% if estado == '1' %}
        <b>Su entrevista ha sido revisada </b><br/><br/>
        <b>UD. HA SIDO ACEPTADO</b><br/>
        <h4>Por favor acercarse al Dpto. de Secretar&iacute;a de la instituci&oacute;n para proceder con la respectiva matriculaci&oacute;n.</h4><br/>
    {% endif %}
    {% if estado == '2' %}
        <b>SU VIDEO HA SIDO CARGADO CON &Eacute;XITO</b><br/>
        <h4>Por favor espere la aprobaci&oacute;n o no del mismo. En los pr&oacute;ximos d&iacute;as le llegar&aacute; correo con la resoluci&oacute;n respectiva.</h4><br/>
    {% endif %}
    {% if estado == '0' or estado == '1' %}
        <b>Resoluci&oacute;n: </b>{{ resol }}<br/>
        <b>Observaci&oacute;n: </b>{{ obs }}<br/>
        <b>Realizado por: {{ personarespon }}</b> <br/>
    {% endif%}

    <b>Fecha: </b> {{ fecha|date:'d-m-Y' }} <br/><br/>

    <h4>Por favor no responder al remitente.</h4>
{% endblock %}