{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>Asunto: {{ asunto }}<br/></h3>
    <h3>Para: {{ materia.matricula.inscripcion.persona.nombre_completo_inverso }}</h3>
{% endblock %}
{% block contenido %}
   <h3>{{ contenido }} <br/></h3>
   <b>Materia:</b> {{ materia.materia.asignatura.nombre }}<br/>
   <b>Nivel:</b> {{ materia.matricula.nivel.grupo.nombre }}<br/>
   <b>Generado por :</b> {{ user }}<br/>

   <b> Fecha:</b> {{ fecha|date:'d-m-Y' }}
   <h4>Correo generado autom&aacute;ticamente. Por favor no responder al remitente.</h4>

{% endblock %}