{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>Correo enviado por : {{ persona.nombre_completo }}<br>
    Correo: {% if persona.emailinst %}{{ persona.emailinst }}{% else %}{{ persona.email }}{% endif %}</h3>
{% endblock %}
{% block contenido %}
   {{ contenido }} <br/>
    <b>Estudiante:</b> {{ estudiante }} <br/>
    <b>NivelEstudiante:</b> {{ nivel_est.nivel.nivelmalla }} - {{ nivel_est.nivel.paralelo }} <br/>
    <b>Email Estudiante:</b> {{ email_estudiante }} <br/>
    <b>Carrera:</b> {{ carrera }} <br/><br/>
    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>
   <h4>Por favor no responder al remitente.</h4>

{% endblock %}