{% extends "emails/emailbase.html" %}

{% block titulo %}

    <h3>
        <b> Docente : </b> {{ profesormateria.profesor.persona.nombre_completo }}<br>
        <b> Asignatura : </b> {{ profesormateria.materia.asignatura.nombre }}<br/>
        <b> Nivel : </b> {{ profesormateria.materia.nivel.nivelmalla.nombre}} <b> Paralelo : </b> {{ profesormateria.materia.nivel.paralelo }} <br/>
        <b> Carrera : </b> {{ profesormateria.materia.nivel.carrera.nombre }}<br/>
    </h3>

{% endblock %}
{% block contenido %}
    <h3>{{ contenido }} <br/></h3>
   <table class='table' border="1px">
        <thead >
            <tr>
                <th style="background-color: #49afcd;text-align: center;width: 20%"><h3>Estudiante</h3></th>
                <th style="background-color: #49afcd;text-align: center;width: 20%"><h3>Informe</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for estud in lista %}
                <tr>
                    <td>  {{ estud.0 }} </td>
                    <td>  {{ estud.1 }} </td>
                </tr>
            {% endfor %}
        </tbody>
   </table>

    <br/>


    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>
    <h4>Por favor no responder al remitente.</h4>



{% endblock %}