{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>Correo enviado por : {{ persona.nombre_completo }}<br>
    Correo: {% if persona.emailinst %}{{ persona.emailinst }}{% else %}{{ persona.email }}{% endif %}</h3>
{% endblock %}
{% block contenido %}
    {{ contenido }} <br/>

    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>
    <h4>Por favor no responder al remitente.</h4> <br/><br/>

     {% if materias  %}
        <table class='table' border="1px">
            <thead >
                <tr>
                    <th style="background-color: #49afcd;text-align: center;width: 40%"><h3>Asignatura</h3></th>
                    <th style="background-color: #49afcd;text-align: center;width: 5%"><h3>Horas </h3></th>
                    <th style="background-color: #49afcd;text-align: center;width: 5%"><h3>Cr&eacute;ditos</h3></th>
                    <th style="background-color: #49afcd;text-align: center;width: 10%"><h3>Fecha Inicial</h3></th>
                    <th style="background-color: #49afcd;text-align: center;width: 10%"><h3>Fecha Final</h3></th>
                    <th style="background-color: #49afcd;text-align: center;width: 40%"><h3>Profesor(es)</h3></th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                    <tr>
                        <td>  {% if materia.identificacion %}{{ materia.identificacion }}{% else %}###{% endif %}-{{ materia.asignatura }} </td>
                        <td>  {{ materia.horas }} </td>
                        <td>  {{ materia.creditos }} </td>
                        <td>  {{ materia.inicio|date:'d-m-Y' }} </td>
                        <td>  {{ materia.fin|date:'d-m-Y' }} </td>
                        <td>  <table class="table table-bordered table-condensed">
                                {% if materia.profesormateria_set.count %}
                                    {% for profesormateria in materia.profesores_materia %}
                                        <tr>
                                            <td>
                                                {{ profesormateria.segmento }} - <b>{{ profesormateria.profesor.persona.nombre_completo }} {%  if profesormateria.profesor_aux %} <span class="label label-info">Aux. </span>  {{ profesormateria.profesor_auxiliar.persona.nombre_completo }} {% endif %}</b> <span class="fechas{{ materia.id }}">[{{ profesormateria.desde|date:'d-m-Y' }} al {{ profesormateria.hasta|date:'d-m-Y' }}]</span> {% if forloop.first and materia.profesores_materia.count > 1 %}<span class="label label-info">PRINCIPAL</span>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                              </table>
                        </td>
                    </tr>
                {% endfor %}
                {% for mnivel in materiasnivel %}
                    <tr>
                        <td>{{ mnivel.materia.asignatura }}</td>
                        <td>{{ mnivel.materia.horas }}</td>
                        <td>{{ mnivel.materia.creditos }}</td>
                        <td>{{ mnivel.materia.inicio|date:'d-m-Y' }} </td>
                        <td>{{ mnivel.materia.fin|date:'d-m-Y' }} </td>
                        <td>
                            <table class="table table-bordered table-condensed">
                                {% if mnivel.materia.profesormateria_set.count %}
                                    {% for profesormateria in mnivel.materia.profesores_materia %}
                                        <tr>
                                            <td>
                                                {{ profesormateria.segmento }} - <b>{{ profesormateria.profesor.persona.nombre_completo }} {%  if profesormateria.profesor_aux %} <span class="label label-info">Aux. </span>  {{ profesormateria.profesor_auxiliar.persona.nombre_completo }} {% endif %}</b> <span class="fechas{{ materia.id }}">[{{ profesormateria.desde|date:'d-m-Y' }} al {{ profesormateria.hasta|date:'d-m-Y' }}]</span> {% if forloop.first and materia.profesores_materia.count > 1 %}<span class="label label-info">PRINCIPAL</span>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
     {% endif %}
{% endblock %}