{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - Se ha realizado un pago parcial a los rubros del descuento acordado.</h3>
    <h3>El estudiante ha prescindido del descuento.</h3>
    <b>Detalle:</b> <br>
    Inscripci&oacute;n: {{ d.seguimiento.inscripcion }} <br/>
    Porcentaje de Descuento:  {{ d.pordesc }}   <br/>
    Valor a Pagar :{{ d.valorpago }}   <br/>
    Fecha Posible Pago :  {{ d.fechaposiblepago }}   <br/>
{% endblock %}

{% block contenido %}
    <br/>
    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>


{% endblock %}