{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
{% if opcion == "1" %}
    <b>Nombre:</b>
        {% if self.incidenciaadministrativo %}
            {{ self.incidenciaadministrativo.nombre }}
        {% else %}
            {% if self.solicituinfo %}
                {{ self.solicituinfo.nombres }}
            {% else %}
                {{ self.solicitusecret.persona.nombre_completo }}
            {% endif %}
        {% endif %}
     <br/><br/>
    <b>Tipo Incidencia :</b> {{ tip }}
    <br/><br/>
    <b>Incidencia :</b>
        {% if self.incidenciaadministrativo %}
            {{ self.incidenciaadministrativo.incidencia }}
        {% else %}
            {% if self.solicituinfo %}
                {{ self.solicituinfo.mensaje }}
            {% else %}
                {{ self.solicitusecret.descripcion }}
            {% endif %}
        {% endif %}
    <br/><br/>
    <b>Fecha de Incidencia:</b>
        {% if self.incidenciaadministrativo %}
            {{ self.incidenciaadministrativo.fecha|date:'d-m-Y' }}
        {% else %}
            {% if self.solicituinfo %}
                {{ self.solicituinfo.fecha|date:'d-m-Y' }}
            {% else %}
                {{ self.solicitusecret.fecha|date:'d-m-Y' }}
            {% endif %}
        {% endif %}
    <br/><br/>
{% else %}
    <b>Nombre:</b>
        {% if self.incidenciaasignada.incidenciaadministrativo %}
            {{ self.incidenciaasignada.incidenciaadministrativo.nombre }}
        {% else %}
            {% if self.incidenciaasignada.solicituinfo %}
                {{ self.incidenciaasignada.solicituinfo.nombres }}
            {% else %}
                {{ self.incidenciaasignada.solicitusecret.persona.nombre_completo }}
            {% endif %}
        {% endif %}
     <br/><br/>
    <b>Tipo Incidencia :</b> {{ tip }}
    <br/><br/>
    <b>Incidencia :</b>
        {% if self.incidenciaasignada.incidenciaadministrativo %}
            {{ self.incidenciaasignada.incidenciaadministrativo.incidencia }}
        {% else %}
            {% if self.incidenciaasignada.solicituinfo %}
                {{ self.incidenciaasignada.solicituinfo.mensaje }}
            {% else %}
                {{ self.incidenciaasignada.solicitusecret.descripcion }}
            {% endif %}
        {% endif %}
    <br/><br/>
    <b>Fecha de Incidencia:</b>
        {% if self.incidenciaasignada.incidenciaadministrativo %}
            {{ self.incidenciaasignada.incidenciaadministrativo.fecha|date:'d-m-Y' }}
        {% else %}
            {% if self.incidenciaasignada.solicituinfo %}
                {{ self.incidenciaasignada.solicituinfo.fecha|date:'d-m-Y' }}
            {% else %}
                {{ self.incidenciaasignada.solicitusecret.fecha|date:'d-m-Y' }}
            {% endif %}
        {% endif %}
    <br/><br/>
{% endif %}
    <p></p> <br/>
    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>




{% endblock %}