{% extends "emails/emailbase.html" %}

{% block titulo %}
     <h3>NOTIFICACION - {{ contenido }}</h3>
     {% if alcance.nivelmalla %}
         <h3>NIVEL CERRADO</h3>
    {% endif %}
{% endblock %}

{% block contenido %}
    {% if not materia.nivel.cerrado %}
        {% if not opt == 1 %}
            Estudiante: <b>{{ alcance.materiaasignada.matricula.inscripcion.persona.nombre_completo_inverso }}</b><br/>
            Materia: <b>   {{ alcance.materiaasignada.materia.asignatura.nombre }} {{ alcance.materiaasignada.matricula.nivel.nivelmalla.nombre }} {{ alcance.materiaasignada.matricula.nivel.grupo.nombre }} </b><br/>
        {% endif %}

        {% if alcance %}
            {% if alcance.n1 %}
                Nota 1: <b>{{ alcance.n1 }}</b><br/>
            {% endif %}
            {% if alcance.n2 %}
                Nota 2: <b>{{ alcance.n2 }}</b><br/>
            {% endif %}
            {% if alcance.n3 %}
                Nota 3: <b>{{ alcance.n3 }}</b><br/>
            {% endif %}
            {% if alcance.n4 %}
                Nota 4: <b>{{ alcance.n4 }}</b><br/>
            {% endif %}
            {% if alcance.examen %}
                Examen: <b>{{ alcance.examen }}</b><br/>
            {% endif %}
            {% if alcance.recuperacion %}
                Recuperacion: <b>{{ alcance.recuperacion }}</b><br/>
            {% endif %}
        {% endif %}
    {% else %}
        Docente: <b>{{ docente.nombre_completo_inverso }}</b><br/>
        Estudiante: <b>{{ estudiante }}</b><br/>
        Materia: <b>{{ materia.asignatura }}</b><br/>
        Carrera: <b>{{ carrera }} </b><br/>
    {% endif %}
    {% if not opt == 1 %}
        <b>Usuario:</b> {{ docente.usuario.username }} - {{ docente.nombre_completo_inverso }}  <br/>
    {% else %}
        Docente: <b>{{ docente.nombre_completo_inverso }}</b><br/>
        Estudiante: <b>{{ estudiante }}</b><br/>
        Materia: <b>{{ materia }}</b><br/>
        Carrera: <b>{{ carrera }} </b><br/>

        <b>Usuario:</b> {{ user.username }}<br/>
    {% endif %}
    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }}<br/>
    <h3>Mensaje generado de manera automática, favor no responder</h3>
{% endblock %}