{% extends "emails/emailbase.html" %}

{% block titulo %}
{% endblock %}
{% block contenido %}
    <p>Respuesta por parte del coordinador <strong>{{ coordinador }}</strong></p>

    <b>Docente: </b> {{ docente }}<br/>
    <b>Alumno: </b> {{ evaluacion.materiaasignada.matricula.inscripcion }}<br/>
    <b>Materia: </b> {{ evaluacion.materiaasignada.materia.asignatura }}<br/>
    <b>Grupo: </b> {{ evaluacion.materiaasignada.matricula.nivel.paralelo }} - {{ evaluacion.materiaasignada.matricula.nivel.nivelmalla }}<br/>
    <b>Fecha de asentamiento: </b> {{ evaluacion.fecha|date:'d-m-Y' }}<br/>
    <b>Estado: </b> {{ estado }}<br/>
    <b>Motivo: </b> {{ evaluacion.motivoaprobacion }}<br><br>

    <table style="border-collapse: collapse;">
        <thead>
            <tr style="background: #ddd">
                <th style="border: 1px solid #bbb; padding: .5em 1em;"></th>
                <th style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">N1</th>
                <th style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">N2</th>
                <th style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">N3</th>
                <th style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">N4</th>
                <th style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">Examen</th>
                <th style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">Recuperacion</th>
                <th style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">Nota Final</th>
            </tr>
        </thead>
        <tbody>
            {% if not estado == 'aprobado' %}
                <tr>
                    <th style="background: #ddd; border: 1px solid #bbb; padding: .5em 1em;">NOTAS EN RECORD ACADEMICO</th>
                    <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.materiaasignada.ver_historiconotas.n1 }}</td>
                    <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.materiaasignada.ver_historiconotas.n2 }}</td>
                    <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.materiaasignada.ver_historiconotas.n3 }}</td>
                    <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.materiaasignada.ver_historiconotas.n4 }}</td>
                    <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.materiaasignada.ver_historiconotas.n5 }}</td>
                    <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.materiaasignada.ver_historiconotas.recup }}</td>
                    <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.materiaasignada.ver_historiconotas.notafinal }}</td>
                </tr>
            {% endif %}
            <tr>
                <th style="background: #ddd; border: 1px solid #bbb; padding: .5em 1em;">ALCANCE DE NOTAS</th>
                <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.n1 }}</td>
                <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.n2 }}</td>
                <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.n3 }}</td>
                <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.n4 }}</td>
                <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.examen }}</td>
                <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.recuperacion }}</td>
                <td style="text-align: center; border: 1px solid #bbb; padding: .5em 1em;">{{ evaluacion.notafinal }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
