{% extends "emails/emailbase.html" %}
{% block titulo %}
    <h3>NOTIFICACI&Oacute;N - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
    <b>Requerimiento: </b> {{ a.novedad }}<br><br>
    <b>Solicitante: </b>{{ a.persona.nombre_completo }}<br><br>
    <b>Departamento: </b>{% for group in groups %}{{ group.name }}{% if not forloop.last %} , {% endif %}{% endfor %}<br><br>
    {% if a.finalizado %}
        <b>Respuesta: </b> {{ a.observacion }}<br><br>
    {% endif %}
    <b>Usuario: </b> {{ user }} <br/><br/>
    <b>Ip Maquina: </b> {{ ip }} <br/><br/>
    <b>Fecha: </b> {{ fecha|date:'d-m-Y H:i:s' }} <br/><br/>
{% endblock %}