{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}

   DETALLE DE LO ENTREGADO A:
   <b>Estudiante </b>{{ estudiante.inscripcion.persona.nombre_completo }} <br/><br/>
   <b>Carrera: </b>{{ estudiante.inscripcion.carrera.nombre }} <br/><br/>
   <b>Nivel: </b>{{ estudiante.nivel.nivelmalla.nombre }} {{ estudiante.nivel.grupo.nombre }}  <br/><br/>
   {% if op == 1 %}
        <b>Uniforme: </b> {{ entrega1 }}<br/><br/>
        <b>Zapatos: </b> {{ entrega2 }}<br/><br/>
   {% endif %}
   {% if op == 2 %}
        <b>Mandil </b><br/><br/>
   {% endif %}
   {% if op == 3 %}
        <b>Uniforme: </b> {{ entrega1 }}<br/><br/>
   {% endif %}
   <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>
   <b>Entregado por: </b> {{ usuario }}<br/><br/>
{% endblock %}