{% extends "emails/emailbase.html" %}

{% block titulo %}

{% endblock %}
{% block contenido %}
<b>Quien:</b> {{ d.lecciongrupo.profesor.persona.nombre_completo }} ({{ d.lecciongrupo.profesor.persona.email }})<br/>
    <br/>

<b>Fecha:</b> {{ d.lecciongrupo.fecha|date:'d-m-Y' }} / {{ d.lecciongrupo.horaentrada }}<br/>
    <br/>

<b>Aula:</b> {{ d.lecciongrupo.aula }}<br/>
<b>Grupo:</b> {{ d.lecciongrupo.materia.nivel.grupo }}<br/>
    <br/>

<b>Tipo de Incidencia:</b> {{ d.tipo.nombre }}<br/>
    <br/>

<b>Incidencia Reportada:</b><br/>
<br/>
{{ contenido }}
{% endblock %}