{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - ASIGNACION VALOR POR HORA </h3>
{% endblock %}
{% block contenido %}

    <h3> {{ contenido }}</h3> <br/>

    <b> Asignatura : </b> {{ d.materia.asignatura.nombre }}<br/>
    <b> Nivel : </b> {{ d.materia.nivel.nivelmalla.nombre}}<br/>
    <b> Carrera : </b> {{ d.materia.nivel.carrera.nombre }}<br/>
    <b> Paralelo : </b> {{ d.materia.nivel.paralelo }}<br/>
    <b> Periodo : </b> {{ d.materia.nivel.periodo.nombre }}<br/>
    <b> Desde : {{ d.desde|date:'d-m-Y' }} </b>  <br/>
    <b> Hasta : {{ d.hasta|date:'d-m-Y' }} </b>  <br/>
    <b> Segmento : {{ segmento }} </b>  <br/>
    {% if clase %}
        <b> Horario : {{ clase.turno }} <br/>
        <b> Aula : {{ clase.aula }} <br/>  <br/>
    {% endif %}
    {% if DEFAULT_PASSWORD == 'itb' %}
        <h3>Por favor no responder a este correo, cualquier decisión debe ser respondida desde el Sistema Académico</h3> <br/>
    {% endif %}

    <br/>
    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/>
    <b>Usuario:</b> {{ usuario }} <br/><br/>

{% endblock %}