{% extends "emails/emailbase.html" %}
{% load sga_extras %}
{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
   <table class='table' border="1px">
<thead >
        <tr>
            <th style="text-align: center;" colspan="5"><h3>Materia</h3></th>
        </tr>

        <tr>
            <th style="text-align: center;width: 40%"><h3>Docente</h3></th>
            <th style="text-align: center;width: 20%"><h3>Segmento</h3></th>
            <th style="text-align: center;width: 10%"><h3>Desde</h3></th>
            <th style="text-align: center;width: 10%"><h3>Hasta</h3></th>
            <th style="text-align: center;width: 10%"><h3>Horas</h3></th>

        </tr>
        <tr>
            <td colspan="5" style="text-align: center">{{ materia.asignatura.nombre }} - {{ materia.nivel.paralelo }} - {{ materia.nivel.nivelmalla }}   </td>
        </tr>
        </thead>
        <tbody>

        {% for pm in materia.profesores_materia %}
            <tr>
                <td>{{ pm.profesor }} </td>
                <td>{{ pm.segmento }} </td>
                <td style="text-align: center">{{ pm.desde|date:'d-m-Y'  }}
                <td style="text-align: center">{{ pm.hasta|date:'d-m-Y'  }}
                {% with hora=materia|args:pm|call:"horas_materia" %}
                    <td style="text-align: center">{{ hora  }}
                {% endwith %}
                </td>

        {% endfor %}
                </tr>
            </tbody>
</table>
    <br/>
    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>
    <b>Usuario:</b> {{ user }} <br/><br/>


{% endblock %}