{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACI&Oacute;N </h3>
{% endblock %}
{% block contenido %}
   SE HA CERRADO EL NIVEL {{ n }}  <br/> <br/>
   Carrera: <b>{{ carrera }} </b> <br/>
   <b>Per&iacute;odo:</b> {{ periodo}} <br/><br/>

  <b>Usuario: </b> {{ user }}    <br/>
  <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>

  <b>N&uacute;mero de materias en este nivel:</b> {{ materias }} <br/><br/>
  <b>Estudiantes Matriculados:</b> {{ n.mat_nivel }} <br/><br/>
  <b>Estudiantes que Aprobaron todas las materias del Nivel:</b> {{ alumnos }} <br/><br/>
  <b>Porcentaje de Estudiantes que Aprobaron todas las materias del Nivel:</b> {{ porcentaje }}<b>%</b> <br/><br/>
  <b>No.Estudiantes Absentismo:</b> {{ absentismo }}<b></b> <br/><br/>
  <b>Estudiantes Absentismo:</b> {{ estud_absentismo }}<b></b> <br/><br/>

  {% if grupo %}
        <h3>Estudiantes con deuda: </h3>
        <ol>
        {% for g in grupo %}
            <li>{{ g.0 }} - {{ g.1 }} </li>
        {% endfor %}
        </ol>
   {% endif %}
   {% if totaldeuda > 0 %}
        <h3>Deuda Total del Nivel: {{ totaldeuda }}</h3>
   {% endif %}

{% endblock %}