{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACI&Oacute;N DOBE</h3>
{% endblock %}
{% block contenido %}
   SE HA CERRADO EL NIVEL {{ n }}  <br/> <br/>
   <b>Per&iacute;odo:</b> {{ periodo}} <br/><br/>
   <b>N&uacute;mero de materias en este nivel:</b> {{ materias }} <br/><br/>
   <b>No.Estudiantes Becados:</b> {{ becados }}<b></b> <br/><br/>

     {% if becados  %}
        <table class='table' border="1px">
            <thead >
                <tr>
                    <th style="text-align: center;width: 30%"><h3>Estudiantes</h3></th>
                    <th style="text-align: center;width: 20%"><h3>Tel&eacute;fono </h3></th>
                    <th style="text-align: center;width: 10%"><h3>Convencional</h3></th>
                    <th style="text-align: center;width: 20%"><h3>Tipo Beca</h3></th>
                    <th style="text-align: center;width: 20%"><h3>Motivo Beca</h3></th>
                    <th style="text-align: center;width: 20%"><h3>Mat. Aprobadas Nivel</h3></th>
                    <th style="text-align: center;width: 20%"><h3>Promedio</h3></th>

                </tr>
            </thead>
            <tbody>
                {% for b in estudiantes_becados %}
                    <tr>
                        <td>  {{ b.0 }} </td>
                        <td>  {{ b.1 }} </td>
                        <td>  {{ b.2 }} </td>
                        <td>  {{ b.3 }} </td>
                        <td>  {{ b.4 }} </td>
                        <td>  {{ b.5 }} </td>
                        <td>  {{ b.6 }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
     {% endif %}
{% endblock %}