{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION IMPORTANTE !!!</h3>
{% endblock %}
{% block contenido %}
    <b>No se ha podido exportar las notas de los siguientes estudiantes</b><br/><br/>
    <b>Materia: </b> {{ d.materia }} -  {{ d.codigo }}<br/>
    <b>Inicio: </b> {{ d.materia.inicio|date:'d-m-Y' }} <br/>
    <b>Fin: </b> {{ d.materia.fin|date:'d-m-Y' }} <br/>
    <b>Fecha Cierre: </b> {{ d.materia.fechacierre|date:'d-m-Y' }} <br/>

    <ol>
    {% for c in datos %}
        <li>{{ c }}  </li>
    {% endfor %}
    </ol>


{% endblock %}