{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
    <b>Profesor:</b> {{ leccionGrupo.profesor }} <br/><br/>
    <b>Materia:</b> {{ leccionGrupo.materia }} <br/><br/>

<table class='table' border="1px">
<thead >
        <tr>
            <th style="text-align: center;width: 30%"><h3>Nombres</h3></th>
            <th style="text-align: center;width: 30%"><h3>Adeudado</h3></th>
             <th style="text-align: center;width: 20%"><h3>Tel&eacute;fono </h3></th>
            <th style="text-align: center;width: 20%"><h3>Convencional</h3></th>
        </tr>
        </thead>
        <tbody>
        {% for d in deuda %}
            <tr>
                <td style="width: 30%">  {{ d.0 }} </td>
                <td style="text-align: center;width: 15%">  ${{ d.1 }} </td>
                <td style="text-align: center;width: 15%">  {{ d.2 }} </td>
                <td style="text-align: center;width: 15%">  {{ d.3 }} </td>
            </tr>
        {% endfor %}

            </tbody>
</table>
<br><b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>
{% endblock %}