{% extends "emails/emailbase.html" %}
{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}

{% block contenido %}
    Estimado: Revisar los tr&aacute;mites asignados en el m&oacute;dulo <b>Bandeja de Atenci&oacute;n</b> <br>
    <b><a href="https://sga.itb.edu.ec/controlespecies"> Click aqu&iacute; para ir al m&oacute;dulo</a> </b> <br>

    <h4>Favor no responder a este mail, para continuar con su tr&aacute;mite dir&iacute;jase a la Bandeja de Atenci&oacute;n o tome contacto con su tutor</h4>
{% endblock %}