{% extends "emails/emailbase.html" %}
{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}

{% block contenido %}
    {% if opcion == "1" %}
        <b>Para</b>: {{ d.persona.nombre_completo }} ({{ d.persona.email }})<br/><br/>
        <b>Fecha</b>: {{ d.fecha }} / {{ d.hora }}<br/>
        <b>Grupo</b>: {{ d.persona.inscripcion.grupo.nombre }}<br/>
        <b>Tipo de Solicitud</b>: {{ d.tipo.nombre }}<br/>
        <b>Descripci&oacute;n</b>:
            {% autoescape off %}
                {{ descripcion }}
            {% endautoescape %}
    {% endif %}
    {% if opcion == "2" %}
        <b>Estudiante</b>: {{ d.persona.nombre_completo }} ({{ d.persona.email }})<br/>
        <b>Fecha</b>: {{ d.fecha }} / {{ d.hora }}<br/>
        <b>Grupo</b>: {{ d.persona.inscripcion.grupo.nombre }}<br/>
        <b>Tipo de Solicitud</b>: {{ d.tipo.nombre }}<br/>
        <b>Descripci&oacute;n</b>: {{ d.descripcion }}<br/>
        {% if adjunto %}
        <b>Nota:</b> Descargar el archivo adjunto en el sistema.
        {% endif %}
    {% endif %}
    {% if opcion == "3" %}
        <b>Solicitud de Estudiante</b>: {{ d.persona.nombre_completo }} a sido asignada<br/>
        <b>Fecha</b>: {{ d.fechaasignacion }} <br/>
        <b>Grupo</b>: {{ d.persona.inscripcion.grupo.nombre }}<br/>
        <b>Observacion</b>: {{ d.observacionasignada }}<br/>
        <b>Descripci&oacute;n</b>:
            {% autoescape off %}
                {{ descripcion }}
            {% endautoescape %}<br/>
        <b>Asignada por</b>: {{ d.usuarioasigna }}<br/>
    {% endif %}
    <h4>Favor no responder a este mail, para continuar con su tr&aacute;mite dir&iacute;jase a la Bandeja de Atenci&oacute;n o tome contacto con su tutor</h4>
{% endblock %}