{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>SE HA REGISTRADO UN PAGO EN LINEA </h3>
{% endblock %}
{% block contenido %}
    <b> Estudiante:  </b> {{ f.persona.nombre_completo }} <br/>
    <b> Carrera:  </b> {{ f.carrera.nombre }} <br/>
    <b> Valor:  </b> {{ valor }} <br/>
    <b>C&oacute;digo de Transacci&oacute;n: </b>{{ transaccion  }} <br>
    <b>N°. Autorización:  </b>{{ autorizacion }} <br>
    <b>Estado del Pago:  </b>{{ estadopagoonline }} <br>
    {% if cajapagoonline %}
        <b>Caja:  </b>{{ cajapagoonline }} <br>
    {% endif %}
    {% if detallerubros %}
        <h3>Rubro(s)pagado(s) en la transacci&oacute;n: </h3>
        <ol>
        {% for r in detallerubros %}
            <li>{{ r.0 }} - {{ r.1 }} </li>
        {% endfor %}
        </ol>
    {% endif %}
    {% if tipotarjeta == 'vi' %}
        <b> Tarjeta:  </b> VISA
    {% endif %}
    {% if tipotarjeta == 'mc' %}
        <b> Tarjeta:  </b> MASTERCARD
    {% endif %}
    {% if tipotarjeta == 'di' %}
        <b> Tarjeta:  </b> DINERS CLUB
    {% endif %}
    {% if tipotarjeta == 'dc' %}
        <b> Tarjeta:  </b> DISCOVER
    {% endif %}
    {% if tipotarjeta == 'ax' %}
        <b> Tarjeta:  </b> AMERICAN EXPRESS
    {% endif %}
    {% if tipotarjeta == 'up' %}
        <b> Tarjeta:  </b> UNION PY
    {% endif %}
    <br>
    <b> Fecha:  </b> {{ fecha }} <br/>
    <br/>
{% endblock %}