{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>GRACIAS POR TU PAGO </h3>
{% endblock %}
{% block contenido %}
    <b> Estimado:  </b> {{ f.nombres}} <br/>
    ITB CONDUCE ECUADOR agradece el pago de  <b>${{ valor }}</b>   realizado con su tarjeta el d&iacute;a {{ fecha|date:'d-m-Y' }} <br/>
    <h3>Los datos de su transacci&oacute;n</h3>
    <b>C&oacute;digo de Transacci&oacute;n: </b>{{ transaccion  }} <br>
    <b>N°. Autorización: :  </b>{{ autorizacion }} <br><br><br>
    Cualquier consulta comuníquese al (04) 5000175.<br>
    Usted puede revisar sus movimientos en su Sistema de Gestión Académica (SGA)<br>

   <b> Este correo fue generado de forma automática y no requiere respuesta.</b><br>
    Saludos Cordiales<br>
    ITB

    <br/>
{% endblock %}