{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
    {% if op == '1' %}
        <b>Estudiante: </b> {{ d.inscripcion }}<br/>
        <b>Horas: </b> {{ d.horas }}<br/>
        <b>Lugar: </b> {{ d.lugar }}<br/>
        <b>Responsable: </b> {{ d.profesor }}<br/>
        <b>Inicio: </b> {{ d.inicio|date:'d-m-Y' }}<br/>
        <b>Fin: </b> {{ d.fin|date:'d-m-Y' }}<br/>
        <b>Equipamiento: </b> {{ d.equipamiento }} <br/><br/>
        <b>Archivo: </b> {% if d.archivo  %} SI {% else %} NO {% endif %} <br/>
        <b>Observación: </b> {{ d.observaciones }} <br/><br/>
        <b>Usuario: </b> {{ usuario }} <br/>
        <b>Fecha: </b> {{ fecha|date:'d-m-Y' }} <br/>
    {% endif %}
    {% if op == '2' %}
        <b>Estudiante: </b> {{ d.inscripcion }}<br/>
        <b>Carrera: </b> {{ carrera }}<br/>
        <b>Actividad: </b> {{ actividad }}<br/>
        <b>Horas: </b> {{ horas }}<br/>
        <b>Usuario: </b> {{ usuario }} <br/>
        <b>Fecha: </b> {{ fecha|date:'d-m-Y' }} <br/>
    {% endif %}

    {% if op == '3' %}
        {% if estudiantes  %}
            <table class='table table-bordered table-striped' style="width:50%">
                <thead >
                    <tr>
                        <th style="background-color: #49afcd;text-align: center;width: 10%"><h3>Estudiantes</h3></th>
                        <th style="background-color: #49afcd;text-align: center;width: 1%"><h3>Carrera</h3></th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in estudiantes %}
                        <tr>
                            <td style="background-color: #c1eee1;text-align: center;width: 10%">{{ e.0 }} </td>
                            <td style="background-color: #c1eee1;text-align: center;width: 10%">{{ e.1 }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <b>Usuario: </b> {{ usuario }} <br/>
        <b>Fecha: </b> {{ fecha|date:'d-m-Y' }} <br/>
    {% endif %}

    {% if op == '4' %}
        {% if estudiantes  %}
            <table class='table table-bordered table-striped'style="width:50%">
                <thead >
                    <tr>
                        <th style="background-color: #49afcd;text-align: center;width: 10%"><h3>Estudiantes</h3></th>
                        <th style="background-color: #49afcd;text-align: center;width: 5%"><h3>Horas</h3></th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in estudiantes %}
                        <tr>
                        <td style="background-color: #c1eee1;text-align: center;width: 10%">{{ e.0 }} </td>
                        <td style="background-color: #c1eee1;text-align: center;width: 5%">{{ e.1 }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <b>Usuario: </b> {{ usuario }} <br/>
        <b>Fecha: </b> {{ fecha|date:'d-m-Y' }} <br/>
    {% endif %}


    {% if op == '5' %}
        {% if estudiantes  %}
            <table class='table table-bordered table-striped'style="width:50%">
                <thead >
                    <tr>
                        <th style="background-color: #49afcd;text-align: center;width: 10%"><h3>Estudiantes</h3></th>
                        <th style="background-color: #49afcd;text-align: center;width: 5%"><h3>Horas</h3></th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in estudiantes %}
                        <tr>
                        <td style="background-color: #c1eee1;text-align: center;width: 10%">{{ e.0 }} </td>
                        <td style="background-color: #c1eee1;text-align: center;width: 5%">{{ e.1 }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <b>Usuario: </b> {{ usuario }} <br/>
        <b>Fecha: </b> {{ fecha|date:'d-m-Y' }} <br/>
    {% endif %}

{% endblock %}
