{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
    <b>Paciente:</b> {{ d.visitabox.nombre }} <br/><br/>
    <b>Tipo de Paciente:</b>  {{ d.visitabox.tipopersona.descripcion }}   <br/><br/>
{% endblock %}
{% block contenido %}
<table class='table' border="1px">
<thead >
        <tr>
            <th style="text-align: center;width: 40%"><h3>Medicamento</h3></th>
            <th style="text-align: center;width: 10%"><h3>Cantidad</h3></th>
        </tr>
        </thead>
        <tbody>
        {% for r in receta %}
            <tr>

                <td style="text-align: center;width: 40%">
                    {{ r.registro.nombre }} - {{ r.registro.presentacion }}
                </td>
                <td style="text-align: center;width: 10%">
                    {{ r.cantidad }}
                </td>

        {% endfor %}
                </tr>
            </tbody>
</table>
    <br/>
    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>
    <b>Usuario:</b> {{ user }} <br/><br/>

{% endblock %}