{% extends "emails/emailbase.html" %}

{% block titulo %}
{#    Su clave de acceso al Sistema Academico del {{ t.nombre }}, ha sido reestablecida. <br/>#}
    El Sistema Acad&eacute;mico del {{ t.nombre }} ha generado el siguiente C&oacute;digo de seguridad.
{% endblock %}
{% block contenido %}
    <b>C&oacute;digo de Seguridad</b>: {{ c }}<br/>
    <b>Nombre del Solicitante</b>: {{ p.nombre_completo }}<br/>
    <b>C&eacute;dula del Solicitante</b>: {{ p.cedula }}<br/>
    <b>Fecha de Solicitud</b>: {{ f|date:'d-m-Y' }}<br/>
    <b>Ip: </b>: {{ ip }}<br/>
    <br/>

    <br/>
    <br/>
    Att. Tic'S
    {{ t.nombre }} <br>
    {{ t.web }}
{% endblock %}