{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - SU REFERIDO FUE ELIMINADO </h3>
{% endblock %}
{% block contenido %}

    <h3> DATOS DEL REFERIDO</h3>

    {% if d.extranjero %}
     <b>Tipo Identificación: </b> Passporte <br/>
     <b>Identificación: {{ d.passporte }}</b> <br/>
    {% else %}
     <b>Tipo Identificación: </b> Cedula <br/>
     <b>Identificación: {{ d.cedula }}</b> <br/>
    {% endif %}

    <b>Nombre: {{ d.nombres }}</b> <br/>
    <b>Apellidos Paterno: {{ d.apellido1 }}</b> <br/>
    <b>Apellidos Materno: {{ d.apellido2 }}</b> <br/>
    <b>Fecha Registro: </b> {{ d.fecha|date:'Y-m-d' }} <br/><br/><br/>



    <b>Nombre del Usuario: </b> {{ nombreUsuario }} <br/>
    <b>Usuario: </b> {{ usuario }} <br/>
    <b>Fecha de Eliminación: </b> {{ fecha|date:'Y-m-d' }} <br/>



{% endblock %}