{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}


    <b>MATERIA:</b> {{ d.materia }} <br/>
    <b>PROFESOR:</b> {{ d.profesor }} <br/>
    <b>TOTAL DE ASISTENCIA:</b> {{ asistenciato }} <br/>
    <b>TOTAL DE FALTAS:</b> {{ faltas  }} <br/>
    <b>TOTAL ESTUDIANTES:</b> {{ totalasis     }} <br/>
    <b>TOTAL DE ABSENTOS:</b> {{ absentismoclas     }} <br/>
    <b>FECHA DE CLASE:</b> {{ d.fecha|date:'d-m-Y'}} <br/>
    <b>HORA DE ENTRADA:</b> {{ d.horaentrada }} <br/>
    <b>HORA DE SALIDA:</b> {{ d.horasalida }} <br/>
    <b>FECHA:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>


{% endblock %}