{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
   {% if op == '1' %}
       <b>Persona : </b> {{ p.personainst }}<br/><br/>
       <b>Motivo: </b> {{ p.motivo }}<br/><br/>
       <b>Valor: </b> {{ p.valor }}<br/><br/>
       <b># Cuotas : </b> {{ p.cuota }}<br/><br/>
       <b>Fecha a Descontar : </b> {{ p.fechaprestamo }}<br/><br/>
       <b>Usuario:</b> {{ usuario }}<br/><br/>
       {% if p.evidencia %}
                <b>Soporte de Prestamo:</b> {{ p.evidencia }}<br/><br/>
       {% else %}
                <b>No hay soporte de Prestamo</b> <br/><br/>
       {% endif %}
   {% endif %}
   {% if op == '2' %}
       <h4>TIPO DE RUBRO CARGADO - {{ tipotrorubro }}</h4>
       <b>Registros Cargados : </b> {{ validos }}<br/>
       {% if validos %}
           {% for correcto in listadocorrecto %}
                  {{ correcto}}<br/>
           {% endfor %}
       {% endif %}
       <br/>
       <b>Registros no Cargados : </b> {{ invalidos }}<br/>
       {% if invalidos %}
           {% for incorrecto in listadoerror %}
                  {{ incorrecto}}<br/>
           {% endfor %}
       {% endif %}
       <br/>
       <b>Usuario:</b> {{ usuario }}<br/><br/>
   {% endif %}
   {% if op == '3' %}
       <h4>SE HA ELIMINADO EL ARCHIVO DE RUBROS MASIVOS - {{ tipotrorubro }}</h4>
       <b>Realizado por:</b> {{ usuario }}<br/><br/>
   {% endif %}
   <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/><br/>

{% endblock %}