{% extends "emails/emailbase.html" %}

{% block titulo %}
    <b>{{ contenido }}</b>
{% endblock %}
{% block contenido %}
    <b>Informaci&oacute;n de Solicitud de Ayuda Economica:</b><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Alumno:</b> {{ solicitudayuda.inscripcion.persona.nombre_completo }}<br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Motivo:</b> {{ solicitudayuda.motivo }}<br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Nivel:</b> {% if solicitudayuda.nivel %} {{ solicitudbeca.nivel }} {% else %} NO SE ENCUENTRA MATRICULADO {% endif %}<br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Fecha de Solicitud:</b> {{ solicitudayuda.fecha }}<br/><br/><br/>
    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }}




{% endblock %}