{% extends "emails/emailbase.html" %}

{% block titulo %}
    <b>{{ contenido }}</b>
{% endblock %}
{% block contenido %}
    <b>Informaci&oacute;n de analisis Solicitud:</b><br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Alumno:</b> {{ solicitudbeca.inscripcion.persona.nombre_completo }}<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Motivo:</b> ANALISIS DE LA SOLICITUD<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Fecha Archivo:</b> {{ archivobeca.fecha|date:'d-m-Y' }}<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Comentario Analisis:</b> {{ comentarioanalisis }}<br/>

    
    <b>Informaci&oacute;n de Tabla de Descuento de Beca:</b><br/>

    <table class="table table-bordered" style="margin-bottom: 0;">

        <thead>
            <tr>
                <th style="text-align: center;width:50%">         Rubro        </th>
                <th style="text-align: center;width:20%">         %        </th>
            </tr>
        </thead>


        {% for listatbala in descuentobeca %}
            <tr>
                <td style="text-align: center"> {{ listatbala.rubro }} </td>
                <td style="text-align: center"> {{ listatbala.descuento}} </td>
            </tr>
        {% endfor %}

        {% if not descuentobeca %}
            <tbody id="rubrobody" class="datatable">
                <tr>
                    <td colspan="4" style="text-align: center">
                        NO HAY RUBRO
                    </td>
                </tr>

            </tbody>
        {% endif %}
    </table><br>

    <h4>Por favor no responder al remitente.</h4>



{% endblock %}