{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}
    {% if opc == 1 %}
        <b>Sede: </b> {{ d.sede }} <br/><br/>
        <b>Persona: </b> {{ d.persona }} <br/><br/>
        <b>Requerimiento: </b> {{ d.requerimiento }} <br/><br/>
        {% if d.archivo %}
            <b>Archivo: </b> <a href='https://sga.itb.edu.ec{{ d.archivo.url }}' class='btn btn-success btn-mini'><i class="icon-download icon-white"></i>Descargar Archivo</a> <br/><br/>
        {% endif %}
    {% else %}
        {% if opc == 2 %}

            <b>Solicitante: </b> {{ d.requerimiento.persona.nombre_completo }} <br/><br/>
            <b>Requerimiento: </b> {{ d.requerimiento.requerimiento }} <br/><br/>
            <b>Respuesta: </b> {{ d.solucion }} <br/><br/>
            {% if d.archivo %}
                <b>Archivo: </b> <a href='https://sga.itb.edu.ec{{ d.archivo.url }}' class='btn btn-success btn-mini'><i class="icon-download icon-white"></i>Descargar Archivo</a> <br/><br/>
            {% endif %}
            <b>Soporte: </b> {{ d.requerimiento.soporte.soporte.persona.nombre_completo }} <br/><br/>

            Para un mejor servicio ayudanos con tu calificación dando click en el siguiente link <a href="https://sga.itb.edu.ec/requersoporte?id={{ d.requerimiento.id }}"> ir a calificación del soporte </a>
        {% else %}
            {% if opc == 3 %}
                <b>Solicitante: </b> {{ d.requerimiento.persona.nombre_completo }} <br/><br/>
                <b>Requerimiento: </b> {{ d.requerimiento.requerimiento }} <br/><br/>
                {% if d.archivo %}
                    <b>Archivo: </b> <a href='https://sga.itb.edu.ec{{ d.requerimiento.archivo.url }}' class='btn btn-success btn-mini'><i class="icon-download icon-white"></i>Descargar Archivo</a> <br/><br/>
                {% endif %}
                <b>Consulta: </b> {{ d.consulta }} <br/><br/>
                <b>Soporte: </b> {{ d.requerimiento.soporte.soporte.persona.nombre_completo }} <br/><br/>
            {% else %}
                {% if opc == 4 %}
                    <b>Solicitante: </b> {{ d.requerimiento.persona.nombre_completo }} <br/><br/>
                    <b>Requerimiento: </b> {{ d.requerimiento.requerimiento }} <br/><br/>
                    <b>Consulta: </b> {{ d.solucion }} <br/><br/>
                    {% if d.archivo %}
                        <b>Archivo: </b> <a href='https://sga.itb.edu.ec{{ d.archivo.url }}' class='btn btn-success btn-mini'><i class="icon-download icon-white"></i>Descargar Archivo</a> <br/><br/>
                    {% endif %}
                    <b>Fecha Consulta: </b> {{ d.fecha|date:'Y-m-d' }} <br/><br/>
                    <b>Respuesta: </b> {{ d.respuesta }} <br/><br/>
                    {% if d.archivoresp %}
                        <b>Archivo: </b> <a href='https://sga.itb.edu.ec{{ d.archivoresp.url }}' class='btn btn-success btn-mini'><i class="icon-download icon-white"></i>Descargar Archivo</a> <br/><br/>
                    {% endif %}
                    <b>Soporte: </b> {{ d.requerimiento.soporte.soporte.persona.nombre_completo }} <br/><br/>
                {% else %}
                    <b>Solicitante: </b> {{ d.requerimiento.persona.nombre_completo }} <br/><br/>
                    <b>Requerimiento: </b> {{ d.requerimiento.requerimiento }} <br/><br/>
                    <b>Consulta: </b> {{ d.consulta }} <br/><br/>
                    <b>Respuesta: </b> {{ d.respuesta }} <br/><br/>
                    {% if d.archivo %}
                        <b>Archivo: </b> <a href='https://sga.itb.edu.ec{{ d.archivo.url }}' class='btn btn-success btn-mini'><i class="icon-download icon-white"></i>Descargar Archivo</a> <br/><br/>
                    {% endif %}
                    <b>Soporte: </b> {{ d.requerimiento.soporte.soporte.persona.nombre_completo }} <br/><br/>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/>
{% endblock %}
