{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
{% endblock %}
{% block contenido %}

    {% if  opc == 3 %}
        <b>Motivo de Revocaci&oacute;n: </b> {{ modelo.motivosuspension }} <br/><br/>
        <b>Alumno: </b> {{ modelo.inscripcionsuspension.inscripcion.persona.nombre_completo }} <br/><br/>
        <b>Observaci&oacute;n: </b> {{ modelo.observacion }} <br/><br/>
        <b>Fecha de Revocaci&oacute;n: </b> {{ modelo.fecha|date:'d-m-Y' }} <br/><br/>
        <b>Realizado por: </b> {{ modelo.user }} <br/><br/>
    {% else %}
        <b>Tipo Suspensi&oacute;n: </b> {{ modelo.tiposuspension }} <br/><br/>
        <b>Motivo de Suspensi&oacute;n: </b> {{ modelo.motivosuspension }} <br/><br/>
        <b>Alumno: </b> {{ modelo.inscripcion.persona.nombre_completo }} <br/><br/>
        <b>Observaci&oacute;n: </b> {{ modelo.observacion }} <br/><br/>
        <b>Fecha de Suspensi&oacute;n: </b> {{ modelo.fecha|date:'d-m-Y' }} <br/><br/>
        <b>Realizado por: </b> {{ modelo.user }} <br/><br/>
    {% endif %}

    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/>
{% endblock %}
