{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - {{ contenido }}</h3>
    <b>Fecha: </b> {{fecha|date:'Y-m-d' }}<br/>
    <b>Usuario: </b> {{ usuario }}<br/>
{% endblock %}
{% block contenido %}
   {% if op == '1' %}
        <b>Estudiante: </b> {{ d.inscripcion }}<br/>
        <b>Carrera: </b> {{ carrera }}<br/>
        <b>Total de Horas: </b> {{ horas }}<br/>

        {% if horas == 160 %}
            <h3>Vinculaci&oacute;n completa </h3> <br/>
        {% endif %}
        <table class='table table-bordered table-striped'>
            <thead >
                <tr>
                    <th style="background-color: #49afcd;text-align: center;width: 40%"><h3>Actividad</h3></th>
                    <th style="background-color: #49afcd;text-align: center;width: 10%"><h3>Horas</h3></th>
                </tr>
            </thead>
            <tbody>
                {% for act in d.inscripcion.tiene_actvinculacion %}
                    <tr>
                        {% if act.actividad  %}
                            <td style="background-color: #c1eee1;text-align: center;width: 40%">
                                {{act.actividad }}
                            </td>
                            <td style="background-color: #c1eee1;text-align: center;width: 10%">
                                {{act.horas}}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

   {# correo que elimina actividad   #}
   {% if op == '2' %}
        <b>Estudiante: </b> {{ d.inscripcion }}<br/>
        <b>Carrera: </b> {{ carrera }}<br/>
        <b>Total de Horas: </b> {{ horas }}<br/>
        <b>Nota en Record: </b> {{ nota_record }}<br/>
        <b>Nota en Hist&oacute;rico: </b> {{ nota_hist }}<br/>
   {% endif %}

{% endblock %}
