{% extends "emails/emailbase.html" %}

{% block titulo %}
    <h3>NOTIFICACION - SE HA CREADO UNA ACTIVIDAD DE VINCULACION</h3>
{% endblock %}
{% block contenido %}
    <b>Proyecto : </b> {{ p.programa }}<br/>
    <b>Actividad : </b> {{ p.nombre }}<br/>
    <b>Lugar : </b> {{ p.lugar }}  <br/>
    <b>Lider : </b> {{ p.lider }}   <br/>
    <b>Inicio : </b> {{ p.inicio|date:'d-m-Y' }}<br>
    <b>Fin : </b> {{ p.fin|date:'d-m-Y' }}<br>
    <b>Objetivo : </b> {{ p.objetivo }}
    <br/>
    <b>Fecha:</b> {{ fecha|date:'d-m-Y' }} <br/>
    <b>Usuario:</b> {{ usuario }} <br/><br/>
    <br/>

{% endblock %}