{% extends "formbs.html" %}
{% block javascript %}
    $("#id_nombre").addClass("validate[required]");
    $("#id_inicio, #id_fin").datepicker({format:"dd-mm-yyyy"});
    $("#id_grupo,#id_horas").addClass("input-small")

{% endblock %}
{% block titulo %}Editar Materia{% endblock %}
{% block formaction %}/gruposcurso{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editmateria'/>
    <input type='hidden' name='id' value="{{ materiacurso.id }}"/>
{% endblock %}
{% block formback %}/asignaturas{% endblock %}
{% block buttonname %}Guardar Asignatura{% endblock %}