{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">

        $(function() {

            $(".btn-cerrar").click(function() {
                $("#desactivacion").modal('hide');
                $("#resetear").modal('hide');
            });

            $(".btn-desactivar").click(function() {
                var ins = $(this).attr("ins");
                location.href = '/becas_matricula?action=desactivar&id='+ins;
            });

            $(".desactivarinscripcion").click(function() {
                var ins = $(this).attr("ins");
                $(".btn-desactivar").attr("ins",ins);
                $("#desactivacion").modal("show");
            });

            $(".resetearusuario").click(function() {
                var ins = $(this).attr("ins");
                $(".btn-resetear").attr("ins",ins);
                $("#resetear").modal("show");
            });

            $(".btn-resetear").click(function() {
                var ins = $(this).attr("ins");
                location.href = '/becas_matricula?action=resetear&id='+ins;
            });

            $("#search").click(function() {
                var term = $("#searchfield").val().toUpperCase();
                location.href = "/gruposcurso?action=consulta&s="+term+"&practica="+{{ practica.id }};
            });

            $("#gruposel").change(function() {
                var id = $(this).val();
                if (id){
                    location.href = '/practicasconduc?action=consulta&g='+id+"&practica="+{{ practica.id }};
                }else{
                    location.href = '/becas_matricula';
                }

            });



        });

    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3>
                Listado de alumnos en Curso: {{ grupo }}
            </h3>
{#            {% if grupo %}#}
{#                <h3> Grupo: {{ practica }}</h3>#}
{#                <h3>Inscritos: {{ pract.miembros.count }} </h3>#}
{#            {% endif %}#}
            <br>
        </div>
        <div class='atright'>
            <a href="/practicasconduc?action=consulta&practica={{ practica.id }}"><i class="icon-arrow-left"></i> Atras</a>
        </div>
    </div>
{#    <div class="row-fluid">#}
{#        {% if perms.sga.change_inscripcion %}#}
{#            <div class='span5'>#}
{#             <form class="form-search">#}
{#            <input class='searchinput input-large search-query' type='text' id='searchfield' value='{{ search }}'/>#}
{# <li><a href="/practicasconduc?action=consulta&practica={{ materia.id }}"><i class='icon-edit'></i> Listado Alumnos </a></li>#}
{##}
{#            <a href="#" id='search'  class='btn btn-info'><i class="icon-search icon-white"></i> Buscar</a>#}
{##}
{#            </form>#}
{##}
{#            </div>#}
{#        {% endif %}#}
{#    </div>#}

    <div class='row-fluid'>
        <div class='span12'>
        <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th style="width: 400px">Nombre</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for alumnolista in alumnolistas %}

                    <tr>
                        <td>

                              {{ alumnolista.inscripcion.persona }}

                        </td >
                        <td>
                                <div class="btn-group">
                                    <a  class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                        Acciones
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="/gruposcurso?action=delmodulo&id={{  alumnolista.id  }}&grupo={{ grupo.id }}"><i class='icon-edit'></i> Eliminar </a></li>
                                    </ul>
                                </div>
                        </td>
                    </tr>

            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">


{#            {% if paging.num_pages > 20 %}#}
{#                <div class='pagination'>#}
{#                    <ul>#}
{#                        {% if paging.primera_pagina %}#}
{#                            <li><a href="/estudiantesxdesertar?page=1">1</a></li>#}
{#                            <li><a href="/estudiantesxdesertar?page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>#}
{#                        {% endif %}#}
{#                        {% for pagenumber in paging.paginas %}#}
{#                            <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/estudiantesxdesertar?page={{ pagenumber }}{% if activos %}&a={{ activos }}{% endif %}{% if inactivos %}&i={{ inactivos }}{% endif %}{% if todos %}&t={{ todos }}{% endif %}{% if grupoid %}&g={{ grupoid }}{% endif %}">{{ pagenumber }}</a></li>#}
{#                        {% endfor %}#}
{#                        {% if paging.ultima_pagina %}#}
{#                            <li><a href="/estudiantesxdesertar?page={{ paging.ellipsis_derecha }}" class="active">...</a></li>#}
{#                            <li><a href="/estudiantesxdesertar?page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>#}
{#                        {% endif %}#}
{#                    </ul>#}
{#                </div>#}
{#            {% else %}#}
{##}
{#                <div class='pagination'>#}
{#                    <ul>#}
{#                        {% for pagenumber in paging.page_range %}#}
{#                            <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/estudiantesxdesertar?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}{% if activos %}&a={{ activos }}{% endif %}{% if inactivos %}&i={{ inactivos }}{% endif %}{% if todos %}&t={{ todos }}{% endif %}{% if grupoid %}&g={{ grupoid }}{% endif %}">{{ pagenumber }}</a></li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
{##}
{#            {% endif %}#}

        </div>
    </div>



{% endblock %}

