{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">

        $(function() {

            $(".btn-cerrar").click(function() {
                $("#desactivacion").modal('hide');
                $("#resetear").modal('hide');
            });

            $(".btn-desactivar").click(function() {
                var ins = $(this).attr("ins");
                location.href = '/becas_matricula?action=desactivar&id='+ins;
            });

            $(".desactivarinscripcion").click(function() {
                var ins = $(this).attr("ins");
                $(".btn-desactivar").attr("ins",ins);
                $("#desactivacion").modal("show");
            });

            $(".resetearusuario").click(function() {
                var ins = $(this).attr("ins");
                $(".btn-resetear").attr("ins",ins);
                $("#resetear").modal("show");
            });

            $(".btn-resetear").click(function() {
                var ins = $(this).attr("ins");
                location.href = '/becas_matricula?action=resetear&id='+ins;
            });


            $("#search").click(function() {
                var term = $("#searchfield").val().toUpperCase();
                location.href = "/becas_matricula?s="+term;
            });

            $("#cerrar").click(function() {
{#                    alert (1)#}
{#                var ins = $(this).attr("ins");#}
{#                $(".btn-cerrar").attr("ins",ins);#}
                $("#motivodesactivacion").modal("hide");
            });

            $(".motivodesactivacion").click(function() {
                $("#motivodesactivacion").modal('show')
                $(".modal-footer").hide();
                $(".modal-body").html("espere");
                 var id = $(this).attr("ins")
                $.post("/becas_matricula",{"action": "motivoanula", "id": id },function(data) {
                        $(".modal-body").html(data.mensaje);
{#                        $("#mclose").prop("href", "/niveles?action=filtrar&id="+data.ni+"&f=2");#}

                    $(".modal-footer").show();
                },"json");
                var ins = $(this).attr("ins");

{#                $("#cerrar").attr("ins",ins);#}
{#                location.href = '/becas_matricula?action=motivoanula&id='+ins;#}
{#                $("#motivodesactivacion").modal("show");#}
            });

            $('#searchfield').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });

            $(".tl").tooltip({placement:"right"});

            $("#gruposel").change(function() {
                var id = $(this).val();
                if (id){
                    location.href = '/becas_matricula?g='+id;
                }else{
                    location.href = '/becas_matricula';
                }

            });


        });

    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3>
                {% if not activos and not inactivos and not todos %}Estudiantes ACTIVOS{% endif %}
                {% if activos %}Estudiantes ACTIVOS {% endif %}
                {% if inactivos %}Estudiantes INACTIVOS{% endif %}
                {% if todos %}Listado de Estudiantes (TODOS) {% endif %}
            </h3>
            {% if grupo %}
                <h3> Grupo: {{ grupo.nombre }}</h3>
                <h3>Inscritos: {{ grupo.miembros.count }} </h3>
            {% endif %}
            <br>
        </div>
        <div class='atright'>
            {% if grupo %}
                <a href="/adm_grupos" class='btn'><i class="icon-arrow-left"></i> Atras</a>
            {% else %}
                <a href="/" class='btn'><i class="icon-arrow-left"></i> Atras</a>
            {% endif %}

        </div>
    </div>
    <div class="row-fluid">

            <div class='span5'>
             <form class="form-search">
            <input class='searchinput input-large search-query' type='text' id='searchfield' value='{{ search }}'/>
            <a href="#" id='search' class='btn btn-info'><i class="icon-search icon-white"></i> Buscar</a>
            {% if search %}
                <a href="/becas_matricula" id='allresults' class='btn btn-primary'><i class="icon-refresh icon-white"></i> Todos</a>
            {% endif %}
            </form>

            </div>


        <div class='span2'>
            <a></i>                       </a>
        </div>

        <div class="span2">
            Grupos:
            <select id='gruposel' class="input-medium bigger"/>
                <option value=''>-----</option>
                {% for g in grupos %}
                    <option value="{{ g.id }}" {% if grupoid == g.id %}selected="selected"{% endif %}>{{ g.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="span3" style="text-align: right">
        {% if not centroexterno %}
            {% if activos %}
                <a href="/becas_matricula?i=1" class='btn btn-danger'> Inactivos</a>
                <a href="/becas_matricula?t=1" class='btn'> Todos</a>
            {% endif %}
            {% if inactivos %}
                <a href="/becas_matricula?a=1" class='btn btn-success'> Activos</a>
                <a href="/becas_matricula?t=1" class='btn btn-info'> Todos</a>
            {% endif %}
            {% if todos %}
                <a href="/becas_matricula?a=1" class='btn btn-success'> Activos</a>
                <a href="/becas_matricula?i=1" class='btn btn-warning'> Inactivos</a>
            {% endif %}
            {% if not activos and not inactivos and not todos %}
                <a href="/becas_matricula?i=1" class='btn btn-warning'> Inactivos</a>
                <a href="/becas_matricula?t=1" class='btn btn-info'> Todos</a>
        {% endif  %}
    {% endif  %}
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
        <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th style="width: 400px">Nombre</th>

                <th style="width: 100px">Cedula/Pasap</th>

                <th style="width: 100px">Tel&eacute;fonos</th>
                <th style="width: 300px">Emails</th>
                <th style="width: 50px">Fecha</th>
                <th style="width: 250px">Carrera</th>
                <th style="width: 150px; text-align:center">Presencial/Online</th>
                <th style="width: 50px"> </th>
            </tr>
            </thead>
            <tbody>
            {% for inscripcion in becas_matricula %}
              {% if inscripcion.tienematricula %}
                    <tr>
                        <td>
                            <a href='/becas_matricula?action=estudio&id={{ inscripcion.id }}'>{{ inscripcion.persona }}</a>
                        </td >

                        <td>{{ inscripcion.persona.cedula }} <br/> {% if inscripcion.persona.pasaporte %}{{ inscripcion.persona.pasaporte }}{% endif %}</td>

                        <td>
                            {% if inscripcion.persona.telefono %}{{ inscripcion.persona.telefono }}{% endif %}
                            <br/>{% if inscripcion.persona.telefono_conv %}{{ inscripcion.persona.telefono_conv }}{% endif %}
                        </td>
                        <td>
                            {% if inscripcion.persona.emailinst %}
                                <a href="mailto:{{ inscripcion.persona.emailinst }}" style="color: #003bb3">
                                    {{ inscripcion.persona.emailinst }}
                                </a>
                            {% else %}
                                <a href="mailto:{{ inscripcion.persona.email }}" style="color: #003bb3">
                                    {{ inscripcion.persona.email }}
                            {% endif %}
{#                            <br/>{{ inscripcion.persona.emails }}#}
                        </td>
                        <td style="font-size: 11px" nowrap>{{ inscripcion.fecha|date:"d-m-Y"  }}</td>
                        <td nowrap>{{ inscripcion.carrera.alias }}</td>
                        <td style="text-align:center">{% if inscripcion.carrera.online %} Online {% else %} Presencial {% endif %}</td>

                        <td>

                            <div class="btn-group">
                                {% if not centroexterno %}
                                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                        Acciones
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-right">



                                        <li><a href="/becas_matricula?action=estudio&id={{ inscripcion.id }}"><i class="icon-book"></i> Periodos</a></li>
{#                                        <!-- Asignarle una Beca al estudiante para siempre -->#}
{#                                            {% if perms.sga.change_inscripcionbecario %}#}
{#                                                <li><a href="/becas_matricula?action=asignarbeca&id={{ inscripcion.id }}">{% if not inscripcion.beca_asignada %} <b><i class="icon-plus"></i> Asignar Beca {% endif %}</b></a></li>#}
{#                                            {% endif %}#}

                                        <!-- Ir a las Finanzas del estudiante -->

                                    </ul>
                                {% else %}
                                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                        Acciones
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                    <li><a href="/becas_matricula?action=adicionamateria&id={{ inscripcion.id }}"><i class="icon-book"></i> Incluir en Materia</a></li>
                                    </ul>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
              {% endif %}
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">


            {% if paging.num_pages > 20 %}
                <div class='pagination'>
                    <ul>
                        {% if paging.primera_pagina %}
                            <li><a href="/becas_matricula?page=1">1</a></li>
                            <li><a href="/becas_matricula?page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                        {% endif %}
                        {% for pagenumber in paging.paginas %}
                            <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/becas_matricula?page={{ pagenumber }}{% if activos %}&a={{ activos }}{% endif %}{% if inactivos %}&i={{ inactivos }}{% endif %}{% if todos %}&t={{ todos }}{% endif %}{% if grupoid %}&g={{ grupoid }}{% endif %}">{{ pagenumber }}</a></li>
                        {% endfor %}
                        {% if paging.ultima_pagina %}
                            <li><a href="/becas_matricula?page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                            <li><a href="/becas_matricula?page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}

                <div class='pagination'>
                    <ul>
                        {% for pagenumber in paging.page_range %}
                            <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/becas_matricula?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}{% if activos %}&a={{ activos }}{% endif %}{% if inactivos %}&i={{ inactivos }}{% endif %}{% if todos %}&t={{ todos }}{% endif %}{% if grupoid %}&g={{ grupoid }}{% endif %}">{{ pagenumber }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            {% endif %}

        </div>
    </div>

    <div class="modal fade static" id="desactivacion" style="display: none;">
        <div class="modal-header">
            <h3 id="paneltitle"> ¿Est&aacute; seguro de inactivar a este alumno?</h3>
        </div>
        <div class="modal-body">
            <p> Este usuario no podr&aacute; ingresar al sistema ...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-cerrar">Cerrar</a>
            <a href="#" class="btn btn-primary btn-desactivar"> Desactivar</a>
        </div>
    </div>

    <div class="modal fade static" id="motivodesactivacion" style="display: none;">
        <div class="modal-header">
            <h3 id="paneltitle"> Motivo de Desactivacion</h3>
        </div>
        <div class="modal-body">
{#            {% if inscripcion.tiene_inactivacion %}#}
{#                  <p> dkajdkjsadkjsafhkjdsfhksjdf}</p>#}
            {{ inscripcion }}
{#            {% endif %}#}

        </div>
        <div class="modal-footer">
            <a href="#" id="cerrar" class="btn btn-cerrar">Cerrar</a>

        </div>
    </div>

    <div class="modal fade static" id="resetear" style="display: none;">
        <div class="modal-header">
            <h3 id="paneltitle1"> ¿Desea Resetear la Clave al Usuario?</h3>
        </div>
        <div class="modal-body">
            <p> El usuario ingresar&aacute; nuevamente al sistema con la clave por defecto {% if clave %}<b>{{ clave }}</b>{% endif %}</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-cerrar">Cerrar</a>
            <a href="#" class="btn btn-primary btn-resetear"> Resetear</a>
        </div>
    </div>
{% endblock %}

