<td>
    {% if asignadomateria.horas_asistencia < 16 %}
        <span style="color: #dc143c;">
    {% else %}
        <span style="color:#006400;">
    {% endif %}
    <b>{{ asignadomateria.horas_asistencia|floatformat:0 }}h</b>
    </span>
</td>

<td>
    {{ asignadomateria.promedio_evaluacion_clase }} ({{ asignadomateria.cantidad_evaluaciones_clase }})
</td>

<td>
    {% if asignadomateria.evaluacion.estado_id == 1 %}
        <span id='maestado{{ asignadomateria.id }}' style="color: #006400;"><b>{{ asignadomateria.evaluacion.estado }}</b></span>{% endif %}
    {% if asignadomateria.evaluacion.estado_id == 2 %}
        <span id='maestado{{ asignadomateria.id }}' style="color: #dc143c;"><b>{{ asignadomateria.evaluacion.estado }} </b></span>
        {% if asignadomateria.notafinal < 70 %}<span style="color: #dc143c;"><b> (NF)</b></span>{% endif %}
        {% if valida_asistencia and asignadomateria.horas_asistencia < 16 %}<span style="color: #dc143c;"><b> (AS)</b></span>{% endif %}{% endif %}
    {% if asignadomateria.evaluacion.estado_id == 3 %}
        <span id='maestado{{ asignadomateria.id }}'>{{ asignadomateria.evaluacion.estado }}</span>
    {% endif %}
</td>