{% extends "admin_vehiculos/formvehic.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
{#    <script type="text/javascript">#}

                $("#id_inicio, #id_fin").datepicker({format:"dd-mm-yyyy"}).mask("99-99-9999");
{#                $($("#id_placa").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-success'>DATOS </h4>" );#}
                $("#id_valor").addClass("input-small");
                var numeros2="0123456789.";
                var numeros="0123456789";
                function tiene_numeros2(texto){
                   var num = 0;
                       for(i=0; i < texto.length; i++){
                          if (numeros2.indexOf(texto.charAt(i),0)!=-1){
                              num = num +1;
                          }
                       }
                       return num;
                     }
                 $("#id_valor").blur(function(){
                        var v = $("#id_valor").val();
                        var p = tiene_numeros2(v);
                         if (p != v.length)
                            {
                              $($("#id_valor").get(0).parentNode).find(".help-text").html("Ingresar Valores en este formato (0.00)");
                              $("#id_valor").val("");
                              $("#id_valor").focus();
                            }
                            else{
                                $($("#id_valor").get(0).parentNode).find(".help-text").html("");
                            }
                });

{#    </script>#}
{% endblock %}
{% block titulo %}
    {% if not error %}{{ titulo }} {% else %}<span class="label label-important bigger">ERROR: LA INSCRIPCION YA EXISTE EN EL SISTEMA</span><h3>Ingrese Nuevamente los Datos</h3>{% endif %}
{% endblock %}
{% block formaction %}/admin_vehiculos{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addpoliza'/>
    <input type='hidden' name='edit' value='{{ editar }}'/>
{% endblock %}
{% block formback %}/admin_vehiculos?action=poliza{% endblock %}
{% block buttonname %}Guardar{% endblock %}