{% extends "basebs.html" %}
{% block heading %}
    <script src='/static/js/jquery.validationEngine.js' type="text/javascript"></script>
    <script src='/static/js/jquery.validationEngine-es.js' type="text/javascript"></script>
    <link type='text/css' rel='stylesheet' href="/static/css/validationEngine.jquery.css"/>
    <!-- <link type='text/css' rel='stylesheet' href="/static/css/modules.css"/> -->
    <script type="text/javascript">
        $(function() {
            {% block javascript %}
            {% endblock %}
            $("form").validationEngine();
        });
    </script>
    {% block extraheading %}
    {% endblock %}
{% endblock %}

{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3>{% block titulo %}{% endblock %}</h3>
            <h4>{% block subtitulo %}{% endblock %}</h4>
        </div>
        <div class='span1'>
            <a id="atras" href="{% block formback %}#{% endblock %}" class="btn linkback"><i class="icon-arrow-left"></i> Atr&aacute;s</a>

        </div>
    </div>

    {% if formerror %}
        <div class='row-fluid'>
            <div class='span8'>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <h4 class="alert-heading">Error de Datos!</h4>
                    {% autoescape off %}{{ formerror }}{% endautoescape %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class='row-fluid'>
        <div class='row-fluid'>
            <div class='span{% block formwidth %}5{% endblock %}'>
                <form id="formulario" class='well {% block form-type %}form-horizontal{% endblock %}' action="{% block formaction %}{% endblock %}" method="POST" {% block formtagextra %}{% endblock %}>
                    {% block formextra %}
                    {% endblock %}

                    {% for field in form %}
                        <fieldset class="control-group nomargins">
                            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            <div class="controls">
                                {{ field }}
                                <p class="help-text">{{ field.help_text }} </p>
                            </div>
                        </fieldset>
                    {% endfor %}

                    {% block formsuffix %}
                    {% endblock %}

                    <button type="{% block buttontype %}submit{% endblock %}" class="btn btn-success" id="formbutton">{% block buttonname %}Guardar{% endblock %}</button>
                    {% block extrabuttons %}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}