{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">

        $(function() {

        });

    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
           {% if conduccion == 'SI' %}
               {% if vehiculo.veheexist %}
                    <h3>Foto del Vehiculo</h3>
                    <h4>{{ vehiculo }}</h4>
               {% endif %}
           {% endif %}
        </div>
        <br>
        <div class='atright'>
            <a href="/admin_vehiculos" class='btn'><i class="icon-arrow-left"></i> Atras</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            {% if conduccion == 'SI' %}
                {% if vehiculo %}
                    <img src="{{ vehiculo.imagen.url }}" alt="">
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
