<div class="row-fluid">
<div class="span12 ">
    <table class="table table-condensed ">
        <thead>
            <th>Poliza</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Proveedor</th>
            <th>Valor</th>
            <th>Vigente</th>
        </thead>
    <tbody>
        {% for p in poliza %}
            <tr>
                <td > {{ p.descripcion }}</td>
                <td style="text-align: center">{{ p.inicio|date:'d-m-Y' }}</td>
                <td style="text-align: center">{{ p.fin|date:'d-m-Y' }}</td>
                <td>{{ p.proveedor }}</td>
                <td style="text-align: right">{{ p.valor}}</td>
                <td style="text-align: center">
                    {%  if p.vigente %}
                        <img src='/static/images/16/true.png' width="14px" alt='' border="0"/>
                    {% else %}
                        <img src='/static/images/16/false.png' width="14px" alt='' border="0"/>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        {% if not poliza %}
            <tr>
                <td > NO EXISTEN REGISTROS DE PANELES
                </td>
            </tr>
        {% endif %}

    </tbody>
</table>
</div>
</div>

