<div class="row-fluid">
<div class="span12">
    <table class="table table-condensed table-stripped">
        <thead>
        <tr>
            <th>Profesor</th>
            <th>Asignatura</th>
            <th style="width: 70px;text-align: center">Nota</th>
            <th style="width: 70px">Asistencia</th>

        </tr>
        </thead>
    <tbody>
        {% for materias in estudiantesxdesertar %}
            <tr>
            {% if materias.notafinal < notaaprobar%}
                {% for p in  materias.materia.profesoresxmateria %}
                    <td > {{ p.profesor.persona.nombre_completo_inverso }}</td>

                {% endfor %}

                <td  > {{ materias.materia.asignatura }}</td>
                <td  style="text-align: center"> {{ materias.notafinal }}</td>
                <td  style="text-align: center"> {{ materias.asistenciafinal }}</td>
    {#                <td  style="text-align: center"> {{ d.observacion}}</td>#}
            {%endif%}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>


