<div class="row-fluid">
    <div class="span12">
        <table>
            <thead>
                <tr>
                    <th>Respuesta</th>
                    <th>Fecha</th>
                    <th>Registrado por</th>
                </tr>
            </thead>
            <tbody>
                {% for d in detalle %}
                    <tr>
                        <td> {{ d.respuesta }}</td>
                        <td> {{ d.fecha|date:'d-m-Y' }}</td>
                        {% if d.usuario  %}<td align="center"> {{ d.usuario }}</td> {% else  %} <td></td>{% endif  %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


