{% extends "layout/modalajaxformdinamicbs.html" %}
{% load humanize %}
{% block idformulario %}{% if frmName %}{{ frmName }}{% else %}formDinamico{% endif %}{% endblock %}
{% block extraheading %}
    <link rel="stylesheet" href="/static/modernize/dist/libs/dropify/css/dropify.min.css?v={{ version }}">
    <script type="text/javascript" src='/static/modernize/dist/libs/dropify/js/dropify.min.js?v={{ version }}'></script>
{% endblock %}
{% block formextra %}
    <input autocomplete="False" type="hidden" name="id" value="{{ eMateria.id }}">
    <input autocomplete="False" type="hidden" name="action" value="uploadChangeBanner">
{% endblock %}
{% block extrajavascript %}
    <script>
        $(function () {

            $('.dropify').attr('data-allowed-file-extensions', 'jpg  png');
            var drEvent = $('.dropify').dropify({
                messages: {
                    default: 'Arrastre y suelte el archivo o haga clic aquí',
                    replace: 'Arrastre y suelte el archivo o haga clic aquí para reemplazar.',
                    remove: 'Eliminar',
                    error: 'Ocurrió un error!'
                },
                error: {
                    fileSize: "El tamaño del archivo debe ser máximo (4MB).",
                    fileExtension: "Sólo puede subir los archivos con las extensiones .jpg .png"
                },
            });

        })
    </script>
{% endblock %}