{% extends "deletebs.html" %}
{% block titulo %}Borrar Titulaci&oacute;n del Profesor: {{ profesor }}{% endblock %}
{% block formback %}/pro_titulacion?action=titulacion&id={{ titulacion.profesor.id }}{% endblock %}
{% block formaction %}/pro_titulacion{% endblock %}
{% block formactionvalue %}deltitulacion{% endblock %}
{% block formobjectid %}{{ titulacion.id }}{% endblock %}
{% block formobjectname %}la titulacion del Profesor {% endblock %}
{% block formobjectrepr %}{{ titulacion.profesor.persona }}{% endblock %}

