{% extends "formbs.html" %}
{% block javascript %}
    //$().addClass("validate[required]");
{% endblock %}
{% block titulo %}Cargar CV <h4>{{ profesor }}</h4><br>{% endblock %}
{% block formaction %}/pro_titulacion{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='cargarcv'/>
    <input type='hidden' name='id' value='{{ profesor.id }}'/>
{% endblock %}
{% block formback %}/pro_titulacion{% endblock %}
{% block buttonname %}Cargar CV{% endblock %}