{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_n1desde,#id_n1hasta,#id_n2desde,#id_n2hasta,#id_pidesde,#id_pihasta,#id_sudesde,#id_suhasta").datepicker({format:"dd-mm-yyyy"});
    $("#id_mom1desde,#id_mom1hasta,#id_mom2desde,#id_mom2hasta,#id_pfinaldesde,#id_pfinalhasta,#id_proydesde,#id_proyhasta,#id_sudesde,#id_suhasta").datepicker({format:"dd-mm-yyyy"});
    $("#id_periodo").addClass("validate[required]");

{% endblock %}
{% block titulo %}Editar Periodo de Evaluaciones {% endblock %}
{% block formaction %}/fecha_evaluaciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='edit'/>
    <input type='hidden' name='id' value="{{ periodoevaluaciones.id }}"/>
{% endblock %}
{% block formback %}/fecha_evaluaciones{% endblock %}
{% block buttonname %}Guardar Cambios{% endblock %}