{% extends "practicasadmin/formvehic.html" %}
{% block extraheading %}

    <script type="text/javascript">
        $(function(){


{#            $($("#id_tipo").get(0).parentNode.parentNode).hide();#}
{#            $($("#id_archivo").get(0).parentNode.parentNode).hide();#}
            {% if error %}
               smoke.alert('{{ error }}');
            {% endif %}

         $("#formbutton").click(function(){
                $("#formbutton").hide();
            });

        });
    </script>
{% endblock %}
{% block javascript %}

{% endblock %}
{% block titulo %}
{{ title }}
{% endblock %}

{% block formaction %}/beca_solicitud{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addsolicitud'/>
    <input type='hidden' name='inscrip' value='{{ inscripcion.id }}' />
    {% if solicitudbeca %}
        <input type='hidden' name='edit' value='{{ solicitudbeca.id }}'/>
    {% endif %}
{% endblock %}

{% block formback %}#{% endblock %}
{% block buttonname %}Guardar{% endblock %}