{% extends "practicasadmin/formvehic.html" %}
{% block extraheading %}
{% endblock %}
{% block javascript %}
{#    <script src='/static/js/notificacionpanel.js' xmlns="http://www.w3.org/1999/html"></script>#}
{#    <script src='/static/js/adicionarproveedor.js'></script>#}
{##}
{#    <script>#}
{#    $(function() {#}
        $("#id_descripcion").addClass("validate[required]");
        $($("#id_descripcion").get(0).parentNode.parentNode).prepend("<h4 class='alert alert-success'>DATOS </h4>" );
{#        $("#id_estado").addClass("input-small");#}
        $("#id_descripcion").addClass("input-xlarge");

{#    });#}
{#    </script>#}
{% endblock %}
{% block titulo %}
{{ title }}
{% endblock %}

{% block formaction %}/tipoconvenio{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
{#    <button type="{% block buttontype %}submit{% endblock %}" class="btn btn-success" id="formbutton">Guardar Inscripci&oacute;n</button>#}
    <input type='hidden' name='action' value='add'/>
    {% if tipo %}
        <input type='hidden' name='tipo' value='{{ tipo.id }}'/>
    {% endif %}
{% endblock %}

{% block formback %}/suministrobox{% endblock %}
{% block buttonname %}Guardar{% endblock %}