{% extends "basenueva.html" %}
{% load sga_extras %}
{% block heading %}
<script src="../../static/sganuevo/src/plugins/apexcharts/apexcharts.min.js"></script>

<style>


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color:  #184679; }

.btn-primary {
  color: #fff;
  background-color: #184679;
  border-color: #184679;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color:#184679;
  background-color: #184679; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color:#184679;
  background-color: #184679; }


.bootstrap-select .dropdown-menu li .dropdown-item.active:hover, .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #184679;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color:#184679;
    color: #fff;
    border-color: #184679;
}

.bootstrap-select .dropdown-menu li .dropdown-item.active:hover,.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #184679;
    color: #fff
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #184679;
}



</style>

<script>



 $(function () {

        function buscar(){
           Loader.open();
            if (parseInt($("#cmbtipo").val())==1){
                location.href = "/estadisticasadmin?action=verdesercion" ;
            }else{
                location.href = "/estadisticasadmin?action=veratios" ;
            }

        }

        $("#btnbuscadata").click(function() {
          buscar();
        });







 });


</script>



{% endblock %}
{% block canvas %}
      <div class="main-container">

         <div class="xs-pd-20-10 pd-ltr-20">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-10 col-sm-12">
                            <div class="title">
                                <h4>Dashboard Deserción</h4>
                            </div>
                        </div>
                         <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="title">
                                <a href="/" style="float: right;color: white;background: #0b132b" class="btn" data-bgcolor="#184679" data-color="#ffffff"><i class="icon-copy ion-arrow-left-a "></i> Atrás</a>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <div class="row">

                             <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label >Tipo :</label>
                                    <select id="cmbtipo" style="width: 100%" class="custom-select2 form-control">
                                         <option value="0">Seleccionar el Tipo</option>
                                         <option value="1">Deserción</option>
                                         <option value="2">Ratios</option>

                                    </select>
                                </div>
                             </div>

                             <div class="col-md-2" style="margin-top: 5px">
                                <label > <a style="color: #d92550"></a></label>
                                <div class="form-group">
                                    <button type="button" id="btnbuscadata" class="btn" title="Buscar" data-bgcolor="#184679" data-color="#ffffff"><i class="icon-copy ti-search"></i> Obtener Información</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


         </div>

      </div>


{% endblock %}