{% extends "layout/formbs.html" %}
{% block form_more_javascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre, #id_dedicacion, #id_tipoubicacion").addClass("validate[required]").css({'text-transform': 'none'});
        });
    </script>
{% endblock %}
{% block frm_title %}{{ title }}{% endblock %}
{% block form_destination %}{{ request.path }}?action=criterio{% endblock %}
{% block form_action_cancel %}{{ request.path }}?action=criterio{% endblock %}
{% block atras %}{{ request.path }}?action=criterio{% endblock %}
{% block form_extra %}
    <input type='hidden' name='action' value='editcriterio'/>
    <input type='hidden' name='id' value='{{ idcriterio }}'/>
{% endblock %}