{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}

    chequeaGestacion = function() {
    if (!$("#id_gestacion").is(':checked')) {
        $("#id_partos").attr("disabled", true);
        $("#id_abortos").attr("disabled", true);
        $("#id_cesareas").attr("disabled", true);
        $("#id_hijos2").attr("disabled", true);
        $("#id_partos").val("");
        $("#id_abortos").val("");
        $("#id_cesareas").val("");
        $("#id_hijos2").val("");
    } else {
        $("#id_partos").attr("disabled", false);
        $("#id_abortos").attr("disabled", false);
        $("#id_cesareas").attr("disabled", false);
        $("#id_hijos2").attr("disabled", false);
    }
    }

    $("#id_gestacion").click(chequeaGestacion);
    chequeaGestacion();

{% endblock %}
{% block titulo %}Antecedentes Ginecol&oacute;gicos: {{ persona }}{% endblock %}
{% block formaction %}/per_medical{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='ginecologico'/>
    <input type='hidden' name='id' value="{{ persona.id }}"/>
    <input type='hidden' name='ban' value="{{ ban }}"/>
{% endblock %}
{% block formback %}/per_medical{% endblock %}
{% block buttonname %}Guardar Datos{% endblock %}