{% load humanize %}
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th style="text-align: center;">Concepto</th>
            <th style="text-align: center;">Mujeres</th>
            <th style="text-align: center;">Hombres</th>
            <th style="text-align: center;">Totales</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cantidad de Empleados</td>
             <td style="text-align: right;">{{ rolpago.cantidad_docentes_mujeres }}</td>
            <td style="text-align: right;">{{ rolpago.cantidad_docentes_hombres }}</td>
            <td style="text-align: right;">{{ rolpago.cantidad_docentes }}</td>
        </tr>
        <tr>
            <td>Promedio Dias Trabajados</td>
            <td style="text-align: right;">{{ rolpago.promedio_dias_mujeres|floatformat }}</td>
            <td style="text-align: right;">{{ rolpago.promedio_dias_hombres|floatformat }}</td>
            <td style="text-align: right;">{{ rolpago.promedio_dias|floatformat }}</td>
        </tr>
        <tr>
            <td>Salario Contratado</td>
            <td style="text-align: right;">${{ rolpago.total_salariocontratado_mujeres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_salariocontratado_hombres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_salariocontratado|floatformat:2|intcomma }}</td>
        </tr>
        <tr>
            <td>Salario Mes</td>
            <td style="text-align: right;">${{ rolpago.total_salariomes_mujeres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_salariomes_hombres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_salariomes|floatformat:2|intcomma }}</td>
        </tr>
        <tr>
            <td>Horas Extras</td>
            <td style="text-align: right;">${{ rolpago.total_horasextras_mujeres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_horasextras_hombres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_horasextras|floatformat:2|intcomma }}</td>
        </tr>
        <tr>
            <td>Otros Ingresos</td>
            <td style="text-align: right;">${{ rolpago.total_otrosingresos_mujeres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_otrosingresos_hombres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_otrosingresos|floatformat:2|intcomma }}</td>
        </tr>
        <tr>
            <td>Ingresos Gravados</td>
            <td style="text-align: right;">${{ rolpago.total_ingresosgravados_mujeres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_ingresosgravados_hombres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_ingresosgravados|floatformat:2|intcomma }}</td>
        </tr>
        <tr>
            <td>Fondos Reserva</td>
            <td style="text-align: right;">${{ rolpago.total_fondoreserva_mujeres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_fondoreserva_hombres|floatformat:2|intcomma }}</td>
            <td style="text-align: right;">${{ rolpago.total_fondoreserva|floatformat:2|intcomma }}</td>
        </tr>
        <tr class="alert-success">
            <td><b>Ingresos Totales</b></td>
            <td style="text-align: right;"><b>${{ rolpago.total_ingresos_mujeres|floatformat:2|intcomma }}</b></td>
            <td style="text-align: right;"><b>${{ rolpago.total_ingresos_hombres|floatformat:2|intcomma }}</b></td>
            <td style="text-align: right;"><b>${{ rolpago.total_ingresos|floatformat:2|intcomma }}</b></td>
        </tr>
    </tbody>

</table>