{% extends "layout/formbs.html" %}
{% block form_more_javascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre").addClass("validate[required]").css({'text-transform': 'none'});
        });
    </script>
{% endblock %}
{% block frm_title %}{{ title }}{% endblock %}
{% block atras %}{{ request.path }}{% endblock %}
{% block form_action %}{{ request.path }}{% endblock %}
{% block form_destination %}{{ request.path }}{% endblock %}
{% block form_extra %}
    <input type='hidden' name='action' value='editcronograma'/>
    <input type='hidden' name='id' value='{{ cronograma.id }}'/>
{% endblock %}
{% block form_action_cancel %}{{ request.path }}{% endblock %}
