{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3>Hist&oacute;rico del Registro Acad&eacute;mico del Alumno: {{ inscripcion.persona }}</h3>
            <h4>Carrera: {{ inscripcion.carrera }}</h4>
            <br>
        </div>
        <div class='span1'>
            <a href="/alu_notas" class='btn'><i class="icon-arrow-left"></i> Atras</a>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th>Asignatura</th>
                    <th style="text-align: center;">Nota 1</th>
                    <th style="text-align: center;">Nota 2</th>
                    <th style="text-align: center;">Nota 3</th>
                    <th style="text-align: center;">Nota 4</th>
                    <th style="text-align: center;">Examen</th>
                    <th style="text-align: center;">Total</th>
                    <th style="text-align: center;">Recup.</th>
                    <th style="text-align: center;">Nota Final</th>
                    <th style="text-align: center;">Estado</th>
                </tr>
                </thead>
                <tbody>
                {% for historico in historicos %}
                    <tr>
                        <td>
                            {{ historico.asignatura }}
                        </td>
                        <td class="bigger" style="text-align: center;">
                            {% if  historico.historiconotasitb_set.all.get.n1 %}
                                {{ historico.historiconotasitb_set.all.get.n1 }} - [{{ historico.historiconotasitb_set.all.get.cod1  }}]
                            {% else %}
                                {{ historico.historiconotaspractica_set.all.get.n1 }} - [{{ historico.historiconotaspractica_set.all.get.cod1  }}]
                            {% endif %}
                        </td>
                        <td class="bigger" style="text-align: center;">
                            {% if  historico.historiconotasitb_set.all.get.n2 %}
                                 {{ historico.historiconotasitb_set.all.get.n2 }} - [{{ historico.historiconotasitb_set.all.get.cod2 }}]
                            {% else %}
                                {{ historico.historiconotaspractica_set.all.get.n2 }} - [{{ historico.historiconotaspractica_set.all.get.cod2  }}]
                            {% endif %}

                        </td>
                        <td class="bigger" style="text-align: center;">
                            {% if  historico.historiconotasitb_set.all.get.n3 %}
                                 {{ historico.historiconotasitb_set.all.get.n3 }} - [{{ historico.historiconotasitb_set.all.get.cod3 }}]
                            {% else %}
                                {{ historico.historiconotaspractica_set.all.get.n3 }} - [{{ historico.historiconotaspractica_set.all.get.cod3 }}]
                            {% endif %}

                        </td>
                        <td class="bigger" style="text-align: center;">
                            {% if  historico.historiconotasitb_set.all.get.n4 %}
                                 {{ historico.historiconotasitb_set.all.get.n4 }} - [{{ historico.historiconotasitb_set.all.get.cod4 }}]
                            {% else %}
                                {{ historico.historiconotaspractica_set.all.get.n4 }} - [{{ historico.historiconotaspractica_set.all.get.cod4  }}]
                            {% endif %}
                        </td>
                        <td class="bigger" style="text-align: center;">
                            {% if  historico.historiconotasitb_set.all.get.n5 %}
                                 {{ historico.historiconotasitb_set.all.get.n5 }}
                            {% else %}
                                {{ historico.historiconotaspractica_set.all.get.n5 }}
                            {% endif %}

                        </td>
                        <td class="bigger" style="text-align: center;">
                            {% if  historico.historiconotasitb_set.all.get.total %}
                                 {{ historico.historiconotasitb_set.all.get.total }}
                            {% else %}
                                {{ historico.historiconotaspractica_set.all.get.total }}
                            {% endif %}

                        </td>
                        <td class="bigger" style="text-align: center;">
                            {% if  historico.historiconotasitb_set.all.get.recup %}
                                 {{ historico.historiconotasitb_set.all.get.recup }}
                            {% else %}
                                {{ historico.historiconotaspractica_set.all.get.recup }}
                            {% endif %}

                        </td>
                        <td class="bigger" style="text-align: center;">{{ historico.nota|floatformat }}</td>
                        <td class="bigger" style="text-align: center;">{{ historico.estado }}</td>

                    </tr>
                {% endfor %}
                {% if not historicos   %}
                    <tr>
                        <td colspan="11">
                            NO EXISTEN REGISTROS HISTORICOS
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
     {% if  otrasnotas %}
     <div class='row-fluid'>

        <div class="span12">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="6">NOTAS DE INGL&Eacute;S</th>
                    </tr>
                    <tr>
                        <th>Asignatura</th>
                        <th>Nota 1</th>
                        <th>Nota 2</th>
                        <th>Nota 3</th>
                        <th>Nota 4</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in otrasnotas %}
                        <tr>
                        <td>{{ n.0 }}</td>
                        <td>{{ n.1 }}</td>
                        <td>{{ n.2 }}</td>
                        <td>{{ n.3 }}</td>
                        <td>{{ n.4 }}</td>
                        <td> <span class='label {% if n.5 == 'APROBADO' %}label-success{% endif%}{% if n.5 == 'REPROBADO' %}label-inverse{% endif%}'>{{ n.5 }}</span></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
             <br/>
        </div>
    </div>
    {% endif %}
    <div class='row-fluid'>
        <div class="span12">
            <div class="pagination">
                <ul>
                    {% for pagenumber in paging.page_range %}
                        <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/alu_notas?action=historiconotas&id={{ inscripcion.id }}&page={{ pagenumber }}">{{ pagenumber }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}