<table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
    <thead >
    <tr >
        <th style="text-align: center; width: 50px">C&oacute;digo</th>
        <th style="text-align: left;">Nombre</th>
        <th style="text-align: left;">Codigo Forma Pago</th>
        <th style="text-align: center;">Efectivo</th>
        <th style="text-align: center;">Tarjeta</th>
    </tr>
    </thead>
    <tbody>
    {% for f in formasPago %}
        <tr>
            <td style="text-align: center">{{ f.id }}</td>
            <td>{{ f.nombre }}</td>
            <td>{{ f.codigoformapago }}</td>
            <td style="text-align: center">
                {% if f.efectivo %}
                    <img src="/static/images/16/true.png"><br/>
                    {{ rol.fechacierre|date:'d-m-Y' }}
                {% else %}
                    <img src="/static/images/16/false.png">
                {% endif %}
            </td>
            <td style="text-align: center">
                {% if f.tarjetadebito or f.tarjetacredito %}
                    <img src="/static/images/16/true.png"><br/>
                    {{ rol.fechacierre|date:'d-m-Y' }}
                {% else %}
                    <img src="/static/images/16/false.png">
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% if not formasPago %}
        <tr>
            <td colspan="10">NO EXISTEN REGISTROS</td>
        </tr>
    {% endif %}
    </tbody>
</table>