<table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
    <thead >
    <tr >
        <th style="text-align: center; width: 50px">C&oacute;digo</th>
        <th style="text-align: left;">Nombre</th>
        <th style="text-align: center;">Inscripcion</th>
        <th style="text-align: center;">Matricula</th>
        <th style="text-align: center;">Cuota</th>
        <th style="text-align: center;">Especie</th>
        <th style="text-align: center;">Materia</th>
        <th style="text-align: center;">Extracurricular</th>
        <th style="text-align: center;">Nota D&eacute;bito</th>
    </tr>
    </thead>
    <tbody>
    {% for t in tiposRubro %}
        <tr>
            <td style="text-align: center">{{ t.id }}</td>
            <td>{{ t.nombre }}</td>
            <td style="text-align: center">
                {% if t.inscripcion %}<img src="/static/images/16/true.png"><br/>{% else %}<img src="/static/images/16/false.png">{% endif %}
            </td>
            <td style="text-align: center">
                {% if t.matricula %}<img src="/static/images/16/true.png"><br/>{% else %}<img src="/static/images/16/false.png">{% endif %}
            </td>
            <td style="text-align: center">
                {% if t.cuota %}<img src="/static/images/16/true.png"><br/>{% else %}<img src="/static/images/16/false.png">{% endif %}
            </td>
            <td style="text-align: center">
                {% if t.especie %}<img src="/static/images/16/true.png"><br/>{% else %}<img src="/static/images/16/false.png">{% endif %}
            </td>
            <td style="text-align: center">
                {% if t.materia %}<img src="/static/images/16/true.png"><br/>{% else %}<img src="/static/images/16/false.png">{% endif %}
            </td>
            <td style="text-align: center">
                {% if t.extracurricular %}<img src="/static/images/16/true.png"><br/>{% else %}<img src="/static/images/16/false.png">{% endif %}
            </td>
            <td style="text-align: center">
                {% if t.notadebito %}<img src="/static/images/16/true.png"><br/>{% else %}<img src="/static/images/16/false.png">{% endif %}
            </td>
        </tr>
    {% endfor %}
    {% if not tiposRubro %}
        <tr>
            <td colspan="10">NO EXISTEN REGISTROS</td>
        </tr>
    {% endif %}
    </tbody>
</table>