{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
        xmlns="http://www.w3.org/1999/html">
    $(function() {
        var espera = $(this).attr("espera");
        $("#search").click(function() {
            var term = $("#searchfield").val().toUpperCase();
            location.href = "/webinar?s="+term;
        });

        $('#searchfield').keyup(function(e) {
            if(e.keyCode == 13) {
                $("#search").trigger("click");
            }
        });

    $("#id_nombre, #id_fecha, #id_hora, #id_hasta, id_tipo").addClass("validate[required]");
    $("#id_fecha, #id_hora, #id_hasta").addClass('input-medium');
    $("#id_fecha, #id_hasta").datepicker({format:"dd-mm-yyyy"}).mask("99-99-9999");

    {#------------------------------------------------------ ADD WEBINAR----------------------------------------------------------------#}
    $('.nuevo_webinar').click(function(){
        $("#id_archivo").attr('disabled', false);
        $("#id_archivofondo").attr('disabled', false);
        $($("#id_nombre").get(0).parentNode.parentNode).show()
        $($("#id_fecha").get(0).parentNode.parentNode).show()
        $($("#id_hasta").get(0).parentNode.parentNode).show()
        $($("#id_hora").get(0).parentNode.parentNode).show()
        $($("#id_archivofondo").get(0).parentNode.parentNode).show()
        $(".alert").show()
        $("#id_nombre").val('');
        $("#agregar_webinar #paneltitle2").html('ADICIONAR WEBINAR');
        $("#agregar_webinar").modal({"backdrop":"static","width":"40%"});
        $("#agregar_webinar").modal("show");
    });

    {#------------------------------------------------------ MODIFICAR WEBINAR----------------------------------------------------------------#}
    $('.editar_webinar').click(function(){
        $("#id_archivo").attr('disabled', true);
        $("#id_archivofondo").attr('disabled', false);
        $("#id_nombre").val($(this).attr('nombre'));
        $("#id_fecha").val($(this).attr('fecha'));
        $("#id_hora").val($(this).attr('hora'));
        $("#id_tipo").val($(this).attr('tipo'));
        $($("#id_nombre").get(0).parentNode.parentNode).show()
        $($("#id_fecha").get(0).parentNode.parentNode).show()
        $($("#id_hasta").get(0).parentNode.parentNode).show()
        $($("#id_hora").get(0).parentNode.parentNode).show()
        $($("#id_archivofondo").get(0).parentNode.parentNode).show()
        $(".alert").show()
        $("#espera #paneltitle3").html('CARGANDO PARTICIPANTES, ESPERE UN MOMENTO');
        $("#agregar_webinar #idwebinar").val($(this).attr('webinar_id'));
        $("#agregar_webinar #paneltitle2").html('Editar Webinar: '+($(this).attr('nombre')));
        $("#agregar_webinar").modal({"backdrop":"static","width":"40%"});
        $("#agregar_webinar").modal("show");
    });

    $("#agregar_webinar .btn-cerrar").click(function(){
        $(".formError").removeClass('aparece');
        $(".formError").addClass('oculta');
        $("#agregar_webinar").modal("hide");
        return false;
    });

    $("#formbutton_enviar").click(function(){
        $("#espera").modal({ backdrop: 'static'});
        if (espera == 'si') {
            $("#espera").modal("show");
        }
        $(".formError").removeClass('oculta');
        $(".formError").addClass('aparece');
    });

    {#------------------------------------------------------ GENERAR CERTIFICADOS ----------------------------------------------------------------#}
    $(".generar_certificados").click(function(){
        $("#espera #paneltitle3").html('GENERANDO CERTIFICADOS, ESPERE UN MOMENTO');
        var id = $(this).attr("webinar_id");
        smoke.confirm("Se generaran los certificados para los participantes", function(e){
        if (e){
            $("#espera").modal({ backdrop: 'static'});
            $("#espera").modal("show");
            $.post("/webinar",{"action": "generar_certificados","idwebinar":id,"n":'certificado_webinar',"rt":'pdf'},function(data) {
                $("#espera").modal("hide");
                if(data.result=='ok'){
{#                    alert("");#}
               }else{
                    smoke.alert(data.result);
               }

{#                location.reload()#}
            },"json");
        }else{
        }
        }, {
        ok: "Si",
        cancel: "No",
        classname: "custom-class",
        reverseButtons: true
        });
    });

    {#------------------------------------------------------ ENVIAR CERTIFICADOS ----------------------------------------------------------------#}
    $(".enviar_certificados").click(function(){
        $("#espera #paneltitle3").html('ENVIANDO CERTIFICADOS, ESPERE UN MOMENTO');
        var id = $(this).attr("webinar_id");
        smoke.confirm("Dese enviar los certificados a los correos de los participantes para este Webinar?", function(e){
        if (e){
            $("#espera").modal({ backdrop: 'static'});
            $("#espera").modal("show");
            $.post("/webinar",{"action": "enviar_certificados","idwebinar":id},function(data) {
                $("#espera").modal("hide");
                if(data.result=='ok'){
                    smoke.alert("Certificados enviados correctamente");
               }else{
                    smoke.alert(data.result);
               }
{#                location.reload()#}
            },"json");
        }else{
        }
        }, {
        ok: "Si",
        cancel: "No",
        classname: "custom-class",
        reverseButtons: true
        });
    });

    {#------------------------------------------------------ SUBIR BASE EXCEL ----------------------------------------------------------------#}
    $('.cargar_base').click(function(){
        $("#id_archivo").attr('disabled', false);
        $("#id_archivofondo").attr('disabled', true);
        $("#id_nombre").val($(this).attr('nombre'));
        $("#id_fecha").val($(this).attr('fecha'));
        $("#id_hora").val($(this).attr('hora'));
{#        $("#id_tipo").val($(this).attr('tipo'));#}
        $($("#id_nombre").get(0).parentNode.parentNode).hide()
        $($("#id_fecha").get(0).parentNode.parentNode).hide()
        $($("#id_hasta").get(0).parentNode.parentNode).hide()
        $($("#id_hora").get(0).parentNode.parentNode).hide()
{#        $($("#id_tipo").get(0).parentNode.parentNode).hide()#}
        $($("#id_archivofondo").get(0).parentNode.parentNode).hide()
        $(".alert").hide()

        $("#agregar_webinar #idwebinar").val($(this).attr('webinar_id'));
        $("#agregar_webinar #soloexcel").val('SI');

        $("#espera #paneltitle3").html('CARGANDO PARTICIPANTES, ESPERE UN MOMENTO');
        $("#agregar_webinar #paneltitle2").html('Subir Base de Participantes en Excel');
        $("#agregar_webinar").modal({"backdrop":"static","width":"40%"});
        $("#agregar_webinar").modal("show");
    });

    {#------------------------------------------------------ ELIMINAR WEBINAR----------------------------------------------------------------#}
    $(".eliminar_webinar").click(function(){
        var id = $(this).attr("webinar_id");
        smoke.confirm("Esta seguro de eliminar este Webinar", function(e){
        if (e){
            $.post("/webinar",{"action": "eliminar_webinar","idwebinar":id},function(data) {
                if(data.result=='ok'){
                    alert("Registro Eliminado");
               }else{
                    alert(data.result);
               }
               location.reload()
            },"json");
        }else{
        }
        }, {
        ok: "Si",
        cancel: "No",
        classname: "custom-class",
        reverseButtons: true
        });
    });

    imprimir_ejemplo = function(id){
        $.post("/webinar",{"action": "print_ejemplo","id":id},function(data) {
            if(data.result=='ok'){
                if(data.certificado){
                    location.href = "media/"+data.certificado;
                }else{
                    location.href = "/reportes?action=run&direct=true&n=certificado_webinar&rt=pdf&participante="+data.participante+"&webinar="+data.webinar;
                }
           }else{
               smoke.alert(data.result)
           }
        },"json");
    }

    ver_imagen = function(ruta){
        $("#imagen").attr('src', 'media/'+ruta)
        $("#verimagen").modal({"backdrop":"static","width":"60%"});
        $("#verimagen").modal("show");
    }

    $("#verimagen #btn-cerrar").click(function () {
           $("#verimagen").modal("hide");
        });

    {#------------------------------------------------------ ERROR ----------------------------------------------------------------#}
    {% if info %}
        smoke.alert('{{ info }}');
        setInterval(function(){
        }, 5000);
    {% endif %}

    });
</script>

<style>
    .oculta{
        display: none;
    }
    .aparece{
        display: block;
    }
</style>
{% endblock %}
{% block canvas %}
    <div class='row-fluid' xmlns="http://www.w3.org/1999/html">
        <div class="span11">
            <h3 >Certificados</h3></br>
        </div>
        <div class="span1" style="text-align: right">
            <a href="/" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span6'>
            <form class="form-search">
            <input class='searchinput input-large search-query' type='text' id='searchfield' value='{{ search }}'/>
            <a href="#" id='search' class='btn btn-info'><i class="icon-search icon-white"></i> Buscar</a>
            {% if search %}
                <a href="/webinar" id='allresults' class='btn btn-primary'><i class="icon-refresh icon-white"></i> Todos</a>
            {% endif %}
            </form>
        </div>
        <div class='span6' style="text-align: right">
            <a href="media/webinars/plantilla_webinar.xlsx" class='btn btn-info'><i class="icon-download-alt icon-white"></i> Descargar Plantilla</a>
            <a href="#" class='btn btn-success nuevo_webinar' espera='si'><i class="icon-plus icon-white"></i> Crear Certificado</a>
{#            <a href="webinar?action=tipos_webinar" class='btn btn-primary' espera='si'><i class="icon-eye-open icon-white"></i> Ver Tipos de Webinars</a>#}
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align: center">Código</th>
                        <th style="text-align: left; width: 40%;"> Nombre</th>
{#                        <th style="text-align: left"> Tipo Webinar</th>#}
                        <th style="text-align: center"> Desde</th>
                        <th style="text-align: center"> Hasta</th>
                        <th style="text-align: center"> Hora</th>
                        <th style="text-align: center"> # Participantes</th>
                        <th style="text-align: center"> # Cert. Generados</th>
                        <th style="text-align: center"> Fondo</th>
                        <th style="text-align: center"> Activo</th>
                        <th style="text-align: center"> Base Subida</th>
                        <th style="width: 50px"> </th>
                    </tr>
                </thead>

                <tbody>
                    {% for w in webinars %}
                        <tr>
                            <td style="text-align: center">{{ w.id }}</td>
                            <td style="text-align: left">
                                {{ w.nombre|upper }}
                                {% if w.usuario %} <br>
                                    <span style="color:lightslategray">{{ w.usuario.username }}</span>
                                {% endif %}
                            </td>
{#                            <td style="text-align: left"> {{ w.tipo.nombre|upper }} </td>#}
                            <td style="text-align: center"> {{ w.fecha|date:"d-m-Y" }} </td>
                            <td style="text-align: center"> {{ w.fecha_hasta|date:"d-m-Y" }} </td>
                            <td style="text-align: center"> {{ w.hora|time:'H:i' }} </td>
                            <td style="text-align: center">{{ w.cantidad_participantes }}</td>
                            <td style="text-align: center">{{ w.certificados_generados_totalparticipantes }}</td>
                            <td style="text-align: center">
                                {% if w.certificado %}
                                    <a href='#' class="btn btn-info" onclick="ver_imagen('{{ w.certificado }}')" tipo="{{ t.id }}">Ver</a>
                                {% else %}
                                    <a href='#' class="btn btn-info" onclick="ver_imagen('{{ w.tipo.certificado }}')" tipo="{{ t.id }}">Ver</a>
                                {% endif %}
                            </td>
                            <td style="text-align: center">
                                {% if w.activo %}
                                       <img src='/static/images/16/true.png' alt='Si' border='0'/>
                                    {% else %}
                                       <img src='/static/images/16/false.png' alt='No' border='0'/>
                                {% endif %}
                            </td>
                            <td style="text-align: center">
                                {% if w.archivobase %}
                                       <img src='/static/images/16/true.png' alt='Si' border='0'/>
                                    {% else %}
                                        <img src='/static/images/16/false.png' alt='No' border='0'/>
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                        Acciones
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a style="cursor: pointer" href="#" onclick="imprimir_ejemplo('{{ w.id }}')"><i class="icon-print"></i>  Imprimir Certificado de Prueba</a></li>
                                        <li><a style="cursor: pointer" href="/webinar?action=ver_participantes&id={{ w.id }}"><i class="icon-eye-open"></i>  Ver Participantes</a></li>
                                        {% if w.activo %}
                                            {% if w.puede_eliminar %}
                                                <li><a style="cursor: pointer" href="#" class="editar_webinar" tipo='{{ w.tipo.id }}' nombre='{{ w.nombre }}' fecha='{{ w.fecha|date:"Y-m-d" }}' hora='{{ w.hora|time:'H:i' }}' webinar_id='{{ w.id }}' espera='no'><i class="icon-edit"></i>  Modificar Certificado</a></li>
                                                <li><a style="cursor: pointer" href="#" class="eliminar_webinar" webinar_id='{{ w.id }}'><i class="icon-remove"></i>  Eliminar Certificado</a></li>
                                            {% endif %}
                                            <li><a style="cursor: pointer" href="#"  class="cargar_base"  tipo='{{ w.tipo.id }}'  nombre='{{ w.nombre }}' fecha='{{ w.fecha|date:"Y-m-d" }}' hora='{{ w.hora|time:'H:i' }}' webinar_id='{{ w.id }}' espera='si'><i class="icon-upload-alt"></i>  Subir Base Excel</a></li>
                                            {% if w.certificados_generados_totalparticipantes != w.cantidad_participantes %}
                                                <li><a style="cursor: pointer" href="#"  class="generar_certificados"   nombre='{{ w.nombre }}' fecha='{{ w.fecha|date:"Y-m-d" }}' hora='{{ w.hora|time:'H:i' }}' webinar_id='{{ w.id }}'><i class="icon-file"></i>  Generar Certificados</a></li>
                                            {% else %}
                                                <li><a style="cursor: pointer" href="#"  class="enviar_certificados"   nombre='{{ w.nombre }}' fecha='{{ w.fecha|date:"Y-m-d" }}' hora='{{ w.hora|time:'H:i' }}' webinar_id='{{ w.id }}'><i class="icon-share-alt"></i>  Enviar Certificados por Correo</a></li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                </div>
                                </td>
                        </tr>
                    {% endfor %}

                    {% if not webinars %}
                        <tr>
                            <td colspan="10">
                                NO EXISTE REGISTRO
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade static" id="agregar_webinar">
        <div class="modal-header " style="word-wrap: break-word">
            <h4  id='paneltitle2' ></h4>
            <h5></h5>
        </div>
        <form id="formulario" style="overflow-y: auto"  class='well {% block form-type %}form-horizontal{% endblock %}' action="/webinar" method="POST"  enctype="multipart/form-data"  >
            <div class="modal-body" >
                <input type='hidden' name='action' value='add_webinar' />
                <input type='hidden' name='idwebinar' id='idwebinar' />
                <input type='hidden' name='soloexcel' id='soloexcel' />
                {% for c in form %}
                    <fieldset class="control-group nomargins">
                        <label class="control-label" for="id_{{ c.name }}">{{ c.label }}</label>
                        <div class="controls">
                            {{ c }}
                            <p class="help-text">{{ c.help_text }} </p>
                        </div>
                    </fieldset>
                {% endfor %}

                <div style="display: inline-block; text-align: center;"  class="alert alert-info">
                    <ul style="text-align: justify">
                        <li>RESPETAR ESPACIOS DESIGNADOS PARA CADA ELEMENTO PROPUETOS EN LA PLANTILLA.</li>
                        <li>LOS DEMÁS ELEMENTOS COMO IMAGEN DE FONDO, LOGOS, ETC... QUEDAN A SU CONSIDERACIÓN.</li>
                        <li>LA IMAGEN BASE DEBE ESTAR EN FORMATO .PNG, CON DIMENSIONES DE 3508px por 2482px.</li>
                    </ul>
                    <a href="media/webinars/plantilla_webinar.xlsx" class='btn btn-primary'><i class="icon-download-alt icon-white"></i> PLANTILLA BASE EXCEL DE PARTICIPANTES</a>
                    <a href="media/webinars/plantilla_tipoWebinar.ai" class="btn btn-primary"><i class="icon-download-alt"></i> PLANTILLA FONDO .AI</a>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-cerrar btn-danger"> Cerrar</a>
                <button type="submit" class="btn btn-success" id="formbutton_enviar">Guardar</button>
            </div>
        </form>
    </div>

    <div class="modal fade static" id="espera" style="display: none;">
    <div class="modal-header" style="background-color: darkslategray">
            <h3 id="paneltitle3" style="text-align: center; color: #f5f5f5">  </h3>
        </div>
    </div>

    <div class="modal fade static" id="verimagen">
        <div class="modal-body" style="margin: 0 auto; text-align: center">
            <img src="" alt="" id="imagen"/>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-cerrar" class="btn btn-danger btn-min-width "><i class="icon-exit icon-white"></i> Cerrar</button>
        </div>
    </div>

{% endblock %}