{% extends "formbs.html" %}
{% block heading %}
    <script>
        $("#id_nombre,#id_archivo,#id_materia,#id_leccionesgrupo").addClass("validate[required]");
        $(function() {
        });
    </script>
{% endblock %}
{% block titulo %}Adicionar Material de Apoyo{% endblock %}
{% block formaction %}/pro_clases{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addmaterial'/>
    <input type='hidden' name='materia' value='{{ materia.id }}'/>
    <input type="hidden" name='lecciongrupo' value='{{ lecciongrupo.id }}'/>
{% endblock %}
{% block formback %}/pro_clases?action=view&id={{ lecciongrupo.id }}{% endblock %}
{% block buttonname %}Guardar Material de Apoyo{% endblock %}