{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        $(function() {
           $("#nuevo").click(function() {

                location.href = "/pagowester?action=add";
            });
            {% if error %}
                smoke.alert('{{ error }}');
            {% endif %}
           $("#search").click(function() {
                var term = $("#searchfield").val().toUpperCase();
                location.href = "/pagowester?s="+term;
            });

           $(".descarga").click(function() {
                    location.href = $(this).attr('url');

            });

           $('#searchfield').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });

        });
</script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid' xmlns="http://www.w3.org/1999/html">

        <div class="span10"  >
            <h3 >Listado de Registro de Pagos Externos</h3></br>

        </div>
        <div class="span2">
            <a href="/" class='btn'><i class='icon-arrow-left'></i> Atr&aacute;s</a>
        </div>

        <div class="span1">

        </div>
    </div>
    <div class='row-fluid'>

        <div class='span5'>
            <form class="form-search">
            <input class='searchinput input-large search-query' type='text' id='searchfield' value='{{ search }}'/>
            <a href="#" id='search' class='btn btn-info'><i class="icon-search icon-white"></i> Buscar</a>
            {% if search %}
                <a href="/pagowester" id='allresults' class='btn btn-primary'><i class="icon-refresh icon-white"></i> Todos</a>
            {% endif %}
            </form>
        </div>

    </div>

    <div class='row-fluid'>
        <div class='span2' >
            <table class="table table-condensed table-bordered smaller2 tabla">
               <thead>
                <tr>
                    <th title="Ingreso de Registro" id="nuevo" ><a><i class="icon-share-alt icon-white"></i> Nuevo Registro</a></th>
                </tr>

               </thead>
            </table>
        </div>
    </div>

    <div class='row-fluid'>

        <div class='span12'>
            <table class='table table-bordered table-striped'>

                <thead>
                    <tr>
                        </br>
                        <th>C&oacute;digo</th>
                        <th>Fecha</th>
                        <th>Archivo </th>
                        <th>Facturado </th>

                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for rp in rpago %}
                        <tr>
                            <td>{{ rp.codigo }}</td>
                            <td> {% if rp.fecha %} {{ rp.fecha|date:'d-m-Y'  }} {% endif %} </td>
                            <td> {% if rp.archivo %}<a url='{{ rp.archivo.url }}'  class='descarga' style="cursor: pointer"> Descargar</a> {% endif %} </td>
                            <td> {% if rp.factura %}FACTURADO {% else %} PENDIENTE {% endif %} </td>
                            <td>
                                {% if not rp.factura %}
                                <div class="btn-group">
                                    <a  class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                        Acciones
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                            <li><a href="/pagowester?action=edit&id={{ rp.id }}" ><i class="icon-edit"></i> Editar </a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </td>

                        </tr>

                    {% endfor %}
                 {% if not rpago %}
                    <tr>
                        <td colspan="8">
                            NO HAY REGISTROS DE PAGO
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>

        <div class="span12">

            {% if paging.num_pages > 20 %}
                <div class='pagination'>
                    <ul>
                        {% if paging.primera_pagina %}
                            <li><a href="/oficio?page=1">1</a></li>
                            <li><a href="/oficio?page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                        {% endif %}
                        {% for pagenumber in paging.paginas %}
                            <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/oficio?page={{ pagenumber }}{% if activos %}&a={{ activos }}{% endif %}{% if inactivos %}&i={{ inactivos }}{% endif %}{% if todos %}&t={{ todos }}{% endif %}{% if grupoid %}&g={{ grupoid }}{% endif %}">{{ pagenumber }}</a></li>
                        {% endfor %}
                        {% if paging.ultima_pagina %}
                            <li><a href="/oficio?page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                            <li><a href="/oficio?page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}

                <div class='pagination'>
                    <ul>
                        {% for pagenumber in paging.page_range %}
                            <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/oficio?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}{% if activos %}&a={{ activos }}{% endif %}{% if inactivos %}&i={{ inactivos }}{% endif %}{% if todos %}&t={{ todos }}{% endif %}{% if grupoid %}&g={{ grupoid }}{% endif %}">{{ pagenumber }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            {% endif %}

        </div>
    </div>
{% endblock %}