<script type="text/javascript">
    $(function(){
        $(".edit").click(function()
        {
            $($("#id_ip").get(0).parentNode).find(".help-text").html("").removeClass("alert alert-danger");
            $("#paneltitle2").html("Editar Ip a: <br/> "+$(this).attr('nombre')+ " ("+$(this).attr('puntoventa')+ ")");
            $("#editrecauda").val($(this).attr('iprecauda'));
            $("#id_ip").val($(this).attr('ip'));
            $("#addippanel").modal({"backdrop":"static","width":"20%"});
            $("#addippanel").modal("show");
        });

        $(".del").click(function()
        {
            var idiprecaud = $(this).attr('iprecauda');
            $("#veripppanel").modal("hide");
            smoke.confirm( 'Esta seguro de eliminar el registro?', function(e){
                if (e){
                        location.href = '/recaudacion?action=deliprecau&id='+idiprecaud;
                    }
                else{
                    $("#veripppanel").modal({"backdrop":"static","width":"50%"});
                    $("#veripppanel").modal("show");
                }
            },
            {
                ok: "CONTINUAR",
                cancel: 'CANCELAR',
                classname: "custom-class",
                reverseButtons: true
            });


        });
    });
</script>
<div class="row-fluid">
<div class="span12">
    <table class="table table-condensed table-stripped">
        <thead>
        <tr>
            <th style="text-align: center">Ip</th>
            <th style="text-align: center">Fecha</th>
            <th style="text-align: center">Usuario</th>
            <th style="text-align: center"></th>
            <th style="text-align: center"></th>
        </tr>
        </thead>
    <tbody>
        {% for ip in iprecaudacion %}
            <tr>
                <td style="text-align: center"> {{ ip.ip }}</td>
                <td  style="text-align: center"> {{ ip.fecha|date:'d-m-Y H:i:s' }}</td>
                <td  style="text-align: center"> {{ ip.usuario }}</td>
                <td  style="text-align: center"><a class="btn btn-info edit" iprecauda="{{ ip.id }}" ip="{{ ip.ip.id }}" puntoventa="{{ ip.lugarrecaudacion.puntoventa }}" nombre="{{ ip.lugarrecaudacion.persona.nombre_completo }}">Editar</a></td>
                <td  style="text-align: center"><a class="btn btn-danger del" iprecauda="{{ ip.id }}" ip="{{ ip.ip.id }}" puntoventa="{{ ip.lugarrecaudacion.puntoventa }}" nombre="{{ ip.lugarrecaudacion.persona.nombre_completo }}">Eliminar</a></td>

            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>


