<header class="app-header fixed-header">
	<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #0E2E50 !important;">
		<ul class="navbar-nav">
			<li class="nav-item">
				{% if nombfac %}
					<a class="nav-link ms-n3" href="/consultafactura"><img
							src='/static/images/itb/logobolivariano.png' alt=''/></a>
				{% else %}
					<a class="nav-link ms-n3" href="/"><img src='/static/images/itb/logobolivariano.png' alt=''/></a>
				{% endif %}
			</li>

		</ul>
		<button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
						  <span class="p-2">
							<i class="ti ti-dots fs-7 text-white"></i>
						  </span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<div class="d-flex align-items-center justify-content-between" style="background-color: #0E2E50 !important;">
{#				<a href="javascript:void(0)"#}
{#				   class="nav-link d-flex d-lg-none align-items-center justify-content-center" type="button"#}
{#				   data-bs-toggle="offcanvas" data-bs-target="#mobilenavbar"#}
{#				   aria-controls="offcanvasWithBothOptions">#}
{#					<i class="ti ti-align-justified fs-7"></i>#}
{#				</a>#}
				<ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center">
					{% if not nombfac  and not rees %}
						<li class="nav-item d-block d-sm-none">
							<a class="nav-link nav-icon-hover"  href="javascript:void(0)"
							   data-bs-toggle="modal"
							   data-bs-target="#periodoModalLayout">
								<i class="ti ti-search text-white"></i>
							</a>

						</li>
						<li class="nav-item d-none d-sm-block">
							<a class="nav-link text-white" style="font-size: 11px" href="javascript:void(0)"
							   data-bs-toggle="modal"
							   data-bs-target="#periodoModalLayout">
								{{ periodo.nombre }}
							</a>
						</li>
					{% endif %}

					<li class="nav-item dropdown">
						<a class="nav-link" href="javascript:void(0)" id="drop1" data-bs-toggle="dropdown"
						   aria-expanded="false">
							<div class="d-flex align-items-center">
								<div class="user-profile-img">
									{% if persona.foto %}
										<img src="{{ persona.foto.foto.url }}" class="rounded-circle" width="35"
											 height="35" alt="">
									{% else %}
										{% if persona.sexo_id == 1 %}
											<img src="/static/images/nofotofem.jpg" class="rounded-circle" width="35"
												 height="35" alt="">
										{% else %}
											<img src="/static/images/nofotomas.jpg" class="rounded-circle" width="35"
												 height="35" alt="">
										{% endif %}
									{% endif %}
								</div>
							</div>
						</a>
						<div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up"
							 aria-labelledby="drop1">
							<div class="profile-dropdown position-relative" data-simplebar>
								{#								<div class="py-3 px-7 pb-0">#}
								{#									<h6 class="mb-0 fs-2 fw-semibold">{{ persona.nombre_completo_inverso }}</h6>#}
								{#								</div>#}
								<div class="d-flex align-items-center py-9 mx-7 border-bottom">

									{% if persona.foto %}
										<img src="{{ persona.foto.foto.url }}" class="rounded-circle" width="80"
											 height="80" alt="">
									{% else %}
										{% if persona.sexo_id == 1 %}
											<img src="/static/images/nofotofem.jpg" class="rounded-circle" width="80"
												 height="80" alt="">
										{% else %}
											<img src="/static/images/nofotomas.jpg" class="rounded-circle" width="80"
												 height="80" alt="">
										{% endif %}
									{% endif %}
									<div class="ms-3">
										<h5 class="mb-0 fs-2 fw-semibold">{{ persona.nombre_completo_inverso }}</h5>
										<span class="mb-1 d-block text-dark">{{ persona.usuario.username }}</span>
										{% if persona.emailinst %}
											<p class="mb-0 d-flex text-dark align-items-center gap-2 fs-2">
												<i class="ti ti-mail fs-4"></i> {{ persona.emailinst }}
											</p>
										{% endif %}
									</div>
								</div>
								<div class="message-body">
									{% if persona.usuario.is_superuser %}
										<a href="/admin" target="_blank"
										   class="py-8 px-7 mt-8 d-flex align-items-center">
                            <span class="d-flex align-items-center justify-content-center bg-light rounded-1 p-6">
                              <img src="/static/modernize/dist/images/svg/icon-account.svg"
								   alt="" width="24" height="24">
                            </span>
											<div class="w-75 d-inline-block v-middle ps-3">
												<h6 class="mb-1 bg-hover-primary fw-semibold"> Administración </h6>
												<span class="d-block text-dark">Gestión de administración</span>
											</div>
										</a>
									{% endif %}
									<a href="/account"
									   class="py-8 px-7 mt-8 d-flex align-items-center">
                            <span class="d-flex align-items-center justify-content-center bg-light rounded-1 p-6">
                              <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-account.svg"
								   alt="" width="24" height="24">
                            </span>
										<div class="w-75 d-inline-block v-middle ps-3">
											<h6 class="mb-1 bg-hover-primary fw-semibold"> Mi cuenta </h6>
											<span class="d-block text-dark">Gestionar mi cuenta</span>
										</div>
									</a>
								</div>
								<div class="d-grid py-4 px-7 pt-8">
									<a href="/logout" class="btn btn-outline-primary">Salir</a>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item"><a class="nav-link text-white" href="#" style="font-size: 20px;" id="clockLayout"></a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>