{% load sga_extras %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!--  Title -->
	<title>{{ title }}</title>
	<!--  Required Meta Tag -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="handheldfriendly" content="true"/>
	<meta name="MobileOptimized" content="width"/>
	<meta name="description" content="ITB"/>
	<meta name="author" content=""/>
	<meta name="keywords" content="ITB, SGA"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<!--  Favicon -->
	<link rel="shortcut icon" type="image/png" href="/static/images/itb/favicon.ico?v={{ version }}"/>
	<link rel="stylesheet" href="/static/modernize/dist/libs/sweetalert2/dist/sweetalert2.min.css?v={{ version }}">

	<!-- Core Css -->
	<link id="themeColors" rel="stylesheet" href="/static/modernize/dist/css/style.min.css?v={{ version }}"/>
	<link id="themeColors" rel="stylesheet" href="/static/modernize/dist/css/style-default.css?v={{ version }}"/>

</head>
<body>

	<!-- Preloader -->
	<div class="preloader">
		<img src="/static/images/itb/favicon.ico" alt="loader" class="lds-ripple img-fluid"/>
	</div>
	<!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
		<div class="position-relative overflow-hidden radial-gradient min-vh-100">
			<div class="position-relative z-index-5">
				<div class="row">
					<div class="col-xl-8 col-xxl-9">
{#						<a href="/" class="text-nowrap logo-img d-block px-4 py-9 w-100" style="background-color: #0E2E50 !important;">#}
{#							<img src='/static/images/itb/logobolivariano.png' class="d-none"  alt=''/>#}
{#						</a>#}
						<div class="d-none d-xl-flex align-items-center justify-content-center bg-white" style="height: calc(100vh - 80px);">
							<img class="" src="{{ random_image }}" alt="">
						</div>
					</div>
					<div class="col-xl-4 col-xxl-3">
						<div class="authentication-login min-vh-100 bg-body row justify-content-center align-items-center px-4 px-lg-2 px-md-2">
							<div class="col-sm-10 col-md-7 col-lg-5 col-xl-9">
{#								<h2 class="mb-3 fs-8 fw-bolder text-center" style="color: #e55918">ITB</h2>#}
								<div class="mb-3 text-center">
									<img class="" src='/static/images/itb/logobolivariano.png'  alt=''/>
								</div>

								<p class=" mb-9 fs-7 text-center fw-semibold" style="color: #e55918">Iniciar sesión</p>
								<p class=" mb-9 fs-2 text-center">Ingrese sus datos de forma correcta</p>
								<form action="javascript:void(0);">
									<input type="hidden" name='next' value='{{ next }}'/>
									<div class="mb-3">
									  <label for="username" class="form-label">Usuario</label>
									  <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
									</div>
									<div class="mb-4">
									  <label for="password" class="form-label">Contraseña</label>
									  <input type="password" class="form-control" id="password">
									</div>

									<button type="button" id="btnLogin" class="btn btn-danger w-100 py-8 mb-4 rounded-2"><i class="ti ti-login"></i> Entrar</button>
									<div class="mb-2 fs-2 text-center">
										Contactar al <a class="text-dark-emphasis fw-medium" href="mailto:{{ mail  }}">Administrador</a>
									</div>
									<div class="mb-2 fs-2 text-center">
										<a class="text-success-emphasis fw-medium" href="javascript:void(0);">Reestablecer Clave</a>
									</div>
									{% if TIENE_INGRESO_PADRES %}
										<div class="mb-2 fs-2 text-center">
											<a class="text-primary-emphasis fw-medium" href="javascript:void(0);">Ingreso de Padres o Tutores Legales</a>
										</div>
									{% endif %}
									{% if FACTURACION_ELECTRONICA %}
										<div class="mb-2 fs-2 text-center">
											<a class="text-warning-emphasis fw-medium" href="javascript:void(0);">Descargar Facturas</a>
										</div>
									{% endif %}
									<div class="mb-4 fs-2 text-center">
										{#                      <a class="text-primary fw-medium" href="authentication-forgot-password.html">Forgot Password ?</a>#}
										Visita Nuestra Pagina Web  <a class="text-danger-emphasis fw-medium" href="http://www.itb.edu.ec/" target="_blank">http://www.itb.edu.ec/</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div class="modal fade opacity" id="modalVideo" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-md modal-dialog-centered modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header rounded-top modal-colored-header bg-danger text-white">
					<h4 class="modal-title text-danger-emphasis fw-medium">
						Noticia
					</h4>
					<button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body with-padding text-center">

				</div>
{#				<div class="modal-footer">#}
{#					<a href="javascript:void(0);" class="btn btn-primary action_close">Cerrar</a>#}
{#				</div>#}
			</div>
		</div>
	</div>
<!--  Import Js Files -->
<script src="/static/modernize/dist/libs/jquery/dist/jquery.min.js?v={{ version }}"></script>
<script src="/static/modernize/dist/libs/simplebar/dist/simplebar.min.js?v={{ version }}"></script>
<script src="/static/modernize/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js?v={{ version }}"></script>
<script type="text/javascript" src="/static/modernize/dist/libs/block-ui/jquery.blockUI.js?v={{ version }}"></script>
<!--  core files -->
<script src="/static/modernize/dist/js/app.min.js?v={{ version }}"></script>
<script src="/static/modernize/dist/js/app.init.js?v={{ version }}"></script>
<script src="/static/modernize/dist/js/app-style-switcher.js?v={{ version }}"></script>
<script src="/static/modernize/dist/js/sidebarmenu.js?v={{ version }}"></script>
<script src="/static/modernize/dist/js/custom.js?v={{ version }}"></script>
<!--  current page js files -->
<script src="/static/modernize/dist/libs/sweetalert2/dist/sweetalert2.min.js?v={{ version }}"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-112239647-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        let ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        let s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
<script>
    window.onload = function () {
        {% if messages %}
            {% for message in messages %}
                Swal.fire('{{ message }}', '', '{% if message.tags %}{{ message.tags }}{% endif %}');
            {% endfor %}
        {% endif %}

        {% if mensj or info %}
            Swal.fire('{{ mensj }}{{ info }}', '', 'warning');
        {% endif %}

    }

</script>
<script>
	console.log('%c{{ institucion }}', 'color:red; font-size: 2em;')
    console.log('%cTodos los derechos reservados © 2012', 'color:red; font-size: 2em;')

    const AlertLayout = {
		show: function (type, message, time = 5000) {
			Swal.fire({
				toast: true,
				position: 'top-end',
				icon: type,
				title: message,
				showConfirmButton: false,
				timer: time
			});
		},
		info: function (message, time = 5000) {
			this.show('info', message, time);
		},
		success: function (message, time = 5000) {
			this.show('success', message, time);
		},
		warning: function (message, time = 5000) {
			this.show('warning', message, time);
		},
		danger: function (message, time = 5000) {
			this.show('error', message, time);
		}
	};

    const NotificationLayout = {
		show: function (type, message, title = '') {
			Swal.fire({
				title: title,
				text: message,
				icon: type
			});
		},
		info: function (message, title = '') {
			this.show('info', message, title);
		},
		success: function (message, title = '') {
			this.show('success', message, title);
		},
		warning: function (message, title = '') {
			this.show('warning', message, title);
		},
		danger: function (message, title = '') {
			this.show('error', message, title);
		}
	};

    const LoadingLayout = {
		show: function (options = {}) {
			const defaultOptions = {
				message: `<div class="m-3 bg-light rounded p-3"><div class="spinner-border" role="status"><span class="visually-hidden">Espere...</span></div></div>`,
				showOverlay: true,
				overlayCSS: {
					backgroundColor: "#000",
					opacity: 0.5,
					cursor: "wait",
					zIndex: 1060
				},
				css: {
					border: 0,
					padding: 0,
					backgroundColor: "transparent",
					zIndex: 1062
				}
			};

			const settings = $.extend(true, {}, defaultOptions, options);

			$.blockUI({
				message: settings.message,
				showOverlay: settings.showOverlay,
				overlayCSS: settings.overlayCSS,
				css: settings.css
			});
		},
		hide: function () {
			$.unblockUI();
		}
	};

    const AjaxLayout = {
		handleError: function (jqXHR, textStatus, errorThrown, fFail) {
			LoadingLayout.hide();
			let msg = '';
			switch (jqXHR.status) {
				case 0:
					msg = 'Not connect: Verify Network.';
					break;
				case 404:
					msg = 'Requested page not found [404]';
					break;
				case 500:
					msg = 'Internal Server Error [500].';
					break;
				default:
					switch (textStatus) {
						case 'parsererror':
							msg = 'Requested JSON parse failed.';
							break;
						case 'timeout':
							msg = 'Time out error.';
							break;
						case 'abort':
							msg = 'Ajax request aborted.';
							break;
						default:
							msg = 'Uncaught Error: ' + jqXHR.responseText;
					}
			}
			NotificationLayout.danger("Error al enviar los datos: " + msg);
			if (fFail) {
				fFail(jqXHR, textStatus, errorThrown);
			}
		},

		ajaxRequest: function (options) {
			const {type, url, data, dataType, cache, contentType, enctype, processData, fSuccess, fFail} = options;

			if (!url) {
				NotificationLayout.danger("URL no encontrada");
				return;
			}
			if (!data) {
				NotificationLayout.danger("Datos no encontrados");
				return;
			}

			$.ajax({
				type: type || 'POST',
				url: url,
				data: data,
				dataType: dataType || 'json',
				cache: cache || false,
				contentType: contentType !== undefined ? contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
				enctype: enctype || 'application/x-www-form-urlencoded',
				processData: processData !== undefined ? processData : true,
				success: (res, textStatus, jqXHR) => fSuccess(res, textStatus, jqXHR),
				error: (jqXHR, textStatus, errorThrown) => this.handleError(jqXHR, textStatus, errorThrown, fFail)
			});
		},

		post: function (url, data, fSuccess, fFail = null) {
			this.ajaxRequest({
				type: 'POST',
				url: url,
				data: data,
				fSuccess: fSuccess,
				fFail: fFail
			});
		},

		call: function (type = 'POST', url, formdata, fSuccess, fFail = null) {
			this.ajaxRequest({
				type: type,
				url: url,
				data: formdata,
				fSuccess: fSuccess,
				fFail: fFail
			});
		},

		multipart: function (type = 'POST', url, formdata, fSuccess, fFail = null) {
			this.ajaxRequest({
				type: type,
				url: url,
				data: formdata,
				dataType: 'json',
				cache: false,
				contentType: false,
				enctype: 'multipart/form-data',
				processData: false,
				fSuccess: fSuccess,
				fFail: fFail
			});
		}
	};

	const QuestionLayout = (question, fun_yes = null, fun_no = null) => {
		const $popup = $('#modalConfirm');

		// Mostrar el modal con configuración
		$popup.modal({backdrop: 'static', keyboard: false}).modal('show');

		// Establecer la pregunta en el cuerpo del modal
		$('.modal-body p', $popup).html(question);

		// Referencias a los botones
		const $yesButton = $('.action_yes', $popup);
		const $noButton = $('.action_not', $popup);

		// Limpiar eventos anteriores y añadir los nuevos
		$yesButton.off('click').on('click', () => {
			if (fun_yes) {
				fun_yes();
			}
			$popup.modal('hide');
		});

		$noButton.off('click').on('click', () => {
			if (fun_no) {
				fun_no();
			}
			$popup.modal('hide');
		});
	};

    const mensajeFlotante = (tipo, mensaje) => {
        Swal.fire({
            toast: false,
            position: 'center',
            icon: "info",
            type: 'info',
            title: mensaje,
            html: tipo,
            showConfirmButton: false
        });
    }

    const actionLogin = () => {
		const username = $("#username").val();
		if (username.length === 0) {
			$("#username").focus();
			return false;
		}
		const password = $("#password").val();
		if (password.length === 0) {
			$("#password").focus();
			return false;
		}
        var next = $("#next").val();
		LoadingLayout.show({
			message: `<div class="m-3 bg-light rounded p-3"><span class="spinner-border spinner-border-sm me-3" role="status" aria-hidden="true"></span> Procesando sus credenciales...</div>`,
		});
		$("#btnLogin").attr({"disabled": "disabled"});
		AjaxLayout.post('{{ request.path }}', {action: 'login', username: username, password: password, next: next}, (response) => {
			console.log('Success');
            LoadingLayout.hide();
            localStorage.clear();
            if (response.isSuccess){
                LoadingLayout.show({
					message: `<div class="m-3 bg-light rounded p-3"><span class="spinner-border spinner-border-sm me-3" role="status" aria-hidden="true"></span> Espere por favor...</div>`,
				});
				localStorage.setItem('session_key', response.session_key);
				window.name = response.session_key;
				location.href = response.next;
            }
            else{
            	$("#btnLogin").removeAttr('disabled');
                AlertLayout.danger(response.message);
            }

		}, () => {
			console.log('Failed');
            localStorage.clear();
            $("#btnLogin").removeAttr('disabled');
		});
	};

    $(document).ready(function() {

        $('.lock_screen').click(function (){
        	LoadingLayout.show({
				message: `<div class="m-3 bg-light rounded p-3"><span class="spinner-border spinner-border-sm me-3" role="status" aria-hidden="true"></span> Espere...</div>`,
			});
        });
		$("#username").focus();
        $("#username").blur(function () {
			$(this).val($(this).val().trim());
		});

		$("#password, #username").keydown(function () {
			$("#errormensaje").hide();
		});

		$("#btnLogin").click(function () {
			actionLogin();
		});

        {% if UTILIZA_MENSAJE_INICIO %}
        	const $modalVideo = $('#modalVideo');
            $(".action_close", $modalVideo).click(function() {
				$modalVideo.modal("hide");
			});
			$(".modal-title", $modalVideo).html("NOTICIA");
            {% if OPC_MENSAJE == "VIDEO" %}
            	{% if videologin %}
					$(".with-padding", $modalVideo).html('<iframe width="400" height="200" src="https://player.vimeo.com/video/{{ videologin.descripcion }}?autoplay=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
					$modalVideo.modal({backdrop: 'static', keyboard: false}).modal('show');
				{% endif %}
            {% else %}
            	$(".with-padding", $modalVideo).html('<a><img width="400" height="400" src="/static/images/aok/congreso-salud-banners400x300.jpg" /></a>');
				$modalVideo.modal({backdrop: 'static', keyboard: false}).modal('show');
            {% endif %}

        {% endif %}
    })
</script>

</body>
</html>
