{% extends "formbs.html" %}
{% block extraheading %}
{% endblock %}
{% block javascript %}

    $(function() {
        $("#id_nombre,#id_edad").addClass("input-xxlarge");
        $("#id_edad").attr("readonly", true);
        $("#id_fechanacimiento").datepicker({format:"dd-mm-yyyy"}).mask("99-99-9999");
        $("#id_fechanacimiento").addClass("validate[required]");
{#        $("#id_peso").addClass("input-small");#}
        $("#id_cedula,#id_peso").addClass("input-large");
        $("#id_fechanacimiento").blur(function(){
             var fecha = $("#id_fechanacimiento").val();
                 $.post("/guarderia",{"action": "verfecha","fecha":fecha},function(data) {
                               if(data.result=='ok'){
                                     $("#id_edad").val(data.edad);
                               }else{
                                    $("#id_edad").val("");
                               }
                            },"json");

        });
        $("#id_enfermedades,#id_alergias,#id_observacion,#id_direccion,#id_lugar").attr({rows:3 , style:'width:58%;font-size:10px'});

{##}
    });

{% endblock %}
{% block titulo %}
  <h3>Inscripci&oacute;n Hijo <br/>  <br/>{{ insc }} </h3>
{% endblock %}

{% block formaction %}/guarderia{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='adddetalle'/>
    <input type='hidden' name='id' value='{{  insc.id }}'/>
    {% if ban %}
        <input type='hidden' name='ban' value={{ ban }}/>
    {% endif %}

{% endblock %}

{% block formback %}/{% endblock %}
{% block buttonname %}Guardar{% endblock %}
{% block extrabuttons %}
     <button class="btn btn-info" id="formbutton"  name="continuar"> Guardar  y Continuar </button>
     <button class="btn btn-danger" id="salir"  name='salir' > Salir </button>
{% endblock %}


