{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">
        $(function() {


            clases = [{% for clase in clases %}
                {"id":"{{ clase.id }}", "asignatura": "{{ clase.materia.asignatura }}", "profesor": "{{ clase.profesor }}", "turno": "{{ clase.turno.id }}","dia":"{{ clase.dia }}", "aula": "{{ clase.aula }}"}{% if not forloop.last %},{% endif %}{% endfor %}
            ];
            findClases = function(d, t) {
                var l = [];
                for (i in clases) {
                    var am = clases[i];
                    if (am.dia==d && am.turno==t) {
                        l.push(am);
                    }
                }
                return l;
            }
            $(".cell").each(function(cell) {
                $this = $(this);
                var dia = $this.attr('dia');
                var turno = $this.attr('turno');
                var clase = findClases(dia, turno);
                for (i in clase) {
                    var c = clase[i];
                    $(this).html("<div class='row smaller' style='text-align: center;'><div class='pd'><b>"+c.asignatura+"</b><br/>"+
                            c.profesor+"<br/>Aula: "+c.aula+"<br/>"+
                            " <a href='/horarios?action=editclase&id="+c.id+"'><img src='/static/images/16/edit2.png' alt='' border=''/></a>" +
                            " <a href='/horarios?action=delclase&id="+c.id+"'><img src='/static/images/16/delete2.png' alt='' border=''/></a>" +
                            "</div></div>");
                }

            });

            $("#descuentniv").click(function(){
                $(".checkcuotas").attr('checked',false);
                $("#porcentaje").val(0);
                $("#observacion").val('');
                $("#modnum").html('');
                $("#modobserv").html('');
                $("#modaldescuentniv").modal({"backdrop":"static","width":"30%"});
                $("#modaldescuentniv").modal("show");
            });

            $("#porcentaje").blur(function(){
                $("#modnum").html('');
                var porcent = $("#porcentaje").val();
                if(porcent != ''){
                    if(porcent.split('.').length > 1 || porcent < 0){
                        $("#modnum").html('Debe ingresar números enteros');
                        $("#porcentaje").val(0);
                        $("#porcentaje").focus();
                    }
                    else if(parseInt($("#porcentaje").val())> 100){
                        $("#modnum").html('Debe ingresar números menores a 100');
                        $("#porcentaje").val(0);
                        $("#porcentaje").focus();
                    }
                }else{
                    $("#porcentaje").val(0);
                }
            });
            $("#modaldescuentniv .btn-cerrar").click(function(){
                $(".checkcuotas").attr('checked',false);
                $("#modaldescuentniv").modal("hide");
                $("#porcentaje").val(0);
                $("#observacion").val('');
                $("#modnum").html('');
                $("#modobserv").html('');
                return false;
            });

            $("#modaldescuentniv .btn-aplicar").click(function(){
                var chekselecionado = $(".checkcuotas:checked");
                var ids = '';
                chekselecionado.each(function() {
                    if (ids.length>0) {
                        ids += ",";
                    }
                    ids += $(this).attr('id');
                });
                var chekmat= $(".checkmat:checked");
                var idsm = '';
                chekmat.each(function() {
                    if (idsm.length>0) {
                        idsm += ",";
                    }
                    idsm += $(this).attr('id');
                });

                if(($("#porcentaje").val() > 0 && $.trim($("#observacion").val())!= '' && ids != '' ) || ($("#porcentajemat").val() >0 && $.trim($("#observacion").val())!= '' && idsm != '')) {

                    $("#modaldescuentniv").modal("hide");
                    smoke.confirm("Esta seguro de aplicar el descuento de <b style='font-size:26px;border:4px solid red;color:red'>&nbsp;"+$("#porcentaje").val()+"%&nbsp; </b>a las cuotas seleccionadas y<b style='font-size:26px;border:4px solid red;color:red'>&nbsp; "+$("#porcentajemat").val() +"%&nbsp; </b> en la matricula a los matriculados de este nivel?", function(e){
                        if (e){
                            showWaiting("Realizando el descuento","Espere unos segundos por favor...");
                            $.post("/cons_matriculas", {action: 'descuentonivel', 'ids': ids,'idsm': idsm, 'observacion': $('#observacion').val(), 'idnivel':'{{ nivel.id }}','porcentaje':$("#porcentaje").val(),'porcentajemat':$("#porcentajemat").val()}, function(data) {
                                hideWaiting();
                                if (data.result=='ok') {
                                    var msj='';
                                    $("#modaldescuentniv .btn-cerrar").click();
{#                                    if (data.sindescuento >0){#}
                                        msj = "Descuento Realizado con Exito.<br/> Alumnos Sin el Descuentos: "+data.sindescuento+"<br/>Alumnos Con el Descuentos: "+data.condescuento + "<br>";
{#                                    }#}
{#                                    if (data.sindescuentomat >0){#}
                                        msj = msj + "Descuento Realizado con Exito en Matricula.<br/> Alumnos Sin el Descuentos en Matricula: "+data.sindescuentomat+"<br/>Alumnos Con el Descuentos en Matricula: "+data.condescuentomat;
{#                                    }#}
                                     smoke.alert(msj)

                                }
                                else
                                {

                                    $("#modaldescuentniv").modal({"backdrop":"static","width":"30%"});
                                    $("#modaldescuentniv").modal("show");
                                    $("#modobserv").html('Error al realizar el descuento vuelva a intentarlo.');
                                }
                            }, "json").fail(function() {
                                    hideWaiting();
                                    smoke.alert('Error de conexi&oacute;n');
                          });

                        }else{
                            $("#modaldescuentniv").modal({"backdrop":"static","width":"30%"});
                            $("#modaldescuentniv").modal("show");
                        }
                        }, {
                        ok: "SI",
                        cancel: "NO",
                        classname: "custom-class",
                        reverseButtons: true
                    });
                }else{
                    $("#modobserv").html('Debe ingresar los datos correctamente.');
                }
            });

        });
    </script>

{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span11'>
            <h3>{% if nivel.cerrado %}<span class='label label-important'>CERRADO</span>{% endif %} Matr&iacute;cula: {{ nivel }}<br/>{% if not nivel.carrera %}{{ nivel.coordinacion }}{% endif %}</h3>
            <h4>Per&iacute;odo: {{ periodo }}</h4>
            <h4>Fechas del Nivel: {{ nivel.inicio|date:"d-m-Y" }} - {{ nivel.fin|date:"d-m-Y" }}</h4>
            <h4>Fecha Tope de  Matricula Ordinaria:  hasta {{ nivel.fechatopematricula|date:"d-m-Y" }} {% if nivel.matricula_cerrada %}<span class="label label-important"> CERRADA</span>{% endif %}</h4>
            {% if not matriculalibre %}
                <h4>{% if nivel.fechatopematriculaex %} Fecha Tope Matricula Extraordinaria: hasta {{ nivel.fechatopematriculaex|date:"d-m-Y" }} {% if not nivel.matriculaextraordinaria_abierta %} <span class="label label-important"> CERRADA</span>{% endif %}{% endif %} </h4>
                <h4>Capacidad del nivel para Matriculas: <span class="badge badge-info"> {{ nivel.capacidadmatricula }}</span> (Matriculados: {{ nivel.mat_nivel }}) {% if nivel.mat_nivel >= nivel.capacidadmatricula %}<span class="label label-important"> SE HA COMPLETADO LA CAPACIDAD TOTAL DE MATRICULADOS DEL NIVEL</span>{% endif %}</h4>
            {% endif %}
            <br>
        </div>
        <div class='span1'>
            <a href="{% if ret %}/cons_niveles?action=materias&id={{ nivel.id }}{% else %}/cons_matriculas{% endif %}" class='btn'><i class="icon-arrow-left"></i> Atr&aacute;s</a>
        </div>

    </div>
    <div class="row-fluid margeninferior">
        <div class="span12">
            <a href="/cons_niveles?action=materias&id={{ nivel.id }}" class="btn"><i class="icon-table"></i> Cronograma</a>
            <a href="/horarios?action=horario&id={{ nivel.id }}" class='btn'><i class="icon-time"></i> Horario</a>
            {% if usa_modulo_finanzas %}
                <a href="/cons_niveles?action=pagos&id={{ nivel.id }}" class="btn"><i class="icon-money"></i> Pagos</a>
            {% endif %}
            <a href="/reportes?action=run&direct=true&n=lista_alumnos_matriculados&nivel={{ nivel.id }}&periodo={{ periodo.id }}&detalle=true&rt=pdf" class='btn btn-info'><i class="icon-print"></i> Imprimir Matriculas</a>
            {% if perms.sga.change_descuento %}
                <a style="cursor: pointer;float: right" idniv="{{ nivel.id }}" id="descuentniv" class='btn btn-warning'><i class="icon-money"></i> Descuento por Cuota/Nivel</a>
            {% endif %}
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
        <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0" id='MyTable'>
            <thead>
            <tr>
                <th colspan="2">Datos de Matricula</th>
                <th colspan="6" style="text-align: center">Datos de Beca</th>
                <th colspan="2" style="text-align: center">Acciones</th>
            </tr>
            <tr>
                <th>Estudiantes</th>
                <th>FechaMat.</th>
                {% if not matriculalibre %}
                    {% if not usa_modulo_finanzas %}<th>Pago</th>{% endif %}
                    {% if MODELO_EVALUATIVO.0 == MODELO_EVALUATIVO.1 %}
                        <th>IECE</th>
                    {% endif %}
                    <th>Beca?</th>
                {% else %}
                    <th>Becario</th>
                {% endif %}
                <th style="text-align: center">BECA</th>
                <th style="text-align: center">FechaBeca</th>
                <th style="text-align: center">Beneficio</th>
                <th style="text-align: center">Tipo</th>
                <th style="text-align: center">Motivo</th>
                <th> </th>
                <th> </th>
            </tr>
            </thead>
            <tbody id='listamatriculados'>
            {% for matricula in matriculas %}
                {% if not matricula.esta_retirado %}
                    <tr>
                        <td>
                            {{ matricula.inscripcion.persona }}

                            {% if inscripcion.beca_senescyt.tienebeca %}
                                <span class="label label-success tl" title="BECA SENESCYT">Beca Senescyt</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ matricula.fecha|date:'d-m-Y' }}
                        </td>
                        {% if not matriculalibre %}
                            {% if not usa_modulo_finanzas %}
                                <td>
                                    {% if matricula.pago %}
                                        <img src='/static/images/16/true.png'/>
                                    {% else %}
                                        <img src='/static/images/16/false.png'/>
                                    {% endif %}
                                </td>
                            {% endif %}

                            {% if MODELO_EVALUATIVO.0 == MODELO_EVALUATIVO.1 %}
                                <td>
                                    {% if matricula.iece %}
                                        <img src='/static/images/16/true.png'/>
                                    {% else %}
                                        <img src='/static/images/16/false.png'/>
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td style="text-align: center">
                                {% if matricula.becado %}
                                    <img src='/static/images/16/true.png'/>
                                {% else %}
                                    <img src='/static/images/16/false.png'/>
                                {% endif %}
                            </td>
                        {% else %}
                            <td>
                                {% if matricula.inscripcion.beca_asignada %}
                                    {{ matricula.inscripcion.beca_asignada_obj.tipobeca.nombre }}
                                    ({{ matricula.inscripcion.beca_asignada_obj.porciento|floatformat:1 }}%)
                                {% endif %}
                            </td>
                        {% endif %}

                        <td style="text-align: center" class="smaller2">
                            {% if matricula.becado %}
                                {{ matricula.porcientobeca }}%
                            {% endif %}
                        </td>

                        <td style="text-align: center" class="smaller2">
                            {{ matricula.fechabeca|date:'d-m-Y' }}
                        </td>

                        <td style="text-align: center" class="smaller2">
                            {% if matricula.becado %}
                                {% if matricula.tipobeneficio %}{{ matricula.tipobeneficio.nombre }}{% endif %}
                            {% endif %}
                        </td>


                        <td style="text-align: center" class="smaller2">
                            {% if matricula.becado %}
                                {% if matricula.tipobeca %}{{ matricula.tipobeca.nombre }}{% endif %}
                            {% endif %}
                        </td>

                        <td style="text-align: center" class="smaller2">
                            {% if matricula.becado %}
                                {% if matricula.motivobeca %}{{ matricula.motivobeca.nombre }}{% endif %}
                            {% endif %}
                        </td>

                        <td>
                            <a href='/cons_matriculas?action=materias&id={{ matricula.id }}{% if ret %}&ret_nivel=1{% endif %}' class="btn btn-primary btn-mini"><i class="icon-list-alt icon-white"></i> Materias Asignadas</a>
                        </td>
                        <td>
                            <div class="btn-group">
                                {% if not nivel.cerrado %}
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="/reportes?action=run&direct=true&n=certificado_matricula_alumno&rt=pdf&matricula={{ matricula.id }}"><i class="icon-print"></i> Imprimir</a> </li>
                                    </ul>
                                {% endif %}
                        </td>
                    </tr>
                {% endif%}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9">
                        Total de Matriculados: <span class="label label-info">{{ matriculas.count }}</span>
                    </td>
                </tr>
            </tfoot>
        </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <a href="/cons_niveles?action=materias&id={{ nivel.id }}" class="btn"><i class="icon-table"></i> Cronograma</a>
            <a href="/horarios?action=horario&id={{ nivel.id }}" class='btn'><i class="icon-time"></i> Horario</a>
            {% if usa_modulo_finanzas %} <a href="/cons_niveles?action=pagos&id={{ nivel.id }}" class="btn"><i class="icon-money"></i> Pagos</a>{% endif %}
            <a href="/reportes?action=run&direct=true&n=lista_alumnos_matriculados&nivel={{ nivel.id }}&periodo={{ periodo.id }}&detalle=true&rt=pdf" class='btn btn-info'><i class="icon-print"></i> Imprimir Matriculas</a>
        </div>
    </div>

  <div class="modal fade static " id="modaldescuentniv" >
        <div class="modal-header alert alert-info"  style="text-align: center">
            <h4 id="nomalumn" > Ingrese Datos </h4>

        </div>
        <div class="modal-body" >
            <div class="row-fluid" >
                <b>Porcentaje de Desc.:</b> <input type="number" name="porcentaje" id="porcentaje" autocomplete="off"  value="0" class="input input-mini"/><br/>
                <p style="color: red" id="modnum"></p>
                <br/>

                <b>Observaci&oacute;n:</b><br/> <textarea type='text' id='observacion' style="width:80%;text-transform: uppercase" rows="4" cols="50" > </textarea><br/>
                <p style="color: red" id="moddescrip"></p>
                <br/>
                <p style="color: red" id="modobserv"></p>
            </div>

            {% for p in pagoniveles %}
                <div class="row-fluid">
                    <div class="span1" >
                        <input type="checkbox" class="checkcuotas" name="{{ p.id }}" id="{{ p.id }}" style="width: 80%;height: 2em">
                    </div>
                    <div class="span8" style="margin: 1.5%;">
                        <b style="padding-top: 1%">{{ p.nombre }} - F. VENCE {{ p.fecha|date:'Y-m-d' }}</b>
                    </div>
                </div>

            {% endfor %}
            <div class="row-fluid" >
                <b>Porcentaje de Desc. Matricula:</b> <input type="number" name="porcentajemat" id="porcentajemat" autocomplete="off"  value="0" class="input input-mini"/><br/>
                <p style="color: red" id="modnum"></p>
                <br/>
            </div>
            {% for pm in pagomatricula %}
                    <div class="row-fluid">
                        <div class="span1" >
                            <input type="checkbox" class="checkmat" name="{{ pm.id }}" id="{{ pm.id }}" style="width: 80%;height: 2em">
                        </div>
                        <div class="span8" style="margin: 1.5%;">
                            <b style="padding-top: 1%">{{ pm.nombre }} - F. VENCE {{ pm.fecha|date:'Y-m-d' }}</b>
                        </div>
                    </div>

                {% endfor %}
        </div>
        <div class="modal-footer">
            <div style="float: right">
                <a style="cursor: pointer" id="aplicar" class="btn btn-success  btn-aplicar">Aplicar</a>
                <a style="cursor: pointer" id="cerrar" class="btn btn-danger  btn-cerrar">Cancelar</a>
            </div>
        </div>
    </div><
{% endblock %}