{% extends "basebs.html" %}
{% block heading %}
    <script src='/static/js/jquery.validationEngine.js' type="text/javascript"></script>
    <script src='/static/js/jquery.validationEngine-es.js' type="text/javascript"></script>
    <link type='text/css' rel='stylesheet' href="/static/css/validationEngine.jquery.css"/>
    <script type="text/javascript">
        $(function() {
            var idresol = 0;
            var cerrardeta = 0;
            $("#id_archivo").addClass('validate[required]');
            $("form").validationEngine();
            $("#search").click(function() {
                var term = $("#searchfield").val().toUpperCase();
                location.href = "/resoluciones?action=resolucion&id{{ inscripcion.id }}&s="+term;
            });

            $('#searchfield').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });

            $('.addarchivo').click(function(){
                $("#id_numero").val('');
                $('#id_archivo').val('');
                cerrardeta = 0;
                $("#idresolu").val($(this).attr('pid'));
                $("#archivopanel").modal({"backdrop":"static","width":"55%"});
                $("#archivopanel").modal("show");
            });

            $("#archivopanel .btn-cerrar").click(function(){
                if (cerrardeta == 0){
                    $("#archivopanel").modal("hide");
                }
                else
                {
                    cerrardeta == 0;
                    $("#archivopanel").modal("hide");
                    detallearchi ();
                }
                return false;
            });
            $("#detalle_archivo .btn-cerrar").click(function(){
                $("#detalle_archivo").modal("hide");
                return false;
            });

            $("#id_archivo").blur(function() {
{#                alert($("#id_archivo").val());#}
            });
            $(".detallearch").click(function() {
               idresol = $(this).attr("id");
               cerrardeta = 1;
               $("#paneltitle").html($(this).attr('asun'));
               detallearchi ();
            });

            {% if error %}
                smoke.alert('{{ error }}');
            {% endif %}
            {% if edit %}
               idresol = {{ edit.resolucion.id }};
               cerrardeta = 1;
               $("#paneltitle").html('{{ edit.resolucion.asunto }}');
               detallearchi ();
            {% endif %}

            function detallearchi (){
                    $.get("/resoluciones", {'action':'detallearch', 'id': idresol}, function(data) {
                    $("#detalle_archivo .modal-body").html(data);
                    $("#detalle_archivo").modal({"backdrop":"static",width:'40%'});
                    $("#detalle_archivo").modal("show");
                   }, "html");
                   return false;
            }

        });

    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span1'></div>
        <div class='span9' style="text-align: center">
            <h3>ESTUDIANTE: {{ inscripcion.persona.nombre_completo }}</h3>
            <br>
        </div>
        <div class='span1'>
            <a href="/resoluciones" class='btn'><i class="icon-arrow-left"></i> Atr&aacute;s</a>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span1'></div>
        <div class='span10'>
{#            <form class="form-search">#}
{#                <input class='searchinput input-medium search-query' type='text' id='searchfield' value='{{ search }}'/>#}
{#                <a href="#" id='search' class='btn btn-info'><i class="icon-search icon-white"></i> Buscar</a>#}
{#                {% if search %}#}
{#                    <a href="/resoluciones?action=resolucion&id{{ inscripcion.id }}" id='allresults' class='btn btn-info'><i class="icon-refresh icon-white"></i> Todos</a>#}
{#                {% endif %}#}
{#            </form>#}
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span1'></div>
        <div class='span10'>
        <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>Motivo</th>
                <th>Asunto</th>
                <th>Resumen</th>
                <th>Fecha</th>
                <th>Nivel</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for resolucion in resoluciones %}
                <tr>
                    <td><a {% if perms.sga.change_nivel %} href="/resoluciones?action=editresolucion&id={{ resolucion.id }}" {% endif %}>{{ resolucion.motivo }}</a></td>
                    <td>{{ resolucion.asunto }}</td>
                    <td> {{ resolucion.resumen }} </td>
                    <td> {{ resolucion.fecharesolucion|date:'d-m-Y' }} </td>
                    <td> {% if resolucion.nivel %} {{ resolucion.nivel.nivelmalla }} - {{ inscripcion.matricula.nivel.carrera}} {% else %} --- {% endif %} </td>

                    <td>
                            <div class="btn-group">
                                <a  class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    {% if perms.sga.change_nivel %}
                                        <li><a class="addarchivo" pid="{{ resolucion.id }}" style="cursor: pointer"> <i class='icon-edit'></i> Agregar Archivo </a></li>
                                    {% endif %}
                                    {% if resolucion.exist_archiresolucion %}
                                        <li><a class="detallearch"  id="{{ resolucion.id }}" asun='{{ resolucion.asunto }}' style="cursor: pointer"> <i class='icon-edit'></i> Ver Archivos </a></li>
                                    {% endif %}
                                </ul>
                            </div>
                    </td>
                </tr>
            {% endfor %}
            {% if not resoluciones %}
                <tr>
                    <td colspan="6">
                        NO HAY REGISTRO
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span1'></div>
        <div class="span10">
            <div class='pagination'>
                <ul>

                    {% if paging.num_pages > 20 %}
                        <div class='pagination'>
                            <ul>
                                {% if paging.primera_pagina %}
                                    <li><a href="/resoluciones?action=resolucion&id{{ inscripcion.id }}&page=1">1</a></li>
                                    <li><a href="/resoluciones?action=resolucion&id{{ inscripcion.id }}&page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                                {% endif %}
                                {% for pagenumber in paging.paginas %}
                                    <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/resoluciones?action=resolucion&id{{ inscripcion.id }}&page={{ pagenumber }}{% if activos %}&a={{ activos }}{% endif %}{% if inactivos %}&i={{ inactivos }}{% endif %}{% if todos %}&t={{ todos }}{% endif %}{% if grupoid %}&g={{ grupoid }}{% endif %}">{{ pagenumber }}</a></li>
                                {% endfor %}
                                {% if paging.ultima_pagina %}
                                    <li><a href="/resoluciones?action=resolucion&id{{ inscripcion.id }}&page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                                    <li><a href="/resoluciones?action=resolucion&id{{ inscripcion.id }}&page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% else %}

                        <div class='pagination'>
                            <ul>
                                {% for pagenumber in paging.page_range %}
                                    <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/resoluciones?action=resolucion&id{{ inscripcion.id }}&{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}{% if activos %}&a={{ activos }}{% endif %}{% if inactivos %}&i={{ inactivos }}{% endif %}{% if todos %}&t={{ todos }}{% endif %}{% if grupoid %}&g={{ grupoid }}{% endif %}">{{ pagenumber }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="archivopanel"   >
        <div class="row-fluid modal-header">
            <h4  id='paneltitle1'><i> Ingrese Archivo </i></h4>
            <h5></h5>
        </div>
        <div class="modal-body" >
            <form id="formulario" style="overflow-y: auto"  class='well {% block form-type %}form-horizontal{% endblock %}' action="/resoluciones" method="POST" enctype="multipart/form-data" >
                <input type='hidden' name='action' value='addarchivo' />
                <input type='hidden' name='idresolu' id='idresolu' />
                <input type='hidden' name='editar' id='editar' value="0" />
                <input type='hidden' name='inscripcion' value='{{ inscripcion.id }}' />
                {% for field in form %}
                    <fieldset class="control-group nomargins">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            <p class="help-text">{{ field.help_text }} </p>
                        </div>
                    </fieldset>
                {% endfor %}

                <button type="{% block buttontype %}submit{% endblock %}" class="btn btn-success" id="formbutton">{% block buttonname %}Guardar{% endblock %}</button>
                {% block extrabuttons %}
                    <a href="#" class="btn btn-cerrar"> Cerrar</a>
                {% endblock %}
            </form>
        </div>
    </div>
    <div class="modal fade static " id="detalle_archivo" style="margin-left: -500"  >
        <div class="row-fluid modal-header" style="text-align: center">
            <h4  id="paneltitle"><i> Suspension </i></h4>
            <h5></h5>
        </div>
        <div class="modal-body" >

        </div>
        <div class="modal-footer">
            <div style="float: right">
                <a href="#" id="cerrar" class="btn btn-cerrar  btn-aceptar">Cerrar</a>
            </div>
        </div>
    </div>
{% endblock %}