<div class="row-fluid">
    <div class="span12">
        {% if tutorseguimientos %}
            <table class="table table-condensed table-stripped">
                <thead>
                    <tr>
                        <th style="text-align: center">Tipo</th>
                        <th style="text-align: center">Gestión</th>
                        <th style="text-align: center">Fecha</th>

                    </tr>
                </thead>
                <tbody>
                    {% for t in tutorseguimientos %}
                        <tr>

                            <td style="text-align: center"> {{ t.tiposeguimiento.descripcion }}</td>
                            <td style="text-align: center"> {{ t.descripcion }}</td>
                            <td style="text-align: center"> {{ t.fecha|date:'Y-m-d  H:i' }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if rubros %}
            <table class="table table-condensed table-stripped">
                <thead>
                    <tr>
                        <th style="text-align: center">Rubro</th>
                        <th style="text-align: center">Valor</th>
                        <th style="text-align: center">Adeuda</th>
                        <th style="text-align: center">Fecha Vencimiento</th>
                        <th style="text-align: center">Cancelado</th>

                    </tr>
                </thead>
                <tbody>
                    {% for r in rubros %}
                        <tr>

                            <td style="text-align: center"> {{ r.tipo }}</td>
                            <td style="text-align: center"> {{ r.valor }}</td>
                            <td style="text-align: center"> {{ r.adeudado }}</td>
                            <td style="text-align: center"> {{ r.fechavence|date:'Y-m-d' }}</td>
                            <td style="text-align: center">
                                {% if r.cancelado %}
                                    <img src='/static/images/16/true.png' border='0'/>
                                {% else %}
                                    <img src='/static/images/16/false.png' border='0'/>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>