{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}

    $(function() {
{#        $("#id_numero,#id_motivo, #id_beneficiario").addClass("validate[required]");#}
{#        $("#id_numero, #id_valor").addClass("input-medium");#}
{#        $("#id_motivo, #id_beneficiario").addClass("input-block-level");#}
{#        $("#id_numero").focus();#}

    });

{% endblock %}
{% block titulo %}
    EDITAR DATOS
    <h3>{{ factura }} (Valor: ${{ factura.total|floatformat:2 }})</h3>
    <h4>{{ factura.cliente }}</h4>
    <h4>Estudiante: {{ factura.estudiante }}</h4>
{% endblock %}
{% block formaction %}/facturas{% endblock %}

{% block formextra %}
    <input type='hidden' name='action' value='editar'/>
    <input type='hidden' name='id' value='{{ factura.id }}'/>
    <input type='hidden' id='editar' name='bid' value='' />
{% endblock %}
{% block formback %}/facturas?id={{ factura.id }}{% endblock %}
{% block buttonname %}Guardar Datos{% endblock %}