{% extends "formbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
{% endblock %}
{% block javascript %}
    $("#id_fecha").datepicker({format:"dd-mm-yyyy"});
    $("#id_motivo, #id_fecha, #id_especie").addClass("validate[required]");
    $("#id_motivo").focus();
{% endblock %}
{% block titulo %}
    Ingrese el Motivo de la Baja
{% endblock %}
{% block formaction %}/vale_caja{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='baja'/>
    <input type='hidden' name='vale' value="{{ id_vale }}"/>
{% endblock %}
{#{% block formback %}/matriculas?action=matricula&id={{ matricula.nivel.id }}{% endblock %}#}
{% block formback %}/vale_caja{% endblock %}
{% block buttonname %}Guardar{% endblock %}